<div class="container">
        <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
            routerLink="/restaurants/chain-home">Back</button>

    <!-- CINEMA INFO -->
    <mat-card class="mt-4">      
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Chain Info</th>
                    <th ><button class="custom-edit" (click)="editCinema('chaininfo')" >Edit</button></th>
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Display Name</th>
                    <td >{{data.chain_info.display_name}}</td>
                    
                </tr>
                <tr class="success" style="background-color: success;">
                    <th>Legal Name</th>
                    <td >{{data.chain_info.legal_name}}</td>
                   
                </tr>
                <tr class="danger">
                    <th>Created At</th>
                    <td>{{data.chain_info.createdAt}}</td>

                </tr>
                <tr class="info">
                    <th>Updated At</th>
                    <td>{{data.chain_info.updatedAt}}</td>
                </tr>

            </tbody>
        </table>
    </mat-card>


    <!-- Establishment TYPE -->
    <mat-card class="mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Establishment Info</th>
                    <th><button class="custom-edit" (click)="editCinema('estinfo')">Edit</button></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>More info</th>
                    <td>
                        <mat-chip-list>
                            <mat-chip color="accent" *ngFor="let m of data.establishment_info.establish_moreinfo">
                                {{m.name}}
                            </mat-chip>&nbsp;
                        </mat-chip-list>
                    </td>

                </tr>
                <tr class="success" style="background-color: success;">
                    <th>Services</th>
                    <td>
                        <mat-chip-list>
                            <mat-chip color="primary" *ngFor="let s of data.establishment_info.establish_services">
                                {{s.name}}
                            </mat-chip>&nbsp;
                        </mat-chip-list>
                    </td>

                </tr>
                <tr class="danger">
                    <th>Rules & Regulations</th>
                    <td>
                        <mat-chip-list>
                            <mat-chip color="secondary" *ngFor="let r of data.establishment_info.establish_rules">
                                {{r.name}}
                            </mat-chip>&nbsp;
                        </mat-chip-list>
                    </td>

                </tr>
                <tr class="info">
                    <th>Ambiences</th>
                    <td>
                        <mat-chip-list>
                            <mat-chip color="warn" *ngFor="let a of data.establishment_info.establish_ambience">
                                {{a.name}}
                            </mat-chip>&nbsp;
                        </mat-chip-list>
                    </td>
                </tr>
                <tr class="info">
                    <th>Cuisines</th>
                    <td>
                        <mat-chip-list>
                            <mat-chip *ngFor="let c of data.establishment_info.establish_cuisines" color="warn">
                                {{c.name}}
                            </mat-chip>&nbsp;
                        </mat-chip-list>
                    </td>
                </tr>

            </tbody>
        </table>
    </mat-card>



    <!-- Media Information -->
    <mat-card class="mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2">Media Information</th>
                    <th><button class="custom-edit" (click)="editCinema('mediainfo')">Edit</button></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Display Name</th>
                    <td>{{data.chain_info.display_name}}</td>

                </tr>
                <tr class="success" style="background-color: success;">
                    <th>Chain Logo</th>
                    <td>
                        <img [src]="data.media_info.chain_logo" height="100px" width="110px" alt="">
                    </td>

                </tr>
                <tr class="danger">
                    <th>Chain Images</th>
                    <td>

                        <div *ngIf="data.media_info.chain_videos.chain_pictures==0">
                            <h3>No Images Uploaded</h3>
                        </div>
                        <div *ngIf="data.media_info.chain_videos.chain_pictures!==0">
                           <img *ngFor="let i of data.media_info.chain_pictures" [src]="i" height="100px" width="110px" alt="">&nbsp;                     
                        </div>
                           

                    </td>

                </tr>
                <tr class="info">
                    <th>Chain Videos</th>
                    <td>


                        <div *ngIf="data.media_info.chain_videos.length==0">
                            <h3>No Videos Uploaded</h3>
                        </div>
                        <div *ngIf="data.media_info.chain_videos.length!==0">


                            <video *ngFor="let v of data.media_info.chain_videos" width="160" height="120" controls
                                controlsList=”nodownload”>
                                <source [src]="v">
                            </video>&nbsp;

                        </div>

                    </td>
                </tr>

            </tbody>
        </table>
    </mat-card>

    <!-- close -->

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <button class="btn btn-danger ml-3 mt-4" routerLink="/restaurants/chain-home">Close</button>
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>