<form action="" [formGroup]="treeForm">

    <h5 style="text-align: center;">{{data}}</h5>
    <div class="row">
        <div class="col">
            <input type="text" formControlName="label" minlength="3" maxlength="20" >
        </div>
    </div>

    <div class="row mt-2">

        <div class="col">
            <button class="btn-sm btn-danger " [mat-dialog-close] = "false">
             Cancel
            </button>
        </div>
        <div class="col">
            <button class="btn-sm btn-primary"  (click)="addLabel()" [disabled]="!treeForm.valid"  [mat-dialog-close]="treeForm.value.label">
              Submit
            </button>
        </div>
    </div>
</form>
