<b>Scheduled Circular</b>
<div class="row">
    <div class="col-lg-12 MainGrid">
        <form [formGroup]="PopUpForm">
<mat-form-field appearance="outline" class="pl-4">
    <mat-label>Date</mat-label>
    <input matInput formControlName="date" required>
</mat-form-field>
<mat-form-field appearance="outline" class="pl-4">
    <mat-label>Time</mat-label>
    <input matInput formControlName="time" required>
</mat-form-field>
</form>
<button type="button" class="btn btn-primary" mat-dialog-close>Cancel</button>&nbsp;
<button type="button" class="btn btn-primary" (click)="Save_Send()">Schedule</button>&nbsp;


</div>
</div>