<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>View Ingredient</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
    </div>
      <div class="table-border-style">
          <div class="table-responsive">
              <table class="table table-bordered">
                
                  <tbody>
                      <tr>
                          <td>Ingredient Code</td>
                          <td>{{data.ingredientCode}}</td>
                      </tr>
                      <tr>
                          <td>Ingredient Name</td>
                          <td>{{data.ingredientName}}</td>
                      </tr>
                      <tr>
                        <td>Category</td>
                        <td>{{data.root['root'] }} <span *ngIf='data.sub!=undefined'>> {{data.sub['sub'] }} <span *ngIf='data.subsub!=undefined'>>{{data.subsub['subsub'] }} <span *ngIf='data.type!=undefined'>>{{data.type['type']}} </span></span></span></td>
                    </tr>
                    <tr>
                        <td>Unit</td>
                        <td>{{data.unit}}</td>
                    </tr>
                   
                   
                      <tr>
                          <td>Added By</td>
                          <td>{{data.addedBy.userName}}</td>
                      </tr>
                      <tr>
                          <td>Date and Time</td>
                          <td>{{data.updatedAt | date:'medium'}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>
</div>



