<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/inventory">Back</button>
<mat-card>
<div class="container">
    <h5>Equipment Attributes</h5>
  </div>
  <div class="container">
           <!-- attributes -->
           <div class="row mt-4">
            <div class="col-lg-6">

            </div>
            <div class="col-lg-6">
              <div class="float-right">
                <button class="btn btn-primary ml-2 ">Import excel</button>
                <button class="btn btn-primary ml-2" (click)="readAsCSVEquipmentAttribute()">Export excel</button>
                <button class="btn btn-primary ml-2"routerLink="/menu/add-attribute/equipment"><i class="fa fa-plus mr-2"
                    aria-hidden="true"></i>Add Attribute</button>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-12">
              <mat-form-field>
                <input matInput (keyup)="applyFilterequipmentAttribute($event)"
                  placeholder="Search for Attribute Code, Attribute Name">
              </mat-form-field>
              <form #myForm="ngForm" >
                <div class="row">
                  <div class="col-lg-2">
                    <mat-form-field style="width: 100%;">
                      <mat-label>Filterable</mat-label>
                      <mat-select multiple [(ngModel)]="arrtibutefilter.filter" (selectionChange)="filterAttributevalue(arrtibutefilter)" name="arrtibutefilter.filter">
                        <mat-option [value]="true">
                          <mat-slide-toggle [checked]="true" disabled><span style="display:none">Yes</span>
                          </mat-slide-toggle>
                        </mat-option>
                        <mat-option [value]="false">
                          <mat-slide-toggle [checked]="false" disabled><span style="display:none">No</span>
                          </mat-slide-toggle>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
               
                  <div class="col-lg-2">
                    <mat-form-field style="width: 100%;">
                      <mat-label>Searchable</mat-label>
                      <mat-select multiple [(ngModel)]="arrtibutefilter.search" (selectionChange)="filterAttributevalue(arrtibutefilter)" name="arrtibutefilter.search">
                        <mat-option [value]="true">
                          <mat-slide-toggle [checked]="true" disabled><span style="display:none">Yes</span>
                          </mat-slide-toggle>
                        </mat-option>
                        <mat-option [value]="false">
                          <mat-slide-toggle [checked]="false" disabled><span style="display:none">No</span>
                          </mat-slide-toggle>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-2">
                    <mat-form-field style="width: 100%;">
                      <mat-label>Search Added By</mat-label>
                      <mat-select multiple [(ngModel)]="arrtibutefilter.addedby" (selectionChange)="filterAttributevalue(arrtibutefilter)" name="arrtibutefilter.addedby">
                        <mat-option *ngFor="let user of admin" [value]="user">{{user}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-2">
                    <mat-form-field style="width: 100%;">
                      <mat-label>Status</mat-label>
                      <mat-select multiple [(ngModel)]="arrtibutefilter.status" (selectionChange)="filterAttributevalue(arrtibutefilter)" name="arrtibutefilter.status">
                        <mat-option [value]="true">
                          <mat-slide-toggle [checked]="true" disabled><span style="display:none">Active</span>
                          </mat-slide-toggle>
                        </mat-option>
                        <mat-option [value]="false">
                          <mat-slide-toggle [checked]="false" disabled><span style="display:none">Deactive</span>
                          </mat-slide-toggle>
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class=" offset-1 col-lg-3">
                    <div class="float-right">
                    <!-- <button class="btn btn-primary mr-1" (click)="filterAttributevalue(arrtibutefilter)">Filter</button> -->
                    <button class="btn btn-warning" type="reset" (click)="resetAttributefilter()">Reset</button>
                  </div></div>
                </div>
              </form>
              <table mat-table [dataSource]="dataSourceequipmentAttribute" class="mat-elevation-z8" matSort>

                <ng-container matColumnDef="attributeCode">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Attribute Code </th>
                  <td mat-cell *matCellDef="let element"> {{element.attributeCode}} </td>
                </ng-container>

                <ng-container matColumnDef="attributeName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.attributeName}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="responseType">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.responseType.elementName}} </td>
                </ng-container>

                <ng-container matColumnDef="searchable">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Searchable </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.isSearchable"
                      (change)="liquorAttributeSearchable(element,$event)"></mat-slide-toggle>
                  </td>
                </ng-container>

                <ng-container matColumnDef="filterable">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Filterable </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.isFilterable"
                      (change)="liquorAttributeFilterable(element,$event)"></mat-slide-toggle>
                  </td>
                </ng-container>

                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-slide-toggle [checked]="element.status"
                    (change)="softDeleteAttribute(element,$event)"></mat-slide-toggle>
                  </td>
                </ng-container>


                <ng-container matColumnDef="addedBy">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Added By </th>
                  <td mat-cell *matCellDef="let element"> {{element.addedBy.userName}} </td>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date & Time </th>
                  <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'medium'}} </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                  <td mat-cell *matCellDef="let element" [ngStyle]="{'pointer-events':element.status == true ? 'auto' : 'none' }">

                    <i class="fa fa-eye" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}" (click)="viewAttribute(element)"></i>&nbsp;
                    <i class="fa fa-pencil-square" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}" (click)="editAttribute(element)"></i>&nbsp;

                    <!-- delete -->
                    <!-- <i class="fa fa-trash" aria-hidden="true" (click)="exampleModalCenter.show()"></i> -->
                    <app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered">
                      <div class="app-modal-header">
                        <h5 class="modal-title">Delete Attribute</h5>
                        <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
                          (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>

                      </div>
                      <div class="app-modal-body">
                        <p>Are you sure want to delete attribute?</p>
                      </div>
                      <div class="app-modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal"
                          (click)="exampleModalCenter.hide()">Close</button> -->
                        <button type="button" class="btn btn-primary"
                          (click)="exampleModalCenter.hide();deleteAttribute(element)">Confirm</button>
                      </div>
                    </app-ui-modal>

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayColumnsequipmentAttribute"></tr>
                <tr mat-row *matRowDef="let row; columns: displayColumnsequipmentAttribute;"></tr>
              </table>
              <div *ngIf="noData1 | async " class="no-records">
                Data not found
              </div>
              <div *ngIf="noData1==0 " class="no-records">
                Data not found1
              </div>
              <mat-paginator #equipmentAttributepaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
              
            </div>

          </div>
        

               <!-- equipment Set -->
               <div class="row mt-4">
                <div class="col-lg-6">
    
                </div>
                <div class="col-lg-6">
                  <div class="float-right">
                    <button class="btn btn-primary ml-2 ">Import excel</button>
                    <button class="btn btn-primary ml-2" (click)="readAsCSVEquipmentAttributeSet()">Export excel</button>
                    <button class="btn btn-primary ml-2" routerLink="/menu/add-attributeset/equipment"><i class="fa fa-plus mr-2"
                        aria-hidden="true"></i>Create Attribute Set</button>
                  </div>
                </div>
              </div>
              <div class="row">
    
                <div class="col-sm-12">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilterequipmentAttributeSet($event)"
                      placeholder="Search for Attribute Set Code, Attribute Set Name">
                  </mat-form-field>
                  <form #myForm="ngForm" >
                    <div class="row">
                  
                      <div class="col-lg-2">
                        <mat-form-field style="width: 100%;">
                          <mat-label>Search Added By</mat-label>
                          <mat-select multiple [(ngModel)]="arrtibuteSetfilter.addedby" (selectionChange)="filterAttributeSetvalue(arrtibuteSetfilter)" name="arrtibuteSetfilter.addedby">
                            <mat-option *ngFor="let user of admin" [value]="user">{{user}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-lg-2">
                        <mat-form-field style="width: 100%;">
                          <mat-label>Status</mat-label>
                          <mat-select multiple [(ngModel)]="arrtibuteSetfilter.status" (selectionChange)="filterAttributeSetvalue(arrtibuteSetfilter)" name="arrtibuteSetfilter.status">
                            <mat-option [value]="true">
                              <mat-slide-toggle [checked]="true" disabled><span style="display:none">Active</span>
                              </mat-slide-toggle>
                            </mat-option>
                            <mat-option [value]="false">
                              <mat-slide-toggle [checked]="false" disabled><span style="display:none">Deactive</span>
                              </mat-slide-toggle>
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="offset-5 col-lg-3 ">
                        <div class="float-right">
                        <!-- <button class="btn btn-primary mr-1" (click)="filterAttributeSetvalue(arrtibuteSetfilter)">Filter</button> -->
                        <button class="btn btn-warning" type="reset" (click)="resetAttributeSetfilter()">Reset</button>
                      </div></div>
                    </div>
                  </form>
                  <table mat-table [dataSource]="dataSourceEquipmentSet" class="mat-elevation-z8" matSort>
    
                    <ng-container matColumnDef="attributeSetCode">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attribute Set Code </th>
                      <td mat-cell *matCellDef="let element"> {{element.attributeSetCode}} </td>
                    </ng-container>
  
                    <ng-container matColumnDef="attributeSetName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Attribute Set Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.attributeSetName}} </td>
                    </ng-container>
  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="assignGroups">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Groups Asscociated </th>
                      <td mat-cell *matCellDef="let element">
                        <div *ngFor="let g of element.assignGroups">
                          {{g.groupName}}
                        </div>
                      </td>
                    </ng-container>
  
                    <ng-container matColumnDef="updatedAt">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date & Time </th>
                      <td mat-cell *matCellDef="let element">{{element.updatedAt | date:'medium'}} </td>
                    </ng-container>
  
                    <ng-container matColumnDef="addedBy">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Added by </th>
                      <td mat-cell *matCellDef="let element"> {{element.addedBy.userName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                      <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [checked]="element.status"
                        (change)="softDeleteAttributeSet(element,$event)"></mat-slide-toggle>
                      </td>
                    </ng-container>
  
                    <ng-container matColumnDef="action" >
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                      <td mat-cell *matCellDef="let element" [ngStyle]="{'pointer-events':element.status == true ? 'auto' : 'none' }">

                        <i class="fa fa-eye" title="View" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}" (click)="viewLiquorAttributeSet(element)"></i>&nbsp;
                        <i class="fa fa-pencil-square" title="Edit" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}" aria-hidden="true"
                          (click)="editAttributeSet(element)"></i>&nbsp;

                      </td>
                    </ng-container>
  
                    <tr mat-header-row *matHeaderRowDef="displayColumnsEquipmentSet"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayColumnsEquipmentSet;"></tr>
                  </table>
                  <div *ngIf="noData2 | async " class="no-records">
                    Data not found
                  </div>
                  <div *ngIf="noData2==0 " class="no-records">
                    Data not found
                  </div>
                  <mat-paginator #equipmentSetpaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                  
                </div>
    
              </div>
          


  </div>
</mat-card>