<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>View Circular Template</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
    </div>
      <div class="table-border-style">
          <div class="table-responsive">
              <table class="table table-bordered">
                 
                  <tbody>
                      <!-- <tr>
                          <td>Template ID</td>
                          <td>{{data.template_Id}}</td>
                      </tr> -->
                      <tr>
                          <td>Template Date & Time</td>
                          <td>{{element.template_Date_Time}} </td>
                      </tr>
                      <tr>
                          <td>Template Name</td>
                          <td>{{element.template_Name}} </td>
                      </tr>
                     
                      <tr>
                          <td>Template Description</td>
                          <td> {{element.template_Description}} </td>
                      </tr>
                      <tr>
                          <td>Notice Type</td>
                          <td> {{element.notice_type}} </td>
                      </tr>
                      <tr>
                        <td>Created By & On</td>
                        <td> {{element.created_by_On}} </td>
                    </tr>
                    <tr>
                        <td>Changes Done By</td>
                        <td>{{element.changes_by}}</td>
                    </tr>
                    <tr>
                        <td>Draft/Used</td>
                        <td> {{element.draft_used}} </td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td>{{element.status}}</td>
                    </tr>


                    
                  </tbody>
              </table>
          </div>
      </div>


</div>
