<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Update Cuisines</h5>
<mat-card #customLoadingTemplate>
    <div class="container">

        <form [formGroup]="addCuisinesForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field>
                        <input matInput placeholder="Add New Cuisines" [class.is-invalid]="addCuisinesForm.get('cuisineName').invalid &&
            addCuisinesForm.get('cuisineName').touched" formControlName="cuisineName"   style="text-transform: capitalize;">
                        <mat-error [class.d-none]="addCuisinesForm.get('cuisineName').valid ||
            addCuisinesForm.get('cuisineName').untouched" class="text-danger">Cuisine name is invalid</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <!-- <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Geographic Location of Origin"
                            formControlName="originLocation">
                    </mat-form-field> -->

                    <mat-form-field class="example-full-width" style="width: 100%;">
                            
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country" (selectionChange)="changeCountry($event.value)">
                            <mat-option *ngFor="let count of country_json" [value]="count.name">{{count.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Country field is required!</mat-error>
                      </mat-form-field>
                </div>
                
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field style="width: 100%;">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state" (selectionChange)="changeState($event.value)">
                            <mat-option *ngFor="let state of states" [value]="state">
                                {{state}}
                            </mat-option>
                        </mat-select>
                        <mat-error>State field is required!</mat-error>
                    </mat-form-field>

                </div>
                <div class="col-lg-4">
                    <mat-form-field style="width: 100%;">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="city">
                            <mat-option *ngFor="let city of cities" [value]="city">
                                {{city}}
                            </mat-option>
                        </mat-select>
                        <mat-error>City field is required!</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selectedAlbums">
                    <mat-chip color="accent" [selected]="true" class="transform">
                        {{s.cuisineName}} <i class="fas fa-times-circle ml-2" (click)="removePubs(s)"></i>
                    </mat-chip>
                </div>

            </div>
          
            <div class="row ml-2 mt-2">
                <div class="col-lg-12">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Search Combination of Cuisines" (keyup)="applyFilterCuisine($event)">
                    </mat-form-field>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>


            <div class="row ml-2 mt-2">
                <div class="col-lg-3" class="ml-2 " *ngFor="let c of cuisines">
                    <mat-chip (click)="onCheckCuisine(c)" class="transform">
                        {{c.cuisineName}}
                    </mat-chip>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <h5>Add Images</h5>
                </div>

            </div>
            <div class="row ml-2 mt-2">
                <div *ngFor="let m of multiResponse">


                    <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                    <img src="{{m}}" class="ml-2" alt="" height="50px" widht="50px">
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-12">

                    <div>
                       
                            <input type="file" name="cuisines" ng2FileSelect [uploader]="uploader"
                                (change)="uploader.uploadAll(); setLoading()" multiple>
                        
                    </div>

                </div>
            </div>
        </form>


        <div class="row ml-2 mt-4">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6" style="text-align: center;">
                <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                <button class="btn btn-primary" [disabled]="!addCuisinesForm.valid" (click)="onAddCuisnes()">Update
                    Cuisines</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>

    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</mat-card>