
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/restaurants/view-update-chain">Back</button>

<div class="container">
 
    <!-- chaininfo -->
    <div class="row" *ngIf="editData.type =='chaininfo'">
        <div class="col">
            <!-- {{editData.type}}
            {{editData.data.chain_info |json}} -->

            <mat-card>
                <ng-template >Chain Information</ng-template>
                <form action="" [formGroup]="chainInfo">
      <!-- display name -->
      <div class="row mt-4">
        <div class="col-lg-3 ml-4">
            <label for="" class="mt-2"> <b>Display Name</b> </label>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput type="text" formControlName="display_name" placeholder="">
            </mat-form-field>
        </div>
    </div>

    <!-- legal name -->
    <div class="row mt-4">
        <div class="col-lg-3 ml-4">
            <label for="" class="mt-2"> <b>Legal Name</b> </label>
        </div>
        <div class="col-lg-6">
            <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput type="text" formControlName="legal_name" placeholder="">
            </mat-form-field>
        </div>
    </div>


    <!-- Next Button Coding -->

    <div class="row mt-4">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <button class="btn btn-success" (click)="updateChainInfo()" >Update</button>&nbsp;
            <button class="btn btn-danger" routerLink="/restaurants/view-update-chain" >Cancel</button>&nbsp;
        </div>
        <div class="col-lg-4"></div>
    </div>
                </form>
            </mat-card>
           
        </div>       
    </div>

    <!-- establish info -->
    <div class="row" *ngIf="editData.type =='estinfo'">
        <div class="col">

            <mat-card>
                <form action="" [formGroup]="chainInfo">
                    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                        <!-- *************** -->
                        <!-- ***More Info*** -->
                        <!-- *************** -->
                        <mat-tab label="More Info">
                            <div class="container" style="height: 300px;">

                                <!-- *********SELECED OPTIONS************ -->
                                <mat-card class="mt-2" style="width: 80%;">
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">
                                            <mat-chip-list>
                                                <mat-chip *ngFor="let m of selectedmore" color="primary"
                                                    (click)="removeMoreinfo(m)" selected>
                                                    {{m.name}} &nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </mat-card>


                                <!-- *********OPTIONS***** -->
                                <mat-card class="mt-2" style="width: 80%;">
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">
                                            <mat-chip-list>

                                                <mat-chip *ngFor="let m of moreInfoArr" color="primary"
                                                    (click)="optMoreInfo(m)" selected>
                                                    {{m.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>
                                                &nbsp;
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </mat-card>

                            </div>

                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">

                                    <button class="btn btn-success"  (click)="onUpdateMoreInfo();nextTab('1')">Update & Next</button>&nbsp;
                                    <button class="btn btn-danger" routerLink="/restaurants/view-update-chain">Cancel</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>

                        <!-- *************** -->
                        <!-- ***Services*** -->
                        <!-- *************** -->

                        <mat-tab label="Services">
                            <div class="container" style="height: 300px;">
                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***SELECTED OPTIONS**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let s of selectedservices" color="#ff00ff"
                                                    (click)="removeServices(s)" selected>
                                                    {{s.name}}&nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>

                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***OPTIONS**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3> Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let s of servicesArr" color="#ff00ff"
                                                    (click)="optserviceInfo(s)" selected>
                                                    {{s.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                            </div>

                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-danger" (click)="nextTab('0')">Back</button>&nbsp;
                                    <button class="btn btn-success" (click)="onUpdateServices();nextTab('2')">
                                        Update & Next</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>

                        <!-- *************** -->
                        <!-- ***Rules & Regulations*** -->
                        <!-- *************** -->


                        <mat-tab label="Rules & Regulations">
                            <div class="container" style="height: 300px;">
                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- *****Selected Options**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let r of selectedrules" color="warn"
                                                    (click)="removeRules(r)" selected>
                                                    {{r.name}}&nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>

                                <mat-card class="mt-2" style="width: 80%;">
                                    <!--***Opitons**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let r of rulesArr" color="warn" (click)="optRules(r)"
                                                    selected>
                                                    {{r.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-danger" (click)="nextTab('1')">Back</button>&nbsp;
                                    <button class="btn btn-success" (click)="onUpdateRules();nextTab('3')">
                                        Update & Next</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>

                        <!-- *************** -->
                        <!-- ***Ambiences*** -->
                        <!-- *************** -->
                        <mat-tab label="Ambiences">
                            <div class="container" style="height: 300px;">
                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***Selected Options*** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let a of selectedambiences" color="danger"
                                                    (click)="removeAmbience(a)" selected>
                                                    {{a.name}}&nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***Options*** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let a of ambienceArr" color="danger"
                                                    (click)="optAmbience(a)" selected>
                                                    {{a.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-danger" (click)="nextTab('2')">Back</button>&nbsp;
                                    <button class="btn btn-success" (click)="onUpdateAmbiences();nextTab('4')">
                                        Update & Next</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>
                        <!-- *************** -->
                        <!-- ***Cuisines*** -->
                        <!-- *************** -->
                        <mat-tab label="Cuisines">
                            <div class="container" style="height: 300px;">

                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ****SELECTED OPTIONS**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let c of selectedcuisines" color="accent"
                                                    (click)="removeCuisine(c)" selected>
                                                    {{c.name}} &nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>

                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***OPTIONS*** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let c of cuisinesArr" color="accent"
                                                    (click)="optCuisine(c)" selected>
                                                    {{c.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-danger" (click)="nextTab('3')">Back</button>&nbsp;
                                    <button class="btn btn-success" (click)="onUpdateCuisines()" >Update</button>&nbsp;
                                    <button class="btn btn-danger" routerLink="/restaurants/view-update-chain" >Cancel</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                </form>
            </mat-card>
            <!-- {{editData.type}}
            {{editData.data.establishment_info | json}} -->
        </div>       
    </div>

    <!-- media info -->
    <div class="row"  *ngIf="editData.type =='mediainfo'">
        <div class="col">
            <!-- {{editData.type}}
            {{editData.data.media_info | json}} -->
            <mat-card>
                <form action="" [formGroup]="chainInfo">
                    <ng-template matStepLabel>Media Information</ng-template>

                    <!-- media logo -->
                    <div class="row mt-4">
                        <div class="col-lg-3 ml-4">
                            <label for="" class="mt-2"> <b>Chain Logo</b> </label>
                        </div>
                        <div class="col-lg-6">
                            <input type="file" [hidden]="showLogo" accept="image/*" ng2FileSelect
                                [uploader]="logoUploader" (change)="logoUploader.uploadAll();loading()"
                                 />

                            <br>
                            <div [hidden]="!showLogo">
                                <img [src]="logoResponse" height="100px" width="100px" alt="">&nbsp;
                                <i class="fas fa-edit" (click)="onEditLogo()"></i>
                            </div>
                        </div>
                    </div> 

                    <!-- media pictures -->
                    <div class="row mt-4">
                        <div class="col-lg-3 ml-4">
                            <label for="" class="mt-2"> <b>Pictures</b> </label>
                        </div>
                        <div class="col-lg-6" [hidden]="showImages">
                            <input type="file" multiple accept="image/*" ng2FileSelect [uploader]="ImgAlbumUploader"
                                (change)="ImgAlbumUploader.uploadAll();loading()"  />


                        </div>
                        <div class="col-lg-6" [hidden]="!showImages">
                           <img *ngFor="let img of ImgAlbumResponse" [src]="img" 
                           heigth="100px" width="100px"alt="">&nbsp;
                           <i class="fas fa-edit" (click)="onEditImages()"></i>

                        </div>
                    </div>

                    <!-- media videos -->
                    <div class="row mt-4">
                        <div class="col-lg-3 ml-4">
                            <label for="" class="mt-2"> <b>Videos</b> </label>
                        </div>
                        <div class="col-lg-6" [hidden]="showVideos">
                            <input type="file" multiple accept="video/*" ng2FileSelect [uploader]="VideoAlbumUploader"
                            (change)="VideoAlbumUploader.uploadAll();loading()"  />
                        </div>
                        <div class="col-lg-6" [hidden]="!showVideos">
                            <video  *ngFor="let vdo of VideoAlbumResponse" width="160" height="120" controls controlsList=”nodownload”>
                                <source [src]="vdo">
                              </video>&nbsp;
                              <i class="fas fa-edit" (click)="onEditVideos()"></i>  </div> 
                    </div>

                    <!-- Next Button Coding -->

                    <div class="row mt-4">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <button class="btn btn-success" (click)="onUpdateMedia()">Update</button>&nbsp;
                            <button class="btn btn-danger" routerLink="/restaurants/view-update-chain">Cancel</button>&nbsp;
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </form>
            </mat-card>
        </div>       
    </div>

    <!-- menumgmt -->
    <div class="row"  *ngIf="editData.type =='menumgmt'">
        <div class="col">
            {{editData.type}}
            {{editData.data.menuManagement | json}}
        </div>       
    </div>

  
</div>


<ngx-spinner bdColor="rgba(51,51,51,0.8)">
    <!-- <img src="/assets/images/bizpenguin.png" class="text-center"alt=""> -->
    <h2 class="text-center" style="color:white">Bizly</h2>
    <p style="font-size: 20px; color: white">Processing, Please wait...</p>
  </ngx-spinner>
  