<h1 mat-dialog-title>Add an Material <i class="fa fa-times" style="float: right;" (click)="onNoClick()"></i></h1>
<div mat-dialog-content>
    <form [formGroup]="addingredientForm">
        <div class="row">
          <div class="col-lg-12">
            <mat-form-field class="example-full-width" style="width: 80%;">
              <input matInput placeholder="Name" [class.is-invalid]="addingredientForm.get('ingredientName').invalid &&
          addingredientForm.get('ingredientName').touched" formControlName="ingredientName" (focusout)="checkIngrdientExist($event)">
              <mat-error [class.d-none]="addingredientForm.get('ingredientName').valid ||
          addingredientForm.get('ingredientName').untouched" class="text-danger" >
                  Name is Invalid</mat-error>
          </mat-form-field>
          </div>
         
        </div>
        <div class="row">

          <label>Select Category</label>
          
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul id="myUL">
              <li *ngFor="let rootCategory of allFoodInventoryCategory"><span class="caret" (click)="caretClick()">
              <span *ngIf="rootCategory.subCategories.length==0"><mat-radio-button 
                [value]="type"  (change)="getRadiovalue(rootCategory);getradio(rootCategory['_id'],rootCategory['rootCategoryName'])"></mat-radio-button></span> {{rootCategory.rootCategoryName}}
                </span>

                <ul class="nested">

                  <li *ngFor="let subCategory of rootCategory.subCategories"><span class="caret" (click)="caretClick()">
                    <span *ngIf="subCategory.subSubCategories.length==0"><mat-radio-button
                      [value]="type" (change)="getRadiovalue(rootCategory,subCategory); getradio(subCategory['_id'],subCategory['subCategoryName'])"></mat-radio-button></span> {{subCategory.subCategoryName}}
                    </span>
                    <ul class="nested">
                      <li *ngFor="let subSubCategory of subCategory.subSubCategories"><span class="caret"
                          (click)="caretClick()"><span *ngIf="subSubCategory.subSubCategoryType.length==0"><mat-radio-button [value]="type" (change)="getRadiovalue(rootCategory,subCategory,subSubCategory);getradio(subSubCategory['_id'],subSubCategory['subSubCategoryName'])"></mat-radio-button></span> 
                          {{subSubCategory.subSubCategoryName}}
                        </span>
                        <ul class="nested">

                          <li *ngFor="let type of subSubCategory.subSubCategoryType">
                            <span>
                              <mat-radio-button
                              [value]="type"  (change)="getRadiovalue(rootCategory,subCategory,subSubCategory, type);getradio(type['_id'],type['subSubCategoryTypeName'])"></mat-radio-button>
                              {{type.subSubCategoryTypeName}}
                            </span>
                          </li>
                          <i class="fa fa-plus mb-2" (click)="openFoodInventorySubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                            aria-hidden="true"> Add Sub Sub Category Type</i>
                        </ul>
                      </li>
                      <i class="fa fa-plus mb-2"
                        (click)="openFoodInventorySubSubCategoryDialog(rootCategory._id, subCategory._id)"
                        aria-hidden="true">
                        Add Sub Sub Category</i>
                    </ul>
                  </li>
                  <i class="fa fa-plus mb-2" (click)="openFoodInventorySubCategoryDialog(rootCategory._id)"
                    aria-hidden="true"> Add
                    Sub Category</i>
                </ul>
              </li>
              <i class="fa fa-plus mb-2" (click)="openFoodInventoryRootCategoryDailog()" aria-hidden="true"> Add Root
                Category</i>

            </ul>
          </div>
      
        </div>

<!--         
        <div class="row">
            <mat-form-field class="example-full-width" style="width: 80%;">
                <input matInput placeholder="category" [class.is-invalid]="addingredientForm.get('ingredientcategory').invalid &&
                addingredientForm.get('ingredientcategory').touched" formControlName="ingredientcategory">
                <mat-error [class.d-none]="addingredientForm.get('ingredientcategory').valid ||
                addingredientForm.get('ingredientcategory').untouched" class="text-danger">
                    Category is Invalid</mat-error>
            </mat-form-field>
        </div> -->
        <div class="row">
          <div class="col-lg-12">
            <mat-form-field style="width: 80%;">
              <mat-label>Unit</mat-label>
              <mat-select formControlName="unit" [class.is-invalid]="addingredientForm.get('unit').invalid &&
              addingredientForm.get('unit').touched">
                  <mat-option *ngFor="let unit of units" [value]="unit">
                      {{unit}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          </div>
        


        </div>

    </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close] class="btn btn-primary" (click)="addingrdient()" [disabled]="!addingredientForm.valid"
        cdkFocusInitial>Add</button>
    <button mat-button class="btn btn-primary" (click)="onNoClick()">Cancel</button> &nbsp;
    
</div>