
    <h5 mat-dialog-title><div class="row">
        <div class="col-md-10">
            <h5>View Brand</h5>
        </div>
    
        <div class="col-md-2">
            <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
    
        </div>
    </div></h5>
    <mat-dialog-content>
    <div class="row ml-2 mt-2">
        <label>Retail Food Category</label>
    </div>
    <div class="row ml-2">
        <div class="col-lg-12">
          <ul id="myUL">
            <li *ngFor="let rootCategory of allRetailFoodCategories; let i=index"><span class="caret"
                (click)="caretClick()">
                <mat-checkbox [disabled]="true" class="example-margin" [(indeterminate)]="rootCategory['inter']" (change)="RetailfoodchangeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="rootCategory['showChildren']"  value="rootCategory['_id']"></mat-checkbox>
                {{rootCategory.rootCategoryName}}
              </span>

              <ul class="nested">

                <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                    (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="RetailfoodchangeFlag(subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [(indeterminate)]="subCategory['inter']" [checked]="subCategory['showChildren']" value="subCategory['_id']"></mat-checkbox>
                    {{subCategory.subCategoryName}} 
                  </span>
                  <ul class="nested"> 
                    <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                         (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="RetailfoodchangeFlag(subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [(indeterminate)]="subSubCategory['inter']" [checked]="subSubCategory['showChildren']" value="subSubCategory['_id']"></mat-checkbox>
                        {{subSubCategory.subSubCategoryName}}
                      </span>
                      <ul class="nested">

                        <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                          <span>
                            <mat-checkbox [disabled]="true" class="example-margin" [(indeterminate)]="type['inter']" (change)="RetailfoodchangeFlag(type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']"  value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                          </span>
                        </li>
                    </ul>
                  </li>
                  
                    
                </ul>
              </li>
          
            </ul>
          </li>
          
          

          </ul>
        </div>
    </div>
    <div class="table-border-style">
        <div class="table-responsive" style="overflow-x: hidden;">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>Brand Code</td>
                        <td>{{data.brandCode}}</td>
                    </tr>
                    <tr>
                        <td>Brand Name</td>
                        <td>{{data.brandName}}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td>{{data.country}}</td>
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img [src]="data.brandLogo" style="height: 50px; width: 50px;">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Added By</td>
                        <td>{{data.addedBy.userName}}</td>
                    </tr>
                    <tr>
                        <td>Date and Time</td>
                        <td>{{data.updatedAt | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>
    
    </mat-dialog-content>


