<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/employee/bizly">Back</button>


    <!-- VIEW ROLE DETAILS -->
    <mat-card class="mt-4">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h5 style="float: right;">{{viewRole.role}}</h5> 
                    </div>
                    <div class="col">
                        <button class="btn btn-danger " style="float: right;"> Edit</button>
                    </div>
                </div>
                <hr>
                <form action="javascript:">
                    <div class="form-group row mt-3">
                      <label for="inputEmail3" class="col-sm-3 col-form-label">Access controls</label>
                      <div class="col-sm-9">
                        <!-- <input type="text" class="form-control" id="inputEmail3" [value]="viewRole.role_access_point" placeholder="Access controls"> -->
                        <li *ngFor="let rap of viewRole.role_access_point">{{rap}}</li>
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">No. of Users</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputEmail3"
                          [value]="viewRole.total_users.length" placeholder="No. of Users">
                        </div>
                      </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Users List</label>
                        <div class="col-sm-9">
                          <!-- <input type="text" class="form-control" id="inputEmail3"
                          [value]="viewRole.total_users" placeholder="Users List"> -->
                          <li *ngFor="let tu of viewRole.total_users">
                          {{tu}}
                            </li>
                        </div>
                      </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                          <textarea rows=4 cols=50
                          placeholder="Description"></textarea>
                        </div>
                      </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Notes/Circular</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputEmail3" value="Not Applicable" placeholder="Notes/Circular">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">Date Created</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputEmail3" [value]="viewRole.created_by_on" placeholder="Date Created">
                        </div>
                      </div>
                  </form>
            </div>      
        </div>
        <!-- <h5>{{viewRole | json}}</h5> -->
    </mat-card>


    <!-- ********************************************************************************** -->
   
    <!-- EDITED HISTORY -->
    <mat-card class="mt-4">
      <div class="row">
          <div class="col">
              <label for="">
                  <h5 class="text-center">Edited History</h5>
              </label>
          </div>
      </div>

      <hr>

      <!-- Version 1 -->
      <div class="row">
          <div class="col">
              <b>Version 1</b>
          </div>
      </div>

      <!-- Version 2 -->
      <div class="row">
        <div class="col">
            <b>Version 2</b>
        </div>
    </div>
    </mat-card>
</div>