<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/inventory">Back</button>

<h5 style="margin-top: -16px;">Inventory Management / Update Equipment</h5>
<mat-card>
    <form [formGroup]="addEquipmentForm">
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Equipment Name" [class.is-invalid]="addEquipmentForm.get('equipmentName').invalid &&
            addEquipmentForm.get('equipmentName').touched" formControlName="equipmentName">
                    <mat-error [class.d-none]="addEquipmentForm.get('equipmentName').valid ||
            addEquipmentForm.get('equipmentName').untouched" class="text-danger">
                        Equipment name is Invalid</mat-error>
                </mat-form-field>
    
            </div>
        
        </div>
        <div class="row">
            <div class="col-lg-12">
                <label>Select Category</label>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul id="myUL">
                    <li *ngFor="let rootCategory of allAssetInventoryCategory"><span class="caret"
                            (click)="caretClick()">
                            <span *ngIf="rootCategory.subCategories.length==0"><mat-radio-button value="rootCategory.rootCategoryName" (change)="getRadiovalue(rootCategory['_id'],rootCategory['rootCategoryName']); getroot(rootCategory)" [checked]="(category['category']==rootCategory['rootCategoryName']) ? true : false"    >
                            </mat-radio-button> </span> <span [ngClass]="{'mat-chip': rootCategory.rootCategoryName===this.rootcat}">{{rootCategory.rootCategoryName}}
                        </span></span>

                        <ul class="nested">

                            <li *ngFor="let subCategory of rootCategory.subCategories"><span class="caret"
                                    (click)="caretClick()">
                                    <span *ngIf="subCategory.subSubCategories.length==0"><mat-radio-button value="subCategory.subCategoryName" [checked]="(category['category']==subCategory['subCategoryName']) ? true : false" (change)="getRadiovalue(subCategory['_id'],subCategory.subCategoryName); getroot(rootCategory, subCategory)"     >
                                    </mat-radio-button> </span><span [ngClass]="{'mat-chip': subCategory.subCategoryName===this.subcat}"> {{subCategory.subCategoryName}}
                                </span></span>
                                <ul class="nested">
                                    <li *ngFor="let subSubCategory of subCategory.subSubCategories"><span class="caret"
                                            (click)="caretClick()">
                                            <span *ngIf="subSubCategory.subSubCategoryType.length==0"><mat-radio-button value="rootCategory.rootCategoryName" [checked]="(category['category']==subSubCategory['subSubCategoryName']) ? true : false"  (change)="getRadiovalue(subSubCategory['_id'],subSubCategory.subSubCategoryName); getroot(rootCategory, subCategory,subSubCategory)" >
                                            </mat-radio-button> </span><span [ngClass]="{'mat-chip': subSubCategory.subSubCategoryName===this.subsubcat}" >{{subSubCategory.subSubCategoryName}}
                                        </span></span>
                                        <ul class="nested">

                                            
                                            <li *ngFor="let type of subSubCategory.subSubCategoryType">
                                                <span>
                                                    <mat-radio-button value="rootCategory.rootCategoryName" [checked]="(category['category']==type['subSubCategoryTypeName']) ? true : false"  (change)="getRadiovalue(type['_id'],type['subSubCategoryTypeName']); getroot(rootCategory, subCategory,subSubCategory, type)"     >
                                                    </mat-radio-button>
                                                    <span [ngClass]="{'mat-chip': type.subSubCategoryTypeName===this.typecat}">
                                                    {{type['subSubCategoryTypeName']}}</span>
                                                </span>
                                            </li>
                                            <i class="fa fa-plus mb-2"
                                                (click)="openInventorySubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                                                aria-hidden="true"> Add Sub Sub Category Type</i>
                                        </ul>
                                    </li>
                                    <i class="fa fa-plus mb-2"
                                        (click)="openInventorySubSubCategoryDialog(rootCategory._id, subCategory._id)"
                                        aria-hidden="true">
                                        Add Sub Sub Category</i>
                                </ul>
                            </li>
                            <i class="fa fa-plus mb-2" (click)="openInventorySubCategoryDialog(rootCategory._id)"
                                aria-hidden="true"> Add
                                Sub Category</i>
                        </ul>
                    </li>
                    <i class="fa fa-plus mb-2" (click)="openInventoryRootCategoryDailog()" aria-hidden="true"> Add Root
                        Category</i>

                </ul>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-6">
                <mat-form-field style="width: 80%;">
                    <mat-label>Assign Attributes Set</mat-label>
                    <mat-select formControlName="assignattributeSet" [class.is-invalid]="addEquipmentForm.get('assignattributeSet').invalid &&
            addEquipmentForm.get('assignattributeSet').touched">
                        <mat-option *ngFor="let s of allAttributesSet" [value]="s.attributeSetName">
                            {{s.attributeSetName}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="addEquipmentForm.get('assignattributeSet').valid ||
            addEquipmentForm.get('assignattributeSet').untouched" class="text-danger">
                        Select assign attributes</mat-error>
                </mat-form-field>
    
            </div> -->
          

        <!-- </div> -->
        <div class="row">
            <div class="col-lg-6">
                <input type="file" name="equipment" ng2FileSelect [uploader]="uploader" (change)="uploader.uploadAll();"
                placeholder="Update Image" >
            </div>
            <div class="col-lg-6" *ngIf="equipImage.length>0">

                <img [src]="equipImage" class="ml-2" style="height: 70px; width: 70px;">
            </div>
            
          
        </div>
      
    </form>
    <div *ngIf="filtered.length>0">
        <div class="row" *ngFor="let data of filtered; let i=index; ">{{onClickResponse(i)}}
            <mat-card style="width: 100%;">
                <div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>{{data.display_name}}</label>
                         </div>
                    </div>
                    <hr>
                    <div class="row" *ngIf="data.responseType.elementName=='Input Box'">
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" style="width: 80%;">
                                <input matInput [placeholder]="inputBoxPlaceholder" [(ngModel)]="data['value']"
                                    name="Attribute_response{{i}}">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="data.responseType.elementName=='Yes / No'">
                        <div class="col-lg-4">
                            <mat-radio-group aria-label="Select an option" name="yesno{{i}}"
                                [(ngModel)]="data.value">
                                <mat-radio-button value="Yes" >Yes</mat-radio-button>&nbsp;
                                <mat-radio-button value="No" >No</mat-radio-button>
                            </mat-radio-group>                                
                        </div>
                    </div>
                    <div class="row ml-2 mt-2" *ngIf="data.responseType.elementName=='Radio Button'">
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="data.value"
                            style="display: inline-flex;">
                            <div class="col-lg-6" *ngFor="let option of radioOptions">
                                <mat-radio-button [value]="option.optionLable">{{option.optionLable}}
                                </mat-radio-button>
                                &nbsp;
                               
                                <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                            </div>
                        </mat-radio-group>&nbsp;
                    </div>
                    <div class="row ml-2 mt-2" *ngIf="data.responseType.elementName=='Check Box'">
                        <div class="col-lg-6" *ngFor="let option of checkBoxOptions; let i=index">
                            <mat-checkbox name="Attribute_response{{i}}"                                 [(ngModel)]="data.responseType.options[i].value"
                                [value]="option.optionLable"
                                (change)="assignSpecificationByCheckbox(data)">
                                {{ option.optionLable }}</mat-checkbox> &nbsp;
                                                            <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6" style="text-align: center;">
            <button class="btn btn-primary" (click)="addequipment()" [disabled]="!addEquipmentForm.valid"
            >Update Equipment</button>
        </div>
    </div>
</mat-card>