<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>View Category</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
    </div>
      <div class="table-border-style">
          <div class="table-responsive"  style="overflow-x: hidden;">
              <table class="table table-bordered">
                  <!-- <thead>
                      <tr>
                          <th>#</th>
                          <th>First Name</th>
                      </tr>
                  </thead> -->
                  <tbody>
                      <tr>
                          <td>Category Code</td>
                          <td>{{data.categoryCode}}</td>
                      </tr>
                      <tr>
                          <td>Category Name or Submenu</td>
                          <td class="transform">{{data.categoryName}}</td>
                      </tr>
                      <tr>
                          <td>Cuisines</td>
                          <td>
                            <div *ngFor="let c of data.cuisines">
                                <span class="badge badge-light-success" class="transform">{{ c.cuisineName }}</span>

                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Tags</td>
                          <td>
                              <div *ngFor="let t of data.tags">
                                  <span class="badge badge-light-success transform">{{ t.tagName }}</span>

                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td>Images</td>
                        <td>
                            <div class="row">
                                <div *ngFor='let url of data.images'>
                                    <div class="col-sm-12">
                                        <img [src]="url" style="height: 50px; width: 50px;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                      <tr>
                          <td>Added By</td>
                          <td>{{data.addedBy.userName}}</td>
                      </tr>
                      <tr>
                          <td>Date and Time</td>
                          <td>{{data.updatedAt | date:'medium'}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

      <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>
</div>



