<div class="container">
  <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/restaurants/cinema-home">Back</button>


  <mat-card>
    <mat-horizontal-stepper [linear]="true" #stepper>

      <!-- 
          *********************
          Cinema Screens Information
          *********************
         -->
      <mat-step [stepControl]="cinemaInfo">
        <form [formGroup]="cinemaInfo">
          <ng-template matStepLabel>Cinema Screen</ng-template>

          <!-- display name -->
          <div class="row mt-4">
            <div class="col-lg-3 ml-4">
              <label for="" class="mt-2"> <b>Display Name</b> </label>
            </div>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput type="text" formControlName="displayName" placeholder="">
              </mat-form-field>
            </div>
          </div>

          <!-- legal name -->
          <div class="row mt-4">
            <div class="col-lg-3 ml-4">
              <label for="" class="mt-2"> <b>Legal Name</b> </label>
            </div>
            <div class="col-lg-6">
              <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput type="text" formControlName="legalName" placeholder="">
              </mat-form-field>
            </div>
          </div>


          <!-- Table of series  -->
          <div class="row mt-4">
            <div class="col-lg-12 ml-4">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <!-- <th scope="col">Screen</th> -->
                    <th scope="col">Screen Name</th>
                    <th scope="col">Seating Capacity</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody formArrayName="Allscreens">
                  <tr *ngFor="let screen of screen().controls; let si = index">
                    <th scope="row">{{si+1}}</th>
                    <!-- <td [formGroupName]="si"> <input type="text" formControlName="screenNo" class="form-control"
                        placeholder="Screen"></td> -->
                    <td [formGroupName]="si"> <input type="text" formControlName="screenName" class="form-control"
                        placeholder="Screen Name"></td>
                    <td [formGroupName]="si"> <input type="number" formControlName="seatingCapacity" (change)="setLiveCount(screen)" class="form-control"
                        placeholder="Seating Capacity" ></td>
                    <td [formGroupName]="si"><button type="button" class="btn btn-sm btn-danger"
                        (click)="removeScreen(si)">Delete</button></td>
                  </tr>
                  <tr>
                    <th scope="row"><i class="fas fa-plus-circle" style="font-size:xx-large" (click)="addScreen()"></i>
                    <td></td>
                    <td><button type="button" matStepperNext class="btn btn-success btn-md btn-block" (click)="onProceed()" >
                        Proceed</button></td>
                    <td></td>
                    <td><button type="button" class="btn btn-md btn-dark">Skip</button></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </form>

      </mat-step>


      <!-- 
          *********************
          Series INFORMATION TAB
          *********************
         -->

      <mat-step [stepControl]="cinemaInfo">
        <form [formGroup]="cinemaInfo">
          <ng-template matStepLabel>Series Information</ng-template>

          <!-- MAT TAB GROUP CODE -->
          <mat-tab-group formArrayName="Allscreens">
            <!-- Different Screen Tabs -->
            <mat-tab *ngFor="let screen of screen().controls;let si = index"
              label="{{screen.controls.screenName.value}}" [formGroupName]="si">


              <div class="row">
                <div class="col">
                 <h3 style="margin: auto; color: #11013df8;">Number of Seats: {{screen.controls.seatingCapacity.value}}</h3> <br>
                  
                
                </div>
                <div class="col">
                  <h3 style="margin: auto; color: #e71212ee;">Live Seats Count: {{screen.controls.livecount.value}}</h3>
                </div>
                <div class="col">
                  <button class="btn btn-primary btn-sm" (click)="firstaddSeries(si,screen);setDisable(screen)" [hidden]="screen.controls.generate.value" >Generate</button>
                </div>
              </div>

              <div class="row" >
                <div class="col-lg-6" formArrayName="series_array" *ngFor="let ss of series(si).controls;let ssi = index" >
                  <mat-card class="mt-3" [formGroupName]="ssi" >
                    
                    <label for="">Series #{{ssi+1}}</label>
                    <select class="custom-select mt-2" (change)="seriesType(ss,si)"  
                    formControlName="seriesType"  >
                      <option  *ngFor="let type of series_types" [value]="type" >{{type}}</option>
                    </select><br>

                    <!-- <div [ngSwitch]="type_of_series"> -->
                      <div [ngSwitch]="ss.controls.seriesType.value">
                      <div class="row mt-2" *ngSwitchCase="'FIXED + SERIES'">
                       <div class="col-lg-12">
                        <input type="text" class="form-control" formControlName="fixed1"
                         placeholder="Fixed"  [readOnly]="ss.controls.readOnly.value">
                       </div>
                       <div class="col-lg-6">
                        <input type="number" class="form-control" formControlName="from1"
                         placeholder="Series from"  [readOnly]="ss.controls.readOnly.value">
                       </div>
                       <div class="col-lg-6">
                        <input type="number" class="form-control" formControlName="to1" 
                        placeholder="Series to"  [readOnly]="ss.controls.readOnly.value">
                      </div>
                      </div>

                      <div class="row mt-2" *ngSwitchCase="'SERIES + FIXED'">
                        <div class="col-lg-6">
                          <input type="number" class="form-control" formControlName="from1" 
                          placeholder="Series from"  [readOnly]="ss.controls.readOnly.value">
                         </div>
                         <div class="col-lg-6">
                          <input type="number" class="form-control" formControlName="to1" placeholder="Series to"
                          [readOnly]="ss.controls.readOnly.value">
                         </div>
                         <div class="col-lg-12">
                          <input type="text" class="form-control" formControlName="fixed1" placeholder="Fixed"
                          [readOnly]="ss.controls.readOnly.value">
                        </div>
                      </div>

                      <div class="row mt-2" *ngSwitchCase="'SERIES + FIXED + SERIES'">
                        <div class="col-lg-6">
                          <input type="number" class="form-control" formControlName="from1" placeholder="Series from"
                          [readOnly]="ss.controls.readOnly.value">
                         </div>
                         <div class="col-lg-6">
                          <input type="number" class="form-control" formControlName="to1" placeholder="Series to"
                          [readOnly]="ss.controls.readOnly.value">
                        </div>
                        <div class="col-lg-12">
                          <input type="text" class="form-control" formControlName="fixed1" placeholder="Fixed"
                          [readOnly]="ss.controls.readOnly.value">
                         </div>
                         <div class="col-lg-6">
                          <input type="number" class="form-control" formControlName="from2" placeholder="Series form"
                          [readOnly]="ss.controls.readOnly.value">
                         </div>
                         <div class="col-lg-6">
                          <input type="number" class="form-control" formControlName="to2" placeholder="series to"
                          [readOnly]="ss.controls.readOnly.value">
                        </div>
                      </div>

                      <div class="row mt-2" *ngSwitchCase="'FIXED + SERIES + FIXED'">
                        <div class="col-lg-12">
                          <input type="text" class="form-control" formControlName="fixed1" placeholder="Fixed from"
                          [readOnly]="ss.controls.readOnly.value">
                         </div>
                         <div class="col-lg-6">
                          <input type="number" class="form-control" formControlName="from1" placeholder="Series from"
                          [readOnly]="ss.controls.readOnly.value">
                         </div>
                         <div class="col-lg-6">
                          <input type="number" class="form-control" formControlName="to1" placeholder="Series to"
                          [readOnly]="ss.controls.readOnly.value">
                        </div>
                        <div class="col-lg-12">
                          <input type="text" class="form-control" formControlName="fixed2" placeholder="Fixed to"
                          [readOnly]="ss.controls.readOnly.value">
                         </div>
                      </div>
                    </div>
                    
                    
                    <button class="btn btn-sm btn-primary ml-2 mt-2" [hidden]="ss.controls.readOnly.value" (click)="addSeries(si,screen,ss);setReadOnly(ss)">Generate</button>&nbsp;
                    <button class="btn btn-sm btn-primary ml-2 mt-2" [hidden]="ss.controls.readOnly.value" (click)="removeSeries(si,ssi);setEnable(screen,si)">Remove</button>
                    <button class="btn btn-sm btn-danger ml-2 mt-2" [hidden]="!ss.controls.readOnly.value" (click)="setEnable(screen,si)">Edit</button>
                    <button class="btn btn-sm btn-danger ml-2 mt-2" [hidden]="!ss.controls.readOnly.value" (click)="deleteSeries(ss,screen,si);removeSeries(si,ssi);setEnable(screen,si)">Delete</button>
                  </mat-card>
                </div>
              </div>

              <!-- <div formArrayName="series_array">
                <div *ngFor="let ss of series(si).controls; let ssi = index">
                  <div [formGroupName]="ssi">

                    <button click="removeStudent(si,ssi)">Remove student</button>
                  </div>
                </div>
              </div> -->

            </mat-tab>
            <!--  <i class="fas fa-plus-circle" style="font-size:xx-large" (click)="addScreen()"></i> -->

            <!-- <mat-tab disabled>
              <ng-template mat-tab-label>
                  <i class="fas fa-plus-circle" style="font-size:xx-large" ></i>
                </ng-template>
              </mat-tab> -->
          </mat-tab-group>
          <button type="button"  class="btn btn-success btn-md mt-2" (click)="onSaveCinema()" >
            Save & Submit</button>
        </form>
      </mat-step>


    </mat-horizontal-stepper>
  </mat-card>

</div>