<div class="containter">
    <div class="row">
        <div class="col">
            <h5 class="mt-2">Create Role </h5>
            <hr>
            <form action="javascript:" [formGroup]="roleForm">
                <!-- Role ID -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Role Id</label>
                    <div class="col-sm-9">
                        <label for="inputEmail3" class="col-form-label">{{rolecode}}</label>
                    </div>
                  </div>
                <!-- Role Name -->
                <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-3 col-form-label">Role Name</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control" id="inputEmail3" formControlName="roleName" placeholder="Role Name">
                    </div>
                  </div>
            <!-- Set Access Control -->
              <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">Set Access Control</label>
                <div class="col-sm-9">
                  <!-- <input type="text" class="form-control" id="inputPassword3" placeholder="Set Access Control"> -->
                  <ng-multiselect-dropdown
                  class="form-control"
                  [placeholder]="'Set Access Control'"
                  [data]="dropdownList"
                 formControlName="access_points"
                  [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelect)="onDeSelect($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"
                  #mulSelect
                >
                </ng-multiselect-dropdown>
                </div>
              </div>

              <!-- Descripton -->
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Description </label>
                <textarea class="form-control" formControlName="role_desc" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
           
              <div class="form-group row">
                  <div class="col-sm-3"></div>
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-success" [disabled]="!this.roleForm.valid" [mat-dialog-close]="roleForm.value" (click)="saveRole()">Save Role</button>
                </div>
                <div class="col-sm-3">

                </div>
              </div>
            </form>
        </div>
    </div>
</div>