<form [formGroup]="addSubSubCategoryForm">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Add Sub-Sub Category</h2>
        </div>

        <!-- ***********dropdown for RootDrinks ******************* -->
        <div class="row">
          
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Add Sub Sub Drink Type" [class.is-invalid]="addSubSubCategoryForm.get('childchildCategoryName').invalid &&
    addSubSubCategoryForm.get('childchildCategoryName').touched" formControlName="childchildCategoryName">
                    <mat-error [class.d-none]="addSubSubCategoryForm.get('childchildCategoryName').valid ||
    addSubSubCategoryForm.get('childchildCategoryName').untouched">
                        Add sub sub category Invalid</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" (click)="onAddSubSubCategory()" [disabled]="!addSubSubCategoryForm.valid"
                    mat-dialog-close>Add</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</form>