    <form action="" [formGroup]="servChipsForm">
        <div class="container">
           

            <div class="row">
                <mat-chip *ngFor = "let a of services" class="mt-2 ml-2">
                    {{a}} &nbsp;<i class="far fa-times-circle" (click)="remove(a)"></i>
                </mat-chip>
            </div>
            <div class="row mt-4 ml-2" >
                <div class="col form-group">
                    <input type="text" class="form-control" formControlName="chip" minlength="3">
                </div>
               
           
                <div class="col form-group">
                    <button class="btn btn-primary" [disabled]="!servChipsForm.valid" (click)="add()">Add</button>
                </div>
            
            
            </div>

            <div class="row mt-4">
                <div class="col">
                    <button class="btn btn-danger"  mat-dialog-close>cancel</button>
               
                    <button class="btn btn-primary ml-2"  (click)="submit()" mat-dialog-close>Submit</button>
                </div>
            </div>
            
        </div>
    </form>

