<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
        routerLink="/employee/bizly">Back</button>


    <mat-card>
        <div class="row" >

            <!-- PTREE COLUMN -->
            <div class="col-lg-6 my-border">

                <!-- RADIO BUTTON HERE -->               
                    <div class="row ml-2 mt-3">
                        <div class="col radio">
                            <label><input type="radio" name="sameGroup" (click)="rdoclick('root')" >  Add Root</label> &nbsp;
                            <label><input type="radio" name="sameGroup" (click)="rdoclick('child')" checked>  Add Child</label>                           
                        </div>
                    </div>    
             
              

                <!--PTREE CODE HERE-->
                <div class="mt-3">
                    <p-tree 
                    [value]="files"  
                    selectionMode="single" 
                    [styleClass]="'my-tree'" 
                    scrollHeight="300px"
                    (onNodeSelect)="onTreeNodeSelection($event)">
                        <ng-template let-node pTemplate="default">
                            {{node.label}}
                        </ng-template>
                    </p-tree>
                </div>
            </div>

            <!-- ROLE FORM CODE HERE -->
            <div class="col-lg-6 my-border">
               
                <!-- FORM FOR ROLE FOR HERE -->
            
                <div [hidden]="!formHide">
                  <mat-card class="mt-4">
                    <h4>
                      Please Select NODE or Add Root
                    </h4>
                  </mat-card>
                </div>
              

                <!-- Form Hidden if RADIO BUTTON IS CHILD AND PARENT NOT SELECTED -->
                <div [hidden]="formHide">
                  <div class="row">
                    <div class="col">
                        <h5 class="mt-2">Create Role </h5>
                        <hr>
                        <form action="javascript:" [formGroup]="roleForm">
                            <!-- Role ID -->
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Role Id</label>
                                <div class="col-sm-9">
                                    <label for="inputEmail3" class="col-form-label">{{rolecode}}</label>
                                </div>
                              </div>
                            <!-- Role Name -->
                            <div class="form-group row">
                                <label for="inputEmail3" class="col-sm-3 col-form-label">Role Name</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" id="inputEmail3" formControlName="roleName" placeholder="Role Name">
                                </div>
                              </div>
                        <!-- Set Access Control -->
                          <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Set Access Control</label>
                            <div class="col-sm-9">
                              <!-- <input type="text" class="form-control" id="inputPassword3" placeholder="Set Access Control"> -->
                              <ng-multiselect-dropdown
                              class="form-control"
                              [placeholder]="'Set Access Control'"
                              [data]="dropdownList"
                             formControlName="access_points"
                              [settings]="dropdownSettings"
                              (onSelect)="onItemSelect($event)"
                              (onSelectAll)="onSelectAll($event)"
                              (onDeSelect)="onDeSelect($event)"
                              (onDeSelectAll)="onDeSelectAll($event)"
                              #mulSelect
                            >
                            </ng-multiselect-dropdown>
                            </div>
                          </div>

                          <!-- Descripton -->
                          <div class="form-group">
                            <label for="exampleFormControlTextarea1">Description </label>
                            <textarea class="form-control" formControlName="role_desc" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                       
                          <div class="form-group row">
                              <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                              <button type="submit" class="btn btn-success" [disabled]="!this.roleForm.valid" (click)="saveRole()">Save Role</button>
                            </div>
                            <div class="col-sm-3">

                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                </div>

            </div>
        </div>
    </mat-card>

    {{roleForm.value| json}}
</div>