<div class="row">
    <div class="container">
        <h5>Users/Roles</h5>
    </div>


    <div class="container">
        <mat-card>


<!-- [selectedIndex]="outerIndex.value"
            (selectedIndexChange)="outerIndex.setValue($event)" -->
            <mat-tab-group  [selectedIndex]="outerIndex.value"
            (selectedIndexChange)="onOuterIndex($event)">

                <mat-tab label="Bizly To Bizly">

                    <mat-tab-group  [selectedIndex]="bizbizIndex.value"
                    (selectedIndexChange)="onbizbizIndex($event)">

                        <mat-tab label="Roles">
                            <div class="row">
                                <div class="col-lg-4">
<!-- 
                                    <label class="checkbox-inline ml-2"><input type="checkbox"
                                            (click)="rolesCategory($event)" name="categoryCheckbox">&nbsp;
                                        Categories</label> -->
                                </div>
                            </div>
                            <div class="row">
                                <!-- <div class="col-lg-6">
                                  
                                    <tree-root  [nodes]="nodes" [options]="options">
                                        <ng-template><mat-checkbox></mat-checkbox>
                                            <i class="fa fa-plus"></i>
                                        </ng-template>
                                      
                                        
                                    </tree-root>
                                </div> -->
                                <div class="col-lg-8">
                                    <ul id="myUL">
                                        <li *ngFor="let root of roleRootCategory "><span class="caret" (click)="caretClick()">
                                                <input type="checkbox" name="liquorSubSubVarient" value="liquorSubSubVarient"
                                                    (change)=" onSelectRoot(root, $event)">
                                                {{root.name}}
                                            </span>
            
                                            <ul class="nested">
            
                                                <li *ngFor="let cat of root.childern"><span class="caret" (click)="caretClick()">
                                                        <input type="checkbox" name="liquorSubSubVarient"
                                                            value="liquorSubSubVarient" (click)=" onSelectCategory(root,cat)">
                                                        {{cat.name}}
                                                    </span>
                                                    <ul class="nested">
                                                        <li *ngFor="let child of cat.childCategories"><span class="caret"
                                                                (click)="caretClick()">
                                                                <input type="checkbox" name="liquorSubSubVarient"
                                                                    value="liquorSubSubVarient"
                                                                    (click)="onSelectChildCat(root,cat,child)">
                                                                {{child.childCategoryName}}
                                                            </span>
                                                            <ul class="nested">
            
                                                                <li *ngFor="let cc of child.childChildCategories">
                                                                    <span>
            
                                                                        <input type="checkbox" name="liquorSubSubVarient"
                                                                            value="liquorSubSubVarient"
                                                                            (click)=" onSelectChildChild(root,cat,child, cc )">
                                                                        {{cc.childChildCategoryName}}
                                                                    </span>
                                                                </li>
                                                                <i class="fa fa-plus mb-2" (click)="openSubSubCategory(root, child)"
                                                                    aria-hidden="true"> Add Sub Sub Category</i>
                                                            </ul>
                                                        </li>
                                                        <i class="fa fa-plus mb-2" (click)="openSubCategory(root, cat)"
                                                            aria-hidden="true">
                                                            Add Sub Category</i>
                                                    </ul>
                                                </li>
                                                <i class="fa fa-plus mb-2" (click)="openCategoryName(root)" aria-hidden="true"> Add
                                                    Category</i>
                                            </ul>
                                        </li>
                                        <i class="fa fa-plus mb-2" (click)="openAddCateg()" aria-hidden="true"> Add Root
                                            Category</i>
            
                                    </ul>
    
                                </div>
                              <div class="col-lg-4">
                                  <button class="btn btn-danger" (click)="deleteTree()">Delete</button>
                              </div>
                                <div class="col-lg-{{size}}">

                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <mat-form-field>
                                                        <input matInput (keyup)="rolesapplyFilter($event.target.value)"
                                                            placeholder="Search for Role ID,Roles">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="float-right">

                                                        <button class="btn btn-primary ml-2" (click)="CreateRole()"><i
                                                                class="fa fa-plus mr-2" aria-hidden="true"></i>Create
                                                            Role</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Table For roles -->
                                            <table mat-table [dataSource]="dataSourceRoles" matSort
                                                class="mat-elevation-z8">
                                                <!-- column for Role ID -->
                                                <ng-container matColumnDef="role_ID">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Role ID</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.role_ID}} </td>
                                                </ng-container>

                                                <!-- column for Notice Subject -->
                                                <ng-container matColumnDef="role_name">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
                                                    <td mat-cell *matCellDef="let element" class="capitalize">
                                                        {{element.role_name}} </td>
                                                </ng-container>





                                                <!-- column for Priority -->
                                                <ng-container matColumnDef="role_salary">
                                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Salary
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">{{element.role_salary}} </td>
                                                </ng-container>

                                                <!-- column for Allow Replies-->
                                                <ng-container matColumnDef="total_users">
                                                    <th mat-header-cell *matHeaderCellDef>Total Users</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.total_users}}
                                                    </td>
                                                </ng-container>

                                                <!-- column for Allow Replies-->
                                                <!-- <ng-container matColumnDef="role_access_points">
                                        <th mat-header-cell *matHeaderCellDef>Role Access Points</th>
                                        <td mat-cell *matCellDef="let element"> {{element.role_access_points}} </td>
                                    </ng-container> -->

                                                <!-- column for Allow Replies-->
                                                <ng-container matColumnDef="updatedAt">
                                                    <th mat-header-cell *matHeaderCellDef>User Edited</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.updatedAt | date : "d MMM, y h:mm a"}} </td>
                                                </ng-container>
                                                <!-- column for Status-->
                                                <ng-container matColumnDef="status">
                                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-slide-toggle [checked]="element.status"
                                                            (change)="roleSoftDelete(element,$event)">
                                                        </mat-slide-toggle>
                                                    </td>
                                                </ng-container>
                                                <!-- column for Allow Replies-->
                                                <ng-container matColumnDef="createdAt">
                                                    <th mat-header-cell *matHeaderCellDef>Created By and On</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.createdAt | date : "d MMM, y h:mm a"}} </td>
                                                </ng-container>

                                                <!-- column for Action-->
                                                <ng-container matColumnDef="action">
                                                    <th mat-header-cell *matHeaderCellDef>Action</th>






                                                    <td mat-cell *matCellDef="let element"
                                                        [ngStyle]="{'pointer-events':element.status == true ? 'auto' : 'none' }">
                                                        <i class="fa fa-eye mr-2"
                                                            [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}"
                                                            aria-hidden="true" title="View"
                                                            (click)="openDialog_ViewRoles(element)"></i>
                                                        <i class="fa fa-pencil-square"
                                                            [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}"
                                                            aria-hidden="true" title="Edit"
                                                            (click)="EditRole(element)"></i>
                                                    </td>

                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedRolesColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedRolesColumns;"></tr>
                                            </table>
                                            <mat-paginator #rolespaginator [pageSizeOptions]="[5, 10, 25, 100]">
                                            </mat-paginator>
                                            <!-- Table End of Roles -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </mat-tab>
                        <mat-tab label="Users">
                            <!-- <button type="button" style="float: right;" class="btn btn-primary">Add User</button> -->


                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-lg-8">

                                            <mat-form-field>
                                                <input matInput (keyup)="usersaapplyFilter($event.target.value)"
                                                    placeholder="Search for User ID">
                                            </mat-form-field>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="float-right">

                                                <button class="btn btn-primary ml-2" (click)="CreateUser()"><i
                                                        class="fa fa-plus mr-2" aria-hidden="true"></i>Create
                                                    User</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Table For users -->
                            <table mat-table [dataSource]="dataSourceUsers" class="mat-elevation-z8">
                                <!-- column for Role ID -->
                                <ng-container matColumnDef="_id">
                                    <th mat-header-cell *matHeaderCellDef>User ID</th>
                                    <td mat-cell *matCellDef="let element"> {{element.personal_details.user_code}} </td>
                                </ng-container>

                                <!-- column for Notice Subject -->
                                <ng-container matColumnDef="photo">
                                    <th mat-header-cell *matHeaderCellDef>Photo</th>
                                    <td mat-cell *matCellDef="let element"> <img [src]="element.personal_details.photo"
                                            width="50px" height="50px" alt=""> </td>
                                    <!-- element.personal_details.photo -->
                                </ng-container>





                                <!-- column for Priority -->
                                <ng-container matColumnDef="employee_name">
                                    <th mat-header-cell *matHeaderCellDef>Employee Name</th>
                                    <td mat-cell *matCellDef="let element" class="capitalize">
                                        {{element.personal_details.employee_name}} </td>
                                </ng-container>

                                <!-- column for Allow Replies-->
                                <ng-container matColumnDef="role">
                                    <th mat-header-cell *matHeaderCellDef>Role Name</th>
                                    <td mat-cell *matCellDef="let element" class="capitalize">
                                        {{element.personal_details.assigned_role.role_name}} </td>
                                </ng-container>

                                <!-- column for Allow Replies-->
                                <ng-container matColumnDef="employee_rating">
                                    <th mat-header-cell *matHeaderCellDef>Employee Rating</th>
                                    <td mat-cell *matCellDef="let element"> {{element.personal_details.employee_rating}}
                                    </td>
                                </ng-container>

                                <!-- column for Allow Replies-->
                                <ng-container matColumnDef="bizUser_email">
                                    <th mat-header-cell *matHeaderCellDef>Login Name</th>
                                    <td mat-cell *matCellDef="let element"> {{element.credentials.bizUser_email}} </td>
                                </ng-container>
                                <!-- column for Allow Replies-->
                                <ng-container matColumnDef="email_id">
                                    <th mat-header-cell *matHeaderCellDef>Email ID</th>
                                    <td mat-cell *matCellDef="let element"> {{element.personal_details.email_id}} </td>
                                </ng-container>
                                <!-- column for Allow Replies-->
                                <ng-container matColumnDef="contact_number">
                                    <th mat-header-cell *matHeaderCellDef>Contact Number</th>
                                    <td mat-cell *matCellDef="let element"> {{element.personal_details.contact_number}}
                                    </td>
                                </ng-container>
                                <!-- column for Allow Replies-->
                                <ng-container matColumnDef="joining_date">
                                    <th mat-header-cell *matHeaderCellDef>Joining Date</th>
                                    <td mat-cell *matCellDef="let element"> {{element.work_details.joining_date | date : "d MMM, y h:mm a"}} </td>
                                </ng-container>
                                <!-- column for Status-->
                                <ng-container matColumnDef="status">
                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                    <td mat-cell *matCellDef="let element">
                                        <mat-slide-toggle [checked]="element.personal_details.status"
                                            (change)="userSoftDelete(element,$event)"></mat-slide-toggle>
                                    </td>
                                </ng-container>

                                <!-- column for Action-->
                                <ng-container matColumnDef="action">
                                    <th mat-header-cell *matHeaderCellDef>Action</th>

                                    <td mat-cell *matCellDef="let element">
                                        <i class="fa fa-eye mr-2" (click)="openDialog_ViewUers(element)"></i>
                                        <i class="fa fa-pencil-square" (click)="EditUser(element)"></i>
                                    </td>

                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedUsersColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedUsersColumns;"></tr>
                            </table>
                            <mat-paginator #userspaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            <!-- Table End of users -->



                        </mat-tab>
                    
                    </mat-tab-group>
                </mat-tab>
                <mat-tab label="Bizly To POS Merchant">
                    <mat-tab-group  [selectedIndex]="posbizIndex.value"
                    (selectedIndexChange)="onposbizIndex($event)">
                        <mat-tab label="Roles">

                            <div class="row">

                                <div class="col-lg-{{size}}">

                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <mat-form-field>
                                                        <input matInput (keyup)="rolesapplyFilter($event.target.value)"
                                                            placeholder="Search For Role ID, Roles">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="float-right">

                                                        <button class="btn btn-primary ml-2"
                                                            (click)="CreatePosRole()"><i class="fa fa-plus mr-2"
                                                                aria-hidden="true"></i>Create Role</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Table For roles -->
                                            <table mat-table [dataSource]="dataSourceMerchantRoles"
                                                class="mat-elevation-z8">
                                                <!-- column for Role ID -->
                                                <ng-container matColumnDef="role_ID">
                                                    <th mat-header-cell *matHeaderCellDef>Role ID</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.role_ID}} </td>
                                                </ng-container>

                                                <!-- column for Notice Subject -->
                                                <ng-container matColumnDef="role_name">
                                                    <th mat-header-cell *matHeaderCellDef>Role Name</th>
                                                    <td mat-cell *matCellDef="let element"><a
                                                            (click)="openDialog_ViewPosRole(element)">{{element.role_name}}</a>
                                                    </td>
                                                </ng-container>





                                                <!-- column for Priority -->
                                                <ng-container matColumnDef="access_control">
                                                    <th mat-header-cell *matHeaderCellDef>Role Acceess Points</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.access_control}}
                                                    </td>
                                                </ng-container>






                                                <!-- column for Status-->
                                                <ng-container matColumnDef="status">
                                                    <th mat-header-cell *matHeaderCellDef>Status</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-slide-toggle [checked]="element.status"
                                                            (change)="posRoleSoftDelete(element,$event)">
                                                        </mat-slide-toggle>
                                                    </td>
                                                </ng-container>
                                                <!-- column for Allow Replies-->
                                                <ng-container matColumnDef="restaurant_UsingRole">
                                                    <th mat-header-cell *matHeaderCellDef>No. Of Restaurant Using Role
                                                    </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.restaurant_UsingRole}} </td>
                                                </ng-container>


                                                <tr mat-header-row *matHeaderRowDef="displayedMerchantRolesColumns">
                                                </tr>
                                                <tr mat-row
                                                    *matRowDef="let row; columns: displayedMerchantRolesColumns;"></tr>
                                            </table>
                                            <mat-paginator #usersMechantpaginator [pageSizeOptions]="[5, 10, 25, 100]">
                                            </mat-paginator>
                                            <!-- Table End of Roles -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Users">
                            <div class="row">

                                <div class="col-lg-{{size}}">

                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <mat-form-field>
                                                        <input matInput (keyup)="rolesapplyFilter($event.target.value)"
                                                            placeholder="Search ">
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-lg-4">
                                                    <div class="float-right">

                                                        <button class="btn btn-primary ml-2"
                                                            (click)="CreatePOsUser()"><i class="fa fa-plus mr-2"
                                                                aria-hidden="true"></i>Create User</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Table For roles -->
                                            <table mat-table [dataSource]="dataSourceMerchantUsers"
                                                class="mat-elevation-z8">
                                                <!-- column for Role ID -->
                                                <ng-container matColumnDef="restaurant_name">
                                                    <th mat-header-cell *matHeaderCellDef>Restaurant Name</th>
                                                    <td mat-cell *matCellDef="let element"><a
                                                            (click)="ViewUser()">{{element.restaurant_name}}</a></td>
                                                </ng-container>

                                                <!-- column for Notice Subject -->
                                                <ng-container matColumnDef="restaurant_role">
                                                    <th mat-header-cell *matHeaderCellDef>Restaurant Roles</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.restaurant_role}}
                                                    </td>
                                                </ng-container>





                                                <!-- column for Priority -->
                                                <ng-container matColumnDef="restaurant_userLimit">
                                                    <th mat-header-cell *matHeaderCellDef>Restaurant's User Limit</th>
                                                    <td mat-cell *matCellDef="let element">
                                                        {{element.restaurant_userLimit}} </td>
                                                </ng-container>

                                                <!-- column for Priority -->
                                                <ng-container matColumnDef="restaurant_users">
                                                    <th mat-header-cell *matHeaderCellDef>Restaurant's User</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.restaurant_users}}
                                                    </td>
                                                </ng-container>

                                                <!-- column for outlet id -->
                                                <ng-container matColumnDef="outlet_id">
                                                    <th mat-header-cell *matHeaderCellDef>Outlet ID</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.outlet_id}} </td>
                                                </ng-container>

                                                <!-- column for Priority -->
                                                <ng-container matColumnDef="activities">
                                                    <th mat-header-cell *matHeaderCellDef>Activities</th>
                                                    <td mat-cell *matCellDef="let element"> {{element.activities}} </td>
                                                </ng-container>



                                                <tr mat-header-row *matHeaderRowDef="displayedMerchantUsersColumns">
                                                </tr>
                                                <tr mat-row
                                                    *matRowDef="let row; columns: displayedMerchantUsersColumns;"></tr>
                                            </table>
                                            <mat-paginator #usersMechantpaginator [pageSizeOptions]="[5, 10, 25, 100]">
                                            </mat-paginator>
                                            <!-- Table End of Roles -->

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
        <mat-tab label="Create Access Points">           

            <div class="row mt-4">
                <div class="col-lg-2">

                </div>
                <div class="col-lg-8">
                    <h5 class="mt-5">CREATE USER</h5>
                    <hr>
                    <form [formGroup]="newUserForm">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                              <label for="inputEmail4">First Name</label>
                              <input type="text" class="form-control" formControlName="firstName" placeholder="firstname*">
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputPassword4">Last Name</label>
                              <input type="text" class="form-control"formControlName="lastName" placeholder="lastname*">
                            </div>
                          </div>
                      <div class="form-row">
                        <div class="form-group col-md-6">
                          <label for="inputEmail4">Email</label>
                          <input type="email" class="form-control"formControlName="email" placeholder="Email">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Mobile</label>
                            <input type="phone" class="form-control" formControlName="mobileno" maxlength="10" minlength="10"placeholder="mobile no.*">
                          </div>
                      </div>
                      <div class="form-row">  
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Username</label>
                            <input type="text" class="form-control"formControlName="userName" placeholder="username">
                          </div>                      
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Password</label>
                            <input type="password" class="form-control" formControlName="password" placeholder="Password">
                          </div>
                        <div class="form-group col-md-6">
                          <label for="inputPassword4">Role</label>
                          <!-- <input type="password"  id="inputPassword4" placeholder="Password"> -->
                          <label class="form-control"><b>User</b>(defalut)</label>
                        </div>
                      </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary float-right" [disabled]="!newUserForm.valid" (click)="signup()">Create</button>
                        </div>
                    </div>
                      
                    </form>
                </div>
                <div class="col-lg-2">
                    
                </div>
            </div>

            <div class="table-responsive mt-4">
                <table datatable class="table table-striped table-bordered nowrap table-hover">
                  <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Mobile</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let user of AllLogins; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.password}}</td>
                    <td>{{user.mobileno}}</td>                   
                  </tr>
                   </tbody>
                  <tfoot>
                  <tr>
                    <th>Sr No.</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Email</th>                   
                    <th>Username</th>
                    <th>Password</th>
                    <th>Mobile</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
           
        </mat-tab>

            </mat-tab-group>




    <ngx-spinner bdColor="rgba(51,51,51,0.8)">
        <!-- <img src="/assets/images/bizpenguin.png" class="text-center"alt=""> -->
        <h2 class="text-center" style="color:white">Bizly</h2>
        <p style="font-size: 20px; color: white">Uploading, Please wait...</p>
    </ngx-spinner>