<b>Create new discussion</b>
 <div class="container">
    <div class="row">
        <div class="col-lg-12 MainGrid">
            <form [formGroup]="newDiscussionForm">
                <mat-form-field appearance="outline" class="pl-4">
                    <mat-label>Add title</mat-label>
                    
                    <input matInput placeholder="" [class.is-invalid]="newDiscussionForm.get('title').invalid &&
                    newDiscussionForm.get('title').touched" formControlName="title" >
                    <mat-error [class.d-none]="newDiscussionForm.get('title').valid ||
                    newDiscussionForm.get('title').untouched" class="text-danger">Title is Invalid</mat-error>
   
                </mat-form-field>
                <mat-form-field appearance="outline" class="pl-4">
                    <mat-label>Add Discription</mat-label>
                    <input matInput placeholder="" [class.is-invalid]="newDiscussionForm.get('discription').invalid &&
                    newDiscussionForm.get('discription').touched" formControlName="discription" >
                    <mat-error [class.d-none]="newDiscussionForm.get('discription').valid ||
                    newDiscussionForm.get('discription').untouched" class="text-danger">Discription is Invalid</mat-error>

                </mat-form-field>
                <mat-form-field appearance="outline" class="pl-4">
                    <mat-label>Add members</mat-label>
                    <mat-select [class.is-invalid]="newDiscussionForm.get('members').invalid &&
                    newDiscussionForm.get('members').touched" formControlName="members">
                            <mat-option *ngFor="let members of members_list" [value]="members">
                                {{members}}
                            </mat-option>
                        </mat-select>
                        <mat-error [class.d-none]="newDiscussionForm.get('members').valid ||
                        newDiscussionForm.get('members').untouched" class="text-danger">Added Members is
                       Invalid</mat-error>
                 
                    

                </mat-form-field>

            </form>
            </div>
            </div>
            </div>


<button type="button" class="btn btn-primary"(click)="Save_discussion()">Create</button>&nbsp;
<button type="button" class="btn btn-primary" mat-dialog-close>Cancel</button>
