
     
    <button type="button" class="btn btn-danger float-right"
    style="margin-top: -46px; padding-left: 36px; padding-right: 36px" (click)="BackTo_Page()">Back</button> 
<mat-card>

    <form [formGroup]="viewUserForm">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-lg-3">
                        <input type="text" formControlName="users">
                    </div>
                    <div class="col-lg-3">
                        <input type="text" formControlName="roles">
                    </div>


                    <div class="col-md-6">
                        <div style="float:right">
                            <button type="button" mt-2 class="btn btn-primary" (click)="Navigate_to_user()">Add User</button>&nbsp;
                            <button type="button" mt-2 class="btn btn-primary" (click)="Navigate_to_role()">Add Role</button>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <mat-tab-group>
                <mat-tab label="All">
                    <div class="col-lg-12">
                        <mat-form-field>
                            <input matInput placeholder="Search ">
                        </mat-form-field>
                    </div>
                    <div class="table-border-style">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>User Name</th>
                                        <th>Role</th>
                                        <th>Access Cotrol Point</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Jack</td>
                                        <td>Manager</td>
                                        <td>18</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Captain">
                    <div class="col-lg-12">
                        <mat-form-field>
                            <input matInput placeholder="Search ">
                        </mat-form-field>
                    </div>
                    <div class="table-border-style">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>User Name</th>
                                        <th>Access Control Point</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Jack</td>
                                        <td>20</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Manager">
                    <div class="col-lg-12">
                        <mat-form-field>
                            <input matInput placeholder="Search ">
                        </mat-form-field>
                    </div>
                    <div class="table-border-style">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>User Name</th>
                                        <th>Access Control Point</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Jack</td>
                                        <td>20</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Waiter">
                    <div class="col-lg-12">
                        <mat-form-field>
                            <input matInput placeholder="Search ">
                        </mat-form-field>
                    </div>
                    <div class="table-border-style">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Sr No</th>
                                        <th>User Name</th>
                                        <th>Access Control Point</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Jack</td>
                                        <td>20</td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>


        <div>
            <div class="row">
                <label><b>Increase no. of users</b></label>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Add no. of users</label>
                    <input type="text" formControlName="add_users">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label><b>Payment Status</b></label>
                    </div>
                    </div>
                 <div class="row">   
                    <mat-radio-group formControlName="payment_status">
                        <mat-radio-button (click)="showChequeNumber()" checked>Payment Received</mat-radio-button>
                        <mat-radio-button>To be Paid</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div  *ngIf="showPaymentReceived">
                <div class="col-lg-6">
                    <label>Cheque Number</label>
                    <input type="text" formControlName="cheque_number">
                </div>
            </div>
            

        </div>

    </form>
    <button type="button" mt-2 class="btn btn-primary">Send Payment Link</button>&nbsp;
</mat-card>