
  <h5 mat-dialog-title><div class="row">
    <div class="col-md-10">
        <h5>View Product</h5>
    </div>

    <div class="col-md-2">
        <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>

    </div>
</div></h5>

    <mat-dialog-content>
    <div class="table-border-style">
        <div class="table-responsive" style="overflow-x: hidden;">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>Product Code</td>
                        <td>{{data.productCode}}</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td>{{data.productName}}</td>
                    </tr>
                    <!-- <tr>
                        <td>Root Category</td>
                        <td>{{data.rootCategory}}</td>
                    </tr> -->

                    <tr>
                        <td>Varient</td>
                        <td>{{data.rootCategory['rootCategory'] }} <span *ngIf='data.varient!=undefined'>> {{data.varient['varient']}} <span *ngIf='data.subVarient!=undefined'>>{{data.subVarient['subVarient'] }} <span *ngIf='data.type!=undefined'>>{{data.type['type']}} </span></span></span> </td>
                    </tr>

                    <!-- <tr>
                        <td>Sub Varient</td>
                        <td>{{data.subVarient}}</td>
                    </tr> -->

                    <tr>
                        <td>Attribute Set</td>
                        <td>{{data.attributeSet}}</td>
                    </tr>
                  
                    <tr>
                        <td>Brand</td>
                        <td>{{data.associatedBrand.brandName}}</td>
                    </tr>

                    <tr>
                        <td>Unit</td>
                        <td>{{data.unit}}</td>
                    </tr>
                    <tr>
                        <td>Image</td>
                        <td>
                            <div class="row">
                                <div class="col-sm-12">
                                    <img [src]="data.productImage" style="height: 50px; width: 50px;">
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Added By</td>
                        <td>{{data.addedBy.userName}}</td>
                    </tr>
                    <tr>
                        <td>Date and Time</td>
                        <td>{{data.updatedAt | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>
    
</mat-dialog-content>

