
<mat-card>
    <mat-card-title>Products:</mat-card-title>
    <div class="table-responsive">
        <table datatable class="table table-striped table-bordered nowrap table-hover">
            <thead>
                <tr>
                    <th>Index</th>
                    <th>Product</th>
                    <th>Country</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of productlist; let i =index">
                    <td>{{i+1}}</td>
            <td> {{product.productName}} </td>
                <td>{{product['completeData'][0]['country']['item_text']}}</td>
                <td><button routerLink='/marchant-Buy-product/buy-product' (click)="getproduct(product['_id'])">Buy</button></td>
                      </tr>

        </tbody>
          </table>
    </div>
        </mat-card>
