<div class="container">

    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
        routerLink="/employee/pos-merchant">Back</button>


    <mat-card>

        <div class="row">
            <div class="col">
                <h6>
                    <mat-chip-list>
                        <mat-chip>
                            {{rows[0].role}}
                        </mat-chip>
                    </mat-chip-list>
                </h6>
            </div>

            <div class="col float-right" style="float: right;">
                <button class="btn btn-danger">Edit</button>
            </div>
        </div>


        <!-- Access control Points -->
        <div class="form-group row ">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Access Control Points</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" [value]="rows[0].role_access_point"
                    placeholder="Access Control Points">
            </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Description</label>
            <div class="col-sm-5">
                <textarea name="" id="" cols="50" rows="5">
               General Manager of the Team
           </textarea>
            </div>
        </div>

        <!-- Created By  -->
        <div class="form-group row ">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Created By on</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" value="Created by Sanket on 1/12/2020"
                    placeholder="Created by on">
            </div>
        </div>

        <!-- No. of Restaurnt and List -->
        <div class="form-group row ">
            <label for="inputEmail3" class="col-sm-3 col-form-label">No. of Restaurnt</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" [value]="selectedColumns.length" placeholder="No.of Restaurnt">
            </div>
            <div class="col-sm-5">
                 <!-- <input type="text" class="form-control" id="inputPassword3" placeholder="Set Access Control"> -->
                 <ng-multiselect-dropdown
                 class="form-control"
                 [placeholder]="'Restaurnt List'"
                 [data]="dropdownList"
                [(ngModel)]="selectedColumns"
                 [settings]="dropdownSettings"
                 (onSelect)="onItemSelect($event)"
                 (onSelectAll)="onSelectAll($event)"
                 (onDeSelect)="onDeSelect($event)"
                 (onDeSelectAll)="onDeSelectAll($event)"
                 #mulSelect
               >
               </ng-multiselect-dropdown>
            </div>
        </div>

        <!-- Status -->
        <div class="form-group row ">
            <label for="inputEmail3" class="col-sm-3 col-form-label">Status</label>
            <div class="col-sm-5">

                <div *ngIf="isActive"> 
                    Active
                </div>
                  <div *ngIf="!isActive"> 
                    De-Active
                </div>
                 <mat-slide-toggle class="example-margin"  (change)="onToggle()" [checked]="isActive" >

                </mat-slide-toggle>
            </div>
        </div>


        <hr>

        <h6>Edit History</h6>

    </mat-card>





</div>