<div class="container  mat-dialog-container">
    <!-- <ngx-spinner></ngx-spinner> -->
    <div class="row">
      <div class="col-lg-12">
  
        
      </div>
    </div>
    <h5 style="margin-top: -16px;">Charges/Add-product</h5>
    <mat-card class="scroll">
      <div class="container">
  
        <div>
          <form #myForm="ngForm">

            <div class="row ml-2 mt-2">
              <div class="col-lg-4">
                <mat-form-field>
                  <input matInput placeholder="Product Name" (focusout)="checkCountry($event)" class="no-change" name="product.productName" pattern="[a-zA-Z0-9- ]+"
                    [(ngModel)]="product.productName" required>
  
                  <!-- <mat-error [class.is-invalid]="addProduct.get('product_name').valid &&
                              addProduct.get('product_name').untouched"> Product name is invalid</mat-error> -->
                </mat-form-field>
  
              </div>
              <div class="col-lg-8">
                <mat-form-field style="width: 100%;">
                  <textarea matInput placeholder="Description"  class="no-change" name="product.description"
                    [(ngModel)]="product.description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="2"
                    cdkAutosizeMaxRows="10" required></textarea>
  
                </mat-form-field>
  
              </div>
  
            </div>
            <div class="row mt-2">
  
  
              <div class="col-lg-3">
                <label>Select Images:</label>
                <div>
                  <div class="row ml-2 mt-1">
                    <div *ngFor="let m of multiResponse">
                      <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                      <img src="{{m}}" alt="" height="50px" widht="50px">
                    </div>
                  </div>
                  <input type="file" class="hidden" name="image" id="image" ng2FileSelect [uploader]="uploader" accept="*/image" (change)="uploader.uploadAll()"
                    multiple>
                    <button><label style="margin-bottom:0 !important" for="image">Choose files</label></button>
  
                </div>
              </div>
              <div class="col-lg-3">
                <label>Select Videos:</label>
                <div>
                  <div class="row ml-2 mt-1">
                    <div *ngFor="let m of multiResponse_video">
                      <i class="fa fa-times" aria-hidden="true" (click)="removeVideo(m)"></i>
                      <video width="50px" height="50px" controls controlsList=”nodownload”>
                        <source src="{{m}}">
                      </video>
                    </div>
                  </div> <input type="file" ng2FileSelect accept="*/video" [uploader]="uploader_video"
                    (change)="uploader_video.uploadAll()" multiple class="hidden" name="video" id="video">
                    <button><label style="margin-bottom:0 !important" for="video">Choose files</label></button>
                </div>
              </div>
              <div class="col-lg-6">
                <ng-multiselect-dropdown [placeholder]="'Available Countries'" [data]="dropdownList"
                  name="avail_countries" [(ngModel)]="avail_countries" [settings]="dropdownSettings"
                  (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" required>
                </ng-multiselect-dropdown>
              </div>
  
  
            </div>
  <div *ngIf="isDataAvailableAddon && isDataAvailableIntegration">
            <div *ngFor="let data of completeData;let i = index">
              <!-- {{data | json}} -->
              <hr>
              <div style="text-align:center" class="row">
  
                <div class="offset-5">Revenue Collection Type In <u>{{data.country['item_text']}}</u></div>
  
              </div>
              <!-- <hr> -->
              <div class="row">
                <div class="col-lg-2">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Collection mode</mat-label>
                    <mat-select name='completeData[i].revenue_Collection_mode{{i}}' [(value)]="completeData[i].colletionMode"
                      (selectionChange)='revenueMode($event,data,i)' required [(ngModel)]="completeData[i].colletionMode">
                      <mat-option *ngFor="let revenue_Collection_mode of revenue_Collection_mode_list"
                        [value]="revenue_Collection_mode">
                        {{revenue_Collection_mode}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-lg-2">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Sold per Outlet</mat-label>
                    <mat-select name="completeData[i].soldPerOutlet{{i}}" [(value)]="completeData[i].soldPerOutlet"
                      [(ngModel)]="completeData[i].soldPerOutlet" (selectionChange)='soldpersoulet($event,data, i)'
                      required>
                      <mat-option *ngFor="let a of sold_outlet" [value]="a">
                        {{a}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <hr>
                <!-- if sold per outlet is no -->
  
                <!-- {{completeData[i].colletionMode | json}} | {{completeData[i].soldPerOutlet | json}} -->
                <!-- {{completeData[i].colletionMode | json}} -->
                <div *ngIf="completeData[i].colletionMode=='Per Month' && completeData[i].soldPerOutlet=='Per Organization'"
                  class="col-md-6">
  
  
                  <mat-form-field style="width: 100%;">
                    <input matInput placeholder="{{completeData[i].country['item_text']}} Price for Per Month a chain"
                      name='completeData[i].reasonForNo{{i}}' [ngModel]="completeData[i].reasonForNo" (ngModelChange)="completeData[i].reasonForNo=currencyInputChanged($event)" required
                      onKeyPress="if(this.value.length==10) return false;" (focusout)="processMyValue(i)"
                      (keypress)="numberOnly($event)">
                  </mat-form-field>
  
  
                </div>
                <div *ngIf="completeData[i].colletionMode=='Per Order' && completeData[i].soldPerOutlet=='Per Organization'"
                  class="col-md-6">
                  <mat-form-field style="width: 100%;">
                    <input matInput placeholder="{{completeData[i].country['item_text']}} Price for Per Order a chain"
                      [(ngModel)]='completeData[i].reasonForNo' name='completeData[i].reasonForNo{{i}}'
                      onKeyPress="if(this.value.length==10) return false;" (focusout)="processMyValue(i)"
                      (keypress)="numberOnly($event)" required>
                  </mat-form-field>
  
                </div>
                <div *ngIf="completeData[i].colletionMode=='Per Year' && completeData[i].soldPerOutlet=='Per Organization'"
                  class="col-md-6">
  
                  <mat-form-field style="width: 100%;">
                    <input matInput placeholder="{{completeData[i].country['item_text']}} Price for Per Year a chain"
                      [(ngModel)]='completeData[i].reasonForNo' onKeyPress="if(this.value.length==10) return false;"
                      (focusout)="processMyValue(i)" (keypress)="numberOnly($event)"
                      name='completeData[i].reasonForNo{{i}}' required>
                  </mat-form-field>
  
                </div>
                <div class="col-md-6"
                  *ngIf="completeData[i].colletionMode=='One Time' && completeData[i].soldPerOutlet=='Per Organization'">
  
                  <mat-form-field style="width: 100%;">
                    <input matInput placeholder="{{completeData[i].country['item_text']}} Price for One Time a chain"
                      [(ngModel)]='completeData[i].reasonForNo' name='completeData[i].reasonForNo{{i}}'
                      onKeyPress="if(this.value.length==10) return false;" (focusout)="processMyValue(i)"
                      (keypress)="numberOnly($event)" required>
                  </mat-form-field>
  
                </div>
  
                <div *ngIf="completeData[i].colletionMode=='Per Month' && completeData[i].soldPerOutlet=='Per Outlet'"
                  class="col-lg-8">
                  <div class="table-responsive">
                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                      <thead>
                        <tr>
                          <th>Index</th>
                          <th>Outlets From</th>
                          <th>Outlets To</th>
                          <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices Per Month Per Outlet</th>
                          <th>Activity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                        <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
  
                          <td>
                            {{rowIndex+1}}
                          </td>
                          <td>
  
                            <input type="number" required style="width: 100%;" min="2"
                              name="completeData{{i}}from{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].tableData[rowIndex].from'
                              [disabled]=completeData[i].tableData[rowIndex].isReadonly disabled="disabled"
                              >
                          </td>
                          <td>
                            <input type="number" required style="width: 100%;" min="2"
                              name="completeData{{i}}to{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].tableData[rowIndex].to'  (keyup)="checkValue($event)"
                              (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'>
                          </td>
                          <td>
                            <input type="text" required style="width: 100%;" min="2"
                              name="completeData{{i}}price{{rowIndex}}" (keypress)="numberOnly($event)"
                              (focusout)="processPrice(i, rowIndex)" onKeyPress="if(this.value.length==10) return false;"
                              [(ngModel)]='completeData[i].tableData[rowIndex].price'>
                          </td>
                          <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                              (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                        </tr>
                        <tr *ngIf="this.completeData[i].outletObj.from<2000">
                          <td></td>
                          <td>
                            <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.from{{i}}"
                              (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;" disabled="disabled"
                              [(ngModel)]='completeData[i].outletObj.from' (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'>
                          </td>
                          <td>
                            <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.to{{i}}" (keyup)="checkValue($event)"
                  
                             (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].outletObj.to'
                              (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                          </td>
                          <td>
  
                            <input type="text" style="width: 100%;" name="completeData[i].outletObj.price{{i}}" (keypress)="numberOnly($event)"
                              (focusout)="processOutletPrice(i); pushProductOutlet(completeData[i],i)"
                              onKeyPress="if(this.value.length==10) return false;"
                              [(ngModel)]='completeData[i].outletObj.price'>
  
                          </td>
                          <td><button (click)='pushProductOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                                aria-hidden="true"></i></button>
                          </td>
                        </tr>
                        
                      </tbody>
  
  
                    </table>
                  </div>
  
  
                  <div class="row mt-2">
                    <div class="col-lg-6">
                      <ng-multiselect-dropdown [placeholder]="'Available Addons'" [data]="availAddons" (onSelect)="onSelect($event)"
                      name="completeData[i].available_addons{{i}}" [(ngModel)]="completeData[i].available_addons" [settings]="Settings"
                 >
                </ng-multiselect-dropdown>
                        <button><i class="fa fa-plus" (click)="openDialogAddon()" aria-hidden="true">Add</i></button> 
                    </div> 
                    
                    <div class="col-lg-6"> 
                      <ng-multiselect-dropdown [placeholder]="'Available Integration'" [data]="availIntegration"
                      name="completeData[i].available_Integration{{i}}" [(ngModel)]="completeData[i].available_Integration" [settings]="Settings"
                 >
                </ng-multiselect-dropdown>
                     
                         <button><i class="fa fa-plus" (click)="openDialogIntegration()" aria-hidden="true">Add</i></button> 
                    </div>
                    
                  </div>
  
                </div>
                <div *ngIf="completeData[i].colletionMode=='Per Year' && completeData[i].soldPerOutlet=='Per Outlet'"
                  class="col-md-8">
                  <div class="table-responsive">
                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                      <thead>
  
                        <tr>
                          <th>Index</th>
                          <th>Outlets From</th>
                          <th>Outlets To</th>
                          <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices Per Year Per Outlet</th>
                          <th>Activity</th>
                        </tr>
                      </thead>
                      <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                      <tbody>
                        <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                          <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
  
  
                          <td>{{rowIndex+1}}</td>
                          <td>
                            <input type="number" required style="width: 100%;" min="2"
                              name="completeData{{i}}from{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].tableData[rowIndex].from'
                              [disabled]=completeData[i].tableData[rowIndex].isReadonly disabled="disabled"
                              >
                          </td>
                          <td>
                            <input type="number" required style="width: 100%;" min="2"
                            name="completeData{{i}}to{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].to'  (keyup)="checkValue($event)"
                            (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'>
                          </td>
                          <td>
                            <input type="text" required style="width: 100%;" required
                              name="completeData{{i}}price{{rowIndex}}"
                              onKeyPress="if(this.value.length==10) return false;"
                              [(ngModel)]="completeData[i].tableData[rowIndex].price" (keypress)="numberOnly($event)"
                              (focusout)="processPrice(i, rowIndex)">
                          </td>
                          <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                              (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                        </tr>
  
                        <tr *ngIf="this.completeData[i].outletObj.from<2000" style="border: 0px;">
                          <td></td>
                          <td>
                            <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.from{{i}}"
                              (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;" disabled="disabled"
                              [(ngModel)]='completeData[i].outletObj.from' (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'>
                          </td>
                          <td>
                            <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.to{{i}}" (keyup)="checkValue($event)"
                              (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].outletObj.to'
                              (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                          </td>
                          <td>
  
                            <input type="text" style="width: 100%;" placeholder="" name="completeData[i].outletObj.price{{i}}"
                              (focusout)='pushProductOutlet(completeData[i],i); processOutletPrice(i)'
                              onKeyPress="if(this.value.length==10) return false;"
                              [(ngModel)]='completeData[i].outletObj.price' (keypress)="numberOnly($event)">
  
                          </td>
                          <td><button (click)='pushProductOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                                aria-hidden="true"></i></button></td>
                        </tr>
                      </tbody>
  
  
                    </table>
                  </div>
                  <div class="row mt-2">
                    <div class="col-lg-6">
                      <ng-multiselect-dropdown [placeholder]="'Available Addons'" [data]="availAddons" (onSelect)="onSelect($event)"
                      name="completeData[i].available_addons{{i}}" [(ngModel)]="completeData[i].available_addons" [settings]="Settings"
                 >
                </ng-multiselect-dropdown>
                        <button><i class="fa fa-plus" (click)="openDialogAddon()" aria-hidden="true">Add</i></button> 
                    </div>
                    
                    <div class="col-lg-6">
                      <ng-multiselect-dropdown [placeholder]="'Available Integration'" [data]="availIntegration"
                      name="completeData[i].available_Integration{{i}}" [(ngModel)]="completeData[i].available_Integration" [settings]="Settings"
                 >
                </ng-multiselect-dropdown>
                         <button><i class="fa fa-plus" (click)="openDialogIntegration()" aria-hidden="true">Add</i></button> 
                    </div>
                    
                  </div>
                </div>
                <div *ngIf="completeData[i].colletionMode=='Per Order' && completeData[i].soldPerOutlet=='Per Outlet'"
                  class="col-md-8">
                  <div class="table-responsive">
                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                      <thead>
  
                        <tr>
                          <th>Index</th>
                          <th>Outlets From</th>
                          <th>Outlets To</th>
                          <th>Prices/Outlet/Order in <span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" > ({{g.symbol}}) </span></span></span> or (%)</th>
                          <th>Activity</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                        <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                          <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
                          <td>{{rowIndex+1}}</td>
                          <td> <input type="number" required style="width: 100%;" min="2"
                              name="completeData{{i}}from{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].tableData[rowIndex].from'
                              [disabled]=completeData[i].tableData[rowIndex].isReadonly disabled="disabled"
                              >
                          </td>
                          <td>
                            <input type="number" required style="width: 100%;" min="2"
                            name="completeData{{i}}to{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].to'  (keyup)="checkValue($event)"
                            (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'>
                          </td>
                          <td>
                            <input type="text" required style="width: 100%;" name="completeData{{i}}price{{rowIndex}}"
                              (keypress)="numberOnly($event)" (focusout)="processPrice(i, rowIndex)"
                              onKeyPress="if(this.value.length==10) return false;"
                              [(ngModel)]='completeData[i].tableData[rowIndex].price'>
                          </td>
                          <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                              (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                        </tr>
  
                        <tr *ngIf="this.completeData[i].outletObj.from<2000" style="border: 0px;">
                          <td></td>
                          <td>
                            <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.from{{i}}"
                              (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;" disabled="disabled"
                              [(ngModel)]='completeData[i].outletObj.from' (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'>
                          </td>
                          <td>
                            <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.to{{i}}" (keyup)="checkValue($event)"
                              (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].outletObj.to'
                              (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                          </td>
                          <td>
                            <input type="text" style="width: 100%;" placeholder=""
                              (focusout)='processOutletPrice(i); pushProductOutlet(completeData[i],i)' name="completeData[i].outletObj.price{{i}}"
                              onKeyPress="if(this.value.length==10) return false;"
                              [(ngModel)]='completeData[i].outletObj.price' (keypress)="numberOnly($event)">
  
                          </td>
                          <td><button (click)='pushProductOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                                aria-hidden="true"></i></button></td>
                        </tr>
                      </tbody>
  
  
                    </table>
                  </div>
                  <div class="row mt-2">
                    <div class="col-lg-6">
                      <ng-multiselect-dropdown [placeholder]="'Available Addons'" [data]="availAddons" (onSelect)="onSelect($event)"
                      name="completeData[i].available_addons{{i}}" [(ngModel)]="completeData[i].available_addons" [settings]="Settings"
                 >
                </ng-multiselect-dropdown>
                        <button><i class="fa fa-plus" (click)="openDialogAddon()" aria-hidden="true">Add</i></button> 
                    </div>
                    
                    <div class="col-lg-6">
                      <ng-multiselect-dropdown [placeholder]="'Available Integration'" [data]="availIntegration"
                      name="completeData[i].available_Integration{{i}}" [(ngModel)]="completeData[i].available_Integration" [settings]="Settings"
                 >
                </ng-multiselect-dropdown>
                         <button><i class="fa fa-plus" (click)="openDialogIntegration()" aria-hidden="true">Add</i></button> 
                    </div>
                    
                  </div>
                </div>
                <div *ngIf="completeData[i].colletionMode=='One Time' && completeData[i].soldPerOutlet=='Per Outlet'"
                  class="col-md-8">
                  <div class="table-responsive">
                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                      <thead>
                        <tr>
                          <th>Index</th>
                          <th>Outlets From</th>
                          <th>Outlets To</th>
                          <th>Prices/Outlet<br>in <span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> ({{g.symbol}}) </span></span></span></th>
                          <th>Activity</th>
                        </tr>
                      </thead>
                      <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                      <tbody>
                        <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                          <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
                          <td>{{rowIndex+1}}</td>
                          <td> <input type="number" required style="width: 100%;" min="2"
                              name="completeData{{i}}from{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].tableData[rowIndex].from'
                              [disabled]=completeData[i].tableData[rowIndex].isReadonly disabled="disabled"
                              >
                          </td>
                          <td><input type="number" required style="width: 100%;" min="2"
                            name="completeData{{i}}to{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].to'  (keyup)="checkValue($event)"
                            (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'>
                          </td>
                          <td>
                            <input type="text" required style="width: 100%;" name="completeData{{i}}price{{rowIndex}}"
                              onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)"
                              (focusout)="processPrice(i, rowIndex)"
                              [(ngModel)]='completeData[i].tableData[rowIndex].price'>
                          </td>
                          <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                              (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                        </tr>
  
                        <tr style="border: 0px;" *ngIf="this.completeData[i].outletObj.from<2000">
                          <td></td>
                                       <td>
                            <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.from{{i}}"
                              (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;" disabled="disabled"
                              [(ngModel)]='completeData[i].outletObj.from' (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'>
                          </td>
                          <td>
                            <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.to{{i}}" (keyup)="checkValue($event)"
                              (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                              [(ngModel)]='completeData[i].outletObj.to'
                              (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                          </td>
                          <td>
  
                            <input matItype="text" (keypress)="numberOnly($event)"
                              (focusout)="processOutletPrice(i); pushProductOutlet(completeData[i],i)"
                              style="width: 100%;" placeholder="" name="completeData[i].outletObj.price{{i}}"
                              onKeyPress="if(this.value.length==10) return false;"
                              [(ngModel)]='completeData[i].outletObj.price'>
  
                          </td>
                          <td><button (click)='pushProductOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                                aria-hidden="true"></i></button></td>
                        </tr>
                      </tbody>
  
                    </table>
                  </div>
                  <div class="row mt-2">
                    <div class="col-lg-6">
                      <ng-multiselect-dropdown [placeholder]="'Available Addons'" [data]="availAddons" (onSelect)="onSelect($event)"
                      name="completeData[i].available_addons{{i}}" [(ngModel)]="completeData[i].available_addons" [settings]="Settings"
                 >
                </ng-multiselect-dropdown>
                    
                        <button><i class="fa fa-plus" (click)="openDialogAddon()" aria-hidden="true">Add</i></button> 
                    </div>
                    
                    <div class="col-lg-6">
                      <ng-multiselect-dropdown [placeholder]="'Available Integration'" [data]="availIntegration"
                      name="completeData[i].available_Integration{{i}}" [(ngModel)]="completeData[i].available_Integration" [settings]="Settings"
                 >
                </ng-multiselect-dropdown>
                         <button><i class="fa fa-plus" (click)="openDialogIntegration()" aria-hidden="true">Add</i></button> 
                    </div>
                    
                  </div>
                </div>
  
                <!-- if sold per outlet is no -->
                <!-- if sold per outlet is Yes -->
  
                <!-- if sold per outlet is Yes -->
  
              </div>
            </div>
            </div>
          </form>
  
  
  
          <div class="row ml-2 mt-4">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-7" style="text-align: center;">
              <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
              <button class="btn btn-primary" (click)="add_Product(); " [disabled]="clicked" [disabled]="!myForm.valid">
                Add Product</button>
        <button class="btn btn-danger ml-3" (click)="onNoClick()"> Back</button>

            </div>
            <div class="col-lg-3">
  
            </div>
          </div>
        </div>
      </div>
  
    </mat-card>
  </div>