<div class="container">
    <div class="row">
      <div class="col-lg-12">
        <button class="btn btn-danger float-right" class="btn btn-danger float-right"
          style="margin-top: -46px; padding-left: 36px; padding-right: 36px" routerLink="/charges"> Back</button>
      </div>
    </div>
    <h5 style="margin-top: -16px;">Charges/view-integration</h5>
    <mat-card>
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <i class="fa fa-pencil-square float-right" aria-hidden="true" title="Edit"
              (click)="viewIntegration(integration)"></i>
          </div>
        </div>
          <div>
             
                  <div class="row ml-2 mt-2">
                      <div class="col-lg-4">
                          <label>Integration Name :<span class="ml-1 no-change">{{integration.integrationName}}</span></label>
                          
                      </div>
                      <div class="col-lg-8">
                          <label>Description:<span class="no-change">{{integration.description}}</span></label>
                      </div>

                  </div>
                  <div class="row ml-2 mt-2">
                    <!-- <div class="col-lg-4">
                        <label>Product Associated :<span class="ml-1">{{integration.productAssociated}}</span></label>
                        
                    </div> -->
                   
                   <div class="col-lg-4" *ngIf="integration.addOnsAssociated!=null">
                         <label>Addons Associated:<span *ngIf="integration.addOnsAssociated['status']==true">{{integration.addOnsAssociated['addon']}}</span></label>
                    </div>
                    <div class="col-lg-4">
                      <label>Type Of Integration:<span>{{integration.TypeOfIntegration}}</span></label>
                 </div>

                </div>
                  <div class="row mt-2">


                      <div class="col-lg-3">
                          <!-- <label>Images:</label> -->
                          <div *ngFor="let i of integration.images">
                              <img src="{{i}}" width="120" height="80">
                          </div>
                      </div>
                      <div class="col-lg-3">
                          <!-- <label>Images:</label> -->
                          <div *ngFor="let i of integration.videos">
                              <video width="120" height="80" controls controlsList=”nodownload”>
                                  <source src="{{i}}">
                              </video>
                          </div>
                      </div>
                  
                  </div>
                  <div *ngFor="let p of integration['completeData']">

                  </div>
                  <div *ngFor="let data of integration['completeData']">

                      <hr>
                      <div style="text-align:center" class="row">

                          <div class="offset-5 mb-2"><b>Revenue Collection Type In </b><u>{{data.country['item_text']}}</u></div>


                      </div>
                      <!-- <hr> -->
                      <div class="row">
                          <div class="col-lg-4" *ngIf='data.freePriced=="Yes"'>
                              <div class="row">
                                  <div class="col-lg-6">

                                      <mat-label>Collection mode:
                                      </mat-label>

                                  </div>
                                  <div class="col-lg-6">
                                      <p>{{data.colletionMode}}</p>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-4">
                              <div class="row">
                                  <div class="col-lg-6">
                                      <mat-label>Sold per Outlet:
                                      </mat-label>
                                  </div>
                                  <div class="col-lg-6">
                                      <p>{{data.soldPerOutlet}}</p>
                                  </div>
                              </div>
                          </div>
                         <!-- freePriced -->
                         <div class="col-lg-4">
                          <div class="row">
                              <div class="col-lg-6">
                                  <mat-label>Free Or Priced:
                                  </mat-label>
                              </div>
                              <div class="col-lg-6">
                                  <p>{{data.freePriced}}</p>
                              </div>
                          </div>
                      </div>

                          <hr>

                      </div>
                      <div class="row">
                        <div *ngIf="data.freePriced=='Yes' && data.soldPerOutlet=='Per Organization' && (data.colletionMode=='Per Year'|| data.colletionMode=='Per Month' || data.colletionMode=='Per Order' || data.colletionMode=='One Time') " class="col-md-12">
              
                          <div class="row">
                            <div class="col-sm-12">
                              <mat-card >
                                <div class="table-responsive">
                                  <table datatable class="table table-striped table-bordered nowrap table-hover">
                                    <thead>
                                    <tr>
                                      <th>Index</th>
                                      <th>Packages</th>
                                      <th>Price/Chain/Packages</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor='let row of data.tableData;let rowIndex = index'>
                                        <!-- <td colspan="3">{{data|JSON}}</td> -->
                                        <td>{{rowIndex+1}}</td>
                                          <td>
                                            {{data.tableData[rowIndex].packages}}
                                        </td>
                                        <td>
                                            {{data.tableData[rowIndex].price}}
                                        </td> 
                                      </tr>
                                    
                      
                                    </tbody>
                                      </table>
                <tr *ngIf= 'data.tableData.length==0' class="no-records">Data Not Available</tr>

                                </div>
                                    </mat-card>
                                    </div>
                                    </div>
            
                        
                         
                          </div>
                          <div
            *ngIf="data.freePriced=='Yes' && data.soldPerOutlet=='Per Outlet' && data.colletionMode=='Package' "
            class="col-lg-12">
            <div *ngIf='data.perPackageTable.length'>
              <div
                *ngFor='let outerTable of data.perPackageTable;let outerTableIndex = index;'>
                <div class="row m-3"> 
                  <div class="col-md-2">
                    <label>Package:</label>
                  </div>
                    <div class="col-md-4">                
                      <label> {{data.perPackageTable[outerTableIndex].packageValue}}</label>
                    </div>
                    <div class="offset-5 col-md-1">
  
                     
                    </div>
                    <div class="table-responsive m-3 row">
                  <table datatable class="table table-striped table-bordered nowrap table-hover"
                    *ngFor='let inner of outerTable.table;let innertableindex = index'>
                    <thead>
                      <tr>
                        <th>Index</th>
                        <th>Outlet From</th>
                        <th>Outlet to</th>
                        <th>Prices/Outlet<br>Per Order</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let row of inner.innerTable;let rowIndex = index'>
                        <td>
                          {{rowIndex + 1}}
                        </td>
                        <td>
                         {{data.perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].from}}
                        </td>
                        <td>
                          {{data.perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].to}}
                            
                        </td>
                        <td>{{data.perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].price}}
                        </td>
                      </tr>
                                         </tbody>
                                         <tr *ngIf= 'inner.innerTable.length==0' class="no-records">Data Not Available</tr>
                  </table>
                  
                </div>
                <!-- </div> -->
              </div>
            </div>
            <!--here -->
          </div>
  
            <div *ngIf="data.freePriced=='Yes' && data.soldPerOutlet=='Per Outlet' && data.colletionMode=='One Time' "
              class="col-md-12">
              <div class="row">
                <div class="col-sm-12">
                  <mat-card>
                    <div class="table-responsive">

                      <table datatable class="table table-striped table-bordered nowrap table-hover">
                        <thead>
                          <tr>
                            <th>Index</th>
                            <th>Outlets From</th>
                            <th>Outlets to</th>
                            <th>Price/Outlet<br>(Rupees) or (One time)</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let row of data.tableData;let rowIndex = index'>
                            <!-- <td colspan="3">{{data|JSON}}</td> -->
                            <td>{{rowIndex+1}}</td>
                            <td>
                              {{data.tableData[rowIndex].from}}
                            </td>
                            <td>
                              {{data.tableData[rowIndex].to}}
                            </td>
                            <td>
                              {{data.tableData[rowIndex].price}}
                            </td>
                          </tr>


                        </tbody>
                      </table>
                      <p *ngIf='data.tableData.length==0' class="no-records">Data Not Available</p>

                    </div>
                  </mat-card>

                </div>
              </div>

            </div>
            <div
              *ngIf="data.freePriced=='Yes' && data.soldPerOutlet=='Per Organization' && (data.colletionMode=='Per Year'|| data.colletionMode=='Per Month') "
              class="col-md-12">
              <div class="row">
                <div class="col-lg-12">
                  <label style="width: 100%;">{{data.country['item_text']}} Price/Month or Year for chain :
                    {{data.perOrderPrice}}</label>
                </div>
              </div>

            </div>
            <div
              *ngIf="data.freePriced=='Yes' && data.soldPerOutlet=='Per Organization' && data.colletionMode=='Per Order' "
              class="col-md-12">
              <div class="row">
                <div class="col-lg-6">


                  <mat-label>{{data.country['item_text']}} Price a chain :{{data.perOrderChain}} </mat-label>

                </div>

                <div class="col-lg-6" *ngIf="data.perOrderChain=='Fixed Amount'">

                  <mat-label>Price : {{data.perOrderPrice}}</mat-label>
                </div>
                <div class="col-lg-6" *ngIf="data.perOrderChain=='Percentage'">

                  <mat-label>Percentage : {{data.perOrderPercentage}}</mat-label>
                </div>
              </div>

            </div>

            <div
              *ngIf="data.tempfreePriced=='Yes' && data.tempsoldPerOutlet=='Per Outlet' && data.tempcolletionMode=='Per Order' "
              class="col-lg-12">


              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-6">
                    <mat-label>Per order commission type :</mat-label>
                  </div>
                  <div class="col-lg-3">
                    <mat-label>{{data.perOrderCommissionType}}:
                    </mat-label>

                  </div>

                  <div class="col-lg-3" *ngIf="data.perOrderCommissionType=='Fixed Amount'">
                    {{data.perOrderPrice}}
                  </div>

                </div>
              </div>

              <div class="row" *ngFor='let perorderdata of data.perOrderTable;let pertablendex = index'>

                <div class="col-md-3">
                  <label>Outlet from:</label>
                </div>
                <div class="col-md-3">
                  {{data.perOrderTable[pertablendex].outletFrom}}
                </div>
                <div class=" col-md-3">
                  <label>Outlet to:</label>
                </div>
                <div class="col-md-3">
                  {{data.perOrderTable[pertablendex].outletTo}}
                </div>

                <div class="row" *ngIf="data.perOrderTable.length>0">

                  <div class="col-lg-12">
                    <div class="table-responsive m-3">

                      <table datatable class="table table-striped table-bordered nowrap table-hover"
                        *ngIf="data.perOrderCommissionType=='Fixed Amount'">
                        <thead>
                          <tr>
                            <th>Index</th>
                            <th>Order Range From</th>
                            <th>Order Range to</th>
                            <th>Prices Per Order<br> Per Outlet</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let innerData of data.perOrderTable[pertablendex].perOrders;let rowIndex = index'>

                            <td>{{rowIndex+1}}</td>
                            <td>
                              {{data.perOrderTable[pertablendex].perOrders[rowIndex].rangeFrom}}
                            </td>
                            <td>
                              {{data.perOrderTable[pertablendex].perOrders[rowIndex].rangeTo}}
                            </td>
                            <td>
                              {{ data.perOrderTable[pertablendex].perOrders[rowIndex].pricePerOutlet}}
                            </td>

                          </tr>

                        </tbody>
                      </table>
                      <table datatable class="table table-striped table-bordered nowrap table-hover"
                        *ngIf="data.perOrderCommissionType=='Percentage'">
                        <thead>
                          <tr>
                            <th>Index</th>
                            <th>Order Range From</th>
                            <th>Order Range to</th>
                            <th>Prices Per Order<br> Per Outlet</th>

                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let innerData of data.perOrderTable[pertablendex].perOrders;let rowIndex = index'>

                            <td>{{rowIndex+1}}</td>
                            <td>
                              {{data.perOrderTable[pertablendex].perOrders[rowIndex].rangeFrom}}
                            </td>
                            <td>
                              {{data.perOrderTable[pertablendex].perOrders[rowIndex].rangeTo}}
                            </td>
                            <td>
                              {{ data.perOrderTable[pertablendex].perOrders[rowIndex].percentagePerOutlet}}
                            </td>

                          </tr>

                        </tbody>
                      </table>
                      <p *ngIf='data.perOrderTable[pertablendex].perOrders.length==0' class="no-records">Data Not
                        Available</p>

                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div
              *ngIf="data.freePriced=='Yes' && data.soldPerOutlet=='Per Organization' && data.colletionMode=='One Time' "
              class="col-md-6">
              <div class="row">
                <div class="col-lg-12">
                  <label style="width: 100%;">{{data.country['item_text']}} Price (One Time)
                    Chain:{{data.perOrderChain}}</label>
                </div>
              </div>

            </div>


          </div>

                          <div *ngIf="data.freePriced=='Yes' && data.soldPerOutlet=='Per Outlet' && (data.colletionMode=='Per Year'|| data.colletionMode=='Per Month' || data.colletionMode=='Per Order' || data.colletionMode=='One Time') " class="col-md-12">
                           
                <div class="row">
                  <div class="col-sm-12">
                    <mat-card >
                      <div class="table-responsive">
                        <table datatable class="table table-striped table-bordered nowrap table-hover">
                          <thead>
                          <tr>
                            <th>Index</th>
                            <th>Packages</th>
                            <th>Outlets From</th>
                            <th>Outlets To</th>
                            <th>Prices {{data.colletionMode}}<br>Per Outlet</th>
                          </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor='let row of data.tableData;let rowIndex = index'>
                              <!-- <td colspan="3">{{data|JSON}}</td> -->
                              <td>{{rowIndex+1}}</td>
                               
                              <td>
                                {{data.tableData[rowIndex].packages}}
                            </td>
                            <td>
                              {{data.tableData[rowIndex].from}}
                          </td>
                          <td>
                            {{data.tableData[rowIndex].to}}
                        </td>
                              <td>
                                  {{data.tableData[rowIndex].price}}
                              </td> 
                            </tr>
                           
            
                          </tbody>
                            </table>
                <tr *ngIf= 'data.tableData.length==0' class="no-records">Data Not Available</tr>

                      </div>
                          </mat-card>
                          </div>
                          </div>
                            </div>
                          </div>
                         

                  </div>

        </div>




          </div>
 

  </mat-card>
    </div>
    