<h1 mat-dialog-title>Send Payment Link</h1>
<div mat-dialog-content>
    <form [formGroup]="sendPaymentLinkForm">
        <div class="row">
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Representative Name" formControlName="representativeName">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Representative Number" formControlName="representativeNumber">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Representative Email" formControlName="representativeEmail">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Restaurant Name" formControlName="restaurantName">
                </mat-form-field>
            </div>
            <div class="col-lg-8">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Address" formControlName="address">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="No. of Outlets" formControlName="npOfOutlets">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Country" formControlName="country">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="City" formControlName="city">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Amount to be Paid" formControlName="amountToBePaid">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="State" formControlName="state">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field style="width: 80%;">
                    <mat-label>Discount Type</mat-label>
                    <mat-select formControlName="discountType">
                        <mat-option *ngFor="let type of discountType" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Total Amount for Payment" formControlName="totalAmountForPayment">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
               
                <ng-select [items]="paymentLinks" bindLabel="name" [multiple]="true"
                    placeholder="Send Payment Link" formControlName="sendPaymentLink">
                </ng-select>
            </div>
        
        </div>




    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button> &nbsp;
    <button mat-button [mat-dialog-close] (click)="sendPaymentLink()" cdkFocusInitial>Send</button>
</div>