<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>View Dish</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
    </div>
      <div class="table-border-style">
          <div class="table-responsive" style="overflow-x: hidden;">
              <table class="table table-bordered">
                  <!-- <thead>
                      <tr>
                          <th>#</th>
                          <th>First Name</th>
                      </tr>
                  </thead> -->
                  <tbody>
                      <tr>
                          <td>Dish Code</td>
                          <td>{{data.dishCode}}</td>
                      </tr>
                      <tr>
                          <td>Dish Name</td>
                          <td>{{data.dishName}}</td>
                      </tr>
                      <tr>
                          <td>Cuisines</td>
                          <td>
                            <div *ngFor="let c of data.cuisines">
                                <span class="badge badge-light-success">{{ c.cuisineName }}</span>

                            </div>
                          </td>
                      </tr>
                      <tr>
                          <td>Varients</td>
                          <td>
                              <div *ngFor="let v of data.varients">
                                  <span class="badge badge-light-success">{{ v.varientName }}</span>

                              </div>
                          </td>
                      </tr>
                      <tr>
                        <td>Veg Non-Veg</td>
                        <td>{{data.veg_nonveg}}</td>
                    </tr>
                    <tr>
                        <td>Unit</td>
                        <td>{{data.unit}}</td>
                    </tr>
                      <tr>
                        <td>Images</td>
                        <td>
                            <div class="row">
                                <div *ngFor='let url of data.images'>
                                    <div class="col-sm-12">
                                        <img [src]="url" style="height: 50px; width: 50px;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                      <tr>
                          <td>Added By</td>
                          <td>{{data.addedBy.userName}}</td>
                      </tr>
                      <tr>
                          <td>Date and Time</td>
                          <td>{{data.updatedAt | date:'medium'}}</td>
                      </tr>
                  
                  </tbody>
              </table>
          </div>
      </div>
      <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>

</div>



