<b>Notice/Create Circular Template</b><button type="button" class="btn btn-danger float-right"
    style="margin-top: -46px; padding-left: 36px; padding-right: 36px" (click)="back_to_page()">Back</button>
<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 MainGrid">
                <form [formGroup]="updatecircularTemplateForm">
                    <mat-form-field appearance="outline" class="pl-4">
                        <mat-label>Template ID</mat-label>
                        <input matInput placeholder="" formControlName="template_id" >
                        <!-- <mat-error [class.d-none]="foodOrderForm.get('template_id').valid ||
                        foodOrderForm.get('template_id').untouched" class="text-danger">Template ID is Invalid</mat-error> -->
                        
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pl-4">
                       
                            <mat-label>Template Name</mat-label>
                            <input matInput placeholder="" formControlName="template_name" >
                            <!-- <mat-error [class.d-none]="foodOrderForm.get('template_name').valid ||
                            foodOrderForm.get('template_name').untouched" class="text-danger">Template Name is Invalid</mat-error>
                            -->
                               
                                
                           
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pl-4">
                        <mat-label>Template Description</mat-label>
                        <input matInput placeholder="" formControlName="template_description" >
                        <!-- <mat-error [class.d-none]="foodOrderForm.get('template_description').valid ||
                        foodOrderForm.get('template_description').untouched" class="text-danger">Template Discription is Invalid</mat-error> -->

                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pl-4">
                        <mat-label>Select Notice Type</mat-label>
                        <mat-select formControlName="notice_type">
                            <mat-option *ngFor="let notice_type of notice_type_list" [value]="notice_type">
                                {{notice_type}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error [class.d-none]="foodOrderForm.get('notice_type').valid ||
                        foodOrderForm.get('notice_type').untouched" class="text-danger">Notice Type is
                       Invalid</mat-error> -->
                       
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pl-4">
                        <mat-label>Select Report Type</mat-label>
                        <mat-select formControlName="report_type">
                            <mat-option *ngFor="let report_type of report_type_list" [value]="report_type">
                                {{report_type}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error [class.d-none]="foodOrderForm.get('report_type').valid ||
                        foodOrderForm.get('report_type').untouched" class="text-danger">Report Type is
                       Invalid</mat-error> -->
                      

                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pl-4">
                        <mat-label>Add notice</mat-label>
                        <mat-select formControlName="add_notice">
                            <mat-option *ngFor="let add_notice of add_notice_list" [value]="add_notice">
                                {{add_notice}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error [class.d-none]="foodOrderForm.get('add_notice').valid ||
                        foodOrderForm.get('add_notice').untouched" class="text-danger">Notice is
                       Invalid</mat-error> -->
                      

                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pl-4">
                        <mat-label>Select circular type</mat-label>
                        <mat-select formControlName="circular_type">
                            <mat-option *ngFor="let circular_type of circular_type_list" [value]="circular_type">
                                {{circular_type}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error [class.d-none]="foodOrderForm.get('circular_type').valid ||
                        foodOrderForm.get('circular_type').untouched" class="text-danger">Circular Type is
                       Invalid</mat-error> -->
                       

                    </mat-form-field>
                    <mat-form-field appearance="outline" class="pl-4">
                        <mat-label>Select circular for</mat-label>
                        <mat-select  formControlName="circular_for">
                            <mat-option *ngFor="let circular_for of circular_for_list" [value]="circular_for">
                                {{circular_for}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error [class.d-none]="foodOrderForm.get('circular_for').valid ||
                        foodOrderForm.get('circular_for').untouched" class="text-danger">Circular is
                       Invalid</mat-error> -->
                        

                    </mat-form-field>
                    <div class="row">
                        
                        <button type="button" class="btn btn-primary"(click)="submit_updateForm()">Save</button>&nbsp;

                    </div>
                </form>
            </div>
        </div>
    </div>
</mat-card>
