<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/feedback">Back</button>

<h5 style="margin-top: -16px;">FeedBack / Create Feedback Question</h5>
<mat-card>
    <div class="container">



        <form [formGroup]="addQuestionForm" (keydown.enter)="$event.preventDefault()">
            <div class="row ml-2 mt-2">

                <div class="col-lg-4 center">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Label Name/ Question Name" [class.is-invalid]="addQuestionForm.get('label_Name').invalid &&
                        addQuestionForm.get('label_Name').touched" formControlName="label_Name">
                        <mat-error [class.d-none]="addQuestionForm.get('label_Name').valid ||
                        addQuestionForm.get('label_Name').untouched" class="text-danger">Label/Name is
                            Invalid</mat-error>

                    </mat-form-field>
                </div>
                <!-- </div>
            <div class="row ml-2 mt-2"> -->
                <div class="col-lg-4">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Select Response form Dropdown</mat-label>
                        <mat-select [class.is-invalid]="addQuestionForm.get('inputType').invalid &&
                        addQuestionForm.get('inputType').touched" formControlName="inputType">
                            <mat-option *ngFor="let response of SelectResponses" [value]="response"
                                (click)="onClickResponse(response)">
                                {{response}}
                            </mat-option>
                        </mat-select>
                        <mat-error [class.d-none]="addQuestionForm.get('inputType').valid ||
                        addQuestionForm.get('inputType').untouched" class="text-danger">Select Response</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-12">
                    <mat-label class="px-2 py-2" *ngIf="isLable">{{addQuestionForm.get('label_Name').value}}</mat-label>
                </div>
            </div>
            <div class="row ml-2 mt-2" *ngIf="inputbox">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Enter Placeholder for input box"
                            formControlName="inputPlaceholderName">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Input Box"
                            [(ngModel)]="addQuestionForm.get('inputPlaceholderName').value"
                            [ngModelOptions]="{standalone: true}" disabled>
                    </mat-form-field>
                </div>

            </div>


            <div class="row ml-2 mt-2" *ngIf="yesorNo">
                <div class="col-lg-4 mt-2">
                    <mat-radio-group aria-label="Select an option" name="YesNoButtons" ngDefaultControl
                        formControlName="YesNoButtons">
                        <mat-radio-button [value]="true">Yes</mat-radio-button>
                        &nbsp;
                        <mat-radio-button [value]="false">No</mat-radio-button>
                    </mat-radio-group>

                </div>
            </div>

            <!-- <div class="row ml-2 mt-2"> -->

            <div class="row ml-2 mt-2" *ngIf="radiobutton">
                <div formArrayName="radioButtons" >
                    <div class="d-inline" [formGroupName]="i" *ngFor="let option of addQuestionForm.controls.radioButtons.controls; let i= index">
                        <div class="row ml-2 mt-2">
                            <div class="col-lg-4 float-left">
                                <input type="radio" name="radio" value="">
                                <mat-form-field class="example-full-width" style="width: 80%">
                                    <input matInput placeholder="" (keyup)="onkeyup($event)"
                                        formControlName="optionLable">
                                        <img [src]="imageurls[i]" height="20" width="20" id={{i}}>
                                    
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 ml-15px float-right ">
                                <label class="label" for="upload-photo">
                                    <!-- <i class="fa fa-file mr-1" id="lable" aria-hidden="true"></i> -->
                                    <!-- <img src="assets/images/imgfile.png"> -->
                                </label>
                                   
                                 <!-- <input #fileInput type="file" name="photo" id="upload-photo"
                                 [uploader]="uploader" (change)="uploader.uploadAll();onSelectFile($event,i)"  formControlName="associateImage"/> -->
                              <!-- <button (click)="checkindex(i)">clk</button> -->
                                <input #fileInput type="file" name="photo" id="upload-photo"
                                       (change)="onSelectFile($event, i)"  formControlName="associateImage"/> 
                                    <!-- <span  *ngFor="let src of addQuestionForm.controls.radioButtons.controls[i].controls['associateImage'].controls">
                                        <img src="{{src.value}}" height="50" filewidth="50"> <br/>

                                    </span> -->
                                    <!-- <div #image class="image-wrapper" id={{i}}></div> -->

                                   
                                <i class="fa fa-trash ml-2" (click)="remove($event,i)" aria-hidden="true"></i>

                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row ml-2 mt-2">
                <label>Select Question Set Type</label>
            </div>
            <div class="row ml-2">
                <div class="col-lg-12">
                    <ul id="myUL">
                        <li *ngFor="let rootQuestion of QuestionTypes; let i=index">

                            <span class="caret" (click)="caretClick()">
                                <mat-checkbox class="example-margin" [checked]="rootQuestion['showChildren']"
                                    (change)="changeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                    value="rootQuestion.rootQuestionType"></mat-checkbox>

                                <!-- <input type="radio" formControlName="rootQuestionType" [value]="rootQuestion.rootQuestionType"> -->
                                {{rootQuestion.rootQuestionType}}
                            </span>

                            <ul class="nested">

                                <li *ngFor="let CategoryType of rootQuestion.questionType;let subcategoryIndex=index">
                                    <span class="caret" (click)="caretClick()">
                                        <mat-checkbox class="example-margin"
                                            (change)="changeFlag(rootCategory, $event, a='sub',
                                             i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                            [checked]="CategoryType['showChildren']"
                                            value="CategoryType.rootCategoryName">
                                        </mat-checkbox>

                                        <!-- <input type="radio" formControlName="liquorVarient" [value]="liquorVarient.rootCategoryName"> -->
                                        {{CategoryType.rootCategoryName || CategoryType.questionTypeName}}
                                    </span>
                                    <ul class="nested">
                                        <li
                                            *ngFor="let liquorSubVarient of CategoryType.categories; let subsubcategoryINdex=index">
                                            <span class="caret" (click)="caretClick()">
                                                <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.categoryName"> -->
                                                <mat-checkbox class="example-margin"
                                                    [checked]="liquorSubVarient['showChildren']"
                                                    (change)="changeFlag(rootCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                                    value="liquorSubVarient.categoryName"></mat-checkbox>

                                                {{liquorSubVarient.categoryName}}
                                            </span>
                                            <ul class="nested">

                                                <li
                                                    *ngFor="let liquorSubSubVarient of liquorSubVarient.childCategories; let typeIndex=index">
                                                    <span>
                                                        <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                                        <!-- (click)="selectSubSubVarient(rootQuestion.rootQuestionType, liquorVarient.rootCategoryName , liquorSubVarient.categoryName)"> -->
                                                        <mat-checkbox class="example-margin"
                                                            [checked]="liquorSubSubVarient['showChildren']"
                                                            (change)="changeFlag(rootCategory, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                                            value="liquorSubSubVarient."></mat-checkbox>

                                                        {{liquorSubSubVarient['childCategoryName']}}
                                                    </span>
                                                </li>
                                                <i class="fa fa-plus mb-2"
                                                    (click)="openSubSubcategory(rootQuestion._id, CategoryType._id, liquorSubVarient._id)"
                                                    aria-hidden="true"> Add Sub Sub Category Type</i>
                                            </ul>
                                        </li>
                                        <i class="fa fa-plus mb-2"
                                            (click)="openSubCategoryType(rootQuestion._id, CategoryType._id)"
                                            aria-hidden="true">
                                            Add Sub Category Type</i>
                                    </ul>
                                </li>
                                <i class="fa fa-plus mb-2" (click)="openCategoryType(rootQuestion._id)"
                                    aria-hidden="true"> Add Category Type</i>
                            </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openRootDialog()" aria-hidden="true"> Add Root 
                            Type</i>

                    </ul>
                </div>
            </div>

            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary" type="submit" [disabled]="addQuestionForm.invalid"
                        (click)="addFeedbackQuestion()">Create</button>
                    <!-- is Invalid:-{{addQuestionForm.invalid}}
               is valid:-{{addQuestionForm.valid}} -->
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </form>
    </div>

</mat-card>