


    <!-- <div class="row">
       <mat-radio-group formControlName="role">
           <mat-radio-button *ngFor="let a of rolesData" (change)="selectRole($event,a)">
               {{a.role_name}}
    
           </mat-radio-button><br>
       </mat-radio-group>
    
    </div> -->

        <form [formGroup]="setRolesForm">
        <ul id="myUL">
            <li *ngFor="let f of firstLevel"><span class="caret"><b>
                <mat-radio-group aria-label="root" formControlName="root">
                    <mat-radio-button value="root" (click)="selectRole($event,f.root)" [checked]>{{f.root}}</mat-radio-button>
                   
                 </mat-radio-group>
                 <i class="fa fa-plus-circle"
                 aria-hidden="true"></i>
                        <!-- <mat-checkbox (click)="selectRole($event,f.root)">{{f.root}}</mat-checkbox> -->
                    </b>&nbsp;</span>
                <ul class="nested">

                    <li *ngFor="let f2 of f.root_arr"><span class="caret">
                        <mat-radio-group aria-label="sub" formControlName="sub">
                            <mat-radio-button value="sub"(click)="selectRole($event,f2.sub)" [checked] >{{f2.sub}}</mat-radio-button>
                           
                         </mat-radio-group>
                            
                            <i class="fa fa-plus-circle"
                                aria-hidden="true"></i>
                        </span>
                      
                    </li>
                </ul>
            </li>
        </ul>
    </form>
 
    <button type="button" mt-2 class="btn btn-primary" [mat-dialog-close]="roles">Set Role</button>&nbsp;