<div class="container">
    <h5>Inventory Management</h5>
  </div>
  
  
  <div class="container">
         <mat-card>
          <!-- TABS -->
          <mat-tab-group [selectedIndex]="activeTab" (selectedIndexChange)="handleMatTabChange($event)">

            <!-- FOOD INVENTORY -->
            <mat-tab label="Food Inventory">
              <!-- ingredients -->
              <div class="row mt-2">
                <div class="col-sm-12">
                  <label class="checkbox-inline ml-2"><input type="checkbox" name="categoryCheckbox"
                      (click)="ingredientCategory($event)">&nbsp;Material Categories</label>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4" *ngIf="showIngredientCategories">
                  <ul id="myUL">
                    <li *ngFor="let rootCategory of allFoodInventoryCategory; let i =index"><span class="caret" (click)="caretClick()">
                          <span *ngIf="!rootCategory.edit">{{rootCategory.rootCategoryName}}<i class="fa fa-pencil-square ml-2"
                              (click)="updatefoodTreeroot(i)" aria-hidden="true" title="Edit"></i>
                          </span>
                          <span *ngIf="rootCategory.edit">
                            <mat-form-field>
                              <input matInput name="rootname" #root value="{{rootCategory.rootCategoryName}}">
                            </mat-form-field>&nbsp;<button class="btn btn-primary mr-1"
                              (click)="updateFoodTree(rootCategory['_id'], root.value,i)">Update</button>
                            <button class="btn btn-danger mr-1" (click)="cancelRoot(i)">Cancel</button>
                        </span>
                      </span>
  
                      <ul class="nested">
  
                        <li *ngFor="let subCategory of rootCategory.subCategories let subindex=index"><span class="caret"
                            (click)="caretClick()">
                            <span *ngIf="!subCategory.edit">{{subCategory.subCategoryName}}<i
                              class="fa fa-pencil-square ml-2" (click)="updateTreeSub(i,subindex)"
                              aria-hidden="true" title="Edit"></i>
                          </span>
                          <span *ngIf="subCategory.edit">
                            <mat-form-field>
                              <input matInput name="sname" #sname value="{{subCategory.subCategoryName}}">
                            </mat-form-field>&nbsp;<button class="btn btn-primary mr-1"
                              (click)="updatesubTree(rootCategory['_id'], subCategory['_id'], sname.value,i,subindex)">Update</button>
                            <button class="btn btn-danger mr-1" (click)="cancelSub(i, subindex)">Cancel</button>
                          </span>
                          </span>
                          <ul class="nested">
                            <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubindex=index"><span class="caret"
                                (click)="caretClick()">
                                <span *ngIf="!subSubCategory.edit">{{subSubCategory.subSubCategoryName}}<i
                                  class="fa fa-pencil-square ml-2"
                                  (click)="updateTreeSubSub(i,subindex, subsubindex)" aria-hidden="true"
                                  title="Edit"></i>
                              </span>
                              <span *ngIf="subSubCategory.edit">
                                <mat-form-field>
                                  <input matInput name="ssname" #ssname
                                    value="{{subSubCategory.subSubCategoryName}}">
                                </mat-form-field>&nbsp;<button class="btn btn-primary mr-1"
                                  (click)="updateFoodSubSubTree(rootCategory['_id'], subCategory['_id'],subSubCategory['_id'], ssname.value,i,subindex, subsubindex)">Update</button>
                                <button class="btn btn-danger mr-1"
                                  (click)="cancelSubSub(i, subindex,subsubindex)">Cancel</button>
                              </span>
                              </span>
                              <ul class="nested">
  
                                <li *ngFor="let type of subSubCategory.subSubCategoryType; let typeindex=index">
                                  <span>
                                    
                                    <span *ngIf="!type.edit">
                                      {{type['subSubCategoryTypeName']}}<i
                                        class="fa fa-pencil-square ml-2"
                                        (click)="updateTreeType(i,subindex, subsubindex, typeindex)"
                                        aria-hidden="true" title="Edit"></i>
                                    </span>
                                    <span *ngIf="type.edit">
                                      <mat-form-field>
                                        <input matInput name="tname" #tname
                                          value="{{type['subSubCategoryTypeName']}}">
                                      </mat-form-field>&nbsp;
                                      <button class="btn btn-primary mr-1"
                                        (click)="updatefoodtypeTree(rootCategory['_id'], subCategory['_id'],subSubCategory['_id'],type['_id'], tname.value,i,subindex, subsubindex, typeindex)">Update</button>
                                      <button class="btn btn-danger mr-1"
                                        (click)="cancelType(i, subindex,subsubindex,typeindex)">Cancel</button>
  
                                    </span>
                                  </span>
                                </li>
                                <i class="fa fa-plus mb-2"
                                  (click)="openFoodInventorySubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                                  aria-hidden="true"> Add Sub Sub Category Type</i>
                              </ul>
                            </li>
                            <i class="fa fa-plus mb-2"
                              (click)="openFoodInventorySubSubCategoryDialog(rootCategory._id, subCategory._id)"
                              aria-hidden="true">
                              Add Sub Sub Category</i>
                          </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openFoodInventorySubCategoryDialog(rootCategory._id)"
                          aria-hidden="true"> Add
                          Sub Category</i>
                      </ul>
                    </li>
                    <i class="fa fa-plus mb-2" (click)="openFoodInventoryRootCategoryDailog()" aria-hidden="true"> Add
                      Root
                      Category</i>
  
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12">
                  <div class="row mt-4">
                    <div class="col-lg-6">
  
                    </div>
                  </div>
  <div class="row">
                    <div class="col-lg-12">
                      <div class="float-right">
                        <button class="btn btn-primary ml-2 ">Import excel</button>
                        <button class="btn btn-primary ml-2" (click)="readAsCSVIngredient()">Export excel</button>
                        <button class="btn btn-primary ml-2" (click)="addingredients()"><i class="fa fa-plus mr-2"
                            aria-hidden="true"></i>Add Material</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
  
                    <div class="col-sm-12">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilterIngredientFoodInventory($event)"
                          placeholder="Search for Material Code, Material Name, Category">
                      </mat-form-field>
                      <form #myForm="ngForm" >
                        <div class="row">
                          <div class="col-lg-3">
                            <mat-form-field>
                              <mat-label>Search Root Category</mat-label>
                              <mat-select multiple [(ngModel)]="Ingredientfilter.root"  (selectionChange)="filterIngredientvalue(Ingredientfilter)" name="Ingredientfilter.root" >
                                <mat-option *ngFor="let c of foodInventoryRoot" [value]="c">{{c}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3">
                            <mat-form-field style="width: 100%;">
                              <mat-label>Search Added By</mat-label>
                              <mat-select multiple [(ngModel)]="Ingredientfilter.addedby"  (selectionChange)="filterIngredientvalue(Ingredientfilter)" name="Ingredientfilter.addedby">
                                <mat-option *ngFor="let user of admin" [value]="user">{{user}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3">
                            <mat-form-field style="width: 100%;">
                              <mat-label>Status</mat-label>
                              <mat-select multiple [(ngModel)]="Ingredientfilter.status"  (selectionChange)="filterIngredientvalue(Ingredientfilter)" name="Ingredientfilter.status">
                                <mat-option [value]="true">
                                  <mat-slide-toggle [checked]="true" disabled><span style="display:none">Active</span>
                                  </mat-slide-toggle>
                                </mat-option>
                                <mat-option [value]="false">
                                  <mat-slide-toggle [checked]="false" disabled><span style="display:none">Deactive</span>
                                  </mat-slide-toggle>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3">
                            <div class="float-right">
                            <!-- <button class="btn btn-primary mr-1" (click)="filterIngredientvalue(Ingredientfilter)">Filter</button> -->
                            <button class="btn btn-warning" type="reset" (click)="resetIngredientfilter()">Reset</button>
                          </div></div>
                        </div>
                      </form>
                      <table mat-table [dataSource]="dataSourceIngredient" class="mat-elevation-z8" matSort>
  
                        <ng-container matColumnDef="ingredientCode">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Material Code </th>
                          <td mat-cell *matCellDef="let element"> {{element.ingredientCode}}</td>
                        </ng-container>
  
  
  
                        <ng-container matColumnDef="ingredientName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Material Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.ingredientName}} </td>
                        </ng-container>
  
  
                        <ng-container matColumnDef="ingredientcategory">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Category </th>
                          <td mat-cell *matCellDef="let element"> {{element.root['root'] }} <span *ngIf='element.sub!=undefined'>> {{element.sub['sub'] }} <span *ngIf='element.subsub!=undefined'>>{{element.subsub['subsub'] }} <span *ngIf='element.type!=undefined'>>{{element.type['type']}} </span></span></span></td>
                        </ng-container>
  
                        <!-- Weight Column -->
                        <ng-container matColumnDef="unit">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Unit Assigned </th>
                          <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="addedBy">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Added By </th>
                          <td mat-cell *matCellDef="let element"> {{element.addedBy.userName}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="updatedAt">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date & Time </th>
                          <td mat-cell *matCellDef="let element"> {{element.updatedAt | date:'medium'}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.status" (change)="softDeleteIngrdient(element,$event)">
                            </mat-slide-toggle>
                          </td>
                        </ng-container>
  
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                          <td mat-cell *matCellDef="let element" [ngStyle]="{'pointer-events':element.status == true ? 'auto' : 'none' }">
  
                            <i class="fa fa-eye" title="View" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}"
                              (click)="viewIngredientFoodinventory(element)"></i>&nbsp;
                            <i class="fa fa-pencil-square" title="Edit" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}"
                              (click)="editIngredientFoodInventory(element)"></i>&nbsp;
  
                            <!-- delete -->
                            <!-- <i class="fa fa-trash" title="Delete" aria-hidden="true" (click)="exampleModalCenter.show()"></i> -->
                            <app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered">
                              <div class="app-modal-header">
                                <h5 class="modal-title">Delete Ingredient</h5>
                                <button type="button" class="close basic-close" data-dismiss="modal" aria-label="Close"
                                  (click)="exampleModalCenter.hide()"><span aria-hidden="true">&times;</span></button>
  
                              </div>
                              <div class="app-modal-body">
                                <p>Are you sure want to delete ingredient?</p>
                              </div>
                              <div class="app-modal-footer">
                                <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    (click)="exampleModalCenter.hide()">Close</button> -->
                                <button type="button" class="btn btn-primary"
                                  (click)="exampleModalCenter.hide();deleteIngredientFoodInventory(element)">Confirm</button>
                              </div>
                            </app-ui-modal>
  
                          </td>
                        </ng-container>
  
                        <tr mat-header-row *matHeaderRowDef="displayColumnsingredient"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayColumnsingredient;"></tr>
                      </table>
                      <div *ngIf="noData9 | async" class="no-records">
                        Data not found
                      </div>
                      <div *ngIf="noData9==0 " class="no-records">
                        Data not found
                      </div>
                      <mat-paginator #ingredientpaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
                    </div>
  
                  </div>
  
                  <!-- items -->
                  <div class="row mt-4">
                    <div class="col-lg-6">
  
                    </div>
                    <div class="col-lg-6">
                      <div class="float-right">
                        <button class="btn btn-primary ml-2 ">Import excel</button>
                        <button class="btn btn-primary ml-2" (click)="readAsCSVItems()">Export excel</button>
                        <button class="btn btn-primary ml-2" (click)=addItems()><i class="fa fa-plus mr-2"
                            aria-hidden="true"></i>Add Item</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
  
                    <div class="col-sm-12">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilterInputFoodInventory($event)"
                          placeholder="Search for Item Code, Items Name, Brand, Material">
                      </mat-form-field>
                      <form #myForm="ngForm" >
                        <div class="row">
                          <div class="col-lg-2">
                            <mat-form-field>
                              <mat-label>Search Brand </mat-label>
                              <mat-select multiple [(ngModel)]="Itemfilter.brand" (selectionChange)="filterItemvalue(Itemfilter)" name="Itemfilter.brand" >
                                <mat-option *ngFor="let c of allBrand" [value]="c['BrandName']">{{c['BrandName']}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3">
                            <mat-form-field>
                              <mat-label>Search Material</mat-label>
                              <mat-select multiple [(ngModel)]="Itemfilter.ingredient" (selectionChange)="filterItemvalue(Itemfilter)" name="Itemfilter.ingredient" >
                                <mat-option *ngFor="let c of allIngredients" [value]="c['ingredientName']">{{c['ingredientName']}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                              <mat-label>Search Added By</mat-label>
                              <mat-select multiple [(ngModel)]="Itemfilter.addedby" (selectionChange)="filterItemvalue(Itemfilter)" name="Itemfilter.addedby">
                                <mat-option *ngFor="let user of admin" [value]="user">{{user}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-2">
                            <mat-form-field style="width: 100%;">
                              <mat-label>Status</mat-label>
                              <mat-select multiple [(ngModel)]="Itemfilter.status" (selectionChange)="filterItemvalue(Itemfilter)" name="Itemfilter.status">
                                <mat-option [value]="true">
                                  <mat-slide-toggle [checked]="true" disabled><span style="display:none">Active</span>
                                  </mat-slide-toggle>
                                </mat-option>
                                <mat-option [value]="false">
                                  <mat-slide-toggle [checked]="false" disabled><span style="display:none">Deactive</span>
                                  </mat-slide-toggle>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3">
                            <div class="float-right">
                            <!-- <button class="btn btn-primary mr-1" (click)="filterItemvalue(Itemfilter)">Filter</button> -->
                            <button class="btn btn-warning" type="reset" (click)="resetItemfilter()">Reset</button>
                          </div></div>
                        </div>
                      </form>
                      <table mat-table [dataSource]="dataSourceInput" class="mat-elevation-z8" matSort>
  
                        <ng-container matColumnDef="itemCode">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Code </th>
                          <td mat-cell *matCellDef="let element"> {{element.itemCode}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="itemName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Item Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
                        </ng-container>
  
                        <!-- Name Column -->
                        <ng-container matColumnDef="brand">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Brand </th>
                          <td mat-cell *matCellDef="let element"> {{element.brand.BrandName}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="ingredient">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Material </th>
                          <td mat-cell *matCellDef="let element"> {{element.ingredient.ingredientName}} </td>
                        </ng-container>
  
                        <!-- Weight Column -->
                        <ng-container matColumnDef="quantity">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
                          <td mat-cell *matCellDef="let element"> {{element.measurement}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="addedBy">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Added By</th>
                          <td mat-cell *matCellDef="let element"> {{element.addedBy.userName}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="updatedAt">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date & Time </th>
                          <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'medium'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.status" (change)="softDeleteItem(element,$event)">
                            </mat-slide-toggle>
                          </td>
                        </ng-container>
  
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                          <td mat-cell *matCellDef="let element" [ngStyle]="{'pointer-events':element.status == true ? 'auto' : 'none' }">
  
                            <i class="fa fa-eye" title="View" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}" (click)="viewItemsFoodInventory(element)"></i>&nbsp;
                            <i class="fa fa-pencil-square" title="Edit" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}"
                              (click)="editItemFoodInventory(element)"></i>&nbsp;
  
                            <!-- delete -->
                            
  
                          </td>
                        </ng-container>
  
                        <tr mat-header-row *matHeaderRowDef="displayColumnsInputData"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayColumnsInputData;"></tr>
                      </table>
                      <div *ngIf="noData10 | async" class="no-records">
                        Data not found
                      </div>
                      <div *ngIf="noData10==0 " class="no-records">
                        Data not found
                      </div>
                      <mat-paginator #inputpaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
                    </div>
  
                  </div>
                </div>
  
              </div>
  
            </mat-tab>
            <!-- ASSET INVENTORY -->
            <mat-tab label="Asset Inventory">
              <div class="row mt-2">
                <!-- <button class="btn btn-primary ml-2 " (click)="ingredientCategory()">Ingredient Category</button>  -->
                <div class="col-lg-3">
                  <label class="checkbox-inline ml-2"><input type="checkbox"
                      (click)="inputCategory($event)">&nbsp;Equipment
                    Categories</label>
                </div>
                <div class="col-lg-3">
                  <mat-card style="width: 100%; background-color: grey;" routerLink="/inventory/equipment-attributes">
                    <b style="color: white">Attribute</b> &nbsp; <b
                      style="color: white">{{assetInventoryAttributeCount}}</b>
                  </mat-card>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-4" *ngIf="showInputCategories">
                  <ul id="myUL">
                    <li *ngFor="let rootCategory of allAssetInventoryCategory; let i=index"><span class="caret" (click)="caretClick()">
                      <span *ngIf="!rootCategory.edit">{{rootCategory.rootCategoryName}}<i class="fa fa-pencil-square ml-2"
                        (click)="updateassetTreeroot(i)" aria-hidden="true" title="Edit"></i>
                    </span>
                    <span *ngIf="rootCategory.edit">
                      <mat-form-field>
                        <input matInput name="rootname" #root value="{{rootCategory.rootCategoryName}}">
                      </mat-form-field>&nbsp;<button class="btn btn-primary mr-1"
                        (click)="updateassetTree(rootCategory['_id'], root.value,i)">Update</button>
                      <button class="btn btn-danger mr-1" (click)="cancelassetRoot(i)">Cancel</button>
                  </span>
                  </span>
                      <ul class="nested">
  
                        <li *ngFor="let subCategory of rootCategory.subCategories; let subindex=index"><span class="caret"
                            (click)="caretClick()">
                            <span *ngIf="!subCategory.edit">{{subCategory.subCategoryName}}<i
                              class="fa fa-pencil-square ml-2" (click)="updateassetTreeSub(i,subindex)"
                              aria-hidden="true" title="Edit"></i>
                          </span>
                          <span *ngIf="subCategory.edit">
                            <mat-form-field>
                              <input matInput name="sname" #sname value="{{subCategory.subCategoryName}}">
                            </mat-form-field>&nbsp;<button class="btn btn-primary mr-1"
                              (click)="updateassetsubTree(rootCategory['_id'], subCategory['_id'], sname.value,i,subindex)">Update</button>
                            <button class="btn btn-danger mr-1" (click)="cancelassetSub(i, subindex)">Cancel</button>
                          </span>
                          </span>
                          <ul class="nested">
                            <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubindex=index"><span class="caret"
                                (click)="caretClick()">
                                <span *ngIf="!subSubCategory.edit">{{subSubCategory.subSubCategoryName}}<i
                                  class="fa fa-pencil-square ml-2"
                                  (click)="updateassetTreeSubSub(i,subindex, subsubindex)" aria-hidden="true"
                                  title="Edit"></i>
                              </span>
                              <span *ngIf="subSubCategory.edit">
                                <mat-form-field>
                                  <input matInput name="ssname" #ssname
                                    value="{{subSubCategory.subSubCategoryName}}">
                                </mat-form-field>&nbsp;<button class="btn btn-primary mr-1"
                                  (click)="updateassetSubSubTree(rootCategory['_id'], subCategory['_id'],subSubCategory['_id'], ssname.value,i,subindex, subsubindex)">Update</button>
                                <button class="btn btn-danger mr-1"
                                  (click)="cancelassetSubSub(i, subindex,subsubindex)">Cancel</button>
                              </span>
                              </span>
                              <ul class="nested">
  
                                <li *ngFor="let type of subSubCategory.subSubCategoryType; let typeindex=index">
                                  <span>
                                    <span *ngIf="!type.edit">
                                      {{type['subSubCategoryTypeName']}}<i
                                        class="fa fa-pencil-square ml-2"
                                        (click)="updateassetTreeType(i,subindex, subsubindex, typeindex)"
                                        aria-hidden="true" title="Edit"></i>
                                    </span>
                                    <span *ngIf="type.edit">
                                      <mat-form-field>
                                        <input matInput name="tname" #tname
                                          value="{{type['subSubCategoryTypeName']}}">
                                      </mat-form-field>&nbsp;
                                      <button class="btn btn-primary mr-1"
                                        (click)="updateassettypeTree(rootCategory['_id'], subCategory['_id'],subSubCategory['_id'],type['_id'], tname.value,i,subindex, subsubindex, typeindex)">Update</button>
                                      <button class="btn btn-danger mr-1"
                                        (click)="cancelassetType(i, subindex,subsubindex,typeindex)">Cancel</button>
  
                                    </span>
                                  </span>
                                </li>
                                <i class="fa fa-plus mb-2"
                                  (click)="openInventorySubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                                  aria-hidden="true"> Add Sub Sub Category Type</i>
                              </ul>
                            </li>
                            <i class="fa fa-plus mb-2"
                              (click)="openInventorySubSubCategoryDialog(rootCategory._id, subCategory._id)"
                              aria-hidden="true">
                              Add Sub Sub Category</i>
                          </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openInventorySubCategoryDialog(rootCategory._id)"
                          aria-hidden="true"> Add
                          Sub Category</i>
                      </ul>
                    </li>
                    <i class="fa fa-plus mb-2" (click)="openInventoryRootCategoryDailog()" aria-hidden="true"> Add Root
                      Category</i>
  
                  </ul>
                </div>
                <div class="col-lg-12">
                  <div class="row mt-4">
                    <div class="col-lg-6">
  
                    </div>
                  </div>
                </div>
              </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="float-right">
                        <button class="btn btn-primary ml-2 ">Import excel</button>
                        <button class="btn btn-primary ml-2" (click)="readAsCSVEquipment()">Export excel</button>
                        <button class="btn btn-primary ml-2" (click)="openAddEquipment()"><i class="fa fa-plus mr-2"
                            aria-hidden="true"></i>Add Equipment</button>
                      </div>
                    </div>
                  </div>
                  <div class="row">
  
                    <div class="col-sm-12">
                      <mat-form-field>
                        <input matInput (keyup)="applyFilterEquipment($event)"
                          placeholder="Search for Equipment Code, Equipment Name, Category">
                      </mat-form-field>
                      <form #myForm="ngForm" >
                        <div class="row">
                          <div class="col-lg-3">
                            <mat-form-field>
                              <mat-label>Search Root Category</mat-label>
                              <mat-select multiple [(ngModel)]="equipmentfilter.root" (selectionChange)="filterEquipmentvalue(equipmentfilter)" name="equipmentfilter.root" >
                                <mat-option *ngFor="let c of assetInventoryRoot" [value]="c">{{c}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3">
                            <mat-form-field style="width: 100%;">
                              <mat-label>Search Added By</mat-label>
                              <mat-select multiple [(ngModel)]="equipmentfilter.addedby" (selectionChange)="filterEquipmentvalue(equipmentfilter)" name="equipmentfilter.addedby">
                                <mat-option *ngFor="let user of admin" [value]="user">{{user}}</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3">
                            <mat-form-field style="width: 100%;">
                              <mat-label>Status</mat-label>
                              <mat-select multiple [(ngModel)]="equipmentfilter.status" (selectionChange)="filterEquipmentvalue(equipmentfilter)" name="equipmentfilter.status">
                                <mat-option [value]="true">
                                  <mat-slide-toggle [checked]="true" disabled><span style="display:none">Active</span>
                                  </mat-slide-toggle>
                                </mat-option>
                                <mat-option [value]="false">
                                  <mat-slide-toggle [checked]="false" disabled><span style="display:none">Deactive</span>
                                  </mat-slide-toggle>
                                </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3">
                            <div class="float-right">
                            <!-- <button class="btn btn-primary mr-1" (click)="filterEquipmentvalue(equipmentfilter)">Filter</button> -->
                            <button class="btn btn-warning" type="reset" (click)="resetEquipmentfilter()">Reset</button>
                          </div></div>
                        </div>
                      </form>
                      <table mat-table [dataSource]="dataSourceEquipment" class="mat-elevation-z8" matSort>
  
  
                        <ng-container matColumnDef="equipmentCode">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipment Code </th>
                          <td mat-cell *matCellDef="let element">{{element.equipmentCode}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="equipmentName">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header>Equipment Name </th>
                          <td mat-cell *matCellDef="let element"> {{element.equipmentName}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="category">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                          <td mat-cell *matCellDef="let element"> {{element.root['root'] }} <span *ngIf='element.subcategory!=null'>> {{element.subcategory['subcategory'] }} <span *ngIf='element.subsubCategory!=null'>>{{element.subsubCategory['subsubCategory'] }} <span *ngIf='element.categoryType!=undefined'>>{{element.categoryType['categoryType']}}</span></span></span> </td>
                        </ng-container>
                        <ng-container matColumnDef="attribute_set">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Attribute set </th>
                          <td mat-cell *matCellDef="let element"> {{element.attribute_set}} </td>
                        </ng-container>
  
                        <!-- <ng-container matColumnDef="assignattributeSet">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Attribute Set</th>
                          <td mat-cell *matCellDef="let element"> {{element.assignattributeSet.attributeSetName}} </td>
                        </ng-container> -->
  
                        <ng-container matColumnDef="addedBy">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Added by </th>
                          <td mat-cell *matCellDef="let element"> {{element.addedBy.userName}} </td>
                        </ng-container>
  
                        <ng-container matColumnDef="updatedAt">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date & Time </th>
                          <td mat-cell *matCellDef="let element"> {{element.updatedAt | date: 'medium'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                          <td mat-cell *matCellDef="let element">
                            <mat-slide-toggle [checked]="element.status" (change)="softDeleteEquipment(element,$event)">
                            </mat-slide-toggle>
                          </td>
                        </ng-container>
  
                        <ng-container matColumnDef="action">
                          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                          <td mat-cell *matCellDef="let element" [ngStyle]="{'pointer-events':element.status == true ? 'auto' : 'none' }">
  
                            <i class="fa fa-eye" title="View" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}"
                              (click)="viewEquipmentAssetEquipment(element)"></i>&nbsp;
                            <i class="fa fa-pencil-square" title="Edit" aria-hidden="true" [ngStyle]="{'cursor':element.status == true ? 'pointer' :'no-drop'}"  (click)="editEquipmentAssetInventory(element)"></i>&nbsp;
                            <!-- delete -->
                           
                          </td>
                        </ng-container>
  
                        <tr mat-header-row *matHeaderRowDef="displayColumnsequipment"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayColumnsequipment;"></tr>
                      </table>
                      <div *ngIf="noData11 | async " class="no-records">
                        Data not found
                      </div>
                      <div *ngIf="noData11==0 " class="no-records">
                        Data not found
                      </div>
                      <mat-paginator #equipmentpaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
                    </div>
  
                </div>
             
            </mat-tab>
            <!-- BEVERAGES -->
           
          </mat-tab-group>
        </mat-card>
  
    
  
  </div>