<div class="container">

   
    <mat-card class="mt-4">      

        <!-- <div class="row">
            <button class="btn-sm btn-danger" (click)="deleteAll()">Delete All</button>
        </div> -->
        <div class="row">
            <div class="col" style="text-align: left;">
                <button class="btn btn-success" routerLink="/restaurants/add-chain">Add Chain</button>
              
            </div>

            <div class="col" style="float: right;">
                <button class="btn btn-danger" (click)="deleteAll()">
                    Delete All
                </button>
            </div>
        </div>
      

        <div class="row mt-2 ">
            <div class="col-lg-12">
                <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
                    sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
                    [reorderableColumns]="true" frozenWidth="250px" #dt>
                    <ng-template pTemplate="caption">

                        <div class="row">
                            <div class="col-lg-4" style="text-align: left;">
                                <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                                optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                                selectedItemsLabel="{0} columns selected">
                            </p-multiSelect>
                            </div>
                           
                            <div class="col-lg-4">
                                               
                <h3>
                    List of Chains
                  </h3> 
                            </div>
                            <div class="col-lg-4" style="text-align: right;">
                                <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                                <input type="text" pInputText size="35" placeholder="Global Filter"
                                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                            </div>
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 3em;">
                                <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                style="width: 250px;">
                                {{ col.header }}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                    ariaLabelDesc="Activate to sort in descending order"
                                    ariaLabelAsc="Activate to sort in ascending order">
                                </p-sortIcon>
                            </th>
                        </tr>
                        <tr>
                            <th></th>
                            <th *ngFor="let col of columns">
                                <input pInputText type="text"
                                    (input)="dt.filter($event.target.value, col.field, 'contains')" />
                            </th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr>
                            <td>
                                <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                            </td>

                            <td *ngFor="let col of columns; " class="ui-resizable-column">
                                <div *ngIf="col.field == 'name'">
                                    <button class="custom-edit" (click)="view(rowData.id)">
                                        {{ rowData[col.field]}}
                                    </button>
                                </div>
                                <div *ngIf="col.field !== 'name'">
                                    {{ rowData[col.field]}}
                                </div>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="footer" let-columns>
                        <tr>
                            <td style="width: 3em;">
                                <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                            </td>
                            <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{ col.header }}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                    ariaLabelDesc="Activate to sort in descending order"
                                    ariaLabelAsc="Activate to sort in ascending order">
                                </p-sortIcon>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="summary">
                        There are {{ outletTable?.length }} Chains

                        <div class="row">
                            <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                                {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }}
                            </div>
                        </div>
                    </ng-template>
                </p-table>
            </div>
        </div>


    </mat-card>




</div>