<h1 mat-dialog-title>Add Attribute Radio Option</h1>
<div mat-dialog-content>
    <form [formGroup]="addFormGroup">
        <div class="row">
            <div formArrayName="radioButton" *ngFor="let option of radioButtonForm.controls, let i= index">
                <div [formGroupName]="i">
                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder=" Name" formControlName="optionLable">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <input type="file" ng2FileSelect [uploader]="uploader"
                            (change)="uploader.uploadAll(); setLoading()">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <button (click)="addRadioButton()" >Add New</button>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button> &nbsp;
    <button mat-button [mat-dialog-close]="addFormGroup.value" (click)="onSubmit()" cdkFocusInitial>Submit</button>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>