<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/employee/bizly">Back</button>

    <mat-card class="mt-4">
        <form action="">
            <div class="row">
                <div class="col">
                    <label for="">
                        <h5>
                         {{empName}}
                        </h5>
                    </label>
                </div>
            </div>
     
            <!-- First row -->
            <div class="row mt-4">
                <div class="col-md-6">
                   <label for="">
                       <h5>Total Salary Paid</h5></label>
                   <input type="text" placeholder="Total Salary Paid" value="₹ 15,00,000" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="">
                       <h5>Salary Pending</h5> 
                    </label>
                   <input type="text" placeholder="Total Salary Paid" value="₹ 5200" class="form-control">
                </div>
            </div>


            <!-- Second row-->
            <div class="row mt-4">
                <div class="col-md-4">
                   <label for="">
                       <h5>Joining Date</h5></label>
                   <input type="text" placeholder="Total Salary Paid" value="₹ 15,00,000" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="">
                       <h5>First Salary Date</h5> 
                    </label>
                   <input type="text" placeholder="Total Salary Paid" value="₹ 5200" class="form-control">
                </div>
                <div class="col-md-4">
                    <label for="">
                       <h5>Amount Pending</h5> 
                    </label>
                   <input type="text" placeholder="Total Salary Paid" value="₹ 5200" class="form-control">
                </div>
            </div>

            <!-- Third row -->
            <div class="row mt-4">
                <div class="col-md-6">
                    <label for="">
                        <h5>Payment Cycle</h5></label>
                    <input type="text" placeholder="Total Salary Paid" value="₹ 15,00,000" class="form-control">
                
                </div>
            </div>


            <!-- mat tab -->
            <div class="row mt-4">
                <div class="col">
                    <p-tabView>
                        <p-tabPanel header="Salary History">
                         <p-table [value]="salrows" [paginator]="true" [rows]="10"
                         sortMode="multiple"  [resizableColumns]="true" columnResizeMode="expand"
                         [reorderableColumns]="true" frozenWidth="250px" #dt>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th rowspan="2">Month</th>
                                    <th rowspan="2">Amount Paid on</th>
                                    <th rowspan="2">Salary</th>
                                    <th colspan="3">Allowances</th>
                                    <th colspan="2">Deductions</th>
                                    <th colspan="2">Overtime</th>
                                    <th rowspan="2">Incentive</th>
                                    <th rowspan="2">Loan EMI</th>
                                    <th rowspan="2">Pending Amount</th>
                                    <th rowspan="2">Amount Paid</th>                                  
                                </tr>
                                <tr>
                                    <th>Petrol</th>
                                    <th>Rent</th>
                                    <th>PF</th>
                                    <th>Health Fund</th>
                                    <th>Policy</th>
                                    <th>Overtime</th>
                                    <th>Overtime Amount</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-row>
                                <tr>                                  
                                    
                                   <td class="ui-resizable-column" >
                                        {{row.month}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.paidon}}
                                    </td>
                                   
                                   <td class="ui-resizable-column">
                                        {{row.salary| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.petrol| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.rent| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.pf| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.health| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.policy| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.overtime}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.overtime_amt| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.incentive| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.loanemi| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.pending_amt| currency: 'INR'}}
                                    </td>
                                   <td class="ui-resizable-column">
                                        {{row.paid_amt | currency: 'INR'}}
                                    </td>
                                </tr>
                            </ng-template>
                         </p-table>
                        </p-tabPanel>
                        <p-tabPanel header="Loan History">
                           
                            <mat-card class="mt-4">

                           
        <div class="row">
            <div class="col-md-3">
                <h5>Loan History</h5>
            </div>
            <div class="col-md-6">
                <h5>{{empName}}</h5>
            </div>
        </div>

        <div *ngFor="let n of NoLoans; let i = index">

            <div class="row mt-4">
                <h5>Loan {{i+1}}</h5>
            </div>
            <div class="row mt-4">
                <!-- AMOUNT TABLE -->
                <p-table [value]="rows1">
                  <ng-template pTemplate="header">
                      <tr>
                         <th>
                              Amount Taken
                        </th>
                         <th>
                             EMI
                        </th>
                         <th>
                              Date of Disbursement
                        </th>
                         <th>
                            Irregular EMIs
                        </th>                   
              
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                      <tr>
                          <td>
                              {{row.amt | currency: 'INR'}}
                          </td>
                          <td>
                              {{row.emi| currency: 'INR'}}
                          </td>
                          <td>
                              {{row.date}}
                          </td>   
                          <td>
                              {{row.irregular}}
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
                      </div>
                    
              
                      <div class="row mt-4">
                <!-- EMI TABLE -->
                <p-table [value]="rows2">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>EMI</th>
                          <th>Amount Paid</th>
                          <th>EMI Due Amount</th>
                          <th>EMI Date</th>
                          <th>Paid Date</th>
                      </tr>             
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                      <tr>
                          <td>
                              {{row.emi}}
                          </td>
                          <td>
                              {{row.amt_paid | currency: 'INR'}}
                          </td>
                          <td>
                              {{row.due| currency: 'INR'}}
                          </td>
                          <td>
                              {{row.emi_date}}
                          </td>
                          <td>
                              {{row.paid_date}}
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
                      </div>
        </div>
      
      
                                </mat-card>
                        
                        </p-tabPanel>
                     
                    </p-tabView>
                </div>
            </div>

        </form>  
    </mat-card>
    </div>