
<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
(click)="BackTo_Page()">Back</button>

<h5 style="margin-top: -16px;">Create Role</h5>
<mat-card>


    <mat-horizontal-stepper linear #stepper>

        <!-- Personal Information -->

        <mat-step [stepControl]="createRoleForm">
            <ng-template matStepLabel>Roles Details</ng-template>

    <form [formGroup]="createRoleForm">


         <div class="row">
            <div class="col-lg-6">
                <!-- <mat-form-field class="example-full-width"  style="width: 80%;">
                    <input matInput placeholder="Role ID{{rolecode}}" formControlName="role_ID" > -->
                    <label>Role ID: {{rolecode}}</label>
                    
                 
                <!-- </mat-form-field> -->
            </div>
            <div class="col-lg-6">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Role Name" formControlName="role_name">
                  
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input type="number" matInput placeholder="Role Salary/Month" formControlName="role_salary">
                  
                </mat-form-field>
            </div>
            <div class="col-lg-6">
                <label><b>Select Senior Role:</b></label>&nbsp;
                <i class="fa fa-plus-circle" aria-hidden="true" (click)="openDialog_SelectRole()"
                    [hidden]="isShowRole"></i>&nbsp;

                <label><b>{{resultRole}}</b></label>&nbsp;
                <i class="fas fa-edit" (click)="openDialog_SelectRole()" [hidden]="!isShowRole"></i>&nbsp;
            </div>
         
    </div>
        <div class="row">
            <label><b>Description</b></label>
        </div>
        <div class="row">
            <textarea formControlName="description" type="text"></textarea>
        </div>
       
       
    </form>
    </mat-step>
    <mat-step [stepControl]="createAccessControlForm">
        <ng-template matStepLabel>Access Control</ng-template>
        <form [formGroup]="createAccessControlForm">
<mat-tab-group>
    <mat-tab label="Add Restaurant">
        <div class="row">
            <div class="col">
            <label><b>Agent Can</b></label>
        </div>
        </div>
        <div class="col-lg-4">
            <mat-checkbox>Send reply to a ticket</mat-checkbox>

        </div>
        <div class="col-lg-4">
            <mat-checkbox>Forward a conversation</mat-checkbox>
           
        </div>
    </mat-tab>
    <mat-tab label="Manu Management">

    </mat-tab>
    <mat-tab label="Charges">

    </mat-tab>
    <mat-tab label="Notice"></mat-tab>
</mat-tab-group>

        </form>
        </mat-step>
    </mat-horizontal-stepper>
    <div class="row ml-2 mt-4">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6" style="text-align: center;">
            <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
            <button class="btn btn-primary" (click)="Create_Role()" >Create Role</button>
        </div>
        <div class="col-lg-3">

        </div>
    </div>

</mat-card>