<div class="container">
  <h5>Integrations</h5>
</div>

<div class="container">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>

    <!-- OUTLETS TAB -->
    <mat-step [stepControl]="outletFormGroup">
      <form [formGroup]="outletFormGroup">
        <ng-template matStepLabel>Outlets</ng-template>

        <div class="row mt-4">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <div class="float-right">
              <button class="btn btn-primary ml-2 ">Import excel</button>
              <button class="btn btn-primary ml-2">Export excel</button>
             </div>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-12">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)"
                placeholder="Search for Restaurant Name, Restaurant ID, City-Locality">
            </mat-form-field>

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

              <!-- Position Column -->
              <ng-container matColumnDef="restaurantName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Restaurant Name </th>
                <td mat-cell *matCellDef="let element"> {{element.restaurantName}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="restaurantID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Restaurant ID </th>
                <td mat-cell *matCellDef="let element"> {{element.restaurantID}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="city_locality">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> City-Locality</th>
                <td mat-cell *matCellDef="let element"> {{element.city_locality}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="activeIntegrations">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Integrations </th>
                <td mat-cell *matCellDef="let element"> {{element.activeIntegrations}} </td>
              </ng-container>

              <ng-container matColumnDef="pendingRequests">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Pending Requests </th>
                <td mat-cell *matCellDef="let element"> {{element.pendingRequests}} </td>
              </ng-container>

              
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-outline-primary btn-sm" routerLink="/integrations/view-outlet">View</button>
                  <button class="btn btn-outline-primary btn-sm" (click)="EditData(row)">Edit</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #firstPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


          </div>

        </div>


      </form>
    </mat-step>


    <!-- CHAINS TAB -->
    <mat-step [stepControl]="chainsFormGroup">
      <form [formGroup]="chainsFormGroup">
        <ng-template matStepLabel>Chains</ng-template>

        <div class="row mt-4">
          <div class="col-lg-6">
          </div>
          <div class="col-lg-6">
            <div class="float-right">
              <button class="btn btn-primary ml-2 ">Import excel</button>
              <button class="btn btn-primary ml-2">Export excel</button>
             </div>
          </div>
        </div>
        <div class="row">

          <div class="col-sm-12">
            <mat-form-field>
              <input matInput (keyup)="chainsapplyFilter($event.target.value)"
                placeholder="Search for License Number, Chain Name, Number of Outlet">
            </mat-form-field>

            <table mat-table [dataSource]="chainsdataSource" class="mat-elevation-z8" matSort>

              <!-- Position Column -->
              <ng-container matColumnDef="licenseNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> License Number </th>
                <td mat-cell *matCellDef="let element"> {{element.licenseNumber}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="chainName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Chain Name </th>
                <td mat-cell *matCellDef="let element"> {{element.chainName}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="numberofOutlets">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of outlet</th>
                <td mat-cell *matCellDef="let element"> {{element.numberofOutlets}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="chainIntegrationsActive">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Chain Integrations Active </th>
                <td mat-cell *matCellDef="let element"> {{element.chainIntegrationsActive}} </td>
              </ng-container>
              
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn btn-outline-primary btn-sm" routerLink="/integrations/view-chains">View</button>
                  <button class="btn btn-outline-primary btn-sm" (click)="EditData(row)">Edit</button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="chainsdisplayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: chainsdisplayedColumns;"></tr>
            </table>
            <mat-paginator #chainsPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


          </div>

        </div>

        
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</div>