<div class="container">
    <form [formGroup]="ambienceInfo">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleInputEmail1">Add Title</label>
                <input type="text" class="form-control" formControlName="title" (focusout)="dupliChk()" placeholder="Add Title">
                <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
        </div>
       
    </div>
   
    <div class="row">
        
        <mat-chip *ngFor="let a of elementArr">{{a}}</mat-chip>
    </div>
       
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="exampleInputEmail1">Add Ambience Infos</label>
                    <input type="text" class="form-control" formControlName="ambienceArr" placeholder="Ambience Name">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
            </div>
            
            <div class="col">
                
                <!-- <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button> -->
                &nbsp;<button type="button" class="btn btn-primary" [disabled]="!ambienceInfo.valid"  (click)="onSave()">Add</button>
            </div>
        </div>

        <div class="row">
            <button type="button" class="btn btn-danger" mat-dialog-close>Cancel</button>
            &nbsp;<button type="button" class="btn btn-primary" [disabled]="isSubmitted" (click)="onSubmit()" mat-dialog-close>submit</button>
        </div>
       
    </form>
</div>