<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <h1 mat-dialog-title>Add Menu Sub Categroy</h1>
    </div>
    
    <div class="col-md-3">
        <i class="fa fa-window-close float-right" style="margin-left: 52px; margin-top: -7px;" aria-hidden="true"
            mat-dialog-close></i>
    </div>
</div>


<div mat-dialog-content>

    <form [formGroup]="MenuSubCatForm">
        <!-- <div class="class form-group">
            <select class="mb-3 form-control" formControlName="rootCat"  (change)="onRootSelect(e)">
                <option value="">Select Root Establiment</option>
                <option *ngFor="let e of estRootName" [value]="e._id">
                    {{e.rootCategoryName}}
                </option>
            </select>
        </div> -->
        <div class="form-group">
            <!-- <label for="exampleInputEmail1">Category Name</label><br> -->
            <!-- <select formControlName="category_name">
                <option [value]="c" *ngFor="let c of CatArr">{{c}}</option>
            </select> -->
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Sub Category Name"  formControlName="childCategoryName" aria-label="Number"  matInput >
               
              </mat-form-field>
        </div>

        <div class="class"></div>

        
        <label for="exampleInputEmail1">Filterable</label>
        <div class="form-group">
            <mat-slide-toggle formControlName="isFilterable"> Filterable</mat-slide-toggle>
    </div>
    
        <label for="exampleInputEmail1">Searchable</label>
        <div class="form-group">
            <mat-slide-toggle formControlName="isSearchable"> Searchable</mat-slide-toggle>
           </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Priority in the tree/filter</label><br>
            <select formControlName="priority">
                <!-- <option [value]="p" *ngFor="let p of PrioArr">{{p}}</option> -->
            </select>
          
         
        </div>
     

    </form>
</div>

<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button (click)="onSave()" cdkFocusInitial mat-dialog-close>Save Sub Category </button>
        </div>
    </div>
    <div class="col-lg-3">
        
    </div>
</div>
