<div class="container">
    <h5>Feedback</h5>
</div>

<div class="container">
    <mat-card>
        <mat-tab-group>
            <!-- BIZLY -->
            <mat-tab label="Bizly">
                <mat-tab-group>
                    <mat-tab>
                        <mat-form-field>
                            <mat-label>All</mat-label>
                            <mat-select [(ngModel)]="selectedValue" (selectionChange)="onSelectedValue(selectedValue)">
                                <mat-option value="bizlytocust">
                                    Bizly to Customer
                                </mat-option>
                                <mat-option value="bizlytopos">
                                    Bizly to POS Merchants
                                </mat-option>
                                <mat-option value="postocust">
                                    POS Merchants to Customer
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        
                    </mat-tab>
                </mat-tab-group>

                <mat-tab-group>
                    <!-- TEMPLATE -->
                    <mat-tab label="Template">
                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <!-- <div ngbDropdown class="d-inline-block float-right ">
                                    <button class="btn btn-primary text-left w-250" id="dropdownBasic1"
                                        ngbDropdownToggle>All</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem>Bizly to Customer</button>
                                        <button ngbDropdownItem>Bizly to POS Merchants</button>
                                        <button ngbDropdownItem>POS Merchants to Customer</button>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-lg-6">
                                <div class="float-right">
                                    <!-- <button class="btn btn-primary ml-2 " >Import excel</button> -->
                                    <label class="btn btn-primary ml-2 mt-2 ">Import excel
                                        <input class="exportInput" type="file" (change)="uploadedFile($event)"
                                            accept=".xlsx, .csv">
                                    </label>
                                    <button class="btn btn-primary ml-2" (click)="readAsCSVTemplateQuestion()">Export
                                        excel</button>
                                    <button class="btn btn-primary ml-2" routerLink="/feedback/create-template"><i
                                            class="fa fa-plus mr-2" aria-hidden="true"></i>Create Template</button>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput (keyup)="feedbackTemplateapplyFilter($event.target.value)"
                                        placeholder="Search">
                                </mat-form-field>

                                <table mat-table [dataSource]="TemplatedataSource" class="mat-elevation-z8" matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="templateCode">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Code
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.templateCode}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="templateName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Name
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.templateName}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="templateQuestionsSet">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Questions Set
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="platForm">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Platform </th>
                                        <td mat-cell *matCellDef="let element"> {{element.platForm}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <mat-slide-toggle [checked]="element.status"
                                                (change)="templatestatusActiveDeactive(element._id,$event)">
                                                <!-- <span *ngIf = "enableTemplateSetStatus && enableTemplateSetStatusIndex == i">chck</span> -->

                                            </mat-slide-toggle>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="collectResponsesFrom">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Collect Responses From
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.collectResponsesFrom}} </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="createdByAndOn">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By and On </th>
                                        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <i mat-raised-button matTooltip="View" class="fa fa-eye example-button"
                                                aria-hidden="true" (click)="viewTemplateSet(element._id,element)"
                                                routerLink="/feedback/view-template"></i>&nbsp;
                                            <i mat-raised-button matTooltip="Edit"
                                                class="fa fa-pencil-square example-button"
                                                (click)="editTemplateSet(element._id,element)"
                                                routerLink="/feedback/update-template" aria-hidden="true"></i>&nbsp;

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayeTemplateSetColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayeTemplateSetColumns;"></tr>
                                </table>
                                <mat-paginator #tempaltePaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


                            </div>

                        </div>
                        <hr>
                        <div class="row ml-2 mt-4">

                            <div *ngFor="let template of allTempaletSet">

                                <div class="card ml-2" style="width: 18rem; height: 20rem;">
                                    <div *ngIf="template.assignPOS">
                                        <span>Assign to :{{"POS"}}</span>
                                    </div>
                                    <div *ngIf="template.assignCustomer">
                                        <span>Assign to :{{"CUSTOMER"}}</span>
                                    </div>

                                    <div class="card-body">
                                        <div style=" max-height: 12rem;overflow: auto;">
                                            <h5 class="card-title TitleCard">
                                                {{template.templateCode}}:-{{template.templateName}}</h5>
                                            <h6 class="card-subtitle ">{{template.templateDescription}}
                                            </h6>
                                            <hr>
                                            <div *ngFor="let queset of template.selectedQuestionsSet">
                                                <h6 class="card-subtitle mb-2  mt-1">
                                                    {{queset.questionSetName}}
                                                </h6>
                                                <hr>
                                                <div *ngFor="let que of queset.selectedQuestions">
                                                    <i class="fa fa-circle" style="font-size: smaller;"
                                                        aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;{{que.label_Name}}</i>
                                                </div>
                                                <hr>
                                            </div>
                                        </div>
                                        <div>
                                            <button class="btn btn-sm  btn-primary mr-2 mt-4 mb-1"
                                                (click)="editTemplateSet(template._id,template)"
                                                routerLink="/feedback/update-template">Edit</button>
                                            <button class="btn btn-sm btn-primary float-right mt-4 mb-1" type="button"
                                                (click)="exampleModalCenter.show()">Assign</button>

                                        </div>

                                        <app-ui-modal #exampleModalCenter dialogClass="modal-dialog-centered">
                                            <div class="app-modal-header">
                                                <h5 class="modal-title">Assign Template</h5>
                                                <button type="button" class="close basic-close" data-dismiss="modal"
                                                    aria-label="Close" (click)="exampleModalCenter.hide()"><span
                                                        aria-hidden="true">&times;</span></button>

                                            </div>
                                            <div class="app-modal-body">
                                                <div class="row ml-2 mt-4">
                                                    <label>
                                                        <input type="checkbox" [value]="pos" [(ngModel)]="assignPos" />
                                                        POS
                                                    </label>
                                                </div>
                                                <div class="row ml-2 mt-4">
                                                    <label>
                                                        <input type="checkbox" [value]="customer"
                                                            [(ngModel)]="assignCustomer" />
                                                        COSTUMOR
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="app-modal-footer">

                                                <button type="button" class="btn btn-primary"
                                                    (click)="exampleModalCenter.hide();assignTemplate(template._id)">Process</button>
                                            </div>
                                        </app-ui-modal>

                                    </div>

                                </div>

                            </div>

                        </div>


                    </mat-tab>

                    <!-- QUESTION SET -->
                    <mat-tab label="Question Set">

                        <div class="row mt-4">
                            <div class="col-lg-6">
                                <!-- <div ngbDropdown class="d-inline-block float-right ">
                                    <button class="btn btn-primary text-left w-250" id="dropdownBasic1"
                                        ngbDropdownToggle>All</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem>Bizly to Customer</button>
                                        <button ngbDropdownItem>Bizly to POS Merchants</button>
                                        <button ngbDropdownItem>POS Merchants to Customer</button>
                                    </div>
                                </div> -->
                            </div>
                            <div class="col-lg-6">
                                <div class="float-right">
                                    <label class="btn btn-primary ml-2 mt-2 ">Import excel
                                        <input class="exportInput" type="file" (change)="uploadedFile($event)"
                                            accept=".xlsx, .csv">
                                    </label>
                                    <button class="btn btn-primary ml-2" (click)="readAsCSVQuestionSet()">Export
                                        excel</button>
                                    <button class="btn btn-primary ml-2" routerLink="/feedback/create-question-set"><i
                                            class="fa fa-plus mr-2" aria-hidden="true"></i>Create Question Set</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput (keyup)="createQuestionSetapplyFilter($event)" placeholder="Search">
                                </mat-form-field>

                                <table mat-table [dataSource]="QuestionSetdataSource" class="mat-elevation-z8" matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="questionSetCode">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Question Set Code
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.questionSetCode}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="questionSetName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Question Set Name
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.questionSetName}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="questionsAdded">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Questions Added </th>
                                        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <mat-slide-toggle [checked]="element.status"
                                                (change)="questatusActiveDeactive(element._id,$event)">
                                                <!-- <span *ngIf = "enableQuestSetStatus && enableQuestSetStatusIndex == i">chck</span> -->

                                            </mat-slide-toggle>
                                        </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="createdByAndOn">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By and On </th>
                                        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                        <td mat-cell *matCellDef="let element; let i = index">
                                            <i mat-raised-button matTooltip="View" class="fa fa-eye example-button"
                                                (click)="viewQustionSet(element._id,element)" aria-hidden="true"
                                                routerLink="/feedback/view-question-set"
                                                [ngClass]="{'no-click': enableQuestSetStatus && enableQuestSetStatusIndex === i}"></i>&nbsp;
                                            <i mat-raised-button matTooltip="Edit"
                                                class="fa fa-pencil-square example-button"
                                                (click)="editQustionSet(element._id,element)"
                                                routerLink="/feedback/update-question-set" aria-hidden="true"
                                                [ngClass]="{'no-click': enableQuestSetStatus && enableQuestSetStatusIndex === i}"></i>&nbsp;
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedQuestionSetColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedQuestionSetColumns;"></tr>
                                </table>
                                <mat-paginator #createQuestionSetpaginator [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>


                            </div>

                        </div>


                    </mat-tab>

                    <!-- FEEDBACK QUESTIONS -->
                    <mat-tab label="Feedback Questions">

                        <div class="row mt-4">
                            <div class="col-lg-6 mt-2">
                                <!-- <div ngbDropdown class="d-inline-block float-right ">
                                    <button class="btn btn-primary text-left w-250" id="dropdownBasic1"
                                        ngbDropdownToggle>All</button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                        <button ngbDropdownItem>Bizly to Customer</button>
                                        <button ngbDropdownItem>Bizly to POS Merchants</button>
                                        <button ngbDropdownItem>POS Merchants to Customer</button>
                                    </div>
                                </div> -->
                                <!-- <mat-form-field>
                                    <mat-label>All</mat-label>
                                    <mat-select  [(ngModel)]="selectedValue" (selectionChange)="onSelectedValue(selectedValue)">
                                        <mat-option value="bizlytocust">
                                            Bizly to Customer
                                        </mat-option>
                                        <mat-option value="bizlytopos" >
                                            Bizly to POS Merchants
                                        </mat-option>
                                        <mat-option value="postocust">
                                            POS Merchants to Customer
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
{{selectedValue}} -->
                            </div>
                            <div class="col-lg-6">
                                <div class="float-right">
                                    <label class="btn btn-primary ml-2 mt-2 ">Import excel
                                        <input class="exportInput" type="file" (change)="uploadedFile($event)"
                                            accept=".xlsx, .csv">
                                    </label>
                                    <button class="btn btn-primary ml-2" (click)="readAsCSVFeedbackQuestion()">Export
                                        excel</button>
                                    <button class="btn btn-primary ml-2"
                                        routerLink="/feedback/create-feedback-question">
                                        <i class="fa fa-plus mr-2" aria-hidden="true"></i>Create Question</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput (keyup)="createQuestionapplyFilter($event)" placeholder="Search">
                                </mat-form-field>

                                <table mat-table [dataSource]="FeedbackQuestiondataSource" class="mat-elevation-z8"
                                    matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="feedbackQuestionID">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Feedback Question ID
                                        </th>
                                        <td mat-cell *matCellDef="let element"> Q{{element.feedbackCode}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="feedbackQuestionTitle">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Feedback Question Title
                                        </th>
                                        <td mat-cell *matCellDef="let element"> {{element.label_Name}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="inputType">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Input Type </th>
                                        <td mat-cell *matCellDef="let element"> {{element.inputType}} </td>
                                    </ng-container>

                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="createdByAndOn">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By and On </th>
                                        <td mat-cell *matCellDef="let element"> {{element.createdAt}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <i mat-raised-button matTooltip="View" class="fa fa-eye example-button"
                                                aria-hidden="true" (click)="viewQustion(element._id,element)"
                                                routerLink="/feedback/view-feedback-question"></i>&nbsp;
                                            <i mat-raised-button matTooltip="Edit"
                                                class="fa fa-pencil-square example-button"
                                                routerLink="/feedback/update-feedback-question" aria-hidden="true"
                                                (click)="editQustion(element._id,element)"></i>&nbsp;
                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayColumnsFeedbackQuestion"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayColumnsFeedbackQuestion;"></tr>
                                </table>
                                <mat-paginator #FeedbackQuestionpaginator [pageSizeOptions]="[5, 10, 25, 100]">
                                </mat-paginator>

                            </div>

                        </div>

                    </mat-tab>

                </mat-tab-group>

            </mat-tab>
           
            <!-- Review / Responses Received -->
            <mat-tab label="Review / Responses Received"> Pending</mat-tab>
        </mat-tab-group>





    </mat-card>

</div>