/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .w-250:root{
  padding-left: 75px;
  padding-right: 75px;
    }
  .example-button {
      margin-top: 16px;
    }
    .no-click { 
     
  cursor: pointer;
    opacity:0.5;
    pointer-events: none;

  }

  .exportInput{
    display: none;
  }