
<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Update Brand</h5>

<mat-card>
    <div class="container">



        <form [formGroup]="addBrandForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Brand Name"  [class.is-invalid]="addBrandForm.get('brandName').invalid &&
                            addBrandForm.get('brandName').touched" formControlName="brandName">
                        <mat-error [class.d-none]="addBrandForm.get('brandName').valid ||
                            addBrandForm.get('brandName').untouched" class="text-danger">
                            Brand name is Invalid</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <select class="mb-3 form-control" formControlName="country" [class.is-invalid]="addBrandForm.get('country').invalid &&
                    addBrandForm.get('country').touched">
                        <option value="">Country</option>
                        <option *ngFor="let c of countries" [value]="c.name">
                            {{c.name}}
                        </option>
                    </select>

                </div>
            </div>

            <div class="row ml-2 mt-2">
                <label>Liquor Category</label>
            </div>
            <div class="row ml-2">
                <div class="col-lg-12">
                    <ul id="myUL">
                        <li *ngFor="let rootdDrink of DrinkTypes; let i=index">
                            
                            <span class="caret" (click)="caretClick()">
                            <mat-checkbox class="example-margin" [checked]="rootdDrink['showChildren']"  [(indeterminate)]="rootdDrink['inter']"  (change)="changeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="rootdDrink.rootDrinkType"></mat-checkbox>

                            <!-- <input type="radio" formControlName="rootDrinkType" [value]="rootdDrink.rootDrinkType"> -->
                            {{rootdDrink.rootDrinkType}}
                          </span>
          
                          <ul class="nested">
          
                            <li *ngFor="let liquorVarient of rootdDrink.liquorVarients;let subcategoryIndex=index"><span class="caret"
                                (click)="caretClick()">
                            <mat-checkbox class="example-margin" (change)="changeFlag(rootCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="liquorVarient['showChildren']"  [(indeterminate)]="liquorVarient['inter']"  value="liquorVarient.liquorVarientName"></mat-checkbox>
                                
                                <!-- <input type="radio" formControlName="liquorVarient" [value]="liquorVarient.liquorVarientName"> -->
                                {{liquorVarient.liquorVarientName}}
                              </span>
                              <ul class="nested">
                                <li *ngFor="let liquorSubVarient of liquorVarient.liquorSubVarients; let subsubcategoryINdex=index"><span class="caret"
                                    (click)="caretClick()">
                                    <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.liquorSubVarientName"> -->
                            <mat-checkbox class="example-margin" [checked]="liquorSubVarient['showChildren']"  [(indeterminate)]="liquorSubVarient['inter']"   (change)="changeFlag(rootCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="liquorSubVarient.liquorSubVarientName"></mat-checkbox>

                                    {{liquorSubVarient.liquorSubVarientName}}
                                  </span>
                                  <ul class="nested">
          
                                    <li *ngFor="let liquorSubSubVarient of liquorSubVarient.liquorSubSubVarientType; let typeIndex=index">
                                      <span>
                                        <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                        <!-- (click)="selectSubSubVarient(rootdDrink.rootDrinkType, liquorVarient.liquorVarientName , liquorSubVarient.liquorSubVarientName)"> -->
                            <mat-checkbox class="example-margin" [checked]="liquorSubSubVarient['showChildren']"  [(indeterminate)]="liquorSubSubVarient['inter']"  (change)="changeFlag(rootCategory, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="liquorSubSubVarient."></mat-checkbox>

                                        {{liquorSubSubVarient['liquorSubSubVarientTypeName']}}
                                      </span>
                                    </li>
                                    <i class="fa fa-plus mb-2" (click)="openSubSubVarient(rootdDrink._id, liquorVarient._id, liquorSubVarient._id)" aria-hidden="true"> Add Sub Sub
                                      Varient</i>
                                  </ul>
                                </li>
                                <i class="fa fa-plus mb-2" (click)="openSubVarientDialog(rootdDrink._id, liquorVarient._id)" aria-hidden="true">
                                  Add Sub Varient</i>
                              </ul>
                            </li>
                            <i class="fa fa-plus mb-2" (click)="openVarientDialog(rootdDrink._id)" aria-hidden="true"> Add
                              Varient</i>
                          </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openRootDialog()" aria-hidden="true"> Add Root Drink</i>
          
                      </ul>
                </div>
            </div>

            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary" [disabled]="!addBrandForm.valid" (click)="onAddBrand()">Update
                        Brand</button>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </form>
    </div>

</mat-card>