<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h3>Select Columns to be display</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-4 mt-4" *ngFor="let a of columnDefs">

            <input type="checkbox" [checked]="a.status" class="big-checkbox" (change)="onSelect($event, a)">
             <p style="font-size: large;">{{a.name}}</p> 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-6">
            <button class="btn btn-danger" mat-dialog-close>Cancel</button> &nbsp;
            <button class="btn btn-primary" [mat-dialog-close]="columnDefs">Submit</button>
        </div>
        <div class="col-lg-3">
            
        </div>
       
    </div>
</div>