<form action="" [formGroup]="morechipsForm">
    <div class="container">      

        <div class="row">
            <div class="col">
                <mat-chip *ngFor = "let a of moreinfo" class="ml-2 mt-2">
                    {{a}}  &nbsp;<i class="far fa-times-circle" (click)="remove(a)"></i>
                </mat-chip>
            </div>
            
        </div>
        <div class="row mt-4">
            <div class="col form-group">
                <input type="text" formControlName="chip" minlength="3" class="form-control">
            </div>
          
      
            <div class="col form-group">
                <button class="btn btn-primary" [disabled]="!morechipsForm.valid" (click)="add()">Add</button>
            </div>
           
         
        </div>

        <div class="row mt-4">
            <div class="col">
                <button class="btn btn-danger ml-2"  mat-dialog-close>cancel</button>
                <button class="btn btn-primary ml-2" (click)="submit()" mat-dialog-close>Submit</button>
            </div>            
        </div>
        
    </div>
</form>

