<form [formGroup]="CategoryQueTypeForm">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Add Category Type</h2>
        </div>

        <div class="row">
           
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Add Drink Varient" [class.is-invalid]="CategoryQueTypeForm.get('categoryName').invalid &&
    CategoryQueTypeForm.get('categoryName').touched" formControlName="categoryName">
                    <mat-error [class.d-none]="CategoryQueTypeForm.get('categoryName').valid ||
    CategoryQueTypeForm.get('categoryName').untouched" class="text-danger">
                        Category Type name is Invalid</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" (click)="onAddCategoryType()" [disabled]="!CategoryQueTypeForm.valid" mat-dialog-close>Add</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</form>