.example-container {
    width: 400px;
    /* max-width: 100%; */
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: top;
  }
  .del{
  margin-left: auto;
    margin-top: 3%;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 5px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .container {
      width: 1180px;
      margin-top: 3em;
    }
    #accordion .panel {
      border-radius: 0;
      border: 0;
      margin-top: 0px;
    }
    #accordion a {
      display: block;
      padding: 10px 15px;
      border-bottom: 1px solid #b42b2b;
      text-decoration: none;
    }
    #accordion .panel-heading a.collapsed:hover,
    #accordion .panel-heading a.collapsed:focus {
      background-color: #b42b2b;
      color: white;
      transition: all 0.2s ease-in;
    }
    #accordion .panel-heading a.collapsed:hover::before,
    #accordion .panel-heading a.collapsed:focus::before {
      color: white;
    }
    #accordion .panel-heading {
      padding: 0;
      border-radius: 0px;
      text-align: center;
    }
    #accordion .panel-heading a:not(.collapsed) {
      color: white;
      background-color: #b42b2b;
      transition: all 0.2s ease-in;
    }
    
    #accordion .panel-heading .accordion-toggle::before {
      font-family: 'FontAwesome';
      content: '\f00d';
      float: left;
      color: white;
      font-weight: lighter;
      transform: rotate(0deg);
      transition: all 0.2s ease-in;
    }
    #accordion .panel-heading .accordion-toggle.collapsed::before {
      color: #444;
      transform: rotate(-135deg);
      transition: all 0.2s ease-in;
    }
    .mat-form-field + .mat-form-field {
      margin-left: 8px;
    }
    
    .mat-dialog-container {
      display: block;
      position: fixed;
      padding: 24px;
      border-radius: 4px;
      box-sizing: border-box;
      overflow: auto;
      outline: 0;
      width: 100%;
      left: 20%;
      top: 5%;
      height: 100%;
      min-height: inherit;
      max-height: inherit;
  }
  ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
  
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
   
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
