<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
  (click)="back();" >Back</button>

<h5 style="margin-top: -16px;">{{path_name}} / Add Attribute set</h5>
<mat-card>
   
    <div class="container">
      <form [formGroup]="addLiquorAttributeGroupForm">

        <div class="row">
          <div class="col-lg-4">
            <mat-form-field class="example-full-width" style="width: 100%;">
              <input matInput placeholder="Set Name" (focusout)="checkAttributesetExist($event)" formControlName="attributeSetName" [disabled]="text">
            </mat-form-field>
          </div>
    
        </div>
    <div class="row" *ngIf="this.attributeKey=='liquor'" >
      <div class="row ml-2 mt-2">
        <label>Liquor Category</label>
    </div>
    <div class="row ml-2">
        <div class="col-lg-12">
            <ul id="myUL">
                <li *ngFor="let rootdDrink of DrinkTypes; let i=index">
                    
                    <span class="caret" (click)="caretClick()">
                    <mat-checkbox class="example-margin" [disabled]="disabledflag>0 && disabled_id != rootdDrink['_id']" [checked]="rootdDrink['showChildren']" [(indeterminate)]="rootdDrink['inter']" (change)="changeFlag(rootdDrink['_id'],rootdDrink, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="rootdDrink.rootDrinkType"></mat-checkbox>

                    <!-- <input type="radio" formControlName="rootDrinkType" [value]="rootdDrink.rootDrinkType"> -->
                    {{rootdDrink.rootDrinkType}}
                  </span>
  
                  <ul class="nested">
  
                    <li *ngFor="let liquorVarient of rootdDrink.liquorVarients;let subcategoryIndex=index"><span class="caret"
                        (click)="caretClick()">
                    <mat-checkbox class="example-margin" [(indeterminate)]="liquorVarient['inter']" (change)="changeFlag(liquorVarient['_id'],liquorVarient, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [disabled]="disabledflag>0 && disabled_id != liquorVarient['_id']" [checked]="liquorVarient['showChildren']" value="liquorVarient.liquorVarientName"></mat-checkbox>
                        
                        <!-- <input type="radio" formControlName="liquorVarient" [value]="liquorVarient.liquorVarientName"> -->
                        {{liquorVarient.liquorVarientName}}
                      </span>
                      <ul class="nested">
                        <li *ngFor="let liquorSubVarient of liquorVarient.liquorSubVarients; let subsubcategoryINdex=index"><span class="caret"
                            (click)="caretClick()">
                            <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.liquorSubVarientName"> -->
                    <mat-checkbox class="example-margin" [(indeterminate)]="liquorSubVarient['inter']" [checked]="liquorSubVarient['showChildren']" [disabled]="disabledflag>0 && disabled_id != liquorSubVarient['_id']" (change)="changeFlag(liquorSubVarient['_id'],liquorSubVarient, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="liquorSubVarient.liquorSubVarientName"></mat-checkbox>

                            {{liquorSubVarient.liquorSubVarientName}}
                          </span>
                          <ul class="nested">
  
                            <li *ngFor="let liquorSubSubVarient of liquorSubVarient.liquorSubSubVarientType; let typeIndex=index">
                              <span>
                                <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                <!-- (click)="selectSubSubVarient(rootdDrink.rootDrinkType, liquorVarient.liquorVarientName , liquorSubVarient.liquorSubVarientName)"> -->
                    <mat-checkbox class="example-margin" [checked]="liquorSubSubVarient['showChildren']" [disabled]="disabledflag>0 && disabled_id != liquorSubSubVarient['_id']" [(indeterminate)]="liquorSubSubVarient['inter']" (change)="changeFlag(liquorSubSubVarient['_id'],liquorSubSubVarient, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="liquorSubSubVarient."></mat-checkbox>

                                {{liquorSubSubVarient['liquorSubSubVarientTypeName']}}
                              </span>
                            </li>
                            <i class="fa fa-plus mb-2" (click)="openSubSubVarient(rootdDrink._id, liquorVarient._id, liquorSubVarient._id)" aria-hidden="true"> Add Sub Sub
                              Varient</i>
                          </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openSubVarientDialog(rootdDrink._id, liquorVarient._id)" aria-hidden="true">
                          Add Sub Varient</i>
                      </ul>
                    </li>
                    <i class="fa fa-plus mb-2" (click)="openVarientDialog(rootdDrink._id)" aria-hidden="true"> Add
                      Varient</i>
                  </ul>
                </li>
                <i class="fa fa-plus mb-2" (click)="openRootDialog()" aria-hidden="true"> Add Root Drink</i>
  
              </ul>
        </div>
    </div>
    </div>
    <div class="row" *ngIf="this.attributeKey=='equipment'" >
      <div class="row ml-2 mt-2">
        <label>Equipment Category</label>
    </div>
    <div class="row ml-2">
        <div class="col-lg-12">
          <ul id="myUL">
            <li *ngFor="let rootCategory of allAssetInventoryCategory; let i=index"><span class="caret"
                (click)="caretClick()">
                <mat-checkbox class="example-margin"  (change)="changeFlagEquipment(rootCategory['_id'],rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [disabled]="disabledflag>0 && disabled_id != rootCategory['_id']" [checked]="rootCategory['showChildren']" [(indeterminate)]="rootCategory['inter']" value="rootCategory['_id']"></mat-checkbox>
                {{rootCategory.rootCategoryName}}
              </span>

              <ul class="nested">

                <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                    (click)="caretClick()"><mat-checkbox class="example-margin"  (change)="changeFlagEquipment(subCategory['_id'],subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subCategory['showChildren']" [disabled]="disabledflag>0 && disabled_id != subCategory['_id']" [(indeterminate)]="subCategory['inter']" value="subCategory['_id']"></mat-checkbox>
                    {{subCategory.subCategoryName}} 
                  </span>
                  <ul class="nested"> 
                    <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                         (click)="caretClick()"><mat-checkbox class="example-margin" (change)="changeFlagEquipment(subSubCategory['_id'],subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [(indeterminate)]="subSubCategory['inter']" [disabled]="disabledflag>0 && disabled_id != subSubCategory['_id']" [checked]="subSubCategory['showChildren']" value="subSubCategory['_id']"></mat-checkbox>
                        {{subSubCategory.subSubCategoryName}}
                      </span>
                      <ul class="nested">

                        <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                          <span>
                            <mat-checkbox class="example-margin" [disabled]="disabledflag>0 && disabled_id != type['_id']" (change)="changeFlagEquipment(type['_id'],type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']"  value="type['subSubCategoryTypeName']" [(indeterminate)]="type['inter']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                          </span>
                        </li>
                        <i class="fa fa-plus mb-2"
                          (click)="openInventorySubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                          aria-hidden="true"> Add Sub Sub Category Type</i>
                      </ul>
                    </li>
                    <i class="fa fa-plus mb-2"
                      (click)="openInventorySubSubCategoryDialog(rootCategory._id, subCategory._id)"
                      aria-hidden="true">
                      Add Sub Sub Category</i>
                  </ul>
                </li>
                <i class="fa fa-plus mb-2" (click)="openInventorySubCategoryDialog(rootCategory._id)"
                  aria-hidden="true"> Add
                  Sub Category</i>
              </ul>
            </li>
            <i class="fa fa-plus mb-2" (click)="openInventoryRootCategoryDailog()"
              aria-hidden="true"> Add Root
              Category</i>

          </ul>
        </div>
    </div>
    </div>
    <div class="row" *ngIf="this.attributeKey=='beverage'" >
      <div class="row ml-2 mt-2">
        <label>In House Beverages Category</label>
    </div>
    <div class="row ml-2">
        <div class="col-lg-12">
          <ul id="myUL">
            <li *ngFor="let rootCategory of allInHouseBeveragesCategories; let i=index"><span class="caret"
                (click)="caretClick()">
                <mat-checkbox class="example-margin"  (change)="changeFlag(rootCategory['_id'],rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [disabled]="disabledflag>0 && disabled_id != rootCategory['_id']" [checked]="rootCategory['showChildren']" [(indeterminate)]="rootCategory['inter']" value="rootCategory['_id']"></mat-checkbox>
                {{rootCategory.rootCategoryName}}
              </span>

              <ul class="nested">

                <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                    (click)="caretClick()"><mat-checkbox class="example-margin" (change)="changeFlag(subCategory['_id'],subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [disabled]="disabledflag>0 && disabled_id != subCategory['_id']"  [checked]="subCategory['showChildren']" [(indeterminate)]="subCategory['inter']" value="subCategory['_id']"></mat-checkbox>
                    {{subCategory.subCategoryName}} 
                  </span>
                  <ul class="nested"> 
                    <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                         (click)="caretClick()"><mat-checkbox class="example-margin" (change)="changeFlag(subSubCategory['_id'],subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [disabled]="disabledflag>0 && disabled_id != subSubCategory['_id']" [checked]="subSubCategory['showChildren']" [(indeterminate)]="subSubCategory['inter']" value="subSubCategory['_id']"></mat-checkbox>
                        {{subSubCategory.subSubCategoryName}}
                      </span>
                      <ul class="nested">

                        <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                          <span>
                            <mat-checkbox class="example-margin" [disabled]="disabledflag>0 && disabled_id != type['_id']"  [(indeterminate)]="type['inter']" (change)="changeFlag(type[_id],type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']"  value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                          </span>
                        </li>
                        <i class="fa fa-plus mb-2"
                          (click)="openBeveragesSubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                          aria-hidden="true"> Add Sub Sub Category Type</i>
                      </ul>
                    </li>
                    <i class="fa fa-plus mb-2"
                      (click)="openBeveragesSubSubCategoryDialog(rootCategory._id, subCategory._id)"
                      aria-hidden="true">
                      Add Sub Sub Category</i>
                  </ul>
                </li>
                <i class="fa fa-plus mb-2" (click)="openBeveragesSubCategoryDialog(rootCategory._id)"
                  aria-hidden="true"> Add
                  Sub Category</i>
              </ul>
            </li>
            <i class="fa fa-plus mb-2" (click)="openBeveragesRootCategoryDailog('retailBeverage')"
              aria-hidden="true"> Add Root
              Category</i>

          </ul>
        </div>
    </div>
    </div>
    <div class="row" *ngIf="this.attributeKey=='retailFood'" >
      <div class="row ml-2 mt-2">
        <label>Retail Food Category</label>
    </div>
    <div class="row ml-2">
        <div class="col-lg-12">
          <ul id="myUL">
            <li *ngFor="let rootCategory of allRetailFoodCategories; let i=index"><span class="caret"
                (click)="caretClick()">
                <mat-checkbox class="example-margin" [disabled]="disabledflag>0 && disabled_id != rootCategory['_id']"  (change)="RetailfoodchangeFlag(rootCategory['_id'],rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [(indeterminate)]="rootCategory['inter']" [checked]="rootCategory['showChildren']"  value="rootCategory['_id']"></mat-checkbox>
                {{rootCategory.rootCategoryName}}
              </span>

              <ul class="nested">

                <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                    (click)="caretClick()"><mat-checkbox class="example-margin" (change)="RetailfoodchangeFlag(subCategory['_id'],subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [(indeterminate)]="subCategory['inter']" [disabled]="disabledflag>0 && disabled_id != subCategory['_id']" [checked]="subCategory['showChildren']" value="subCategory['_id']"></mat-checkbox>
                    {{subCategory.subCategoryName}} 
                  </span>
                  <ul class="nested"> 
                    <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                         (click)="caretClick()"><mat-checkbox class="example-margin" [(indeterminate)]="subSubCategory['inter']" (change)="RetailfoodchangeFlag(subSubCategory['_id'],subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [disabled]="disabledflag>0 && disabled_id != subSubCategory['_id']" [checked]="subSubCategory['showChildren']" value="subSubCategory['_id']"></mat-checkbox>
                        {{subSubCategory.subSubCategoryName}}
                      </span>
                      <ul class="nested">

                        <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                          <span>
                            <mat-checkbox class="example-margin" [disabled]="disabledflag>0 && disabled_id != type['_id']" [(indeterminate)]="type['inter']" (change)="RetailfoodchangeFlag(type['_id'],type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']"  value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                          </span>
                        </li>
                        <i class="fa fa-plus mb-2"
                        (click)="openRetailFoodSubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                        aria-hidden="true"> Add Sub Sub Category Type</i>
                    </ul>
                  </li>
                  <i class="fa fa-plus mb-2"
                    (click)="openRetailFoodSubSubCategoryDialog(rootCategory._id, subCategory._id)"
                    aria-hidden="true">
                    Add Sub Sub Category</i>
                </ul>
              </li>
              <i class="fa fa-plus mb-2" (click)="openRetailFoodSubCategoryDialog(rootCategory._id)"
                aria-hidden="true"> Add
                Sub Category</i>
            </ul>
          </li>
          <i class="fa fa-plus mb-2" (click)="openRetailFoodRootCategoryDailog()" aria-hidden="true"> Add Root
            Category</i>


          </ul>
        </div>
    </div>
    </div>
    <div class="row" *ngIf="this.attributeKey=='retailBeverages'" >
      <div class="row ml-2 mt-2">
        <label>Retail Beverages Category</label>
    </div>
    <div class="row ml-2">
        <div class="col-lg-12">
          <ul id="myUL">
            <li *ngFor="let rootCategory of allRetailBeveragesCategories; let i=index"><span class="caret"
                (click)="caretClick()">
                <mat-checkbox class="example-margin" [(indeterminate)]="rootCategory['inter']" (change)="beveargeschangeFlag(rootCategory['_id'],rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="rootCategory['showChildren']" [disabled]="disabledflag>0 && disabled_id != rootCategory['_id']"  value="rootCategory['_id']"></mat-checkbox>
                {{rootCategory.rootCategoryName}}
              </span>

              <ul class="nested">

                <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                    (click)="caretClick()"><mat-checkbox class="example-margin" [(indeterminate)]="subCategory['inter']" [disabled]="disabledflag>0 && disabled_id != subCategory['_id']" (change)="beveargeschangeFlag(subCategory['_id'],subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subCategory['showChildren']" value="subCategory['_id']"></mat-checkbox>
                    {{subCategory.subCategoryName}} 
                  </span>
                  <ul class="nested"> 
                    <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                         (click)="caretClick()"><mat-checkbox class="example-margin" [disabled]="disabledflag>0 && disabled_id != subSubCategory['_id']" (change)="beveargeschangeFlag(subSubCategory['_id'],subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subSubCategory['showChildren']" [(indeterminate)]="subSubCategory['inter']" value="subSubCategory['_id']"></mat-checkbox>
                        {{subSubCategory.subSubCategoryName}}
                      </span>
                      <ul class="nested">

                        <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                          <span> 
                            <mat-checkbox class="example-margin" [(indeterminate)]="type['inter']" [disabled]="disabledflag>0 && disabled_id != type['_id']" (change)="beveargeschangeFlag(type['_id'],type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']"  value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                          </span>
                        </li>
                        <i class="fa fa-plus mb-2"
                          (click)="openBeveragesSubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                          aria-hidden="true"> Add Sub Sub Category Type</i>
                      </ul>
                    </li>
                    <i class="fa fa-plus mb-2"
                      (click)="openBeveragesSubSubCategoryDialog(rootCategory._id, subCategory._id)"
                      aria-hidden="true">
                      Add Sub Sub Category</i>
                  </ul>
                </li>
                <i class="fa fa-plus mb-2" (click)="openBeveragesSubCategoryDialog(rootCategory._id)"
                  aria-hidden="true"> Add
                  Sub Category</i>
              </ul>
            </li>
            <i class="fa fa-plus mb-2" (click)="openBeveragesRootCategoryDailog('retailBeverage')"
              aria-hidden="true"> Add Root
              Category</i>

          </ul>
        </div>
    </div>
    </div>
      </form>
      <div cdkDropListGroup>
    
      <div class="row mt-4">
      
        <div class="col-lg-6">
          <mat-card>
            <div class="row">
              <div class="col-lg-8">
                <h5>Groups</h5>
                <mat-accordion >
            
                        <mat-expansion-panel cdkDropList [cdkDropListData]="group[j]['assignAttributes']" class="example-list"
                          (cdkDropListDropped)="drop($event)" *ngFor="let g of group; let j=index">
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{g['groupName']}}
                                <span class="del"><i class="fa fa-trash float-right" aria-hidden="true"
                      (click)="deleteGroup(g['_id'] ,j, group[j]['assignAttributes'])"></i></span>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="example-container" >
                  
                            <div cdkDropList [cdkDropListData]="group[j]['assignAttributes']"  class="example-list" style="width: 71%; min-height:auto"  (cdkDropListDropped)="drop($event)">
                              <div class="example-box" *ngFor="let item of group[j]['assignAttributes']; let i=index" style="min-height: auto;" cdkDrag >{{item['attributeName']}} <i class="fa fa-minus float-right" (click)="removeAttribute(group[j]['assignAttributes'],i,item)" aria-hidden="true"></i>
                              </div>
                            </div>
                          </div>
                  
                        </mat-expansion-panel>
                 
                 
                </mat-accordion>
              </div>
              <div class="col-lg-4">
                <div class="float-right">
                  <button class="btn btn-primary ml-2" (click)="addAttributeGroup()"><i class="fa fa-plus mr-2"
                      aria-hidden="true"></i>Add New Group</button>
                </div>
              </div>
            </div>
    
          </mat-card>
        </div>
    
    
        <div class="col-lg-5">
          <mat-card>
            <div class="row">
              <div class="col-lg-12">
                <h5>
                  Unassigned Attribute
                </h5>
               
                    <div class="example-container">
                      <div cdkDropList [cdkDropListData]="allUnassigned" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let a of allUnassigned" cdkDrag>
                          {{a.attributeName}}
                        </div>
                      </div>
                    </div>
    
                  
        
    
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
      <div class="row">
      
        <div class="offset-5 col-lg-2 mt-4">
            <button class="btn btn-primary ml-2" (click)="addNewSet()"><i class="fa fa-plus mr-2"
                aria-hidden="true"></i>Add Set</button>
        </div>
      </div>
    </div>
  </mat-card>