.RightSideMenu{
    background-color: #F7F9FF;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}
.BtnGrid{
    border-bottom: 1px solid #ECECEC;
    padding: 8px;
}
.TableCol{
    padding-right: 0px !important;
}
.SelectCol{
    padding-left: 0px !important;
}
.scroll {
    height: 550px;
    width: 100%;
    overflow-y: scroll;
    display: inline-block;
  }
  .scroll .inner {
    height: 300%;
    width: 100%;
    content: '.';
  }
  .scroll--table::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .scroll--table::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
  }
  .scroll--table::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
  }
  .scroll--table::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
  }
  .scroll--table::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
  }
  
  .custom-edit{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}