
<h4 mat-dialog-title>Attention!!!! </h4>
<div mat-dialog-content>
    <div class="row" *ngIf="data =='child'">
        Are you sure to delete Child Node?
    </div>
    <div class="row" *ngIf="data =='child+'">
        Are you sure to delete this Child Node with its Children?
    </div>
    <div class="row" *ngIf="data =='root'">
        Are you sure to delete Root Node?
    </div>
    <div class="row" *ngIf="data =='root+'">
        Are you sure to delete this Root Node with its Children?
    </div>
   
</div>
<div mat-dialog-actions>
<button class="btn btn-danger" mat-dialog-close>Cancel</button>
<button class="btn btn-primary ml-2" [mat-dialog-close]="true">Yes</button>
</div>