
   <h5 mat-dialog-title><div class="row">
    <div class="col-md-10">
        <h5>View Beverages</h5>
    </div>

    <div class="col-md-2">
        <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>

    </div>
</div></h5>
<mat-dialog-content>
    <div class="table-border-style">
        <div class="table-responsive" style="overflow-x: hidden;">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>Beverage Code</td>
                        <td>{{data.beverageCode}}</td>
                    </tr>
                    <tr>
                        <td>Beverage Name</td>
                        <td>{{data.beverageName}}</td>
                    </tr>
                    <!-- <tr>
                        <td>Root Category</td>
                        <td>{{data.rootCategory}}</td>
                    </tr> -->
                   <tr>
                        <td>Category</td>
                        <td>{{data.rootCategory['rootCategory'] }} <span *ngIf='data.varients!=undefined'>> {{data.varients['varients'] }} <span *ngIf='data.subVarient!=undefined'>>{{data.subVarient['subVarient'] }} <span *ngIf='data.type!=undefined'>>{{data.type['type']}} </span></span></span> </td>
                    </tr>
                    <tr>
                        <td>Veg Non-Veg</td>
                        <td>{{data.veg_nonveg}}</td>
                    </tr>
                    <tr>
                        <td>Unit</td>
                        <td>{{data.unit}}</td>
                    </tr>
                     <tr>
                        <td>Images</td>
                        <td>
                            <div class="row">
                                <div *ngFor='let url of data.images'>
                                    <div class="col-sm-12">
                                        <img [src]="url" style="height: 50px; width: 50px;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr> 
                    <tr>
                        <td>Added By</td>
                        <td>{{data.addedBy.userName}}</td>
                    </tr>
                    <tr>
                        <td>Date and Time</td>
                        <td>{{data.updatedAt | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>
    </mat-dialog-content>


