<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <h1 mat-dialog-title>Add Role</h1>
    </div>
    
    <div class="col-md-3">
        <i class="fa fa-window-close float-right" style="margin-left: 52px; margin-top: -7px;" aria-hidden="true"
            mat-dialog-close></i>
    </div>
</div>


<div mat-dialog-content>

    <form [formGroup]="AddRoleForm">
      
        <div class="form-group">
           
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Role Name" formControlName="name" aria-label="Number"  matInput >
               
              </mat-form-field>
        </div>

        <div class="class"></div>

        
  
     

    </form>
</div>

<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button cdkFocusInitial (click)="saveRootRole()" [mat-dialog-close]="this.AddRoleForm.value">Add Role</button>
        </div>
    </div>
    <div class="col-lg-3">
        
    </div>
</div>
