<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h5 class="headings">Cancel Order :</h5>
        </div>
      <div class="col-md-6" style="text-align: right;">
        <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
          data-target="#modal-report" (click)="posorderView()">Back</button>   &nbsp; 
        <!-- <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
          data-target="#modal-report" (click)="posorderCancel()">Cancel Order</button> -->
        <!-- <button class="btn btn-outline-primary btn-sm" (click)="posorderEdit()">
          Edit
        </button> -->
        <!-- <button class="btn btn-outline-primary btn-sm" (click)="posorderCancel()">
          Cancel
        </button> -->
      </div>
    </div>
  <br>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
              <h6>Select Reason </h6>
              <select class="form-control" id="exampleFormControlSelect1">
                <option *ngFor="let reason of Reasons">{{reason}} </option>
                        </select>
            </div>
          </div>


    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Order Id</h6>
        <input type="text" class="form-control" value="{{'OR000'+posProduct.posOrderID}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Order Date </h6>
        <input type="text" class="form-control"  value="{{posProduct.posProductOrder.createdAt | date:'mediumDate'}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Order Time </h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.createdAt | date:'shortTime'}}"  disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> paymentStatus-->
        <h6>Payment Status </h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.paymentStatus}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :transcationID</h5> -->
        <h6>Transaction ID </h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.transcationID}}"  disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Transaction Date
        </h6>
        <input type="text" class="form-control"  value="{{posProduct.posProductOrder.transactionDate_Time | date:'mediumDate'}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Transaction Time </h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.transactionDate_Time | date:'shortTime'}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group"> 
         <h6>GST No. </h6>
        <input type="text" class="form-control" value="{{posProduct.gst['GSTNo']}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Organization ID </h6>
        <input type="text" class="form-control" value="{{'OR000'+posProduct.Organization_ID}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Organization Name </h6>
        <input type="text" class="form-control" value="{{posProduct.organization_name}}" disabled>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Address </h6>
        <input type="text" class="form-control" value="{{posProduct.address}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>City </h6>
        <input type="text" class="form-control"value="{{posProduct.city}}"  disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>State </h6>
        <input type="text" class="form-control" value="{{posProduct.state}}"  disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Organization Contact No. </h6>
        <input type="text" class="form-control" value={{posProduct.org_contact}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Organization Email ID </h6>
        <input type="text" class="form-control" value={{posProduct.org_email}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Representative Name </h6>
        <input type="text" class="form-control" value={{posProduct.representative_name}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Representative No. </h6>
        <input type="text" class="form-control" value={{posProduct.representative_contact}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Representative Email</h6>
        <input type="text" class="form-control" value={{posProduct.representative_email}} disabled>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Paid By</h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.paidBy}}" disabled>
      </div>
    </div>
    
     
      <div class="col-md-3">
        <div class="form-group">
          <h6>Subscription Type </h6>
          <input type="text" class="form-control" value="{{posProduct.posProductOrder.subscription_Type}}" disabled >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <!-- <h5 class="headings">Simple Input Box :</h5> -->
          <h6>Product bought for</h6>
          <input type="text" class="form-control" value="{{posProduct.posProductOrder.noOfoutlets}}" disabled>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Cancel order for Outlets</h6>
          <select class="form-control" id="exampleFormControlSelect1">
            <option *ngFor="let i of totalOutlet" value={{i}}>{{i}} Outlet</option>
           
        </select>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="form-group">
          <h6>Select Outlets</h6>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Durga café</option>
            <option>The Irish House</option>
            <option>1 Outlet</option>
            <option>Belgian Waffle</option>
            <option>Food Hub</option>
        </select>
        </div>
      </div> -->
  
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-md-12">
          <button class="btn btn-primary btn-sm btn-round">Cancel</button>
      </div>
  </div>
  </div>
  
  
  
  
  
  