
<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
routerLink="/restaurants/cinema-home">Back</button>
<div class="container">
    
<!-- cinema info -->
    <div class="row mt-4">
        <div class="col">
            <mat-card>
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Cinema Info</th>
                            <th [hidden]=""><button class="custom-edit" (click)="editCinema('cinemainfo')">Edit</button></th>
                            <!-- <th [hidden]="!isCinemaInfo"><button class="custom-edit" (click)="saveCinema()">Save</button></th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Display Name</th>
                            <td [hidden]="">{{view_data.display_name}}</td>
                            <!-- <td [hidden]="!isCinemaInfo"><input type="text" [value]="data.chain_info.display_name"></td> -->
                        </tr>
                        <tr class="success" style="background-color: success;">
                            <th>Legal Name</th>
                            <td [hidden]="">{{view_data.legal_name}}</td>
                            <!-- <td [hidden]="!isCinemaInfo"><input type="text" [value]="data.chain_info.legal_name"></td> -->
                        </tr>
                       
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>


    <!-- screen series -->
    <div class="row mt-4">
        <div class="col">
            <mat-card>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Screen No.</th>
                            <th>Screen Name</th>
                            <th>Seating Capacity</th>
                            <th>Series</th>
                            <th><button class="custom-edit" (click)="editCinema('seriesinfo')">Edit</button></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of view_data.screen_series">
                          <td>{{data.screenNo}}</td>
                          <td>{{data.screenName}}</td>
                          <td>{{data.seatingCapacity}}</td>
                          <td>
                            <mat-chip-list>
                                <mat-chip *ngFor="let a of data.collections">
                                        {{a}}
                                </mat-chip>
                            </mat-chip-list>    
                          </td>
                        </tr>
                     
                    </tbody>
                </table>
            </mat-card>
        </div>
    </div>

    <!-- close -->
    <div class="row mt-4">
        <div class="col"></div>
        <div class="col">
            <button class="btn btn-danger ml-4" routerLink="/restaurants/cinema-home">Close</button>
        </div>
        <div class="col"></div>
    </div>

</div>
