<form [formGroup]="revenueForm">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleInputPassword1"><b>Add Revenue </b></label>
               
            
             <table>
                 <tr>
                     <td> <input type="number" class="form-control inputBorder" (keyup)="setfromValue($event)" formControlName="fromRevenue"></td>
                     <td><b>to</b></td>
                     <td> <input type="number" class="form-control inputBorder"  (keyup)="setToValue($event)" formControlName="toRevenue"> </td>
                            <br> <small class="text-danger" [hidden]="isEqualMsg">Range cannot be of equal value</small>
                                <small class="text-danger" [hidden]="isLesser">'To' Value cannot be lesser than 'From'</small>
                    </tr>
             </table>
                  
                   
                  
                 
                  
                   
               
              
              
               
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
                  
        </div>
        <div class="col-lg-8">
            <div class="">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>&nbsp;
                <button class="btn btn-primary" (click)="onAddRevenue()" [disabled]="isAdd" mat-dialog-close>Add</button>
            </div>        
        </div>
        <div class="col-lg-2">
               
        </div>
    </div>
</form>
