<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h5 class="headings">Send Payment Link :</h5>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <button class="btn btn-primary btn-sm btn-round" [routerLink]="['/pos-orders']">Back</button>
        </div>
    </div>
    <br>
    <form [formGroup]="sendPaymentLink">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h6>Select Product</h6>
                <select class="form-control" id="exampleFormControlSelect1" (change)="changeCountry($event.target.value)">
                    <option data-toggle="tooltip" title="{{product.completeData[0].country['item_text']}}" *ngFor="let product of productlist" value="{{product['_id']}}" >{{product.productName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Name</h6>
                <input type="text" class="form-control" formControlName="organization_name" placeholder="Organization Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h6>Address</h6>
                <input type="text" class="form-control" formControlName="address" placeholder="Address">
            </div>
        </div>
       
            <div class="col-md-3">
                <div class="form-group">
                    <h6>State</h6>
                    <select class="form-control"
                        (change)="changeState($event.target.value)" formControlName="state">
                        <option *ngFor="let st of state" value="{{st}}">{{st}}</option>
                    </select>
                </div>
            </div>
        
     
            <div class="col-md-3">
                <div class="form-group">
                    <h6>City</h6>
                    <select class="form-control" formControlName="city">
                        <option *ngFor="let c of city" value="{{c}}">{{c}}</option>

                    </select>
            
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Contact No.</h6>
                <input type="text" class="form-control" formControlName="org_contact" placeholder="Organization Contact No.">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Email ID</h6>
                <input type="text" class="form-control" formControlName="org_email" placeholder="Organization Email ID">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Name</h6>
                <input type="text" class="form-control" formControlName="representative_name" placeholder="Representative Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative No.</h6>
                <input type="text" class="form-control" formControlName="representative_contact" placeholder="Representative No.">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Email</h6>
                <input type="text" class="form-control" formControlName="representative_email" placeholder="Representative Email">
            </div>
            </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Send Link On</h6>
                <select class="form-control"
                    (change)="change($event.target.value)" name="media">
                    <option *ngFor="let media of mediaList" value="{{media}}">{{media}}</option>
                </select>
            </div>
        </div>
    </div>
        <div class="row"  *ngIf="media=='email'">
            <div class="col-md-3"><b>Send Link On:</b></div>

            <div class="col-md-3">
                <div class="form-group">
                    <mat-checkbox class="example-margin" (change)="send($event,'Orgnization Email')" value="{{sendPaymentLink.controls.org_email.value}}">Orgnization Email </mat-checkbox>
        </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <mat-checkbox class="example-margin" (change)="send($event, 'Representative Email')" value="{{sendPaymentLink.controls.representative_email.value}}">Representative Email </mat-checkbox>
    </div>
    </div>
        </div>
        <div class="row"  *ngIf="media=='sms'">
            <div class="col-md-3"><b>Send Link On:</b></div>
            <div class="col-md-3">
                <div class="form-group">
                    <mat-checkbox class="example-margin" (change)="send($event, 'Orgnization Contact No')"  value="{{sendPaymentLink.controls.org_contact.value}}">Orgnization Contact No </mat-checkbox>
        </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <mat-checkbox class="example-margin" (change)="send($event, 'Representative Contact No')"  value="{{sendPaymentLink.controls.representative_contact.value}}">Representative Contact No </mat-checkbox>
    </div>
    </div>
        </div>
        <div class="row">
        <div class="col-md-3" *ngIf="selectProduct">
            <div class="form-group">
                <h6>Select Outlet</h6>
                <i class="fa fa-minus-circle" (click)="minus(noOfoutlets)"
                    *ngIf="productData.completeData[0].tableData[0]['from']!==noOfoutlets" aria-hidden="true"></i>
                {{noOfoutlets}} <i class="fa fa-plus-circle" (click)="plus(noOfoutlets)"
                    *ngIf="productData.completeData[0].tableData[(productData.completeData[0].tableData.length)-1]['to']!==noOfoutlets"
                    aria-hidden="true"></i>
            </div>
        </div>
        </div>
    
   
    </form>
    <mat-card *ngIf="selectProduct">
        <mat-card-title>Order Charges Details:</mat-card-title>
        <div class="table-responsive">
            <table  class="table table-striped table-bordered nowrap table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Outlet</th>
                        <th>Product Charges / Outlet / {{productData.completeData[0].colletionMode}}</th>
                        <th>Product Charges</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{productData.productName}}</td>
                        <td> {{noOfoutlets}} </td>
                        <td>{{perProductPrice}}</td>

                        <td>{{totalOrderAmount}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Order Amount</b></td>
                        <td></td>
                        <td><b>{{totalOrderAmount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Discount (% or Rs)</b></td>
                        <td>{{discount['percentage']}}%</td>
                        <td><b>{{DiscountedPrice}}</b></td>
                    </tr>
                  
                    <tr>
                        <td></td>
                        <td><b>Discounted Price</b></td>
                        <td></td>
                        <td><b>{{PriceafterDiscount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Tax</b></td>
                        <td>{{tax}}%</td>
                        <td><b>{{taxAmount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Paid</b></td>
                        <td></td>
                        <td><b>{{totalPaidAmountwithTax}}</b></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </mat-card>
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
            <button class="btn btn-primary btn-sm btn-round" (click)="sendLink()">Send</button>
        </div>
    </div>
</div>