<h1 mat-dialog-title>Role Details</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-lg-6">
    <span>Role ID:{{roleobj.roleID}}</span>
        </div>
        <div class="col-lg-6">
            <span>Role Tag:{{roleobj.roleTag}}</span>
        </div>
    </div>

    <div class="row">
        <label>Access control</label>
     </div>
         <div  *ngFor="let rep of roleobj.accesControl">
           
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <label>{{rep.accessControlName}}</label>
                    </div>
                   
                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" *ngFor="let control of rep.controls">
                        <label>{{control}}</label>
                    </div>
                </div>
                 
            </div>
    

    <div class="row">
        <div class="col-lg-4">
            <label>
                Access Point:
            </label>
            <P>
                <mat-slide-toggle [checked]="obj.accessPoint"></mat-slide-toggle>
            </P>
        </div>
    </div>
    <div *ngFor="let rep of obj.versions">
    <div class="row">
        <div class="col-lg-4">
            <span>
                {{rep.versionName}}
            </span>
        </div>
    </div>
       <div class="row">
        <div class="col-lg-4">
            <label>
                Created Date & Time
            </label>
            <span>
                {{rep.created.dateCreatedandTime}}
            </span>
        </div>
        <div class="col-lg-4">
            <label>
                Edited Date & Time
            </label>
            <span>
                {{rep.created.dateEditedandTime}}
            </span>
        </div>
        <div class="col-lg-4">
            <label>
                Edited By
            </label>
            <span>
                {{rep.created.editedBy}}
            </span>
        </div>
       </div> &nbsp;
     
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button> &nbsp;

</div>