<form [formGroup]="addChildCategoryTypeFrom">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Add Sub Category</h2>
        </div>

        <div class="col-lg-12">
            <mat-form-field class="example-full-width" style="width: 80%;">
                <input matInput placeholder="Add Drink Sub Varient" [class.is-invalid]="addChildCategoryTypeFrom.get('childCategoryName').invalid &&
    addChildCategoryTypeFrom.get('childCategoryName').touched" formControlName="childCategoryName">
                <mat-error [class.d-none]="addChildCategoryTypeFrom.get('childCategoryName').valid ||
    addChildCategoryTypeFrom.get('childCategoryName').untouched">
                     Sub Category Type is Invalid</mat-error>
            </mat-form-field>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-3">

        </div>
        <div class="col-lg-3">
            <button class="btn btn-danger" mat-dialog-close>Cancel</button>
        </div>
        <div class="col-lg-3">
            <button class="btn btn-primary" (click)="onAddSubCategory()" [disabled]="!addChildCategoryTypeFrom.valid"
                mat-dialog-close>Add</button>
        </div>
        <div class="col-lg-3">

        </div>
    </div>
    </form>