<div class="mat-dialog-container">
<div class="row">

    <div class="col-lg-12">
    </div>
  </div>
  <h5 style="margin-top: -16px;">Charges/Add-addons</h5>
  <mat-card>
  
    <form #myForm="ngForm">
      <div class="row ml-2 mt-2">
        <div class="col-lg-3">
          <mat-form-field>
            <input matInput pattern="[a-zA-Z0-9- ]+" (focusout)="checkCountry($event)" placeholder="Name" class="no-change" name="_addons.AddonsName" [(ngModel)]="_addons.AddonsName" required>
          </mat-form-field>
  
        </div>
        <!-- <div class="col-lg-3">
          <mat-form-field style="width: 100%;">
            <mat-label>Product Associated</mat-label>
            <mat-select name='_addons.productAssociated' [(ngModel)]="_addons.productAssociated" class="no-change">
              <mat-option *ngFor="let product_associated of product_associated_list" class="no-change" matTooltip="{{product_associated['countryList']}}" [value]="product_associated['product']"
                required>
                {{product_associated['product']}}
              </mat-option>
            </mat-select>
  
          </mat-form-field>
        </div> -->
        <div class="col-lg-6">
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Description" class="no-change" name="_addons.description" [(ngModel)]="_addons.description"
            cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10" required></textarea>
          </mat-form-field>
        </div>
  
  
      </div>
      <div class="row ml-2 mt-2">
  
  
        <div class="col-lg-3">
          <label>Select Images:</label>
          <div>
            <div class="row ml-2 mt-2">
              <div *ngFor="let m of multiResponse">
                  <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                  <img src="{{m}}" alt="" height="50px" widht="50px">
              </div>
          </div>
            <input type="file" id="image1" name="image1" ng2FileSelect [uploader]="uploader" class="hidden" (change)="uploader.uploadAll()" multiple>
            <button ><label style="margin-bottom:0 !important" for="image1">Choose files</label></button>
          </div>
        </div>
        <div class="col-lg-3">
          <label>Select Videos:</label><div>
            <div class="row ml-2 mt-1">
              <div *ngFor="let m of multiResponse_video">
                <i class="fa fa-times" aria-hidden="true" (click)="removeVideo(m)"></i>
              <video width="50px" height="50px" controls controlsList=”nodownload”>
                <source src="{{m}}">
            </video>
            </div>
            </div>
             <input type="file" id="video1" name="video1" ng2FileSelect [uploader]="uploader_video"
            (change)="uploader_video.uploadAll()" multiple class="hidden">
            <button ><label style="margin-bottom:0 !important" for="video1">Choose files</label></button>
            </div>
        </div>
  
        <div class="col-lg-4">
          <ng-multiselect-dropdown [placeholder]="'Available Countries'" [data]="dropdownList" name="avail_countries"
            [(ngModel)]="avail_countries" [settings]="dropdownSettings"  (onDeSelect)="onItemDeSelect($event)" (onSelect)="onItemSelect($event)"
            required>
          </ng-multiselect-dropdown>
        </div>
      </div>
  
  
      <div *ngFor="let data of completeData;let i = index">

        <hr>
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <u>{{completeData[i].country['item_text']}}</u>
            </div>
          </div>
  
        </div>
  
        <div class="row">
          <div class="col-lg-2">
            <mat-form-field style="width: 100%;">
              <mat-label>Is it Priced?</mat-label>
              <mat-select name='completeData[i].tempfreePriced_{{i}}' [(value)]="completeData[i].tempfreePriced" required
                (selectionChange)='freeOrPriced($event, data, i)' [(ngModel)]="completeData[i].tempfreePriced">
                <mat-option *ngFor="let free_priced of free_priced_list" [value]="free_priced">
                  {{free_priced}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-2">
            <mat-form-field style="width: 100%;">
              <mat-label>Used for Outlets or Chains?</mat-label>
              <mat-select name='completeData[i].soldPerOutlet{{i}}' [(value)]="completeData[i].tempsoldPerOutlet"
                [(ngModel)]="completeData[i].tempsoldPerOutlet" required
                (selectionChange)='soldperoutlet($event, data, i)'>
                <mat-option *ngFor="let used_for_Outlet of used_for_Outlet_list" [value]="used_for_Outlet">
                  {{used_for_Outlet}}
                </mat-option>
              </mat-select>
  
            </mat-form-field>
  
          </div>
          <div class="col-lg-2" *ngIf="completeData[i].tempfreePriced=='Yes'">
            <mat-form-field style="width: 100%;">
              <mat-label>Collection mode</mat-label>
              <mat-select name='completeData[i].colletionMode{{i}}' [(value)]="completeData[i].tempcolletionMode"
                [(ngModel)]="completeData[i].tempcolletionMode" required
                (selectionChange)="selectedCollectionMode($event,completeData[i].country['item_text'], data, i )">
                <mat-option *ngFor="let revenue_Collection_mode of revenue_Collection_mode_list"
                  [value]="revenue_Collection_mode">
                  {{revenue_Collection_mode}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div
            *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Outlet' && completeData[i].colletionMode=='Per Month' "
            class="col-md-6">
            <div class="table-responsive">
              <table datatable class="table table-striped table-bordered nowrap table-hover">
                <thead>
                  <tr>
                    <th>Index</th>
                    <th>Outlets From</th>
                    <th>Outlets to</th>
                    <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span> Prices {{completeData[i].colletionMode}}<br> Per Outlet</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                    <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
                    <td>{{rowIndex+1}}</td>
                    <td>
                      <input type="number" style="width: 100%;" name="completeData{{i}}from{{rowIndex}}"
                        onKeyPress="if(this.value.length==4) return false;" disabled="disabled"
                        [(ngModel)]='completeData[i].tableData[rowIndex].from' required (keypress)="e($event)">
                    </td>
                    <td>
                      <input type="number" style="width: 100%;" name="completeData{{i}}to{{rowIndex}}" [(ngModel)]='completeData[i].tableData[rowIndex].to'
                        onKeyPress="if(this.value.length==4) return false;"
                        (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'
                         required (keypress)="e($event)">
                    </td>
  
                    <td>
                      <input type="text" style="width: 100%;" name="completeData{{i}}price{{rowIndex}}"  [(ngModel)]='completeData[i].tableData[rowIndex].price'
                        onKeyPress="if(this.value.length==10) return false;" required
                        (focusout)="processPrice(i, rowIndex)"
                        (keypress)="numberOnly($event)">
                    </td>
                    <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                        (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                  </tr>
                  <tr style="border: 0px;" *ngIf="this.completeData[i].outletObj.from<2000">
                    <td></td>
                    <td>
                      <input type="number" disabled="disabled" style="width: 100%;"
                        name="completeData[i].outletObj.from{{i}}" (keypress)="e($event)"
                        onKeyPress="if(this.value.length==4) return false;"
                        (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'
                        [(ngModel)]='completeData[i].outletObj.from'>
                    </td>
                    <td>
                      <input type="number" style="width: 100%;" name="completeData[i].outletObj.to{{i}}"
                        (keypress)="e($event)" (keyup)="checkValue($event)"
                        onKeyPress="if(this.value.length==4) return false;" [(ngModel)]='completeData[i].outletObj.to'
                        (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                    </td>
                    <td>
                      <input type="text" style="width: 100%;" name="completeData[i].outletObj.price{{i}}"
                      [(ngModel)]='completeData[i].outletObj.price'
                        onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)" 
                        (focusout)="processOutletPrice(i); pushAddonsOutlet(completeData[i],i)">
                    </td>
                    <td><button (click)='pushAddonsOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                          aria-hidden="true"></i></button></td>
  
                  </tr>
  
                </tbody>
              </table>
            </div>
          </div>
          <div
            *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Outlet' && completeData[i].colletionMode=='Per Year'"
            class="col-md-6">
  
  
            <div class="table-responsive">
              <table datatable class="table table-striped table-bordered nowrap table-hover">
                <thead>
                  <tr>
                    <th>Index</th>
                    <th>Outlets From</th>
                    <th>Outlets to</th>
                    <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices Per Year<br> Per Outlet</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                    <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
                    <td>{{rowIndex+1}}</td>
                    <td>
                      <input type="number" style="width: 100%;" name="completeData{{i}}from{{rowIndex}}"
                        onKeyPress="if(this.value.length==4) return false;" disabled="disabled" (keypress)="e($event)"
                        [(ngModel)]='completeData[i].tableData[rowIndex].from' required>
                    </td>
                    <td>
                      <input type="number" style="width: 100%;" name="completeData{{i}}to{{rowIndex}}" [(ngModel)]='completeData[i].tableData[rowIndex].to'
                        onKeyPress="if(this.value.length==4) return false;" (keypress)="e($event)" (keyup)="checkValue($event)"
                        (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'
                         required>
                    </td>
  
                    <td>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                      <input type="text" style="width: 100%;" name="completeData{{i}}price{{rowIndex}}" [(ngModel)]='completeData[i].tableData[rowIndex].price'
                        onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)"
                         (focusout)="processPrice(i, rowIndex)"
                        required>
                    </td>
                    <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                        (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                  </tr>
                  <tr style="border: 0px;" *ngIf="this.completeData[i].outletObj.from<2000">
                    <td></td>
                    <td>
                      <input type="number" style="width: 100%;" name="completeData[i].outletObj.from{{i}}"
                        (keypress)="e($event)" disabled="disabled" onKeyPress="if(this.value.length==4) return false;"
                        (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'
                        [(ngModel)]='completeData[i].outletObj.from'>
                    </td>
                    <td>
                      <input type="number" style="width: 100%;" name="completeData[i].outletObj.to{{i}}"
                        (keypress)="e($event)"
                        (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'
                        onKeyPress="if(this.value.length==4) return false;" (keyup)="checkValue($event)"
                        [(ngModel)]='completeData[i].outletObj.to'>
                    </td>
                    <td>
                      <input type="text" style="width: 100%;" name="completeData[i].outletObj.price{{i}}"
                        onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)"
                        [(ngModel)]='completeData[i].outletObj.price'
                        (focusout)="processOutletPrice(i); pushAddonsOutlet(completeData[i],i)">
                    </td>
                    <td><button (click)='pushAddonsOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                          aria-hidden="true"></i></button></td>
  
                  </tr>
  
                </tbody>
              </table>
            </div>
  
  
  
          </div>
          <div
          *ngIf="completeData[i].tempfreePriced=='Yes' && completeData[i].tempsoldPerOutlet=='Per Outlet' && completeData[i].tempcolletionMode=='Per Order' "
          class="col-lg-6">

          <div class="row">
            <div class="col-lg-6">
              <mat-form-field style="width: 100%;">
                <mat-label>Per order commission type </mat-label>
                <mat-select [(ngModel)]="completeData[i].perOrderCommissionType"
                  name='completeData{{i}}.perOrderCommissionType' [(value)]='completeData[i].perOrderCommissionType'
                  (selectionChange)='commissionType($event, data, i)' required>
                  <mat-option *ngFor="let p of per_order_commission_type_list" [value]="p">
                    {{p}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          
          </div>

          <div class="row" *ngFor='let perorderdata of completeData[i].perOrderTable;let pertablendex = index'>
            <div class="row"
              *ngIf="completeData[i].perOrderCommissionType=='Fixed Amount'|| completeData[i].perOrderCommissionType=='Percentage'">
              <div class="col-md-3">
                <label>Outlet from</label>
              </div>
              <div class="col-md-2">
                <input type="number" style="width: 100%;" onKeyPress="if(this.value.length==4) return false;"
                  disabled="disabled"
                  name='completeData[i].perOrderTable[pertablendex].outletFrom_{{i}}_{{pertablendex}}'
                  [(ngModel)]='completeData[i].perOrderTable[pertablendex].outletFrom' required (keypress)="e($event)">
              </div>
              <div class=" col-md-2">
                <label>Outlet to</label>
              </div>
              <div class="col-md-2">
                <input type="number" onKeyPress="if(this.value.length==4) return false;" style="width: 100%;"
                  name='completeData[i].perOrderTable[pertablendex].outletTo_{{i}}_{{pertablendex}}'
                  [(ngModel)]='completeData[i].perOrderTable[pertablendex].outletTo' (keyup)="checkValue($event)"
                  (keypress)="e($event)" required
                  (focusout)='checkRangeInOutlet(pertablendex,i,completeData[i].perOrderTable[pertablendex].outletTo,completeData[i].perOrderTable,$event, completeData[i].perOrderTable.length)'>
              </div>
              <div class="offset-1 col-md-2">
                <i class="fa fa-plus mr-3" *ngIf='pertablendex == completeData[i].perOrderTable.length-1'
                  (click)='replicateTable(i,pertablendex)' aria-hidden="true"></i>
                <i class="ml-3" *ngIf="pertablendex !=0" class="fa fa-trash" aria-hidden="true"
                  (click)="deleteTable( pertablendex, i, this.completeData[i].perOrderTable[pertablendex].outletFrom, completeData[i].perOrderTable.length)"></i>
              </div>
            </div>

            <!-- {{perorderdata | json}} -->

            <div class="row">
              <div class="col-lg-10">
                <div class="table-responsive m-3">
                  <table datatable *ngIf="completeData[i].perOrderCommissionType=='Fixed Amount'"
                    class="table table-striped table-bordered nowrap table-hover">
                    <thead>
                      <tr>
                        <th>Index</th>
                        <th>Order Range From</th>
                        <th>Order Range to</th>
                        <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices/Outlet Per Order</th>
                        <th>Activity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor='let innerData of completeData[i].perOrderTable[pertablendex].perOrders;let rowIndex = index'>
                        <!-- <td colspan="4">{{completeData[i].perOrderTable[pertablendex].perOrders[rowIndex] | json}}</td> -->
                        <td>{{rowIndex+1}}</td>
                        <td>
                          <input type="number" style="width: 100%;"
                            name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.rangeFrom"
                            (keypress)="e($event)" disabled="disabled"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].rangeFrom'
                            onKeyPress="if(this.value.length==3) return false;" required>
                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.rangeTo"
                            (keypress)="e($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].rangeTo'
                            onKeyPress="if(this.value.length==3) return false;" required>
                        </td>
                        <td>
                          <input type="text" style="width: 100%;"
                            (focusout)="processPerorderPrice(i, rowIndex,pertablendex)"
                            name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.pricePerOutlet"
                            (keypress)="numberOnly($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].pricePerOutlet'
                            onKeyPress="if(this.value.length==10) return false;" required>
                        </td>
                        <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                            (click)="deleteRowRange(rowIndex, pertablendex, i, completeData[i].perOrderTable[pertablendex].perOrders.length)"></i></td>
                      </tr>
                      <tr style="border: 0px;" *ngIf="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom<1000">
                        <td>
                          <!-- table number : {{ pertablendex }} -->

                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom"
                            (keypress)="e($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom'
                            onKeyPress="if(this.value.length==3) return false;" disabled="disabled">
                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeTo"
                            (keypress)="e($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeTo'
                            onKeyPress="if(this.value.length==3) return false;">
                        </td>
                        <td>
                          <input type="text" style="width: 100%;"
                            (focusout)="processPerOrderPrice(i, pertablendex); addPerOrderRow(completeData[i].perOrderTable[pertablendex].perOrderCurrentData,i,pertablendex)"
                            name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.pricePerOutlet"
                            (keypress)="numberOnly($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.pricePerOutlet'
                            onKeyPress="if(this.value.length==10) return false;">
                        </td>
                        <td><button
                            (click)='addPerOrderRow(completeData[i].perOrderTable[pertablendex].perOrderCurrentData,i,pertablendex)'>
                            <i class="fa fa-plus mr-2" aria-hidden="true"> </i>
                          </button></td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- ++++++++++++++++++++++++===========Percentage===========+++++++++++++++++++++++++++++++++ -->
                  <table *ngIf="completeData[i].perOrderCommissionType=='Percentage'" datatable
                    class="table table-striped table-bordered nowrap table-hover">
                    <thead>
                      <tr>
                        <th>Index</th>
                        <th>Order Range From</th>
                        <th>Order Range to</th>
                        <th>Percentage/Outlet Per Order </th>
                        <th>Activity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        *ngFor='let innerData of completeData[i].perOrderTable[pertablendex].perOrders;let rowIndex = index'>
                        <!-- <td colspan="4">{{completeData[i].perOrderTable[pertablendex].perOrders[rowIndex] | json}}</td> -->
                        <td>{{rowIndex+1}}</td>
                        <td>
                          <input type="number" style="width: 100%;"
                            name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.rangeFrom"
                            (keypress)="e($event)" disabled="disabled"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].rangeFrom'
                            onKeyPress="if(this.value.length==3) return false;" required>
                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.rangeTo"
                            (keypress)="e($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].rangeTo'
                            onKeyPress="if(this.value.length==3) return false;" required>
                        </td>
                        <td>
                          <input type="text" style="width: 100%;"
                            name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.percenatgePerOutlet"
                            (keypress)="numberOnly($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].percentagePerOutlet'
                            (keyup)="checkPercentageinTable(i,$event, rowIndex,pertablendex)"
                            onKeyPress="if(this.value.length==2) return false;" required> <b>&#37;</b>
                        </td>
                        <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                            (click)="deleteRowRange(rowIndex, pertablendex, i, completeData[i].perOrderTable[pertablendex].perOrders.length)"></i></td>
                      </tr>
                      <tr style="border: 0px;" *ngIf="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom<1000">
                        <td>


                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom"
                            (keypress)="e($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom'
                            onKeyPress="if(this.value.length==3) return false;" disabled="disabled">
                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeTo"
                            (keypress)="e($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeTo'
                            onKeyPress="if(this.value.length==3) return false;">
                        </td>
                        <td>
                          <input type="text" style="width: 100%;"
                            (focusout)="checkPercentageTable(i,$event,pertablendex);addPerOrderRow(completeData[i].perOrderTable[pertablendex].perOrderCurrentData,i,pertablendex)"
                            name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.percentagePerOutlet"
                            (keypress)="numberOnly($event)"
                            [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.percentagePerOutlet'
                            onKeyPress="if(this.value.length==2) return false;"><b>&#37;</b>
                        </td>
                        <td><button
                            (click)='addPerOrderRow(completeData[i].perOrderTable[pertablendex].perOrderCurrentData,i,pertablendex)'>
                            <i class="fa fa-plus mr-2" aria-hidden="true"> </i>
                          </button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--here -->
          </div>
        </div>
          <!-- Package -->
          <div
            *ngIf="completeData[i].tempfreePriced=='Yes' && completeData[i].tempsoldPerOutlet=='Per Outlet' && completeData[i].tempcolletionMode=='Package' "
            class="col-lg-6">
            <div *ngIf='completeData[i].perPackageTable.length'>
              <div
                *ngFor='let outerTable of completeData[i].perPackageTable;let outerTableIndex = index;'>
                <div class="row m-3">
                  <div class="col-md-4">
                    <label>Package</label>
                  </div>
                    <div class="col-md-5">                
                      <input type="text" style="width: 100%;" required [(ngModel)]="completeData[i].perPackageTable[outerTableIndex].packageValue" name='completeData{{i}}.perPackageTable{{outerTableIndex}}.packageValue'>
                    </div>
                    <div class="offset-1 col-md-2">
  
                      <i class="fa fa-plus mr-3" aria-hidden="true" (click)='duplicatePackageTable(i, outerTableIndex)'  *ngIf='outerTableIndex == completeData[i].perPackageTable.length-1'></i>
                      <i class="ml-3" *ngIf="outerTableIndex !=0" class="fa fa-trash" aria-hidden="true"
                      (click)="deletePackageTable( outerTableIndex, i)"></i>
                    </div>
                    </div>
                    <div class="table-responsive m-3 row">
                  <table datatable class="table table-striped table-bordered nowrap table-hover"
                    *ngFor='let inner of outerTable.table;let innertableindex = index'>
                    <thead>
                      <tr>
                        <th>Index</th>
                        <th>Outlet From</th>
                        <th>Outlet to</th>
                        <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices/Outlet Per package</th>
                        <th>Activity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let row of inner.innerTable;let rowIndex = index'>
                        <td>
                          {{rowIndex + 1}}
                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].from'
                            name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.innerTable{{rowIndex}}.from'
                            onKeyPress="if(this.value.length==4) return false;" required disabled="disabled" (keypress)="e($event)"
                        >
                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].to'
                            name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.innerTable{{rowIndex}}.to'
                            onKeyPress="if(this.value.length==4) return false;" required (keypress)="e($event)" (keyup)="checkValue($event)"  (focusout)='checkRangeInPackageTable(rowIndex,innertableindex, outerTableIndex,completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].to,completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable,$event, i, completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable.length)'>
                           
                        </td>
                        <td>
                          <input type="text" style="width: 100%;" required
                            [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].price'
                            name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.innerTable{{rowIndex}}.price'
                            onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)"
                         (focusout)="processPackagePrice(i,outerTableIndex,innertableindex, rowIndex, $event)"
                        required>
                        </td>
                        <td style="border: 0px;"><i class="fa fa-trash" (click)="deleteRowInnerTable(i,outerTableIndex,innertableindex,rowIndex, completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable.length)" aria-hidden="true"></i></td>
                      </tr>
                      <tr style="border: 0px;" *ngIf="this.completeData[i].perPackageTable[outerTableIndex].table[innertableindex].from<2000">
                        <td>
                          #
                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].from'
                            name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.from'
                            (keypress)="e($event)" disabled="disabled" onKeyPress="if(this.value.length==4) return false;"
                        >
                        </td>
                        <td>
                          <input type="number" style="width: 100%;"
                            [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].to'
                            name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.to{{rowIndex}}'
                            (focusout)='checkRangeInpackage(outerTableIndex,completeData[i].perPackageTable[outerTableIndex].table[innertableindex].to,i,completeData[i].perPackageTable[outerTableIndex].table[0],$event)'
                        onKeyPress="if(this.value.length==4) return false;" (keyup)="checkValue($event)">
                        </td>
                        <td>
                          <input type="text" style="width: 100%;"
                            [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].price'
                            name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.price{{rowIndex}}'
                            onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)" 
                        (focusout)="processPackageOutletPrice(i, outerTableIndex, $event); addRowToInnerTable(i,outerTableIndex, innertableindex, rowIndex, completeData[i].perPackageTable[outerTableIndex].table[innertableindex])">
                        </td>
                        <td>
                          <button
                            (click)='addRowToInnerTable(i,outerTableIndex, innertableindex, rowIndex, completeData[i].perPackageTable[outerTableIndex].table[innertableindex])'>
                            <i class="fa fa-plus mr-2" aria-hidden="true"> </i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table></div>
                <!-- </div> -->
              </div>
            </div>
            <!--here -->
          </div>
          <!-- /package -->
  
          <div
            *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Outlet' && completeData[i].colletionMode=='One Time' "
            class="col-md-6">
            <div class="row">
              <div class="col-sm-12">
  
                <div class="table-responsive">
                  <table datatable class="table table-striped table-bordered nowrap table-hover">
                    <thead>
                      <tr>
                        <th>Index</th>
                        <th>Outlets From</th>
                        <th>Outlets to</th>
                        <th>Price/Outlet <span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> ({{g.symbol}}) </span></span></span>One time</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                        <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
                        <td>{{rowIndex+1}}</td>
                        <td>
                          <input type="number" style="width: 100%;" name="completeData{{i}}from{{rowIndex}}"
                            onKeyPress="if(this.value.length==4) return false;" required disabled="disabled"
                            [(ngModel)]='completeData[i].tableData[rowIndex].from' (keypress)="e($event)">
                        </td>
                        <td>
                          <input type="number" style="width: 100%;" name="completeData{{i}}to{{rowIndex}}"
                            onKeyPress="if(this.value.length==4) return false;" (keypress)="e($event)"
                            [(ngModel)]='completeData[i].tableData[rowIndex].to'
                            (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'
                            required (keyup)="checkValue($event)">
                        </td>
                        <td>
                          <input type="text" style="width: 100%;" name="completeData{{i}}price{{rowIndex}}"
                            onKeyPress="if(this.value.length==10) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].price' (keypress)="numberOnly($event)"
                            (focusout)="processPrice(i, rowIndex)" required>
                        </td>
                        <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                            (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                      </tr>
                      <tr style="border: 0px;" *ngIf="this.completeData[i].outletObj.from<2000">
                        <td></td>
                        <td>
                          <input type="number" style="width: 100%;" name="completeData[i].outletObj.from{{i}}"
                            disabled="disabled" onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].outletObj.from' (keypress)="e($event)"
                            (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'>
                        </td>
                        <td>
                          <input type="number" style="width: 100%;" name="completeData[i].outletObj.to{{i}}"
                            onKeyPress="if(this.value.length==4) return false;" (keyup)="checkValue($event)"
                            [(ngModel)]='completeData[i].outletObj.to' (keypress)="e($event)"
                            (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                        </td>
                        <td>
                          <input type="number" style="width: 100%;" name="completeData[i].outletObj.price{{i}}"
                            onKeyPress="if(this.value.length==10) return false;"
                            [(ngModel)]='completeData[i].outletObj.price'
                            (focusout)="processOutletPrice(i); pushAddonsOutlet(completeData[i],i)">
                        </td>
                        <td><button (click)='pushAddonsOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                              aria-hidden="true"></i></button></td>
  
                      </tr>
  
                    </tbody>
                  </table>
                </div>
  
              </div>
            </div>
  
          </div>
          <div
            *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Organization' && completeData[i].colletionMode=='Per Month' "
            class="col-md-6">
            <div class="row">
              <div class="col-lg-12">
                <label style="width: 100%;">{{completeData[i].country['item_text']}} Price Month for chain</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <input type="text" style="width: 100%;" name="perOrderPrice{{i}}" (keypress)="numberOnly($event)"
                  [(ngModel)]="completeData[i].perOrderPrice" required (focusout)="processMyValue(i)"
                  onKeyPress="if(this.value.length==10) return false;">
              </div>
            </div>
          </div>
          <div
            *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Organization' && completeData[i].colletionMode=='Per Year'"
            class="col-md-6">
            <div class="row">
              <div class="col-lg-12">
                <label style="width: 100%;">{{completeData[i].country['item_text']}} Price Year for chain</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <input type="text" style="width: 100%;" name="perOrderPrice{{i}}" (keypress)="numberOnly($event)"
                  [(ngModel)]="completeData[i].perOrderPrice" required (focusout)="processMyValue(i)"
                  onKeyPress="if(this.value.length==10)  return false;">
              </div>
            </div>
          </div>
          <div
            *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Organization' && completeData[i].colletionMode=='Per Order' "
            class="col-md-6">
            <div class="row">
              <div class="col-lg-6">
  
                <mat-form-field style="width: 100%;">
                  <mat-label>{{data.country['item_text']}} (Per Order) Price a chain </mat-label>
                  <mat-select (selectionChange)='commissionType($event, data, i)'
                    name='completeData[i].perOrderChain{{i}}' [(ngModel)]='completeData[i].perOrderChain'
                    [(value)]='completeData[i].perOrderChain' required>
                    <mat-option *ngFor="let p of per_order_commission_type_list" [value]="p">
                      {{p}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
  
              <div class="col-lg-6" *ngIf="completeData[i].perOrderChain=='Fixed Amount'">
                <input type="text" style="width: 100%;" placeholder="Price" name="completeData[i].perOrderPrice_{{i}}"
                  (keypress)="numberOnly($event)" [(ngModel)]='completeData[i].perOrderPrice'
                  onKeyPress="if(this.value.length==10) return false;" required (focusout)="processMyValue(i)">
              </div>
              <div class="col-lg-6" *ngIf="completeData[i].perOrderChain=='Percentage'">
                <input type="text" style="width: 100%;" placeholder="Percentage" (keyup)="checkPercentage(i,$event)"
                  name="completeData[i].perOrderPercentage_{{i}}" (keypress)="numberOnly($event);"
                  [(ngModel)]='completeData[i].perOrderPercentage' onKeyPress="if(this.value.length==2) return false;"
                  required>
              </div>
            </div>
  
          </div>
  
  
          <div
            *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Organization' && completeData[i].colletionMode=='One Time' "
            class="col-md-6">
            <div class="row">
              <div class="col-lg-12">
                <label style="width: 100%;">{{data.country['item_text']}} Price (One Time) Chain</label>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <input type="text" style="width: 100%;" name="perOrderPrice{{i}}" (keypress)="numberOnly($event)"
                  [(ngModel)]="completeData[i].perOrderChain" required
                  onKeyPress="if(this.value.length==10)  return false;" (focusout)="processChainValue(i)">
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
      <div class="row ml-2 mt-4">
  
        <div class="offset-2 col-lg-6" style="text-align: center;">
          <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
          <button (click)="addons(); clicked=true" class="btn btn-primary"  [disabled]="!myForm.valid" [disabled]="clicked">Add Addons</button>
        <button class="btn btn-danger ml-3" (click)="onNoClick()"> Back</button>

        </div>
  
  
      </div>
    </form>
  </mat-card>
 