.no-change{
    text-transform: none;
  }
 .mat-dialog-container{
   // position: FIXED;
    left: 17%;
    max-width: 80%;
    position: fixed;
   
       top: 5%;
    bottom: auto;
    height: 90%;
   // width: auto;
   // background-color: white;
    z-index: 100000;
  }
  