<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
            <h5>View Add On</h5>
        </div>

        <div class="col-md-6">
            <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>

        </div>
    </div>
    <div class="table-border-style">
        <div class="table-responsive" style="overflow-x: hidden;">
            <table class="table table-bordered">
                <!-- <thead>
                      <tr>
                          <th>#</th>
                          <th>First Name</th>
                      </tr>
                  </thead> -->
                <tbody>
                    <tr>
                        <td>Add On Code</td>
                        <td>{{data.adonCode}}</td>
                    </tr>
                    <tr>
                        <td>Add On Name</td>
                        <td>{{data.adonName}}</td>
                    </tr>
                    <tr>
                        <td>Dish Asscociated</td>
                        <td>
                            <div *ngFor="let d of data.dishes">
                                <span class="badge badge-light-success">{{ d.dishName }}</span>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Veg Non-Veg</td>
                        <td>{{data.veg_nonveg}}</td>
                    </tr>
                    <tr>
                        <td>Unit</td>
                        <td>{{data.unit}}</td>
                    </tr>
                    <tr>
                        <td>Images</td>
                        <td>
                            <div class="row">
                                <div *ngFor='let url of data.images'>
                                    <div class="col-sm-12">
                                        <img [src]="url" style="height: 50px; width: 50px;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Added By</td>
                        <td>{{addedBy}}</td>
                    </tr>
                    <tr>
                        <td>Date and Time</td>
                        <td>{{data.updatedAt | date:'medium'}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="data.adonType.length>0"><p>Addon Type</p></div>
    <div class="row">
        <table  class="table table-striped table-bordered nowrap table-hover">
           <tr *ngFor="let d of data.adonType; let i=index"> <td *ngIf="d.adonName_type!='' && d.type!=''">{{i+1}}</td>

            <td *ngIf="d.adonName_type!='' && d.type!=''">{{d.adonName_type}}</td>
            <td *ngIf="d.adonName_type!='' && d.type!=''">
               {{d.type}}
            </td>
           </tr>
        </table>
    </div>
    <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>

</div>