<div class="container">
    <h5>Notice</h5>
</div>

<div class="container">
    <mat-card>
        <div class="row">
            <div class="col-lg-3">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Template ID</label>
                                <span>T001</span>
                            </div>
                           
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Template Name</label>
                                <span>Report Meeting - BDM one time</span>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <label>Circular For</label>
                                <span>One Time</span>
                            </div>
                            <div class="col-lg-6">
                                <label>Circular Type</label>
                                <span>Users</span>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>   
            </div>
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title text-center">Bill Detail</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item BillDetailHr">
                            <span>Item Total</span>
                            <span class="float-right">&#8377;<span class="ml-1">520.00</span></span>
                        </li>
                        <li class="list-group-item BillDetailHr">
                            <span>GST</span>
                            <span class="float-right">&#8377;<span class="ml-1">20.00</span></span>
                        </li>
                        <li class="list-group-item">
                            <span>SGST</span>
                            <span class="float-right">&#8377;<span class="ml-1">20.00</span></span>
                        </li>
                        <li class="list-group-item">
                            <span>Delivery Fees</span>
                            <span class="float-right">&#8377;<span class="ml-1">60.00</span></span>
                        </li>
                        <li class="list-group-item">
                            <span>Total Pay</span>
                            <span class="float-right">&#8377;<span class="ml-1">640.00</span></span>
                        </li>
                    </ul>
                
                
                    
                </div>
            </div>  
        </div>
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Select Report Type</mat-label>
                    <mat-select formControlName="reportType">
                        <!-- <mat-option *ngFor="let type of reportTypes" [value]="type">
                            {{type}}
                        </mat-option> -->
                        <mat-option >
                            abc
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <mat-tab-group>
            <!-- notice -->
            <mat-tab label="Notice">
<!-- circular template -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="float-right">
                            <button class="btn btn-primary ml-2 ">Import excel</button>
                            <button class="btn btn-primary ml-2">Export excel</button>
                            <button class="btn btn-primary ml-2" routerLink="/notice/create-circular-template"><i
                                    class="fa fa-plus mr-2" aria-hidden="true"></i>Create Circular Template</button>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilterCirculatTemplate($event.target.value)"
                                placeholder="Search">
                        </mat-form-field>

                        <table mat-table [dataSource]="dataSourceCircularTemplate" class="mat-elevation-z8" matSort>

                            <!-- Position Column -->
                            <ng-container matColumnDef="templateID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Template ID</th>
                                <td mat-cell *matCellDef="let element"> {{element.templateID}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="templateDateAndTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>template Date and Time </th>
                                <td mat-cell *matCellDef="let element"> {{element.templateDateAndTime}} </td>
                            </ng-container>

                            <ng-container matColumnDef="templateName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.templateName}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="templateDescription">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Template Description </th>
                                <td mat-cell *matCellDef="let element"> {{element.templateDescription}} </td>
                            </ng-container>

                            <ng-container matColumnDef="noticeType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Notice Type </th>
                                <td mat-cell *matCellDef="let element"> {{element.noticeType}} </td>
                            </ng-container>

                            <ng-container matColumnDef="createdByAndOn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by & On</th>
                                <td mat-cell *matCellDef="let element"> {{element.createdByAndOn}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="changesDoneBy">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Changes Done By </th>
                                <td mat-cell *matCellDef="let element"> {{element.changesDoneBy}} </td>
                            </ng-container>

                            <ng-container matColumnDef="draftOrUsed">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Draft/Used </th>
                                <td mat-cell *matCellDef="let element"> {{element.draftOrUsed}} </td>
                            </ng-container>

                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                <td mat-cell *matCellDef="let element">
                                    <mat-slide-toggle [checked]="element.status"></mat-slide-toggle> </td>
                            </ng-container>


                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td mat-cell *matCellDef="let element">
                                    <button class="btn btn-outline-primary btn-sm"
                                        routerLink="">View</button>
                                    <button class="btn btn-outline-primary btn-sm" >Edit</button>
                                    </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayColumnsCircularTemplate"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayColumnsCircularTemplate;"></tr>
                        </table>
                        <mat-paginator #CircularTemplatepaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                    </div>

                </div>

                <!-- notice / circular -->
                <div class="row">

                    <div class="col-lg-12">
                        <div class="float-right">
                            <button class="btn btn-primary ml-2 ">Import excel</button>
                            <button class="btn btn-primary ml-2">Export excel</button>
                            <button class="btn btn-primary ml-2" ><i
                                    class="fa fa-plus mr-2" aria-hidden="true"></i>Create Notice/Circular</button>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-sm-12">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilterNoticeOrCircular($event.target.value)"
                                placeholder="Search">
                        </mat-form-field>

                        <table mat-table [dataSource]="dataSourceNoticeOrCircular" class="mat-elevation-z8" matSort>

                            <!-- Position Column -->
                            <ng-container matColumnDef="circularID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Circular ID</th>
                                <td mat-cell *matCellDef="let element"> {{element.circularID}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="circularDateAndTime">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Circular Date and Time </th>
                                <td mat-cell *matCellDef="let element"> {{element.circularDateAndTime}} </td>
                            </ng-container>

                            <ng-container matColumnDef="circularSubjectOrHeading">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Circular Subject/ Heading </th>
                                <td mat-cell *matCellDef="let element"> {{element.circularSubjectOrHeading}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="circularFor">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Circular For(Roles or Employees) </th>
                                <td mat-cell *matCellDef="let element"> {{element.circularFor}} </td>
                            </ng-container>

                            <ng-container matColumnDef="circularMode">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Circular circularMode </th>
                                <td mat-cell *matCellDef="let element"> {{element.circularMode}} </td>
                            </ng-container>

                            <ng-container matColumnDef="createdByAndOn">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Created by & On</th>
                                <td mat-cell *matCellDef="let element"> {{element.createdByAndOn}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="byClickingOnit">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> By Clicking On it </th>
                                <td mat-cell *matCellDef="let element"> {{element.byClickingOnit}} </td>
                            </ng-container>

                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                <td mat-cell *matCellDef="let element">
                                    <button class="btn btn-outline-primary btn-sm"
                                        routerLink="">View</button>
                                    <button class="btn btn-outline-primary btn-sm" >Edit</button>
                                    </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayColumnsNoticeOrCircular"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayColumnsNoticeOrCircular;"></tr>
                        </table>
                        <mat-paginator #NoticeOrCircularpaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                    </div>

                </div>

            </mat-tab>
            <!-- review -->
            <mat-tab label="Review">
            </mat-tab>
        </mat-tab-group>
    </mat-card>
</div>