<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/feedback">Back</button>

<h5 style="margin-top: -16px;">Feedback / Create Question Set</h5>
<mat-card>
    <div class="container">
        <form [formGroup]="createQuestionSetForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Add Question Set Name" [class.is-invalid]="createQuestionSetForm.get('questionSetName').invalid &&
                        createQuestionSetForm.get('questionSetName').touched" formControlName="questionSetName">
                        <mat-error [class.d-none]="createQuestionSetForm.get('questionSetName').valid ||
                        createQuestionSetForm.get('questionSetName').untouched" class="text-danger">Question set name
                            is Invalid.</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput (input)="searchQuestionSet($event)" placeholder="Search Question">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">

                    <div ngbDropdown class="d-inline-block " ngbDropdown #myDrop="ngbDropdown">
                        <!-- <button type="button"class="btn btn-outline-primary mr-2"
                         id="dropdownBasic1" ngbDropdownToggle>Select Question Set Type</button> -->

                        <i class="fa fa-filter" (click)="openQuestionSetType()" id="dropdownBasic1"
                            ngbDropdownToggle></i>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" style="width: 250px;">
                            <div class="col-lg-12">
                                <ul id="myUL">
                                    <li *ngFor="let rootQuestion of filterQuestionTypes; let i=index">

                                        <span class="caret" (click)="caretClick()">
                                            <mat-checkbox class="example-margin"
                                                [checked]="rootQuestion['showChildren']"
                                                (change)="changeFlagFilter(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex,rootQuestion.rootQuestionType);"
                                                value="rootQuestion.rootQuestionType"></mat-checkbox>

                                            <!-- <input type="radio" formControlName="rootQuestionType" [value]="rootQuestion.rootQuestionType"> -->
                                            {{rootQuestion.rootQuestionType}}
                                        </span>

                                        <ul class="nested">

                                            <li
                                                *ngFor="let CategoryType of rootQuestion.questionType;let subcategoryIndex=index">
                                                <span class="caret" (click)="caretClick()">
                                                    <mat-checkbox class="example-margin"
                                                        (change)="changeFlagFilter(rootCategory, $event, a='sub',
                                                         i, subcategoryIndex, subsubcategoryINdex, typeIndex,CategoryType.rootCategoryName);"
                                                        [checked]="CategoryType['showChildren']"
                                                        value="CategoryType.rootCategoryName">
                                                    </mat-checkbox>

                                                    <!-- <input type="radio" formControlName="CategoryType" [value]="CategoryType.rootCategoryName"> -->
                                                    {{CategoryType.rootCategoryName}}
                                                </span>
                                                <ul class="nested">
                                                    <li
                                                        *ngFor="let liquorSubVarient of CategoryType.categories; let subsubcategoryINdex=index">
                                                        <span class="caret" (click)="caretClick()">
                                                            <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.categoryName"> -->
                                                            <mat-checkbox class="example-margin"
                                                                [checked]="liquorSubVarient['showChildren']"
                                                                (change)="changeFlagFilter(rootCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex,liquorSubVarient.categoryName);"
                                                                value="liquorSubVarient.categoryName"></mat-checkbox>

                                                            {{liquorSubVarient.categoryName}}
                                                        </span>
                                                        <ul class="nested">

                                                            <li
                                                                *ngFor="let liquorSubSubVarient of liquorSubVarient.childCategories; let typeIndex=index">
                                                                <span>
                                                                    <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                                                    <!-- (click)="selectSubSubVarient(rootQuestion.rootQuestionType, CategoryType.rootCategoryName , liquorSubVarient.categoryName)"> -->
                                                                    <mat-checkbox class="example-margin"
                                                                        [checked]="liquorSubSubVarient['showChildren']"
                                                                        (change)="changeFlagFilter(rootCategory, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex,liquorSubSubVarient['childCategoryName']);"
                                                                        value="liquorSubSubVarient."></mat-checkbox>

                                                                    {{liquorSubSubVarient['childCategoryName']}}
                                                                </span>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ml-2 mt-4">

            </div>

            <div class="row ml-3 mt-2">
                <label>Select Question Set Type</label>
            </div>
            <div class="row ml-2 md-2">
                <div class="col-lg-12">
                    <ul id="myUL">
                        <li *ngFor="let rootQuestion of QuestionTypes; let i=index">

                            <span class="caret" (click)="caretClick()">
                                <mat-checkbox class="example-margin" [checked]="rootQuestion['showChildren']"
                                    (change)="changeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                    value="rootQuestion.rootQuestionType"></mat-checkbox>

                                <!-- <input type="radio" formControlName="rootQuestionType" [value]="rootQuestion.rootQuestionType"> -->
                                {{rootQuestion.rootQuestionType}}
                            </span>

                            <ul class="nested">

                                <li *ngFor="let CategoryType of rootQuestion.questionType;let subcategoryIndex=index">
                                    <span class="caret" (click)="caretClick()">
                                        <mat-checkbox class="example-margin"
                                            (change)="changeFlag(rootCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                            [checked]="CategoryType['showChildren']"
                                            value="CategoryType.rootCategoryName">
                                        </mat-checkbox>

                                        <!-- <input type="radio" formControlName="CategoryType" [value]="CategoryType.rootCategoryName"> -->
                                        {{CategoryType.rootCategoryName}}
                                    </span>
                                    <ul class="nested">
                                        <li
                                            *ngFor="let liquorSubVarient of CategoryType.categories; let subsubcategoryINdex=index">
                                            <span class="caret" (click)="caretClick()">
                                                <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.categoryName"> -->
                                                <mat-checkbox class="example-margin"
                                                    [checked]="liquorSubVarient['showChildren']"
                                                    (change)="changeFlag(rootCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                                    value="liquorSubVarient.categoryName"></mat-checkbox>

                                                {{liquorSubVarient.categoryName}}
                                            </span>
                                            <ul class="nested">

                                                <li
                                                    *ngFor="let liquorSubSubVarient of liquorSubVarient.childCategories; let typeIndex=index">
                                                    <span>
                                                        <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                                        <!-- (click)="selectSubSubVarient(rootQuestion.rootQuestionType, CategoryType.rootCategoryName , liquorSubVarient.categoryName)"> -->
                                                        <mat-checkbox class="example-margin"
                                                            [checked]="liquorSubSubVarient['showChildren']"
                                                            (change)="changeFlag(rootCategory, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                                            value="liquorSubSubVarient."></mat-checkbox>

                                                        {{liquorSubSubVarient['childCategoryName']}}
                                                    </span>
                                                </li>
                                                <i class="fa fa-plus mb-2"
                                                    (click)="openSubSubcategory(rootQuestion._id, CategoryType._id, liquorSubVarient._id)"
                                                    aria-hidden="true"> Add Sub Sub Category Type</i>
                                            </ul>
                                        </li>
                                        <i class="fa fa-plus mb-2"
                                            (click)="openSubCategoryType(rootQuestion._id, CategoryType._id)"
                                            aria-hidden="true">
                                            Add Sub Category Type</i>
                                    </ul>
                                </li>
                                <i class="fa fa-plus mb-2" (click)="openCategoryType(rootQuestion._id)"
                                    aria-hidden="true"> Add Category Type</i>
                            </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openRootDialog()" aria-hidden="true"> Add Root Question
                            Type</i>

                    </ul>
                </div>
            </div>
            <div class="row ml-2 mt-4">

                <label>
                    <h6>Added Questions are :(You are selected {{selectectedQuestionCount}} questions.)</h6>
                </label>
            </div>
            <div class="row ml-2 mt-4" cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
               
                    <div *ngFor="let question of allQuestions" cdkDrag class="bordercard">
                        <div class="card ml-2" style="width: 18rem; height: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title TitleCard">{{question.feedbackQuestionID}}
                                    <mat-checkbox class="float-right" (change)="onSelectQuestion(question, $event)">
                                    </mat-checkbox>
                                </h5>
                                <h6 class="card-subtitle mb-2 text-muted mt-1">{{question.label_Name}} </h6>
                                <div *ngIf="question.inputType=='Input Box'">
                                    <!-- <mat-form-field class="example-full-width" style="width: 80%;">
                                    <input matInput placeholder="Enter Placeholder for input box" [(ngModel)]="question.inputPlaceholderName" [ngModelOptions]="{standalone: true}" disabled>
                                </mat-form-field> -->
                                    <mat-form-field class="example-full-width" style="width: 80%;">
                                        <input matInput placeholder="Input Box"
                                            [(ngModel)]="question.inputPlaceholderName"
                                            [ngModelOptions]="{standalone: true}" disabled>
                                    </mat-form-field>


                                </div>
                                <div *ngIf="question.inputType=='Radio Button'">
                                    <div *ngFor="let option of question.radioButtons">

                                        <mat-radio-button disabled>{{option.optionLable}}</mat-radio-button>

                                    </div>
                                </div>
                                <div *ngIf="question.inputType=='Yes / No'">

                                    <mat-radio-button disabled>Yes</mat-radio-button>&nbsp;
                                    <mat-radio-button disabled>No</mat-radio-button>

                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
            <div class="row ml-2 mt-4">
                <div class="col-lg-12" style="text-align: center;">
                    <button class="btn btn-primary ml-2" routerLink="/feedback/create-feedback-question">
                        <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add Question</button>
                    <button class="btn btn-primary ml-3" type="submit" [disabled]="!createQuestionSetForm.valid"
                        (click)="addQuestionSet()">Save</button>
                </div>
            </div>
        </form>
    </div>
</mat-card>