<div class="container">
  <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/restaurants">Back</button>



 <form action="" [formGroup]="organizationForm">
  <div class="row mt-4">
    <div class="col-lg-9">
      <mat-card>

        <!-- 0th row Organziation ID  -->
        <div class="row">
          <div class="col-lg-6">
            <label for="" class="mt-4" style="text-transform: capitalize;"> <b>Organization Id</b> </label>
          </div>
          <div class="col-lg-4">
            <label for="" class="mt-4" style="text-transform: capitalize;"> {{orgSavedata.organizationCode}} </label>
          </div>

          <div class="col-lg-2" [hidden]="isEdit">
            <button class="custom-edit mt-4" (click)="onEdit()">
              Edit
            </button>
          </div>
          <div class="col-lg-2" [hidden]="!isEdit">
            <button class="custom-edit mt-4" (click)="onUpdate()" [disabled]="!organizationForm.valid">
              Update
            </button>
          </div>
        </div>
        <!-- 1st row Organziation name -->
        <div class="row">
          <div class="col-lg-6">
            <label for="" class="mt-4" style="text-transform: capitalize;"> <b>Organization Name</b> </label>
          </div>
          <div class="col-lg-6">
            <label for="" [hidden]="isEdit" class="mt-4" style="text-transform: capitalize;">
              {{orgSavedata.organization_name}} 
            </label>
            <!-- <input type="text" class="mt-4" formControlName="organization_name" > -->
        
            <div [hidden]="!isEdit" >
              <mat-form-field class="example-full-width" style="width: 100%;">
                <input type="text"  aria-label="Number" matInput
                  formControlName="organization_name" value="{{orgSavedata.organization_name}}" 
                   minlength="3" maxlength="80">             
              </mat-form-field>
              <small [class.d-none]="organizationForm.get('organization_name').valid ||
              organizationForm.get('organization_name').untouched" class="text-danger">
                Organization Name is Invalid
              </small>

            </div>
          </div>
        </div>

        <!-- 2nd row Representative Name -->

        <div class="row">
          <div class="col-lg-6">
            <label for="" class="mt-4" style="text-transform: capitalize;"> <b>Owner's Name/ Representative Name</b>
            </label>
          </div>
          <div class="col-lg-6">
            <label for="" [hidden]="isEdit" class="mt-4" style="text-transform: capitalize;">
              {{orgSavedata.representative_name}} </label>
            <!-- <input type="text"  class="mt-4" formControlName="representative_name" value="{{orgSavedata.representative_name}}"> -->
         
         <div [hidden]="!isEdit">
          <mat-form-field  class="example-full-width" style="width: 100%;">
            <input matInput type="text" value="{{orgSavedata.representative_name}}"
              formControlName="representative_name" minlength="3" maxlength="50">
          </mat-form-field>
          <small [class.d-none]="organizationForm.get('representative_name').valid ||
          organizationForm.get('representative_name').untouched" class="text-danger">
            Organization Name is Invalid
          </small>
         </div>


           
          </div>
        </div>


        <!-- 3rd row Email -->
        <div class="row">
          <div class="col-lg-6">
            <label for="" class="mt-4" style="text-transform: capitalize;"> <b>Email Id</b> </label>
          </div>
          <div class="col-lg-6">
            <label for="" [hidden]="isEdit" class="mt-4"> {{orgSavedata.org_email}} </label>
            <!-- <input type="text"  class="mt-4" formControlName="org_email" value="{{orgSavedata.org_email}}"> -->
            <div [hidden]="!isEdit" >
              <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput type="text"  (keyup)="onEmailKeyup()" value="{{orgSavedata.org_email}}" formControlName="org_email"
                  [class.is-invalid]="organizationForm.get('org_email').invalid &&
                     organizationForm.get('org_email').touched" minlength="9" maxlength="50">
              </mat-form-field>
              <small [class.d-none]="organizationForm.get('org_email').valid ||
              organizationForm.get('org_email').untouched" class="text-danger">
                Organization email is Invalid</small>
            </div>
          </div>
        </div>


        <!-- 4th Contact -->
        <div class="row">
          <div class="col-lg-6">
            <label for="" class="mt-4" style="text-transform: capitalize;"> <b>Contant Number</b> </label>
          </div>
          <div class="col-lg-6">
            <label for="" [hidden]="isEdit" class="mt-4" style="text-transform: capitalize;">
              {{orgSavedata.org_contact}} </label>
            <!-- <input type="text"  class="mt-4" formControlName="org_contact" value="{{orgSavedata.org_contact}}"> -->
         
            <div [hidden]="!isEdit">
              <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput type="text" value="{{orgSavedata.org_contact}}"
                  formControlName="org_contact" minlength="10" maxlength="10">
              </mat-form-field>
              <small [class.d-none]="organizationForm.get('org_contact').valid ||
              organizationForm.get('org_contact').untouched" class="text-danger">
                Contact is Invalid
              </small>
            </div>
          </div>
        </div>



      </mat-card>
    </div>
  </div>
 </form>


 

  <!-- <form action="" [formGroup]="outletDelete">
    <div class="row mt-4">
      <input type="text" formControlName="outletid">&nbsp;
      <button class='btn-sm btn-danger' (click)="deleteOutlet()">Delete outlet</button>
    </div>
  </form> -->

  <!-- <div class="row mt-4">
    <div class="col">
      <button class="btn btn-danger" (click)="deleteAllOutlet()">Delete All</button>
    </div>
  </div> -->

  <!-- <div class="row mt-4">
    <div class="col">
      <ag-grid-angular #agGrid style="height: 550px;" class="ag-theme-alpine mt-4" [rowData]="rowData"
        [columnDefs]="columnDefs" [animateRows]="true" [pagination]="true" (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div> -->

  <mat-card class="mt-4">
    <div class="row">   
      <div class="col-lg-12" style="text-align: left;">
        <button class="btn btn-success" (click)="onAddOulet()">Add An Outlet</button>
      </div>
    </div>
    
    <div class="row mt-2">
      <div class="col-lg-12">
        <p-table
        [columns]="_selectedColumns"
        [value]="outletTable"
        [paginator]="true"
        [rows]="10"
        sortMode="multiple"
        [(selection)]="selected1"
        [resizableColumns]="true"
        columnResizeMode="expand"
        [reorderableColumns]="true"
      frozenWidth= "250px"
        #dt
      >
        <ng-template pTemplate="caption">
          <div class="row">
            <div class="col-lg-4" style="text-align: left;">
              <p-multiSelect
                pMultiselect
                [options]="cols"
                size="20"
                [(ngModel)]="selectedColumns"
                optionLabel="header"
                [style]="{ minWidth: '200px' }"
                defaultLabel="Choose Columns"
                selectedItemsLabel="{0} columns selected"
                
              >
              </p-multiSelect>
            </div>
        
            <div class="col-lg-4" style="text-align: center;">
              <h3>List of Outlets</h3>
            </div>
           
            <div class="col-lg-4" style="text-align: right;">
              <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
              <input
                type="text"
                pInputText
                size="35"
                placeholder="Global Filter"
                (input)="dt.filterGlobal($event.target.value, 'contains')"
                style="width: auto;"
              />
            </div>
          </div>
        
        </ng-template>
      
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3em;">
              <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
            </th>
            <th
              *ngFor="let col of columns"
              [pSortableColumn]="col.field"
              pResizableColumn
              style="width: 250px;"
            >
              {{ col.header }}
              <p-sortIcon
                [field]="col.field"
                ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order"
              >
              </p-sortIcon>
            </th>
          </tr>
          <tr>
            <th></th>
            <th *ngFor="let col of columns">
              <input
                pInputText
                type="text"
                (input)="dt.filter($event.target.value, col.field, 'contains')"
              />
            </th>
          </tr>
        </ng-template>
      
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td>
              <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
            </td>
           
            <td *ngFor="let col of columns" class="ui-resizable-column">    
              
              <!-- OUTLET NAME -->
           <div *ngIf="col.field == 'name'">
           <button class="custom-edit" (click)="onRestoView(rowData.id)">
            {{ rowData[col.field]}} 
           </button>     
           </div> 

           <!-- OUTLET CODE -->
           <div *ngIf="col.field == 'outletcode'">
            <button class="custom-edit" (click)="onRestoView(rowData.id)">
             {{ rowData[col.field]}} 
            </button>     
            </div> 
 
           <!-- Other Object -->
           <div *ngIf="col.field !== 'name' && col.field !== 'outletcode'">
            {{ rowData[col.field]}}     
           </div>  
           </td>
          </tr>
        </ng-template>
      
        <ng-template pTemplate="footer" let-columns>
          <tr>
            <td style="width: 3em;">
              <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
            </td>
            <td *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{ col.header }}
              <p-sortIcon
                [field]="col.field"
                ariaLabel="Activate to sort"
                ariaLabelDesc="Activate to sort in descending order"
                ariaLabelAsc="Activate to sort in ascending order"
              >
              </p-sortIcon>
            </td>
          </tr>
        </ng-template>
      
        <ng-template pTemplate="summary">
          There are {{ outletTable?.length }} Outlets
      
          <div class="row">
            <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
              {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }}
            </div>
          </div>
        </ng-template>
      </p-table>
      </div>
      </div>
  </mat-card>
  

</div>

