<div class="row">
    <div class="col-md-6">
        <b>Lorem ipsum, dolor sit amet</b>
    </div>

    <div class="col-md-6">
        <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
    
    </div>
</div>




<hr>
<div>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, sint tempora. Animi, obcaecati, corrupti totam ab saepe</p>
</div>
<form [formGroup]="viewTemplateForm">
    <input type="file"  accept=".jpg, .jpeg, .png" formControlName="firstImage">
    <input type="file"  accept=".jpg, .jpeg, .png" formControlName="secondImage">
</form>
