            <h4 class="text-center" mat-dialog-title>Add Sub Sub Drink Varient <i class="fa fa-times" 
                aria-hidden="true" style="float: right;" mat-dialog-close></i> </h4>
        <mat-dialog-content>
            <form [formGroup]="addSubSubVarientForm">

        <!-- ***********dropdown for RootDrinks ******************* -->
        <div class="row">
            <!-- <div class="col-lg-12">
                <mat-form-field>
                    <mat-select (change)="onRootDrinkSelection($event)" [class.is-invalid]="addSubSubVarientForm.get('rootdrink').invalid &&
    addSubSubVarientForm.get('rootdrink').touched" formControlName="rootdrink" addSubVarientForm>
                        <mat-option value="">Select Root Drink Types</mat-option>
                        <mat-option *ngFor="let d of DrinkTypes" [value]="d.rootDrinkType">
                            {{d.rootDrinkType}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="addSubSubVarientForm.get('rootdrink').valid ||
    addSubSubVarientForm.get('rootdrink').untouched">
                        Select Root Drink</mat-error>
                </mat-form-field>
            

            </div>

       

            <div class="col-lg-12">
                <mat-form-field>
                    <mat-select (change)="onVarientSelection($event)" [class.is-invalid]="addSubSubVarientForm.get('varientName').invalid &&
    addSubSubVarientForm.get('varientName').touched" formControlName="varientName">
                        <mat-option value="">Select Liquor Varient</mat-option>
                        <mat-option *ngFor="let v of VarientsArray" [value]="v.liquorVarientName">
                            {{v.liquorVarientName}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="addSubSubVarientForm.get('varientName').valid ||
    addSubSubVarientForm.get('varientName').untouched">
                        Select Liquor varient</mat-error>
                </mat-form-field>

            </div>

          

            <div class="col-lg-12">
                <mat-form-field>
                    <mat-select (change)="onSubVarientSelection($event)" formControlName="subVarientName"
                        [class.is-invalid]="addSubSubVarientForm.get('subVarientName').invalid &&
    addSubSubVarientForm.get('subVarientName').touched">
                        <mat-option value="">Select Liquor Sub Varients</mat-option>
                        <mat-option *ngFor="let sv of subVarientArray" [value]="sv.liquorSubVarientName">
                            {{sv.liquorSubVarientName}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="addSubSubVarientForm.get('subVarientName').valid ||
    addSubSubVarientForm.get('subVarientName').untouched">
                        Select Liquor Sub Varients</mat-error>
                </mat-form-field>
            </div> -->


            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Add Sub Sub Drink Type" [class.is-invalid]="addSubSubVarientForm.get('liquorSubSubVarientTypeName').invalid &&
    addSubSubVarientForm.get('liquorSubSubVarientTypeName').touched" formControlName="liquorSubSubVarientTypeName">
                    <mat-error [class.d-none]="addSubSubVarientForm.get('liquorSubSubVarientTypeName').valid ||
    addSubSubVarientForm.get('liquorSubSubVarientTypeName').untouched">
                        Add sub sub drink Invalid</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" (click)="onAddSubSubDrink()" [disabled]="!addSubSubVarientForm.valid"
                    mat-dialog-close>Add</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    
</form>
</mat-dialog-content>