<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>View Items</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
    </div>
      <div class="table-border-style">
          <div class="table-responsive">
              <table class="table table-bordered">
                
                  <tbody>
                      <tr>
                          <td>Items Code</td>
                          <td>{{data.itemCode}}</td>
                      </tr>
                      <tr>
                          <td>Items Name</td>
                          <td>{{data.itemName}}</td>
                      </tr>
                      <tr>
                        <td>Brand</td>
                        <td>{{data.brand.BrandName}}</td>
                    </tr>
                    <tr>
                        <td>Material</td>
                        <td>{{data.ingredient.ingredientName}}</td>
                    </tr>
                   
                   
                      <tr>
                          <td>Added By</td>
                          <td>{{data.addedBy.userName}}</td>
                      </tr>
                      <tr>
                          <td>Date and Time</td>
                          <td>{{data.updatedAt | date:'medium'}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      <div class="row">
          <p>
              <b>Measurement:  </b>{{data.measurement}}
          </p>
        <table class="table table-striped table-bordered nowrap table-hover">
            <thead>
                <tr *ngIf="data['measurement']=='Kg-Gram'">
                    <th>Index</th>               
                    <th>Kg</th>
                    <th>Gram</th>
                    

                </tr>
                <tr *ngIf="data['measurement']=='Liter-Mililiter'">
                    <th>Index</th>
                    <th>Liter</th>
                    <th>Mililiter</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of data['quantity']; let i = index">
                    <td>{{i+1}}</td>

                    <td>
                        {{d.kg}}
                    </td>
                    <td>
                       {{d.gram}}
                    </td>
                   
                </tr>
            </tbody>
        </table>
      </div>
      <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>

</div>



