<div class="container">
  <h2>Add Table</h2>
<div class="row">
  <div class="col-lg-12">
    <form action="" [formGroup]="createTableForm">
      <div>
        <div class="row">
          <div class="col-lg-6">
            <label for="">Table Name</label>
          </div>
          <div class="col-lg-6">
            <input type="text" formControlName="tablename">
          </div>          
        </div>
        <div class="row">
       <div class="col-lg-6">
        <label for="">Seating</label>
      </div>
      <div class="col-lg-6">
        <input type="number" formControlName="capacity">
       </div>
       </div>
       <div class="row">
         <div class="col-lg-6">
          <label for="">Shape</label>
        </div>
        <div class="col-lg-6"> 
         <select name="" id="" formControlName="shape">
          <option value="Round" selected>Round</option>
          <option value="Rectangle">Rectangle</option>
          <option value="Oval">Oval</option>
          <option value="Triangle">Triangle</option>
         </select>
         </div>
       </div>
       <!-- <div class="row">
         <div class="col-lg-6">
          <label for="">Quantity</label>
         </div>
         <div class="col-lg-6">
          <input type="number" formControlName="quantity">
         </div>              
       </div> -->
       
      </div>
      
      <div class="row">
        <div class="col-lg-12 mt-4">
          <button class="btn btn-danger" [mat-dialog-close] >Cancel</button>&nbsp;
          <button class="btn btn-primary" [mat-dialog-close] [disabled]="!createTableForm.valid" (click)="onAddTable()">submit</button>
        </div>      
      </div>
      
      </form>
  </div>
</div>
</div>
