#table-wrapper {
    width: 391px;
    position: relative;
    left: 25%;
    height: 135px;
    transform: scale(-0.3);
    top: 100px;
  }

  #table-wrapper .the-table {
    position: absolute;
    left: 100px;
    top: 100px;
    height: 315px;
    width: 200px;
    background-color: #5e4837;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
  }

  #table-wrapper .the-table .plate {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    position: absolute;
  }

  #table-wrapper .the-table .plate:before {
    top: 6px;
    left: 6px;
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 10px 9px 0 0 #EAEAEA;
  }

  /* #table-wrapper .the-table .plate:after {
    position: absolute;
    content: " ";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #A03434;
    border: 3px solid #9a816d;
    left: 31px;
    bottom: -45px;
    box-shadow: inset 0 0 10px #000000;
  } */

  #table-wrapper .the-table .plate:nth-child(1) {
    left: 70px;
    top: 7px;
  }

  #table-wrapper .the-table .plate:nth-child(2) {
    left: 10px;
    top: 73px;
    transform: rotate(-90deg);
  }

  #table-wrapper .the-table .plate:nth-child(3) {
    left: 15px;
    top: 206px;
    transform: rotate(-90deg);
  }

  #table-wrapper .the-table .plate:nth-child(4) {
    right: 5px;
    top: 58px;
    transform: rotate(90deg);
  }

  #table-wrapper .the-table .plate:nth-child(5) {
    right: 3px;
    top: 211px;
    transform: rotate(90deg);
  }

  #table-wrapper .the-table .plate:nth-child(6) {
    left: 87px;
    top: 254px;
    transform: rotate(180deg);
  }

  #table-wrapper .the-table .knife,
  #table-wrapper .the-table .fork {
    position: absolute;
    width: 7px;
    height: 35px;
    background-color: #d2d3d5;
    top: -4px;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
  }

  #table-wrapper .the-table .knife:before,
  #table-wrapper .the-table .fork:before {
    width: 8px;
  }

  #table-wrapper .the-table .knife {
    border-radius: 0 0 100%/13px 0;
    right: -11px;
  }

  #table-wrapper .the-table .fork {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 0 3px 2px;
    left: -13px;
  }

  #table-wrapper .the-table .fork:before {
    box-shadow: 0 8px 0 2px #5e4837;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 3px;
    height: 18px;
    content: ' ';
    background-color: inherit;
  }

  #table-wrapper .the-table .fork:after {
    box-shadow: 0 8px 0 2px #5e4837;
    border-top-left-radius: 20px;
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 3px;
    height: 18px;
    content: ' ';
    background-color: inherit;
  }

  #table-wrapper .chair {
    position: absolute;
    width: 75px;
    height: 85px;
    background-color: black;
    background-color: #3e2f24;
    border-radius: 13%/100px 100px 0 0;
    perspective: 150px;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
  }

  #table-wrapper .chair:before {
    transform: rotateX(160deg);
    position: absolute;
    width: 95px;
    height: 55px;
    background-color: #7e614a;
    top: -28px;
    left: -10px;
    content: " ";
    border-radius: 40%/100px 100px 0 0;
  }

  #table-wrapper .chair.chair-lg {
    width: 90px;
    /* height: 85px; */
  }

  #table-wrapper .chair.chair-lg:before {
    /* width: 215px; */
    /* height: 59px; */
    left: 0px;
  }

  #table-wrapper .chair:nth-child(1) {
    left: 150px;
    top: 35px;
  }

  #table-wrapper .chair:nth-child(2) {
    top: 154px;
    transform: rotate(-90deg);
    left: 35px;
  }

  #table-wrapper .chair:nth-child(3) {
    top: 290px;
    transform: rotate(-90deg);
    left: 35px;
  }

  #table-wrapper .chair:nth-child(4) {
    right: 36px;
    top: 148px;
    transform: rotate(90deg);
  }

  #table-wrapper .chair:nth-child(5) {
    right: 35px;
    top: 293px;
    transform: rotate(90deg);
  }

  #table-wrapper .chair:nth-child(6) {
    top: 395px;
    left: 153px;
    transform: rotate(180deg);
  }

  // Shapes @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  #square {
    width: 50px;
    height: 50px;
    // / background: red; /
    border: 1px solid;
  }
  #rectangle {
    width: 100px;
    height: 50px;
    border: 1px solid;
  }

  #circle {
    width: 50px;
    height: 50px;
    border: 1px solid;
    border-radius: 50%
  }

  #oval {
    width: 100px;
    height: 50px;
    border: 1px solid;  
    border-radius: 100px / 50px;
  }