<h4 mat-dialog-title>Add Brand<i class="fa fa-times" 
    aria-hidden="true" style="float: right;" mat-dialog-close></i>  </h4>
<div mat-dialog-content>
    <form [formGroup]="brandForm">
        <div class="row ml-2 mt-2">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Brand Name"  formControlName="BrandName">
                   
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial [disabled]=!brandForm.valid (click)="addBrand()"> Add New
    <button mat-button (click)="onNoClick()">Cancel</button>

    </button>
</div>