<h1 mat-dialog-title>Create Attribute Set</h1>
<div mat-dialog-content>
 <form [formGroup]="createAttributeSetForm">
    <div class="row">
    
            <mat-form-field class="example-full-width" style="width: 80%;">
                <input matInput placeholder="Attribute Set Name" formControlName="attributeSetName">
            </mat-form-field>
        </div>
       
        <div class="row">
            <mat-form-field style="width: 80%;">
                <mat-label>Based On</mat-label>
                <mat-select formControlName="basedOn">
                    <mat-option *ngFor="let unit of units" [value]="unit">
                        {{unit}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        
        
    </div>
    
 </form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button> &nbsp;
  <button mat-button [mat-dialog-close] (click)="createAttributeSet()" cdkFocusInitial>Proceed</button>
</div>
