<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>Add Assets</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 MainGrid">
                <form [formGroup]="addAssetsForm">
                    <div class="col-lg-6">
                                       
                        <mat-form-field class="example-full-width" style="width: 100%;">
                            <input matInput placeholder="Name" formControlName="name">
                        </mat-form-field>
                    
                
                </div>
                <div class="col-lg-6">
                                       
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Quantity" formControlName="quantity">
                    </mat-form-field>
                
            
            </div>

                    </form>
                    <button type="button" style="float: right;" class="btn btn-primary" (click)="saveAdded_Assets()" mat-dialog-close >Save</button>
                    </div>
                    </div>
                    </div>
    </div>
