<div class="containter">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
        routerLink="/restaurants/chain-home">Back</button>

    <mat-card>

        <mat-horizontal-stepper [linear]="true">
            <!--******************* chain steeper ************************** -->
            <mat-step [stepControl]="chainInfo">
                <form action="" [formGroup]="chainInfo">
                    <ng-template matStepLabel>Chain Information</ng-template>

                    <!-- display name -->
                    <div class="row mt-4">
                        <div class="col-lg-3 ml-4">
                            <label for="" class="mt-2"> <b>Display Name</b> </label>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" style="width: 100%;">
                                <input matInput type="text" formControlName="display_name"
                                 [matAutocomplete]="auto" placeholder="" [readOnly]="isChainExist" >
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async" (click)="onSelectedChain(option)"
                                      [value]="option">
                                      {{option}}
                                    </mat-option>
                                  </mat-autocomplete>
                            </mat-form-field>
                        </div>
                    </div>

                    <!-- legal name -->
                    <div class="row mt-4">
                        <div class="col-lg-3 ml-4">
                            <label for="" class="mt-2"> <b>Legal Name</b> </label>
                        </div>
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" style="width: 100%;">
                                <input matInput type="text" formControlName="legal_name" placeholder="" [readOnly]="isChainExist"> 
                            </mat-form-field>
                        </div>
                    </div>


                    <!-- Next Button Coding -->

                    <div class="row mt-4">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary" 
                            (click)="saveChainInfo(chainInfo.controls.display_name.value)"  matStepperNext>Save &
                                Next</button>

                             

                                <button class="btn btn-danger ml-2" [hidden]="!isChainExist" (click)="onCancelChain()">
                                    Cancel
                                </button>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </form>
            </mat-step>

            <!--******************* Outlet steeper ************************** -->
            <mat-step [stepControl]="chainInfo">
                <form action="" [formGroup]="chainInfo">
                    <ng-template matStepLabel>Outlet Information</ng-template>
                  
                <!-- <p-tree [value]="files2" selectionMode="checkbox" [hidden]="!showTree">
                   
                 <ng-template let-node pTemplate="default">
{{node.label}}
                 </ng-template>

                </p-tree> -->


                <!-- NEW TREE CODE HERE -->

                <!-- VIEW MODE -->
                <div class="row mt-4" [hidden]="isView">
                    <div class="col">
                        <p-tree [value] ="files3"  selectionMode="checkbox" [filter]="true" [styleClass]="'my-tree'" scrollHeight="300px"  [(selection)]="newSelect1" 
                        (onNodeSelect)="nodeSelect($event)">
                            <ng-template let-node pTemplate="default">
                                <!-- <span  *ngIf="node.children.length==0" ></span> -->
                                <!-- <span *ngIf="node.children.length==0 && node.data=='root'" class="ui-tree-toggler pi ui-unselectable-text ng-star-inserted pi-caret-right" style="visibility: hidden;">
                                </span> 
                                <span *ngIf="node.children.length==0" class="ui-tree-toggler pi ui-unselectable-text ng-star-inserted pi-caret-right" style="visibility: hidden;">
                                </span>  -->
                                <button mat-button style="background-color: transparent; border: none; outline: none;" (dblclick)="dbl($event)">
                                    {{node.label}} <span *ngIf="node.children.length>0" style="font-size: x-small; color: black;">({{node.children.length}})</span>
                       
                                </button>
                                   </ng-template>
                        </p-tree>
                    </div>
                </div>

            <!-- ADD AND EDIT MODE -->
                <div class="row mt-4" [hidden]="!isView">
                    <div class="col">
                        <p-tree [value] ="files3"  selectionMode="single"  [filter]="true" [styleClass]="'my-folder'" scrollHeight="300px"  [(selection)]="newSelect" 
                        (onNodeSelect)="nodeSelect($event)" >
                            <ng-template let-node pTemplate="default">
                              
                                <!-- <span  *ngIf="node.children.length==0" ></span> -->
                             
                                <button mat-button style="background-color: transparent; border: none; outline: none;"
                                 [matMenuTriggerFor]="menu" >
                                    {{node.label}} 
                                </button>
                                &nbsp;<span  style="font-size: small; color: black;">({{node.children.length}})</span>
                              
                              
                            </ng-template>

                         
                        </p-tree>

                        <!-- <a *ngIf="1 > files3.node.children.length" class="ui-treetable-toggler ui-unselectable-text" style="visibility: hidden;">
                        <i>
                            <i class="pi pi-fw pi-chevron-right" ng-reflect-ng-class="pi pi-fw pi-chevron-right"></i>
                        </i>
                        </a> -->
                    </div>
                     
               
                
                </div>
                

                <!-- new row for context menu  -->
                <div >
   
                    <!-- CONTEXT MENU CODE HERE -->
                    <mat-menu #menu="matMenu" width="120px">                       
                        <i mat-menu-item  class="pi pi-pencil" (click)="RenameChild()"> Rename</i>                          
                        <i mat-menu-item  class="pi pi-trash" (click)="RemoveNode()" *ngIf="delNode=='child'"> Delete</i>
                        <i mat-menu-item  class="pi pi-trash" (click)="RemoveNode1()" *ngIf="delNode=='root'"> Delete</i>
                        <i mat-menu-item  class="pi pi-times-circle"  > Close</i>
                    </mat-menu>
             
                <p-contextMenu #abc [model]="items2"></p-contextMenu>
                </div>
                <!-- Button for new tree -->

                <!-- viem mode--> 
                <div class="mt-4" [hidden]="isView">
                    <Button class="btn btn-success" (click)="viewMode()">
                        Add/Edit
                     </Button>
                     <Button class="btn btn-{{isExpand? 'danger' : 'success'}} ml-3" [disabled]="isChildAct" (click)="ExpandNode()">
                       {{isExpand ? 'Collapse' : 'Expand'}}
                       </Button>
                </div>

                <!-- Add or Edit -->
                <div [hidden]="!isView">
                    <div class="row mt-4">
                        <div class="col">
                            <button class="pi pi-plus-circle" 
                            style="background-color: transparent; border: none; outline: none;" 
                            (click)="NewChild()">
                                Add Sub-Chain
                            </button>      
                            <button class="pi pi-save ml-3"  style="background-color: transparent; border: none; outline: none;" (click)="viewMode()">
                                Save
                            </button>                
                        </div>
                       
                        
                    </div>
    
                   
                </div>

                <!-- Confirm Dialogbox -->
                <p-confirmDialog [style]="{width: '50vw'}" #cd>
                    <p-footer>
                        <button class="btn btn-primary" (click)="cd.accept()" >Yes</button>
                        <button class="btn btn-danger" (click)="cd.reject()" >Cancel</button>
                    </p-footer>
                </p-confirmDialog>

                <!-- COntext Menu -->
                <!-- <p-contextMenu #treeNode [model]="rightmenu"></p-contextMenu> -->

               

                    <!-- Next Button Coding -->

                    <div class="row mt-4">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary" matStepperNext>Save &
                                Next</button>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                </form>
            </mat-step>

            <!--******************* Establisment steeper ************************** -->
            <mat-step [stepControl]="chainInfo">
                <form action="" [formGroup]="chainInfo">
                    <ng-template matStepLabel>Establisment Information</ng-template>


                    <p-tabView>
                        <p-tabPanel [header]="item" *ngFor="let item of allChainsTab; let i = index" [selected]="i == 0">
                           <!-- **** Tabs Starts here******* -->
                    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
                        <!-- *************** -->
                        <!-- ***More Info*** -->
                        <!-- *************** -->
                        <mat-tab label="More Info">
                            <div class="container" style="height: 300px;">

                                <!-- *********SELECED OPTIONS************ -->
                                <mat-card class="mt-2" style="width: 80%;">
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">
                                            <mat-chip-list>
                                                <mat-chip *ngFor="let m of selectedmore" color="primary"
                                                    (click)="removeMoreinfo(m)" selected>
                                                    {{m.name}} &nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </mat-card>


                                <!-- *********OPTIONS***** -->
                                <mat-card class="mt-2" style="width: 80%;">
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">
                                            <mat-chip-list>

                                                <mat-chip *ngFor="let m of moreInfoArr" color="primary"
                                                    (click)="optMoreInfo(m)" selected>
                                                    {{m.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>
                                                &nbsp;
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </mat-card>

                            </div>

                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">

                                    <button class="btn btn-primary" (click)="nextTab('1')">Next</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>

                        <!-- *************** -->
                        <!-- ***Services*** -->
                        <!-- *************** -->

                        <mat-tab label="Services">
                            <div class="container" style="height: 300px;">
                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***SELECTED OPTIONS**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let s of selectedservices" color="#ff00ff"
                                                    (click)="removeServices(s)" selected>
                                                    {{s.name}}&nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>

                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***OPTIONS**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3> Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let s of servicesArr" color="#ff00ff"
                                                    (click)="optserviceInfo(s)" selected>
                                                    {{s.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                            </div>

                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-danger" (click)="nextTab('0')">Back</button>&nbsp;
                                    <button class="btn btn-primary" (click)="nextTab('2')">Next</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>

                        <!-- *************** -->
                        <!-- ***Rules & Regulations*** -->
                        <!-- *************** -->


                        <mat-tab label="Rules & Regulations">
                            <div class="container" style="height: 300px;">
                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- *****Selected Options**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let r of selectedrules" color="warn"
                                                    (click)="removeRules(r)" selected>
                                                    {{r.name}}&nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>

                                <mat-card class="mt-2" style="width: 80%;">
                                    <!--***Opitons**** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let r of rulesArr" color="warn" (click)="optRules(r)"
                                                    selected>
                                                    {{r.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-danger" (click)="nextTab('1')">Back</button>&nbsp;
                                    <button class="btn btn-primary" (click)="nextTab('3')">Next</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>

                        <!-- *************** -->
                        <!-- ***Ambiences*** -->
                        <!-- *************** -->
                        <mat-tab label="Ambiences">
                            <div class="container" style="height: 300px;">
                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***Selected Options*** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Selected Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let a of selectedambiences" color="danger"
                                                    (click)="removeAmbience(a)" selected>
                                                    {{a.name}}&nbsp;<i class="fas fa-minus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                                <mat-card class="mt-2" style="width: 80%;">
                                    <!-- ***Options*** -->
                                    <div class="row mt-4">
                                        <div class="col-lg-12">
                                            <h3>Options:</h3>
                                        </div>
                                        <div class="col-lg-12 ml-4">

                                            <mat-chip-list>
                                                <mat-chip *ngFor="let a of ambienceArr" color="danger"
                                                    (click)="optAmbience(a)" selected>
                                                    {{a.name}} &nbsp;<i class="fas fa-plus-circle"></i>
                                                </mat-chip>&nbsp;
                                            </mat-chip-list>

                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-danger" (click)="nextTab('2')">Back</button>&nbsp;
                                    <button class="btn btn-primary" (click)="nextTab('4')">Next</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>
                        <!-- *************** -->
                        <!-- ***Cuisines*** -->
                        <!-- *************** -->
                        <mat-tab label="Cuisines">
                            <div class="container" style="height: 300px;">

                                <mat-card class="mt-2" style="width: 80%;">
                                
                                </mat-card>
                            </div>
                            <!-- next button tabs -->
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col">
                                    <button class="btn btn-danger" (click)="nextTab('3')">Back</button>&nbsp;
                                    <button class="btn btn-primary" matStepperNext>Save & Next</button>
                                </div>
                                <div class="col"></div>
                            </div>
                        </mat-tab>

                    </mat-tab-group>
                        </p-tabPanel>
                    </p-tabView>
                  
                    <!-- Next Button Coding -->

                    <!-- <div class="row mt-4">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <button class="btn btn-primary" (click)="savechainInfo()" matStepperNext>Save &
                                Submit</button>
                        </div>
                        <div class="col-lg-4"></div>
                    </div> -->
                </form>
            </mat-step>

            <!--******************* Media steeper ************************** -->
            <mat-step [stepControl]="chainInfo">

                <p-tabView>
                    <p-tabPanel [header]="item" *ngFor="let item of allChainsTab; let i = index" [selected]="i == 0">
                        <form action="" [formGroup]="chainInfo">
                            <ng-template matStepLabel>Media Information</ng-template>
        
                            <!-- media logo -->
                            <div class="row mt-4">
                                <div class="col-lg-3 ml-4">
                                    <label for="" class="mt-2"> <b>Chain Logo</b> </label>
                                </div>
                                <div class="col-lg-6">
                                    <input type="file" [hidden]="showLogo" accept="image/*" ng2FileSelect
                                        [uploader]="logoUploader" (change)="logoUploader.uploadAll();loading()" />
        
                                    <br>
                                    <a href="{{logoResponse}}" [hidden]="!showLogo">
                                        <img [src]="logoResponse" height="100px" width="100px" alt="">
                                    </a>
                                </div>
                            </div>
        
                            <!-- media pictures -->
                            <div class="row mt-4">
                                <div class="col-lg-3 ml-4">
                                    <label for="" class="mt-2"> <b>Pictures</b> </label>
                                </div>
                                <div class="col-lg-6" [hidden]="showImages">
                                    <input type="file" multiple accept="image/*" ng2FileSelect [uploader]="ImgAlbumUploader"
                                        (change)="ImgAlbumUploader.uploadAll();loading()" />
        
        
                                </div>
                                <div class="col-lg-6" [hidden]="!showImages">
                                    <img *ngFor="let img of ImgAlbumResponse" [src]="img" heigth="100px" width="100px" alt="">
        
                                </div>
                            </div>
        
                            <!-- media videos -->
                            <div class="row mt-4">
                                <div class="col-lg-3 ml-4">
                                    <label for="" class="mt-2"> <b>Videos</b> </label>
                                </div>
                                <div class="col-lg-6" [hidden]="showVideos">
                                    <input type="file" multiple accept="video/*" ng2FileSelect [uploader]="VideoAlbumUploader"
                                        (change)="VideoAlbumUploader.uploadAll();loading()" />
                                </div>
                                <div class="col-lg-6" [hidden]="!showVideos">
                                    <video *ngFor="let vdo of VideoAlbumResponse" width="160" height="120" controls
                                        controlsList=”nodownload”>
                                        <source [src]="vdo">
                                    </video> </div>
                            </div>
        
                            <!-- Next Button Coding -->
        
                            <div class="row mt-4">
                                <div class="col-lg-4"></div>
                                <div class="col-lg-4">
                                    <button class="btn btn-primary" (click)="saveMediaInfo();SaveFinal()" [hidden]="isChainExist" matStepperNext>Submit </button>
                                    <button class="btn btn-success"  [hidden]="!isChainExist" matStepperNext>Update </button>
                                </div>
                                <div class="col-lg-4"></div>
                            </div>
                        </form>
                    </p-tabPanel>
                </p-tabView>
              
            </mat-step>

            <!-- Tree Creation -->
           


        </mat-horizontal-stepper>
    </mat-card>


</div>

<!-- {{finalObj | json}} -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)">
    <!-- <img src="/assets/images/bizpenguin.png" class="text-center"alt=""> -->
    <h2 class="text-center" style="color:white">Bizly</h2>
    <p style="font-size: 20px; color: white">File Uploading, Please wait...</p>
</ngx-spinner>