:host ::ng-deep .ui-tree.my-tree {
    width: 35%;
  }


:host ::ng-deep .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-icon .my-folder {
  visibility: hidden;
  vertical-align: middle;
  display: inline-block;
  margin: 0 0.143em 0 0;
  color: #848484;
}