<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/feedback">Back</button>

<h5 style="margin-top: -16px;">Feedback / Create Template</h5>
<mat-card>
    <div class="container">
        <form [formGroup]="createTemplateForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Add Template Name" [class.is-invalid]="createTemplateForm.get('templateName').invalid &&
                        createTemplateForm.get('templateName').touched" formControlName="templateName">
                        <mat-error [class.d-none]="createTemplateForm.get('templateName').valid ||
                        createTemplateForm.get('templateName').untouched" class="text-danger">Template Name is
                            Invalid</mat-error>
                    </mat-form-field>
                </div>
                <div class="col-lg-8">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Add Description" [class.is-invalid]="createTemplateForm.get('templateDescription').invalid &&
                        createTemplateForm.get('templateDescription').touched" formControlName="templateDescription">
                        <mat-error [class.d-none]="createTemplateForm.get('templateDescription').valid ||
                        createTemplateForm.get('templateDescription').untouched" class="text-danger">Template
                            Description is
                            Invalid</mat-error>
                    </mat-form-field>

                </div>
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Select Filter</mat-label>
                        <mat-select [class.is-invalid]="createTemplateForm.get('selectFilter').invalid &&
                        createTemplateForm.get('selectFilter').touched" (selectionChange)="onFilterSelection($event)"
                            formControlName="selectFilter">
                            <mat-option *ngFor="let select of SelectFilters" [value]="select">
                                {{select}}
                            </mat-option>
                        </mat-select>
                        <mat-error [class.d-none]="createTemplateForm.get('selectFilter').valid ||
                        createTemplateForm.get('selectFilter').untouched" class="text-danger">Select Filter</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-4">
                    <div class="col-lg-4" *ngIf="createTemplateForm.get('selectFilter').value === 'Bizly to Customer'">

                        <mat-form-field style="width: 80%;">
                            <mat-label>Select Platform (Bizly to Customer)</mat-label>
                            <mat-select [class.is-invalid]="createTemplateForm.get('platForm').invalid &&
                        createTemplateForm.get('platForm').touched" formControlName="platForm">
                                <mat-option *ngFor="let platform of selectPlatFormBizlytoCust" [value]="platform">
                                    {{platform}}
                                </mat-option>
                            </mat-select>
                            <mat-error [class.d-none]="createTemplateForm.get('platForm').valid ||
                        createTemplateForm.get('platForm').untouched" class="text-danger">Select Platform</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-lg-4" *ngIf="createTemplateForm.get('selectFilter').value === 'Bizly to POS Merchant'">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Select Platform (Bizly to Pos Merchant)</mat-label>
                        <mat-select [class.is-invalid]="createTemplateForm.get('platForm').invalid &&
                        createTemplateForm.get('platForm').touched" formControlName="platForm">
                            <mat-option *ngFor="let platform of selectPlatFormBizlytoPOS" [value]="platform">
                                {{platform}}
                            </mat-option>
                        </mat-select>
                        <mat-error [class.d-none]="createTemplateForm.get('platForm').valid ||
                        createTemplateForm.get('platForm').untouched" class="text-danger">Select Platform</mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-4" *ngIf="createTemplateForm.get('selectFilter').value === 'POS Merchant to Customer'">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Select Platform (Pos Merchant to Customer)</mat-label>
                        <mat-select [class.is-invalid]="createTemplateForm.get('platForm').invalid &&
                        createTemplateForm.get('platForm').touched" formControlName="platForm">
                            <mat-option *ngFor="let platform of selectPlatFormPOStoCust" [value]="platform">
                                {{platform}}
                            </mat-option>
                        </mat-select>
                        <mat-error [class.d-none]="createTemplateForm.get('platForm').valid ||
                        createTemplateForm.get('platForm').untouched" class="text-danger">Select Platform</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-4 mt-4">
                    <mat-radio-group class="" aria-label="Select an option" (change)="onSelectOption($event)">
                        <mat-radio-button class="ml-2" value="questionSet" checked>Question Set</mat-radio-button>
                        <mat-radio-button class="ml-2" value="question">Questions</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput (input)="searchQuestionTemplate($event)" placeholder="Search Question"
                            [(ngModel)]="searchQuestionTemplateInput" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>

            <div class="row ml-4 mt-2">
                <label>Select Question Set Type</label>
            </div>
            <div class="row ml-4 md-2">
                <div class="col-lg-12">
                    <ul id="myUL">
                        <li *ngFor="let rootQuestion of QuestionTypes; let i=index">

                            <span class="caret" (click)="caretClick()">
                                <mat-checkbox class="example-margin" [checked]="rootQuestion['showChildren']"
                                    (change)="changeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                    value="rootQuestion.rootQuestionType"></mat-checkbox>

                                <!-- <input type="radio" formControlName="rootQuestionType" [value]="rootQuestion.rootQuestionType"> -->
                                {{rootQuestion.rootQuestionType}}
                            </span>

                            <ul class="nested">

                                <li *ngFor="let CategoryType of rootQuestion.questionType;let subcategoryIndex=index">
                                    <span class="caret" (click)="caretClick()">
                                        <mat-checkbox class="example-margin"
                                            (change)="changeFlag(rootCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                            [checked]="CategoryType['showChildren']"
                                            value="CategoryType.rootCategoryName">
                                        </mat-checkbox>

                                        <!-- <input type="radio" formControlName="CategoryType" [value]="CategoryType.rootCategoryName"> -->
                                        {{CategoryType.rootCategoryName}}
                                    </span>
                                    <ul class="nested">
                                        <li
                                            *ngFor="let liquorSubVarient of CategoryType.categories; let subsubcategoryINdex=index">
                                            <span class="caret" (click)="caretClick()">
                                                <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.categoryName"> -->
                                                <mat-checkbox class="example-margin"
                                                    [checked]="liquorSubVarient['showChildren']"
                                                    (change)="changeFlag(rootCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                                    value="liquorSubVarient.categoryName"></mat-checkbox>

                                                {{liquorSubVarient.categoryName}}
                                            </span>
                                            <ul class="nested">

                                                <li
                                                    *ngFor="let liquorSubSubVarient of liquorSubVarient.childCategories; let typeIndex=index">
                                                    <span>
                                                        <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                                        <!-- (click)="selectSubSubVarient(rootQuestion.rootQuestionType, CategoryType.rootCategoryName , liquorSubVarient.categoryName)"> -->
                                                        <mat-checkbox class="example-margin"
                                                            [checked]="liquorSubSubVarient['showChildren']"
                                                            (change)="changeFlag(rootCategory, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                                            value="liquorSubSubVarient."></mat-checkbox>

                                                        {{liquorSubSubVarient['childCategoryName']}}
                                                    </span>
                                                </li>
                                                <i class="fa fa-plus mb-2"
                                                    (click)="openSubSubcategory(rootQuestion._id, CategoryType._id, liquorSubVarient._id)"
                                                    aria-hidden="true"> Add Sub Sub Category Type</i>
                                            </ul>
                                        </li>
                                        <i class="fa fa-plus mb-2"
                                            (click)="openSubCategoryType(rootQuestion._id, CategoryType._id)"
                                            aria-hidden="true">
                                            Add Sub Category Type</i>
                                    </ul>
                                </li>
                                <i class="fa fa-plus mb-2" (click)="openCategoryType(rootQuestion._id)"
                                    aria-hidden="true"> Add Category Type</i>
                            </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openRootDialog()" aria-hidden="true"> Add Root
                            Type</i>

                    </ul>
                </div>
            </div>


            <!-- <div class="row ml-2 mt-2" *ngIf="!isQueCheck">
                <div *ngFor="let set of allquestionSets">
                    <div class="card ml-2" style="width: 18rem;">
                        <div class="card-body">

                            <h5 class="card-title TitleCard">{{set.questionSetCode}}
                                <div class="float-right">
                                    <i class="material-icons" (click)="onselect(set,$event)">
                                        clear
                                    </i>
                                </div>

                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted mt-1">{{set.questionSetName}} </h6>

                            <div *ngFor="let option of set.selectedQuestions">

                                <p>{{option.label_Name}}</p>

                            </div>

                        </div>

                    </div>
                </div>
            </div> -->



            <div class="row ml-2 mt-4" *ngIf="!isQueCheck" cdkDropList class="example-list"
                (cdkDropListDropped)="dropset($event)">
                <div *ngFor="let set of allquestionSets" cdkDrag class="bordercard">
                    <div class="card ml-2" style="width: 18rem; max-height: 10rem;overflow: auto;">
                        <div class="card-body">

                            <h5 class="card-title TitleCard">{{set.questionSetCode}}:-{{set.questionSetName}}
                                <mat-checkbox class="float-right" (change)="onSelectQuestionset(set, $event)">
                                </mat-checkbox>
                            </h5>
                            <!-- <h6 class="card-subtitle mb-2 text-muted mt-1">{{set.questionSetName}} </h6> -->
                            <hr>
                            <div *ngFor="let option of set.selectedQuestions">

                                <i class="fa fa-circle" style="font-size: smaller;"
                                    aria-hidden="true">&nbsp;&nbsp;&nbsp;&nbsp;{{option.label_Name}}</i>


                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row ml-2 mt-4" *ngIf="isQueCheck" cdkDropList class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div *ngFor="let question of allQuestions" cdkDrag class="bordercard">
                    <div class="card ml-2" style="width: 18rem; height: 10rem;">
                        <div class="card-body">

                            <h5 class="card-title TitleCard">{{question.feedbackCode}}
                                <mat-checkbox class="float-right" (change)="onSelectQuestion(question, $event)">
                                </mat-checkbox>
                            </h5>
                            <h6 class="card-subtitle mb-2 text-muted mt-1">{{question.label_Name}} </h6>

                            <div *ngIf="question.inputType=='Input Box'">
                                <mat-form-field class="example-full-width" style="width: 80%;">
                                    <input matInput placeholder="Input Box" [(ngModel)]="question.inputPlaceholderName"
                                        [ngModelOptions]="{standalone: true}" disabled>
                                </mat-form-field>
                            </div>
                            <div *ngIf="question.inputType=='Radio Button'">
                                <div *ngFor="let option of question.radioButtons">

                                    <mat-radio-button disabled>{{option.optionLable}}</mat-radio-button>

                                </div>
                            </div>
                            <div *ngIf="question.inputType=='Yes / No'">
                                <mat-radio-button disabled>Yes</mat-radio-button>&nbsp;
                                <mat-radio-button disabled>No</mat-radio-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary" [disabled]="!createTemplateForm.valid"
                        (click)="createTemplate()">Save</button>
                </div>
                <div class="col-lg-3">
                    <!-- <button class="btn btn-primary ml-2" (click)="openQuestionSet()"><i class="fa fa-plus mr-2"
                        aria-hidden="true"></i>Add Question Set</button> -->
                </div>
            </div>
        </form>
    </div>
</mat-card>