ul, #myUL {
    list-style-type: none;
  }
  
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  .caret {
    cursor: pointer;
    user-select: none;
  }
  
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  .caret-down::before {
   
    transform: rotate(90deg);  
  }
  
  .nested {
    display: none;
  }
  
  .active {
    display: block;
  }
  
  #table-wrapper {
    width: 391px;
    position: relative;
    left: 25%;
    height: 135px;
    transform: scale(-0.3);
    top: 100px;
  }
  
  #table-wrapper .the-table {
    position: absolute;
    left: 100px;
    top: 100px;
    height: 315px;
    width: 200px;
    background-color: #3D3C41;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
  }
  
  #table-wrapper .the-table .plate {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
    position: absolute;
  }
  
  #table-wrapper .the-table .plate:before {
    top: 6px;
    left: 6px;
    position: absolute;
    content: " ";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 10px 9px 0 0 #EAEAEA;
  }
  
  /* #table-wrapper .the-table .plate:after {
    position: absolute;
    content: " ";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #A03434;
    border: 3px solid #9a816d;
    left: 31px;
    bottom: -45px;
    box-shadow: inset 0 0 10px #000000;
  } */
  
  #table-wrapper .the-table .plate:nth-child(1) {
    left: 70px;
    top: 7px;
  }
  
  #table-wrapper .the-table .plate:nth-child(2) {
    left: 10px;
    top: 73px;
    transform: rotate(-90deg);
  }
  
  #table-wrapper .the-table .plate:nth-child(3) {
    left: 15px;
    top: 206px;
    transform: rotate(-90deg);
  }
  
  #table-wrapper .the-table .plate:nth-child(4) {
    right: 5px;
    top: 58px;
    transform: rotate(90deg);
  }
  
  #table-wrapper .the-table .plate:nth-child(5) {
    right: 3px;
    top: 211px;
    transform: rotate(90deg);
  }
  
  #table-wrapper .the-table .plate:nth-child(6) {
    left: 87px;
    top: 254px;
    transform: rotate(180deg);
  }
  
  #table-wrapper .the-table .knife,
  #table-wrapper .the-table .fork {
    position: absolute;
    width: 7px;
    height: 35px;
    background-color: #d2d3d5;
    top: -4px;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
  }
  
  #table-wrapper .the-table .knife:before,
  #table-wrapper .the-table .fork:before {
    width: 8px;
  }
  
  #table-wrapper .the-table .knife {
    border-radius: 0 0 100%/13px 0;
    right: -11px;
  }
  
  #table-wrapper .the-table .fork {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0px 0 3px 2px;
    left: -13px;
  }
  
  #table-wrapper .the-table .fork:before {
    box-shadow: 0 8px 0 2px #5e4837;
    border-top-right-radius: 20px;
    position: absolute;
    bottom: 0;
    left: 7px;
    width: 3px;
    height: 18px;
    content: ' ';
    background-color: inherit;
  }
  
  #table-wrapper .the-table .fork:after {
    box-shadow: 0 8px 0 2px #5e4837;
    border-top-left-radius: 20px;
    position: absolute;
    bottom: 0;
    left: -3px;
    width: 3px;
    height: 18px;
    content: ' ';
    background-color: inherit;
  }
  
   .chair {
    position: absolute;
    width: 75px;
    height: 85px;
    background-color: black;
    background-color: #70A807;
    border-radius: 13%/100px 100px 0 0;
    perspective: 150px;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
  }
  
   .chair:before {
    transform: rotateX(160deg);
    position: absolute;
    width: 95px;
    height: 55px;
    background-color: #5F8F00;
    top: -28px;
    left: -10px;
    content: " ";
    border-radius: 40%/100px 100px 0 0;
  }
  
   .chair.chair-lg {
    width: 90px;
    /* height: 85px; */
  }
  
  .chair.chair-lg:before {
    /* width: 215px; */
    /* height: 59px; */
    left: 0px;
  }
  
  #table-wrapper .chair:nth-child(1) {
    left: 150px;
    top: 35px;
  }
  
  #table-wrapper .chair:nth-child(2) {
    top: 154px;
    transform: rotate(-90deg);
    left: 35px;
  }
  
  #table-wrapper .chair:nth-child(3) {
    top: 290px;
    transform: rotate(-90deg);
    left: 35px;
  }
  
  #table-wrapper .chair:nth-child(4) {
    right: 36px;
    top: 148px;
    transform: rotate(90deg);
  }
  
  #table-wrapper .chair:nth-child(5) {
    right: 35px;
    top: 293px;
    transform: rotate(90deg);
  }
  
  #table-wrapper .chair:nth-child(6) {
    top: 395px;
    left: 153px;
    transform: rotate(180deg);
  }
  
  
  // ALL LAYOUTS CSS 12 FEB
  
  
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Kitchen Design
  
  .kitchen-wrapper * {
    box-sizing: border-box;
  }
  .kitchen-wrapper ::after, .kitchen-wrapper ::before {
    box-sizing: border-box;
  }
  .kitchen-wrapper .kitchen {
    // bottom: 10vmin;
    width: 15vmax;
    height: 25vmin;
    max-width: 110vmin;
    z-index: 2;
    position: absolute;
  }
  .kitchen-wrapper .kitchen .cabinets {
    position: absolute;
    bottom: 17%;
    left: 25%;
    width: 75%;
    height: 28%;
    display: grid;
    background-color: #2c454a;
    padding: 1rem 0.4rem 1.5rem 0.4rem;
    grid-template-columns: 17% 23% 17.7% 23% 17%;
    grid-gap: 0.4rem;
  }
  .kitchen-wrapper .kitchen .cabinets .cabinet {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
  }
  .kitchen-wrapper .kitchen .cabinets .cabinet::before {
    position: absolute;
    right: 5%;
    height: 20%;
    width: 5%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    content: "";
    top: 50%;
    transform: translateY(-50%);
  }
  .kitchen-wrapper .kitchen .cabinets .cabinet:last-child::before {
    left: 5%;
  }
  .kitchen-wrapper .kitchen .cabinets .dishwasher {
    background-color: white;
    position: relative;
  }
  .kitchen-wrapper .kitchen .cabinets .dishwasher span {
    position: absolute;
    top: 5%;
    height: 3%;
    border-radius: 1rem;
    width: 90%;
    left: 5%;
    background-color: #4d4b4c;
  }
  .kitchen-wrapper .kitchen .cabinets .dishwasher::before {
    width: 90%;
    height: 82%;
    bottom: 5%;
    left: 5%;
    content: "";
    background-color: #cbdbe2;
    position: absolute;
  }
  .kitchen-wrapper .kitchen .cabinets .dishwasher::after {
    width: 80%;
    height: 72%;
    bottom: 10%;
    left: 10%;
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
  }
  .kitchen-wrapper .kitchen .cabinets .oven {
    background-color: #c2c2c2;
    position: relative;
  }
  .kitchen-wrapper .kitchen .cabinets .oven .controls {
    position: absolute;
    top: 2%;
    width: 90%;
    height: 12%;
    left: 5%;
    display: flex;
  }
  .kitchen-wrapper .kitchen .cabinets .oven .controls .knob {
    border-radius: 50%;
    width: 10%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.2);
    margin: 2.2%;
  }
  .kitchen-wrapper .kitchen .cabinets .oven .controls .settings {
    position: absolute;
    right: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 80%;
    width: 20%;
    top: 10%;
    display: flex;
    flex-direction: column;
  }
  .kitchen-wrapper .kitchen .cabinets .oven .controls .settings span {
    transform: translateX(-100%);
    height: calc(100% / 3);
    width: 28%;
    position: relative;
  }
  .kitchen-wrapper .kitchen .cabinets .oven .controls .settings span::before {
    position: absolute;
    top: 50%;
    right: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 50%;
    width: 35%;
    transform: translatey(-50%);
  }
  .kitchen-wrapper .kitchen .cabinets .oven .top-bar {
    position: absolute;
    top: 17%;
    height: 3%;
    border-radius: 1rem;
    width: 90%;
    left: 5%;
    background-color: #4d4b4c;
  }
  .kitchen-wrapper .kitchen .cabinets .oven .screen {
    width: 90%;
    height: 70%;
    bottom: 5%;
    left: 5%;
    content: "";
    background-color: #505455;
    position: absolute;
  }
  .kitchen-wrapper .kitchen .cabinets .oven .screen::after {
    width: 90%;
    height: 90%;
    bottom: 5%;
    left: 5%;
    content: "";
    background-color: #6b6d6f;
    position: absolute;
  }
  .kitchen-wrapper .kitchen .cabinets .drawers {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .kitchen-wrapper .kitchen .cabinets .drawers span {
    height: 18%;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    position: relative;
  }
  .kitchen-wrapper .kitchen .cabinets .drawers span::before {
    position: absolute;
    left: 50%;
    height: 25%;
    width: 7%;
    background-color: rgba(255, 255, 255, 0.5);
    content: "";
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  .kitchen-wrapper .kitchen .cupboards {
    position: absolute;
    top: 0%;
    left: 25%;
    width: 50%;
    height: 30%;
    display: flex;
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet {
    background-color: #2c454a;
    padding: 0.4rem;
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span {
    position: relative;
    display: block;
    height: 68%;
    width: 100%;
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.top {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.top::before {
    position: absolute;
    right: 5%;
    height: 20%;
    width: 5%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    content: "";
    top: 50%;
    transform: translateY(-50%);
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.bottom {
    height: 30%;
    background-color: rgba(180, 180, 180, 0.2);
    box-shadow: inset 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-end;
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.bottom .condiment {
    margin: 0 0.3rem;
    width: 13%;
    height: 60%;
    border-radius: 0.2rem;
    background-image: linear-gradient(180deg, #b4ad9d 0%, #b4ad9d 15%, white 15%, white 45%, #ed9477 45%);
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.bottom .condiment::before {
    content: "";
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.bottom .condiment:nth-child(2) {
    background-image: linear-gradient(180deg, #b4ad9d 0%, #b4ad9d 15%, white 15%, white 70%, #f6e184 70%);
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.bottom .condiment:nth-child(3) {
    background-image: linear-gradient(180deg, #b4ad9d 0%, #b4ad9d 15%, white 15%, white 30%, #8a8c64 30%);
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.bottom .cereal-box {
    width: 17%;
    height: 90%;
    background-color: #e67354;
    margin: 0 1rem;
    position: relative;
  }
  .kitchen-wrapper .kitchen .cupboards .cabinet span.bottom .cereal-box::before {
    position: absolute;
    bottom: 10%;
    left: 10%;
    width: 80%;
    height: 15%;
    background-color: white;
    content: "";
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container {
    width: 33%;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .cabinet {
    height: 60%;
    padding: 0.4rem 0;
    width: 100%;
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .cabinet span {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .cabinet span::before {
    bottom: 7%;
    left: 50%;
    height: 6%;
    width: 30%;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    content: "";
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .rangehood {
    height: 40%;
    width: 100%;
    position: relative;
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .rangehood .neck {
    position: absolute;
    top: 0;
    height: 70%;
    width: 30%;
    background-color: #a8a9ad;
    left: 50%;
    transform: translateX(-50%);
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .rangehood .fan-top {
    height: 40%;
    width: 45%;
    position: absolute;
    top: 60%;
    background-color: #9b9ca1;
    transform: translateX(-50%) perspective(1rem) rotateX(20deg);
    left: 50%;
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .rangehood .fan {
    width: 108%;
    height: 25%;
    position: absolute;
    left: -4.5%;
    top: 125%;
    background-color: #74757b;
    display: flex;
    padding: 0 1rem;
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .rangehood .fan span {
    width: 8%;
    position: relative;
    height: 100%;
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .rangehood .fan span::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.3);
    content: "";
    height: 30%;
    width: 50%;
    border-radius: 50%;
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .rangehood .fan div {
    width: 20%;
    margin-left: auto;
    position: relative;
  }
  .kitchen-wrapper .kitchen .cupboards .rangehood-container .rangehood .fan div::before {
    background-color: rgba(180, 180, 180, 0.5);
    width: 100%;
    height: 50%;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .kitchen-wrapper .kitchen .cupboards .glass-cabinet {
    width: 39%;
    background-color: #2c454a;
    padding: 0.4rem;
    display: flex;
    justify-content: space-between;
  }
  .kitchen-wrapper .kitchen .cupboards .glass-cabinet span {
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    display: block;
    height: 100%;
    width: 49%;
  }
  .kitchen-wrapper .kitchen .cupboards .glass-cabinet span::before {
    position: absolute;
    left: 50%;
    height: 3%;
    width: 40%;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    content: "";
    bottom: 5%;
    transform: translateX(-50%);
  }
  .kitchen-wrapper .kitchen .cupboards .glass-cabinet span::after {
    position: absolute;
    content: "";
    top: 6%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.2);
    height: 80%;
    width: 80%;
  }
  .kitchen-wrapper .kitchen .fridge {
    position: absolute;
    bottom: 17%;
    left: 0%;
    width: 22%;
    height: 60%;
    background-color: white;
    border-radius: 1rem;
  }
  .kitchen-wrapper .kitchen .fridge::after, .kitchen-wrapper .kitchen .fridge::before {
    position: absolute;
    right: 10%;
    height: 12%;
    width: 4%;
    content: "";
    top: 11%;
    background-color: #d5ebf1;
    border-radius: 1rem;
  }
  .kitchen-wrapper .kitchen .fridge::after {
    top: 30%;
    height: 15%;
  }
  .kitchen-wrapper .kitchen .fridge span {
    position: absolute;
    top: 25%;
    width: 100%;
    height: 1rem;
    left: 0;
    background-color: #d5ebf1;
  }
  .kitchen-wrapper .kitchen .shelves {
    height: 20%;
    width: 25%;
    position: absolute;
    right: -1%;
    top: 10%;
    display: flex;
    flex-direction: column;
  }
  .kitchen-wrapper .kitchen .shelves > span {
    width: 100%;
    position: relative;
    height: 50%;
    left: 20%;
    border-radius: 0.3rem;
    display: flex;
    align-items: flex-end;
  }
  .kitchen-wrapper .kitchen .shelves > span::before {
    width: 80%;
    position: absolute;
    height: 10%;
    background-color: #2c454a;
    left: 0%;
    border-radius: 0.3rem;
    content: "";
    bottom: 0;
  }
  .kitchen-wrapper .kitchen .shelves > span:last-child {
    left: 0%;
  }
  .kitchen-wrapper .kitchen .shelves > span .jar {
    height: 50%;
    width: 10%;
    background-color: #dc3d1f;
    position: relative;
    bottom: 11%;
    margin: 0 0.3rem;
    position: relative;
    border-radius: 0.2rem;
  }
  .kitchen-wrapper .kitchen .shelves > span .jar::before, .kitchen-wrapper .kitchen .shelves > span .jar::after {
    position: absolute;
    bottom: 15%;
    height: 7%;
    background-color: white;
    left: 0;
    content: "";
    width: 100%;
  }
  .kitchen-wrapper .kitchen .shelves > span .jar::after {
    top: 20%;
  }
  .kitchen-wrapper .kitchen .shelves > span .jar:nth-child(2) {
    background-color: #00b3ba;
  }
  .kitchen-wrapper .kitchen .shelves > span .jar:nth-child(3) {
    background-color: #ff910c;
  }
  .kitchen-wrapper .kitchen .shelves > span .container {
    height: 50%;
    width: 20%;
    background-color: #eb565c;
    position: relative;
    bottom: 11%;
    margin-left: 1.5rem;
    position: relative;
    border-radius: 0.8rem;
  }
  .kitchen-wrapper .kitchen .shelves > span .container.small {
    width: 8%;
    height: 20%;
    margin-left: 1rem;
    background-color: #00b3ba;
  }
  .kitchen-wrapper .kitchen .shelves > span .can {
    height: 40%;
    width: 8%;
    position: relative;
    bottom: 11%;
    margin: 0 0.5rem;
    position: relative;
    border-radius: 0.2rem;
    background-image: linear-gradient(180deg, white 35%, #c31e0b 35%, #c31e0b 75%, white 75%);
  }
  .kitchen-wrapper .kitchen .shelves > span .can:nth-child(2) {
    background-image: linear-gradient(180deg, #626868 35%, white 35%, white 75%, #626868 75%);
  }
  .kitchen-wrapper .kitchen .shelves > span .bottle {
    height: 60%;
    width: 8%;
    position: relative;
    bottom: 11%;
    margin: 0 0.5rem;
    position: relative;
    border-radius: 0.2rem;
  }
  .kitchen-wrapper .kitchen .shelves > span .bottle::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background-color: #c01b08;
    border-radius: 40% 40% 20% 20% / 50% 50% 20% 20%;
  }
  .kitchen-wrapper .kitchen .shelves > span .bottle::after {
    content: "";
    position: absolute;
    top: 2%;
    left: 0;
    width: 40%;
    height: 30%;
    background-image: linear-gradient(180deg, #85b337 30%, #c01b08 30%);
    left: 30%;
    border-radius: 0.3rem 0.3rem 0 0;
  }
  .kitchen-wrapper .kitchen .shelves > span .bottle:nth-child(4)::before {
    background-color: #f1c40f;
  }
  .kitchen-wrapper .kitchen .shelves > span .bottle:nth-child(4)::after {
    background-image: linear-gradient(180deg, #85b337 30%, #f1c40f 30%);
  }
  .kitchen-wrapper .kitchen .shelves > span .pot {
    height: 65%;
    width: 22%;
    position: relative;
    bottom: 11%;
    margin: 0 1.5rem;
    position: relative;
    border-radius: 0.2rem;
    background-image: linear-gradient(180deg, #ff6b71 50%, white 50%, white 70%, #ff6b71 70%);
  }
  .kitchen-wrapper .kitchen .shelves > span .pot::before {
    width: 114%;
    left: -6%;
    height: 15%;
    position: absolute;
    background-color: #ff6b71;
    position: absolute;
    top: 10%;
    content: "";
  }
  .kitchen-wrapper .kitchen .spatula-rack {
    height: 13%;
    width: 20%;
    position: absolute;
    right: 0%;
    top: 35%;
    display: flex;
    justify-content: center;
  }
  .kitchen-wrapper .kitchen .spatula-rack::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: #2c454a;
    border-radius: 0.7rem;
  }
  .kitchen-wrapper .kitchen .spatula-rack > span {
    width: 15%;
    height: 99%;
    z-index: -1;
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
  }
  .kitchen-wrapper .kitchen .spatula-rack > span .handle {
    height: 70%;
    background-color: #3E2723;
    width: 20%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
  }
  .kitchen-wrapper .kitchen .spatula-rack > span .handle::before {
    position: absolute;
    top: 0;
    width: 150%;
    left: -25%;
    background-color: inherit;
    content: "";
    height: 45%;
  }
  .kitchen-wrapper .kitchen .spatula-rack > span .head {
    height: 30%;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translatex(-50%);
  }
  .kitchen-wrapper .kitchen .spatula-rack > span:first-child .head {
    border-radius: 50%;
    width: 80%;
    border: 0.3rem solid #3E2723;
  }
  .kitchen-wrapper .kitchen .spatula-rack > span:first-child .head::before {
    position: absolute;
    top: -7%;
    left: 50%;
    width: 75%;
    height: 110%;
    border: inherit;
    content: "";
    border-radius: inherit;
    transform: translateX(-50%);
  }
  .kitchen-wrapper .kitchen .spatula-rack > span:nth-child(2) .head {
    width: 80%;
    border: 0.3rem solid #3E2723;
    border-radius: 0.3rem;
  }
  .kitchen-wrapper .kitchen .spatula-rack > span:nth-child(2) .head::before {
    position: absolute;
    top: -15%;
    left: 50%;
    width: 65%;
    height: 130%;
    border: 0.3rem solid #3E2723;
    content: "";
    border-radius: inherit;
    transform: translateX(-50%);
  }
  .kitchen-wrapper .kitchen .spatula-rack > span:nth-child(3) .head {
    width: 100%;
    background-color: #3E2723;
    border-radius: 0% 100% 50% 50% / 0% 0% 100% 100%;
    height: 17%;
  }
  .kitchen-wrapper .kitchen .spatula-rack > span:nth-child(3) .handle {
    left: 25%;
  }
  .kitchen-wrapper .kitchen .kitchen-island {
    width: 50%;
    height: 33%;
    position: absolute;
    right: 2%;
    bottom: 0;
    border: 1rem solid #2c454a;
    border-bottom: 0 solid;
  }
  .kitchen-wrapper .kitchen .kitchen-island::before {
    position: absolute;
    left: 0;
    top: 0;
    height: 90%;
    width: 100%;
    content: "";
    background-color: #699ca6;
  }
  .kitchen-wrapper .kitchen .kitchen-island .chairs {
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: space-between;
  }
  .kitchen-wrapper .kitchen .kitchen-island .chairs .chair {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .kitchen-wrapper .kitchen .kitchen-island .chairs .chair .seat {
    height: 22%;
    width: 70%;
    background-color: #b33939;
    border-radius: 0.5rem;
  }
  .kitchen-wrapper .kitchen .kitchen-island .chairs .chair .base {
    height: 75%;
    width: 75%;
    border: 0.5rem solid #2c3e50;
    border-bottom: 0;
    transform: translatey(-5.8%) perspective(10rem) rotateX(10deg);
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .kitchen-wrapper .kitchen .kitchen-island .chairs .chair .base::before {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0.5rem;
    content: "";
    background-color: #2c3e50;
  }
  .kitchen-wrapper .kitchen .sink {
    position: absolute;
    right: 7%;
    width: 20%;
    height: 12%;
    bottom: 33%;
    z-index: 1;
  }
  .kitchen-wrapper .kitchen .sink .sink-base {
    position: absolute;
    bottom: 0;
    height: 15%;
    left: 0;
    width: 100%;
  }
  .kitchen-wrapper .kitchen .sink .sink-base::before, .kitchen-wrapper .kitchen .sink .sink-base::after {
    content: "";
    position: absolute;
    height: 70%;
    width: 40%;
    bottom: 0%;
    right: 0%;
    background-color: #4b4b4f;
  }
  .kitchen-wrapper .kitchen .sink .sink-base::after {
    left: 0%;
  }
  .kitchen-wrapper .kitchen .sink .sink-base span {
    position: absolute;
    left: 50%;
    width: 8%;
    height: 100%;
    background-color: #4b4b4f;
    z-index: 1;
    transform: translateX(-50%);
  }
  .kitchen-wrapper .kitchen .sink .sink-head {
    position: absolute;
    bottom: 0%;
    width: 35%;
    left: 48%;
    border-left: 0.9rem solid #e6664a;
    z-index: 1;
    height: 65%;
  }
  .kitchen-wrapper .kitchen .sink .sink-head::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    height: 50%;
    width: 100%;
    border: 0.9rem solid #e6664a;
    border-bottom: 0rem solid transparent;
    margin-left: -0.9rem;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
  }
  .kitchen-wrapper .kitchen .sink .sink-head::after {
    position: absolute;
    width: 0.9rem;
    background-color: #4b4b4f;
    top: 0%;
    right: 9%;
    content: "";
    height: 30%;
    width: 28%;
    margin-left: -0.7rem;
    border-radius: 0.2rem;
  }
  .kitchen-wrapper .kitchen .bowels {
    height: 2%;
    width: 4%;
    position: absolute;
    right: 10%;
    bottom: 45%;
    display: flex;
    background-color: #00b3ba;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
  }
  .kitchen-wrapper .kitchen .bowels::before, .kitchen-wrapper .kitchen .bowels::after {
    content: "";
    position: absolute;
    bottom: 18%;
    right: 0;
    height: 100%;
    width: 98%;
    border-radius: inherit;
    background-color: #fbb437;
    z-index: -1;
    transform-origin: right top;
    transform: rotate(5deg);
  }
  .kitchen-wrapper .kitchen .bowels::after {
    background-color: #a8b81d;
    z-index: -2;
    bottom: 35%;
    transform: rotate(15deg);
    width: 95%;
  }
  .kitchen-wrapper .kitchen .pan {
    height: 2%;
    width: 5%;
    position: absolute;
    right: 55%;
    bottom: 45.1%;
    display: flex;
    background-color: gray;
    border-radius: 0 0 0.5rem 0.5rem;
  }
  .kitchen-wrapper .kitchen .pan::before {
    position: absolute;
    top: 0;
    width: 50%;
    height: 25%;
    right: 100%;
    background-color: #745d57;
    content: "";
  }
  .kitchen-wrapper .kitchen .cutting-board {
    height: 7%;
    width: 4%;
    position: absolute;
    right: 30%;
    bottom: 45.1%;
    display: flex;
    border-radius: 0.5rem;
  }
  .kitchen-wrapper .kitchen .cutting-board .handle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    overflow: hidden;
  }
  .kitchen-wrapper .kitchen .cutting-board .handle::before {
    position: absolute;
    top: 65%;
    left: 50%;
    height: 40%;
    width: 50%;
    border-radius: 1rem;
    content: "";
    box-shadow: 0 0 0rem 5rem #c7711e;
    content: "";
    transform: translate(-50%, -50%);
  }
  .kitchen-wrapper .kitchen .cutting-board .board {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    left: 0;
    background-color: #c7711e;
    content: "";
  }
  .kitchen-wrapper .kitchen .cutting-board .board::before {
    position: absolute;
    top: 10%;
    left: 10%;
    height: 80%;
    width: 80%;
    border-radius: 0.2rem;
    content: "";
    border: 0.1rem solid #e4974d;
    content: "";
  }
  .kitchen-wrapper .kitchen .urn {
    height: 7.5%;
    width: 4%;
    position: absolute;
    right: 40%;
    bottom: 45.1%;
    display: flex;
    background-color: #047770;
  }
  .kitchen-wrapper .kitchen .urn::before {
    position: absolute;
    left: 0%;
    height: 30%;
    width: 80%;
    content: "";
    background-color: inherit;
    transform: skew(35deg);
    transform-origin: left bottom;
  }
  .kitchen-wrapper .kitchen .urn::after {
    position: absolute;
    left: 0%;
    height: 101%;
    width: 100%;
    content: "";
    background-color: inherit;
    transform: skew(12deg);
    transform-origin: right top;
  }
  .kitchen-wrapper .kitchen .urn .handle {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 100%;
    height: 65%;
    border: 0.5rem solid #047770;
    border-radius: 1rem;
  }
  .kitchen-wrapper .kitchen .urn .glass {
    position: absolute;
    top: 50%;
    right: 13%;
    width: 13%;
    height: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    z-index: 5;
    transform: translateY(-50%);
  }
  
  //  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Wall Design @@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .or-spacer-vertical {
    display: inline-block;
    margin-top: 100px;
    margin-left: 100px;
    width: 100px;
    position: relative;
  }
  .or-spacer-vertical .mask {
    overflow: hidden;
    width: 20px;
    height: 400PX;
  }
  .or-spacer-vertical.left .mask:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 20px black;
  }
  
  // divider half height @@@@@@
  .or-spacer-vertical .dividerHalf {
    overflow: hidden;
    width: 20px;
    height: 200PX;
  }
  .or-spacer-vertical.left .dividerHalf:after {
    content: '';
    display: block;
    margin-left: -20px;
    width: 20px;
    height: 100%;
    border-radius: 12px / 125px;
    box-shadow: 0 0 20px black;
  }
  // #rcorners1 {
  //   border-radius: 25px;
  //   background: #73AD21;
  //   padding: 20px; 
  //   width: 30px;
  //   height: 30px; 
  // }
  
  // #rcorners2 {
  //   border-radius: 25px;
  //   background: #FFA500;
  //   padding: 20px; 
  //   width: 30px;
  //   height: 30px; 
  // }
  
  
  //  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Drag Drop
  .example-box {
    width: 200px;
    height: 200px;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    margin-right: 25px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    padding: 10px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    //             0 2px 2px 0 rgba(0, 0, 0, 0.14),
    //             0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  // .example-box:active {
  //   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  //               0 8px 10px 1px rgba(0, 0, 0, 0.14),
  //               0 3px 14px 2px rgba(0, 0, 0, 0.12);
  // }
  
  .example-boundary {
    width: 100%;
    height: 100%;
    max-width: 100%;
    border: dotted #ccc 2px;
  }
  
  
  // LAyout panel @@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  .LayoutPanel{
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  // speedo meter
  
  mwl-gauge {
    width: 150px;
    height: 150px;
    display: block;
    padding: 10px;
  }
  mwl-gauge > .gauge > .dial {
    stroke: #eee;
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  mwl-gauge > .gauge > .value {
    stroke: rgb(47, 227, 255);
    stroke-width: 2;
    fill: rgba(0,0,0,0);
  }
  mwl-gauge > .gauge > .value-text {
    fill: rgb(47, 227, 255);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  
  // button {
  //   background: none;
  // }
  
  // button:active{
  //     background:olive;
  // }
  
  // button:focus{
  //     background:olive;
  // }
  
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Counter design @@@@@@@@@@@@@@@@@@@@@@@@@2
  .desk,
  .desk-hold {
    width: 600px;
    height: 238px;
    background: #fff;
    margin: 0 auto;
  }
  
  .desk {
    border-bottom: 3px solid #0077ee;
  }
  
  .surface {
    width: 500px;
    height: 12px;
    border-top: 3px solid #0077ee;
    border-bottom: 3px solid #0077ee;
    margin: 0 auto;
  }
  
  .storage {
    width: 130px;
    height: 200px;
    background: #fff;
    border-left: 3px solid #0077ee;
    border-right: 3px solid #0077ee;
    border-bottom: 3px solid #0077ee;
    float: left;
    margin-left: 70px;
  }
  
  .storage:nth-child(2) {
    float: right;
    margin-right: 70px;
  }
  
  .draw {
    width: 100px;
    height: 40px;
    border: 3px solid #0077ee;
    margin: 0 auto;
    margin-top: 16px;
  }
  
  .handle {
    width: 20px;
    height: 3px;
    background: #0077ee;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 500px;
  }
  
  .feet {
    width: 106px;
    height: 20px;
    margin: 0 auto;
    margin-top: 17px;
  }
  
  .foot {
    width: 20px;
    height: 20px;
    border-left: 3px solid #0077ee;
    border-right: 3px solid #0077ee;
    float: left;
  }
  
  .foot:nth-child(2) {
    float: right;
  }
  
  .shelf {
    width: 300px;
    height: 5px;
    border: 3px solid #0077ee;
    margin: 0 auto;
  }
  
  .nail {
    width: 10px;
    height: 5px;
    border: 3px solid #0077ee;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-top: 5px;
  }
  
  .nail:nth-child(1) {
    float: left;
    margin-left: 20px;
  }
  
  .nail:nth-child(2) {
    float: right;
    margin-right: 20px;
  }
  
  .desk-pc {
    width: 500px;
    height: 200px;
    margin: 50px auto;
    overflow: hidden;
  }
  
  .pc {
    width: 206px;
    height: 200px;
    margin-left: 200px;
    z-index: -3;
  }
  
  .lap {
    width: 170px;
    height: 90px;
    margin-left: 150px;
    z-index: 3;
    margin-top: -116px;
  }
  
  .pc-screen {
    width: 200px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
    border-radius: 10px;
    border: 3px solid #0077ee;
    background: #0077ee;
    box-shadow: inset 0px 0px 0px 10px #fff;
  }
  
  .pc-base {
    width: 150px;
    height: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: 3px solid #0077ee;
    margin: 0 auto;
  }
  
  .pc-neck {
    width: 70px;
    height: 30px;
    border: 3px solid #0077ee;
    margin: 0 auto;
    margin-bottom: -3px;
    margin-top: -3px;
  }
  
  .lap-screen {
    width: 130px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 3px solid #0077ee;
    margin: 0 auto;
    box-shadow: inset 0px 0px 0px 10px #fff;
    background: #0077ee;
    margin-bottom: -3px;
    font-weight: 400;
  }
  
  .lap-base {
    width: 160px;
    height: 7px;
    border: 3px solid #0077ee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: -3px;
    background: #fff;
  }
  
  .lap-lip {
    margin: 0 auto;
    width: 30px;
    height: 2px;
    border: 3px solid #0077ee;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: -3px;
  }
  
  .coffee {
    width: 100px;
    height: 100px;
    margin-top: -97px;
    margin-left: 20px;
    overflow: hidden;
  }
  
  .book {
    width: 70px;
    height: 15px;
    border: 3px solid #0077ee;
    margin: 0 auto;
    overflow: hidden;
    border-left: 0;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
  }
  
  .ball {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #0077ee;
    margin-top: -3px;
    margin-left: -13px;
  }
  
  .mug {
    width: 70px;
    height: 63px;
    margin: 0px auto;
    margin-top: 20px;
  }
  
  .mug-a {
    width: 50px;
    height: 30px;
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    border: 3px solid #0077ee;
    margin: 0 auto;
    background: #fff;
  }
  
  .mug-ah {
    width: 15px;
    height: 20px;
    border-bottom-left-radius: 500px;
    border: 3px solid #0077ee;
    margin-left: -3px;
    margin-top: -36px;
    border-right: 0;
  }
  
  .steam {
    width: 50px;
    height: 30px;
    margin: 0 auto;
    position: relative;
  }
  
  .holds {
    width: 5px;
    height: 30px;
    float: left;
    margin-left: 8px;
  }
  
  .holds:nth-child(1) .line {
    -webkit-animation: steam 2s ease infinite .0s;
  }
  
  .holds:nth-child(2) .line {
    -webkit-animation: steam 2s ease infinite .3s;
  }
  
  .holds:nth-child(3) .line {
    -webkit-animation: steam 2s ease infinite .6s;
  }
  
  .line {
    width: 3px;
    height: 20px;
    float: left;
    background: #0077ee;
    border-radius: 500px;
    position: absolute;
    bottom: 3px;
  }
  
  @-webkit-keyframes steam {
    0% {
      height: 10px;
    }
    50% {
      height: 27px;
    }
    100% {
      height: 10px;
    }
  }
  
  .photo {
    width: 130px;
    height: 130px;
    margin-bottom: -130px;
    transform: translateX(20px) translateY(0px);
  }
  
  .photo-top {
    width: 130px;
    height: 20px;
  }
  
  .photo-tri {
    width: 0;
    border-bottom: 20px solid #0077ee;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto;
  }
  
  .photo-tri1 {
    width: 0;
    border-bottom: 10px solid #fff;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    margin: -10px auto;
  }
  
  .photo-frame {
    width: 80px;
    height: 80px;
    background: URL('https://i.imgur.com/FVr5UQm.png');
    background-size: 100%;
    box-shadow: inset 0px 0px 0px 4px #fff;
    margin: 0 auto;
    border: 3px solid #0077ee;
    border-radius: 5px;
  }
  
  .top-ball,
  .bot-ball {
    width: 80px;
    height: 10px;
    margin: 0 auto;
  }
  
  .bot-ball {
    margin-top: 64px;
  }
  
  .top-ball {
    margin-top: -2px;
  }
  
  .balls {
    width: 10px;
    height: 10px;
    background: #0077ee;
    border-radius: 50%;
    float: left;
    margin-left: -2px;
  }
  
  .balls:nth-child(2) {
    float: right;
    margin-right: -2px;
  }
  
  .footer{
    text-align: center;
    color: #0077ee;
    font-weight: 700;
    font-size: 14px;
  }
  .footer a{
    text-decoration: none;
    color: #0077ee;
  }
  .footer a:hover{
    text-decoration: underline;
  }
  .footer b {
    font-size: 12px;
  }
  
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Circle table 4 chair @@@@@@@@@@@@@@@@@@@@@@@@@@
  
  .CircleTable{
      border-radius: 50%;
      height: 200px;
      width: 200px;
      position: absolute;
      left: 100px;
      top: 100px;
      background-color: #3D3C41;
      box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
  }
  
  #circle-chairFour{
    width: 391px;
    position: relative;
    left: 25%;
    height: 135px;
    transform: scale(-0.3);
    top: 100px;
  }
  
  #circle-chairFour .chair:nth-child(1) {
    left: 247px;
    top: 90px;
    transform: rotate(55deg);
  }
  
  #circle-chairFour .chair:nth-child(2) {
    top: 75px;
    transform: rotate(-47deg);
    left: 86px;
  }
  
  #circle-chairFour .chair:nth-child(3) {
    top: 220px;
    transform: rotate(-130deg);
    left: 75px;
  }
  
  #circle-chairFour .chair:nth-child(4) {
    right: 80px;
    top: 235px;
    transform: rotate(135deg);
  }
  
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Circle table 2 chair @@@@@@@@@@@@@@@@@@@@@@@@@@
  
  #circle-chairTow{
  width: 391px;
  position: relative;
  left: 25%;
  height: 135px;
  transform: scale(-0.3);
  top: 100px;
  }
  
  #circle-chairTow .chair:nth-child(1) {
    left: 170px;
    top: 260px;
    transform: rotate(180deg);
  }
  
  #circle-chairTow .chair:nth-child(2) {
    top: 46px;
    transform: rotate(-4deg);
    left: 162px;
  }
  
  // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Circle table 6 chair @@@@@@@@@@@@@@@@@@@@@@@@@@
  
  .RecTableSix{
    height: 400px;
    width: 245px;
    background-color: #3D3C41;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
    position: absolute;
    left: 100px;
    top: 100px;
  }
  
  #circle-chairSix{
    width: 391px;
    position: relative;
    left: 25%;
    height: 135px;
    transform: scale(-0.3);
    top: 100px;
    }
    
    #circle-chairSix .chair:nth-child(1) {
      left: 40px;
      top: 130px;
      transform: rotate(-90deg);
    }
    
    #circle-chairSix .chair:nth-child(2) {
      top: 255px;
      transform: rotate(-90deg);
      left: 50px;
    }
  
    #circle-chairSix .chair:nth-child(3) {
      top: 390px;
      transform: rotate(-90deg);
      left: 50px;
    }
    
    #circle-chairSix .chair:nth-child(4) {
      right: -5px;
      top: 135px;
      transform: rotate(90deg);
    }
  
    #circle-chairSix .chair:nth-child(5) {
      right: -12px;
      top: 265px;
      transform: rotate(90deg);
    }
    
    #circle-chairSix .chair:nth-child(6) {
      top: 390px;
      left: 315px;
      transform: rotate(90deg);
    }
  
  
    // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Circle table 6 chair @@@@@@@@@@@@@@@@@@@@@@@@@@
    #table4-wrapper{
      width: 391px;
      position: relative;
      left: 25%;
      height: 135px;
      transform: scale(-0.3);
      top: 100px;
    }
  
    #table4-wrapper .the-table{
      position: absolute;
      left: 100px;
      top: 100px;
      height: 315px;
      width: 200px;
      background-color: #3D3C41;
      box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
    }
  
    #table4-wrapper .chair:nth-child(1) {
      left: 278px;
      top: 146px;
      transform: rotate(91deg);
    }
    
    #table4-wrapper .chair:nth-child(2) {
      top: 154px;
      transform: rotate(-90deg);
      left: 50px;
    }
  
    #table4-wrapper .chair:nth-child(3) {
      top: 290px;
      transform: rotate(-90deg);
      left: 50px;
    }
    
    #table4-wrapper .chair:nth-child(4) {
      right: 35px;
      top: 280px;
      transform: rotate(90deg);
    }
  
    // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Circle table 2 chair @@@@@@@@@@@@@@@@@@@@@@@@@@
  
  #circle-chairThree{
    width: 391px;
    position: relative;
    left: 25%;
    height: 135px;
    transform: scale(-0.3);
    top: 100px;
    }
    
    #circle-chairThree .chair:nth-child(1) {
      left: 170px;
      top: 260px;
      transform: rotate(180deg);
    }
    
    #circle-chairThree .chair:nth-child(2) {
      top: 115px;
      transform: rotate(-70deg);
      left: 50px;
    }
  
    #circle-chairThree .chair:nth-child(3) {
      top: 115px;
      transform: rotate(70deg);
      left: 266px;
    }
  
      // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Circle table 6 chair @@@@@@@@@@@@@@@@@@@@@@@@@@
  
  .chairSix{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: #3D3C41;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
    }
  
    #circle-chairSix{
      width: 391px;
      position: relative;
      left: 25%;
      height: 135px;
      transform: scale(-0.3);
      top: 100px;
      }
    
    #circle-chairSix .chair:nth-child(1) {
      left: 365px;
      top: 265px;
      transform: rotate(109deg);
    }
    
    #circle-chairSix .chair:nth-child(2) {
      top: 125px;
      transform: rotate(-70deg);
      left: 50px;
    }
  
    #circle-chairSix .chair:nth-child(3) {
      top: 106px;
      transform: rotate(50deg);
      left: 337px;
    }
  
    #circle-chairSix .chair:nth-child(4) {
      left: 230px;
      top: 367px;
      transform: rotate(175deg);
    }
    
    #circle-chairSix .chair:nth-child(5) {
      top: 303px;
      transform: rotate(-118deg);
      left: 63px;
    }
  
    #circle-chairSix .chair:nth-child(6) {
      top: 45px;
      transform: rotate(-1deg);
      left: 200px;
    }
  
  
    // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Circle table 6 chair @@@@@@@@@@@@@@@@@@@@@@@@@@
  
  .chairSix{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: #3D3C41;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
    }
  
    #circle-chairSix{
      width: 391px;
      position: relative;
      left: 25%;
      height: 135px;
      transform: scale(-0.3);
      top: 100px;
      }
    
    #circle-chairSix .chair:nth-child(1) {
      left: 365px;
      top: 265px;
      transform: rotate(109deg);
    }
    
    #circle-chairSix .chair:nth-child(2) {
      top: 125px;
      transform: rotate(-70deg);
      left: 50px;
    }
  
    #circle-chairSix .chair:nth-child(3) {
      top: 106px;
      transform: rotate(50deg);
      left: 337px;
    }
  
    #circle-chairSix .chair:nth-child(4) {
      left: 230px;
      top: 367px;
      transform: rotate(175deg);
    }
    
    #circle-chairSix .chair:nth-child(5) {
      top: 303px;
      transform: rotate(-118deg);
      left: 63px;
    }
  
    #circle-chairSix .chair:nth-child(6) {
      top: 45px;
      transform: rotate(-1deg);
      left: 200px;
    }
  
    // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Circle table 8 chair @@@@@@@@@@@@@@@@@@@@@@@@@@
  
  .chairEight{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: #3D3C41;
    box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
    }
  
    #circle-chairEight{
      width: 391px;
      position: relative;
      left: 25%;
      height: 135px;
      transform: scale(-0.3);
      top: 100px;
      }
    
    #circle-chairEight .chair:nth-child(1) {
      left: 332px;
      top: 315px;
      transform: rotate(130deg);
    }
    
    #circle-chairEight .chair:nth-child(2) {
      top: 175px;
      transform: rotate(-80deg);
      left: 50px;
    }
  
    #circle-chairEight .chair:nth-child(3) {
      top: 190px;
      transform: rotate(85deg);
      left: 380px
    }
  
    #circle-chairEight .chair:nth-child(4) {
      left: 205px;
      top: 370px;
      transform: rotate(180deg);
    }
    
    #circle-chairEight .chair:nth-child(5) {
      top: 297px;
      transform: rotate(-118deg);
      left: 75px;
    }
  
    #circle-chairEight .chair:nth-child(6) {
      top: 80px;
      left: 327px;
      transform: rotate(40deg);
    }
  
    #circle-chairEight .chair:nth-child(7) {
      top: 35px;
      left: 205px;
      transform: rotate(-5deg);
    }
  
    #circle-chairEight .chair:nth-child(8) {
      top: 70px;
      left: 95px;
      transform: rotate(-40deg);
    }
  
    // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Washroom Design @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
  
    .Washroom {
      background: #F0f7FF;
      border: 2px solid black;
      border-radius: 9%;
      position: relative;
      width: 100px;
      height: 100px;
    }
    
    .Washroom * {
      background: black;
      position: absolute;
    }
    
    .manHead {
      border-radius: 50%;
      left: 10%;
      top: -49%;
      width: 80%;
      height: 45%;
    }
    
    .manShoulder {
      border-radius: 40px;
      left: -40%;
      top: 0%;
      width: 180%;
      height: 20%;
    }
    
    .manArmLeft {
      border-radius: 20px;
      left: 0%;
      top: 25%;
      width: 19%;
      height: 450%;
    }
    
    .manArmRight {
    /*     background: red; */
      border-radius: 20px;
      right: 0%;
      top: 25%;
      width: 19%;
      height: 450%;
    }
    
    .manBody {
      border-radius: 10px;
      left: 17%;
      top: 25%;
      width: 19%;
      height: 35%;
    }
    
    .manLegLeft {
      /* background: red; */
      border-radius: 20px;
      left: 0%;
      bottom: -88%;
      width: 40%;
      height:101%;
    }
    
    .manLegRight {
      border-radius: 20px;
      right: 0%;
      bottom: -88%;
      width: 40%;
      height:101%;
    }
    
    .missWrapper {
      background: none;
      right: 12%;
      top: 25%;
      width: 25%;
      height: 40%;
    }
    
    .missBody {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      clip-path: polygon(25% 0, 75% 0, 100% 100%, 0% 100%);
    }
    
    .missHead {
      border-radius: 50%;
      left: 19%;
      top: -42%;
      width: 60%;
      height: 40%;
    }
    
    .missShoulder {
      border-radius: 40px;
      width: 100%;
      height: 20%;
    }
    
    .missArmLeft {
      border-radius: 20px;
      left: -9%;
      top: 25%;
      width: 19%;
      height: 400%;
      transform: rotate(9deg);
    }
    
    .missArmRight {
      border-radius: 20px;
      right: -9%;
      top: 25%;
      width: 19%;
      height: 400%;
      transform: rotate(-9deg);
    }
    
    .missLegRight {
      border-radius: 20px;
      right: 20%;
      bottom: -65%;
      width: 25%;
      height:90%;
    }
    
    .missLegLeft {
      border-radius: 20px;
      left: 20%;
      bottom: -65%;
      width: 25%;
      height:90%;
    }
    // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Oval shape table 2 Chair@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    .OvalShape{
      width: 500px;
      border-radius: 249px / 140px;
      position: absolute;
      transform: rotate(91deg);
      left: -10px;
      top: 100px; 
      background-color: #3D3C41;
      box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
      height: 285px;
    }
     #circle-OvalSix{
      width: 391px;
      position: relative;
      left: 25%;
      height: 135px;
      transform: scale(-0.3);
      top: 100px;
      }
    
    #circle-OvalSix .chair:nth-child(1) {
      left: 345px;
      top: 265px;
      transform: rotate(93deg);
    }
    
    #circle-OvalSix .chair:nth-child(2) {
      top: 130px;
      transform: rotate(-90deg);
      left: 50px;
    }
  
    #circle-OvalSix .chair:nth-child(3) {
      top: 106px;
      transform: rotate(87deg);
      left: 349px;
    }
  
    #circle-OvalSix .chair:nth-child(4) {
      left: 198px;
      top: 456px;
      transform: rotate(179deg);
    }
    
    #circle-OvalSix .chair:nth-child(5) {
      top: 278px;
      transform: rotate(-95deg);
      left: 55px;
    }
  
    #circle-OvalSix .chair:nth-child(6) {
      top: -58px;
      transform: rotate(-1deg);
      left: 190px;
    }
  
    // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Oval shape table 8chair @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    .OvalShape{
      width: 500px;
      border-radius: 249px / 140px;
      position: absolute;
      transform: rotate(91deg);
      left: -10px;
      top: 100px; 
      background-color: #3D3C41;
      box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
      height: 285px;
    }
     #circle-OvalEight{
      width: 391px;
      position: relative;
      left: 25%;
      height: 135px;
      transform: scale(-0.3);
      top: 100px;
      }
    
    #circle-OvalEight .chair:nth-child(1) {
      left: 345px;
      top: 308px;
      transform: rotate(93deg);
    }
    
    #circle-OvalEight .chair:nth-child(2) {
      top: 205px;
      transform: rotate(-90deg);
      left: 50px;
    }
  
    #circle-OvalEight .chair:nth-child(3) {
      top: 190px;
      transform: rotate(87deg);
      left: 360px;
    }
  
    #circle-OvalEight .chair:nth-child(4) {
      left: 198px;
      top: 456px;
      transform: rotate(179deg);
    }
    
    #circle-OvalEight .chair:nth-child(5) {
      top: 330px;
      transform: rotate(-95deg);
      left: 60px;
    }
  
    #circle-OvalEight .chair:nth-child(6) {
      top: -58px;
      transform: rotate(-1deg);
      left: 190px;
    }
  
    #circle-OvalEight .chair:nth-child(7) {
      top: 80px;
      transform: rotate(-85deg);
      left: 55px;
    }
  
    #circle-OvalEight .chair:nth-child(8) {
      top: 70px;
      transform: rotate(87deg);
      left: 346px;
    }
  
    // @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ Oval shape table 4 chair @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    .OvalShapeC4{
      width: 300px;
      border-radius: 249px / 140px;
      position: absolute;
      transform: rotate(91deg);
      left: -10px;
      top: 100px;
      background-color: #3D3C41;
      box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
      height: 190px;
    }
     #circle-OvalFour{
      width: 391px;
      position: relative;
      left: 25%;
      height: 135px;
      transform: scale(-0.3);
      top: 100px;
      }
    
    #circle-OvalFour .chair:nth-child(1) {
      left: 90px;
      top: -5px;
      // transform: rotate(93deg);
    }
    
    #circle-OvalFour .chair:nth-child(2) {
      top: 160px;
      transform: rotate(-90deg);
      left: 0px;
    }
  
    #circle-OvalFour .chair:nth-child(3) {
      top: 162px;
      transform: rotate(90deg);
      left: 210px;
    }
  
    #circle-OvalFour .chair:nth-child(4) {
      left: 97px;
      top: 310px;
      transform: rotate(179deg);
    }
  
  
    .billCounter{
      position: absolute;
      left: 100px;
      top: 100px;
      height: 60px;
      width: 60px;
      transform: rotate(270deg);
        background-color: #3D3C41;
        box-shadow: 0 3px 9pt rgba(0, 0, 0, 0.23), 0 3px 9pt rgba(0, 0, 0, 0.16);
    }
    
    .RsIcon{
      color: #fff; font-size: 40px;
      text-align: center;
      transform: rotate(90deg);
      text-align: center;
      text-shadow: 0 0 black;
      width: 100%;
    }