<h4 class="text-center">Add new Cuisine <i class="fa fa-times" aria-hidden="true" style="float: right;" mat-dialog-close></i>
       </h4>
<mat-card #customLoadingTemplate>
    <div class="container">

        <div>
            <form [formGroup]="addCuisinesForm">
                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <mat-form-field>
                            <input matInput placeholder="Add New Cuisines" (focusout)="checkCuisineExist($event)" [class.is-invalid]="addCuisinesForm.get('cuisineName').invalid &&
                addCuisinesForm.get('cuisineName').touched" formControlName="cuisineName">
                            <mat-error [class.d-none]="addCuisinesForm.get('cuisineName').valid ||
                addCuisinesForm.get('cuisineName').untouched" class="text-danger">Cuisine name is invalid</mat-error>
                        </mat-form-field>
                    </div>
                 

                <div class="col-lg-4">
                    <!-- <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Geographic Location of Origin"
                            formControlName="originLocation">
                    </mat-form-field> -->

                    
                    <mat-form-field class="example-full-width" style="width: 100%;">
                            
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="country" (selectionChange)="changeCountry($event.value)">
                            <mat-option *ngFor="let count of country_json" [value]="count.name">{{count.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>Country field is required!</mat-error>
                      </mat-form-field>
                </div>
        </div>

        <div class="row ml-2 mt-2">
            <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="state" (selectionChange)="changeState($event.value)">
                            <mat-option *ngFor="let states of state" [value]="states">
                                {{states}}
                            </mat-option>
                        </mat-select>
                        <mat-error>State field is required!</mat-error>
                    </mat-form-field>
                                           
            </div>
            <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city">
                        <mat-option *ngFor="let c of city" [value]="c">
                            {{c}}
                        </mat-option>
                    </mat-select>
                    <mat-error>City field is required!</mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row ml-2 mt-2">
            <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selectedAlbums">
                <mat-chip color="accent" [selected]="true" class="transform">
                    {{s.cuisineName}} <i class="fas fa-times-circle ml-2" (click)="removePubs(s)"></i>
                </mat-chip>
            </div>

        </div>
        <div class="row ml-2 mt-2">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder=" Search Combination of Cuisines" (keyup)="applyFilterCuisine($event)">
                </mat-form-field>
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>

        </div>


        <div class="row ml-2 mt-2">
            <div class="col-lg-3" class="ml-2 " *ngFor="let c of active_cuisines">
                <mat-chip (click)="onCheckCuisine(c)">
                    {{c.cuisineName}}
                </mat-chip>
            </div>
        </div>
        <div class="row ml-2 mt-2">
            <div class="col-lg-4">
                <h5>Add Images</h5>
            </div>

        </div>

        <div class="row ml-2 mt-2">
            <div *ngFor="let m of multiResponse">
                <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                <img src="{{m}}" alt="" height="50px" widht="50px">
            </div>
        </div>

        <div class="row ml-2 mt-2">



            <div *ngFor='let url of urls'>
                <img [src]="url" class="ml-2" style="height: 70px; width: 70px;">
            </div>
        </div>
        <div class="row ml-2 mt-2">
            <div class="col-lg-12">

                <div>

                    <input type="file" name="cuisines" ng2FileSelect [uploader]="uploader"
                        (change)="uploader.uploadAll(); setLoading()" multiple>

                </div>

            </div>
        </div>


        </form>


        <div class="row">
            <div class=" offset-3 col-6">
                
                <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                <button class="btn btn-primary ml-2" [disabled]="!addCuisinesForm.valid"
                    (click)="onAddCuisnes()" mat-dialog-close>Add Cuisines</button>
                    <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>
            
        </div>
    </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</mat-card>