<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/notice">Back</button>

<h5 style="margin-top: -16px;">Notice / Create Circular Template</h5>
<mat-card>
    <div class="container">
        <form [formGroup]="createCircularTemplate">
            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Template ID" formControlName="templateID">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Template Name" formControlName="templateName">
                    </mat-form-field>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-12">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Template Description" formControlName="templateDescription">
                    </mat-form-field>
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-5">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Notice Type</mat-label>
                        <mat-select formControlName="noticeType">
                            <mat-option *ngFor="let type of noticeTypes" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-1">
                    <i class="fa fa-plus mr-2"aria-hidden="true" ></i>
                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Select Report Type</mat-label>
                        <mat-select formControlName="reportType">
                            <mat-option *ngFor="let type of reportTypes" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Add Notice</mat-label>
                        <mat-select formControlName="addNotice">
                            <mat-option *ngFor="let type of addNotices" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Select Circular Type</mat-label>
                        <mat-select formControlName="circularType">
                            <mat-option *ngFor="let type of circularTypes" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Select circular For</mat-label>
                        <mat-select formControlName="circularFor">
                            <mat-option *ngFor="let type of circulars" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-lg-12" style="text-align: center;">
           
            <button class="btn btn-primary"  (click)="onCreateTemplate()" >Add
                Album</button>
        </div>
    </div>
</mat-card>