<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Add Dishes</h5>
<mat-card #customLoadingTemplate>
    <div class="container">


        <div>
            <form [formGroup]="addDishForm">
                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Add Dish Name" (focusout)="checkDishExist($event)" [class.is-invalid]="addDishForm.get('dishName').invalid &&
                            addDishForm.get('dishName').touched" formControlName="dishName">
                            <mat-error [class.d-none]="addDishForm.get('dishName').valid ||
                            addDishForm.get('dishName').untouched" class="text-danger">
                                Dish name is Invalid</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field>
                            <mat-label>Set Unit Type</mat-label>
                            <mat-select formControlName="unit">
                                <mat-option *ngFor="let unit of dishUnits" [value]="unit">
                                    {{unit}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-radio-group aria-label="Select an option" formControlName="veg_nonveg">
                            <mat-radio-button value="Veg">Veg</mat-radio-button>&nbsp;
                            <mat-radio-button value="Non-Veg">Non-Veg</mat-radio-button>&nbsp;
                            <mat-radio-button value="Sea Food">Sea Food</mat-radio-button>&nbsp;
                            <mat-radio-button value="Egg">Egg</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selectedAlbums">
                        <mat-chip color="accent" [selected]="true" class="transform">
                            {{s.cuisineName}} <i class="fas fa-times-circle ml-2" (click)="removePubs(s)"></i>
                        </mat-chip>
                    </div>

                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Search Cuisines or select from below" (keyup)="applyFilterCuisine($event)">
                        </mat-form-field>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>

                </div>


                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 " *ngFor="let cuisine of cuisines">
                        <mat-chip (click)="onCheckCuisine(cuisine)" class="transform">
                            {{cuisine.cuisineName}}
                        </mat-chip>
                    </div>&nbsp;<i class="fas fa-plus-circle mt-1" (click)="openAddCuisineDialog()">Add new</i>
                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selectedvarients">
                        <mat-chip color="accent" [selected]="true" class="transform">
                            {{s.varientName}} <i class="fas fa-times-circle ml-2" (click)="removevarients(s)"></i>
                        </mat-chip>
                    </div>

                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Search Varients or select from below" (keyup)="applyFilterVarient($event)">
                        </mat-form-field>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>

                </div>


                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 " *ngFor="let varient of varients">
                        <mat-chip (click)="onCheckvarients(varient)" class="transform">
                            {{varient.varientName}}
                        </mat-chip>
                    </div>&nbsp;<i class="fas fa-plus-circle mt-1" (click)="openAddVarientDialog()">Add new</i>
                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <h5>Add Images</h5>
                    </div>

                </div>

                <div class="row ml-2 mt-2">
                    <div *ngFor="let m of multiResponse">
                        <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                        <img src="{{m}}" alt="" height="50px" widht="50px">
                    </div>
                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <div>
                           
                                <input  type="file" name="dishes" ng2FileSelect [uploader]="uploader"
                                    (change)="uploader.uploadAll(); setLoading()"  multiple>
                        
                        </div>
                    </div>
                </div>


            </form>


            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary" [disabled]="!addDishForm.valid" (click)="onAddAlbum()">Add
                        Dish</button>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</mat-card>