
<h4 mat-dialog-title>Add Sub Category<i class="fa fa-times" 
    aria-hidden="true" style="float: right;" mat-dialog-close></i> </h4>
<mat-dialog-content>
<form [formGroup]="addCategoryForm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input matInput placeholder="Add Sub Category" formControlName="subCategoryName">
                </mat-form-field>
            </div>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-lg-6">
        <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
    <div class="col-lg-6">
        <button mat-button (click)="addCategory()" [disabled]="!addCategoryForm.valid">Add</button>
    </div>
</div>
</mat-dialog-content>