<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-danger float-right" class="btn btn-danger float-right"
        style="margin-top: -46px; padding-left: 36px; padding-right: 36px" (click)="getSingleProduct(product)"> Back</button>
    </div>
  </div>
  <h5 style="margin-top: -16px;">Charges/Update-product</h5>
  <mat-card>
    <div class="container">

      <div>
        <form #myForm="ngForm">

          <div class="row ml-2 mt-2">
            <div class="col-lg-4">
              <mat-form-field>
                <input matInput placeholder="Product Name" (focusout)="checkCountry($event)" class="no-change" name="product.productName" pattern="[a-zA-Z0-9- ]+"
                  [(ngModel)]="product.productName" required>

                <!-- <mat-error [class.is-invalid]="addProduct.get('product_name').valid &&
                            addProduct.get('product_name').untouched"> Product name is invalid</mat-error> -->
              </mat-form-field>

            </div>
            <div class="col-lg-8">
              <mat-form-field style="width: 100%;">
                <textarea matInput placeholder="Description"  class="no-change" name="product.description"
                  [(ngModel)]="product.description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="2"
                  cdkAutosizeMaxRows="10" required></textarea>

              </mat-form-field>

            </div>

          </div>
          <div class="row mt-2">


            <div class="col-lg-3">
              <label>Select Images:</label>
              <div>
                <div class="row ml-2 mt-1">
                  <div *ngFor="let m of multiResponse">
                    <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                    <img src="{{m}}" alt="" height="50px" widht="50px">
                  </div>
                </div>
                <input type="file" class="hidden" name="image" id="image" ng2FileSelect [uploader]="uploader" accept="*/image" (change)="uploader.uploadAll()"
                  multiple>
                  <button><label style="margin-bottom:0 !important" for="image">Choose files</label></button>

              </div>
            </div>
            <div class="col-lg-3">
              <label>Select Videos:</label>
              <div>
                <div class="row ml-2 mt-1">
                  <div *ngFor="let m of multiResponse_video">
                    <i class="fa fa-times" aria-hidden="true" (click)="removeVideo(m)"></i>
                    <video width="50px" height="50px" controls controlsList=”nodownload”>
                      <source src="{{m}}">
                    </video>
                  </div>
                </div> <input type="file" ng2FileSelect accept="*/video" [uploader]="uploader_video"
                  (change)="uploader_video.uploadAll()" multiple class="hidden" name="video" id="video">
                  <button><label style="margin-bottom:0 !important" for="video">Choose files</label></button>
              </div>
            </div>
            <div class="col-lg-6">
              <ng-multiselect-dropdown [placeholder]="'Available Countries'" [data]="dropdownList"
                name="avail_countries" [(ngModel)]="avail_countries" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onDeSelect)="onItemDeSelect($event)" required>
              </ng-multiselect-dropdown>
            </div>


          </div>
<div *ngIf="isDataAvailableAddon && isDataAvailableIntegration">
          <div *ngFor="let data of completeData;let i = index">
            <!-- {{data | json}} -->
            <hr>
            <div style="text-align:center" class="row">

              <div class="offset-5">Revenue Collection Type In <u>{{data.country['item_text']}}</u></div>

            </div>
            <!-- <hr> -->
            <div class="row">
              <div class="col-lg-2">
                <mat-form-field style="width: 100%;">
                  <mat-label>Collection mode</mat-label>
                  <mat-select name='completeData[i].revenue_Collection_mode{{i}}' [(value)]="completeData[i].colletionMode"
                    (selectionChange)='revenueMode($event,data,i)' required [(ngModel)]="completeData[i].colletionMode">
                    <mat-option *ngFor="let revenue_Collection_mode of revenue_Collection_mode_list"
                      [value]="revenue_Collection_mode">
                      {{revenue_Collection_mode}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-lg-2">
                <mat-form-field style="width: 100%;">
                  <mat-label>Sold per Outlet</mat-label>
                  <mat-select name="completeData[i].soldPerOutlet{{i}}" [(value)]="completeData[i].soldPerOutlet"
                    [(ngModel)]="completeData[i].soldPerOutlet" (selectionChange)='soldpersoulet($event,data, i)'
                    required>
                    <mat-option *ngFor="let a of sold_outlet" [value]="a">
                      {{a}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <hr>
              <!-- if sold per outlet is no -->

              <!-- {{completeData[i].colletionMode | json}} | {{completeData[i].soldPerOutlet | json}} -->
              <!-- {{completeData[i].colletionMode | json}} -->
              <div *ngIf="completeData[i].colletionMode=='Per Month' && completeData[i].soldPerOutlet=='Per Organization'"
                class="col-md-6">


                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="{{completeData[i].country['item_text']}} Price for Per Month a chain"
                    name='completeData[i].reasonForNo{{i}}' [ngModel]="completeData[i].reasonForNo" (ngModelChange)="completeData[i].reasonForNo=currencyInputChanged($event)" required
                    onKeyPress="if(this.value.length==10) return false;" (focusout)="processMyValue(i)"
                    (keypress)="numberOnly($event)">
                </mat-form-field>


              </div>
              <div *ngIf="completeData[i].colletionMode=='Per Order' && completeData[i].soldPerOutlet=='Per Organization'"
                class="col-md-6">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="{{completeData[i].country['item_text']}} Price for Per Order a chain"
                    [(ngModel)]='completeData[i].reasonForNo' name='completeData[i].reasonForNo{{i}}'
                    onKeyPress="if(this.value.length==10) return false;" (focusout)="processMyValue(i)"
                    (keypress)="numberOnly($event)" required>
                </mat-form-field>

              </div>
              <div *ngIf="completeData[i].colletionMode=='Per Year' && completeData[i].soldPerOutlet=='Per Organization'"
                class="col-md-6">

                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="{{completeData[i].country['item_text']}} Price for Per Year a chain"
                    [(ngModel)]='completeData[i].reasonForNo' onKeyPress="if(this.value.length==10) return false;"
                    (focusout)="processMyValue(i)" (keypress)="numberOnly($event)"
                    name='completeData[i].reasonForNo{{i}}' required>
                </mat-form-field>

              </div>
              <div class="col-md-6"
                *ngIf="completeData[i].colletionMode=='One Time' && completeData[i].soldPerOutlet=='Per Organization'">

                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="{{completeData[i].country['item_text']}} Price for One Time a chain"
                    [(ngModel)]='completeData[i].reasonForNo' name='completeData[i].reasonForNo{{i}}'
                    onKeyPress="if(this.value.length==10) return false;" (focusout)="processMyValue(i)"
                    (keypress)="numberOnly($event)" required>
                </mat-form-field>

              </div>

              <div *ngIf="completeData[i].colletionMode=='Per Month' && completeData[i].soldPerOutlet=='Per Outlet'"
                class="col-lg-8">
                <div class="table-responsive">
                  <table datatable class="table table-striped table-bordered nowrap table-hover">
                    <thead>
                      <tr>
                        <th>Index</th>
                        <th>Outlets From</th>
                        <th>Outlets To</th>
                        <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices Per Month Per Outlet</th>
                        <th>Activity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                      <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>

                        <td>
                          {{rowIndex+1}}
                        </td>
                        <td>

                          <input type="number" required style="width: 100%;" min="2"
                            name="completeData{{i}}from{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].from'
                            [disabled]=completeData[i].tableData[rowIndex].isReadonly disabled="disabled"
                            >
                        </td>
                        <td>
                          <input type="number" required style="width: 100%;" min="2"
                            name="completeData{{i}}to{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].to'  (keyup)="checkValue($event)"
                            (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'>
                        </td>
                        <td>
                          <input type="text" required style="width: 100%;" min="2"
                            name="completeData{{i}}price{{rowIndex}}" (keypress)="numberOnly($event)"
                            (focusout)="processPrice(i, rowIndex)" onKeyPress="if(this.value.length==10) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].price'>
                        </td>
                        <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                            (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                      </tr>
                      <tr *ngIf="this.completeData[i].outletObj.from<2000">
                        <td></td>
                        <td>
                          <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.from{{i}}"
                            (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;" disabled="disabled"
                            [(ngModel)]='completeData[i].outletObj.from' (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'>
                        </td>
                        <td>
                          <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.to{{i}}" (keyup)="checkValue($event)"
                
                           (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].outletObj.to'
                            (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                        </td>
                        <td>

                          <input type="text" style="width: 100%;" name="completeData[i].outletObj.price{{i}}" (keypress)="numberOnly($event)"
                            (focusout)="processOutletPrice(i); pushProductOutlet(completeData[i],i)"
                            onKeyPress="if(this.value.length==10) return false;"
                            [(ngModel)]='completeData[i].outletObj.price'>

                        </td>
                        <td><button (click)='pushProductOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                              aria-hidden="true"></i></button>
                        </td>
                      </tr>
                      
                    </tbody>


                  </table>
                </div>


                <div class="row mt-2">
                  <div class="col-lg-6">
                    <ng-multiselect-dropdown [placeholder]="'Available Addons'" [data]="availAddons" (onSelect)="onSelect($event)"
                    name="completeData[i].available_addons{{i}}" [(ngModel)]="completeData[i].available_addons" [settings]="Settings"
               >
              </ng-multiselect-dropdown>
                      <button><i class="fa fa-plus" (click)="openDialogAddon()" aria-hidden="true">Add</i></button> 
                  </div> 
                  
                  <div class="col-lg-6"> 
                    <ng-multiselect-dropdown [placeholder]="'Available Integration'" [data]="availIntegration"
                    name="completeData[i].available_Integration{{i}}" [(ngModel)]="completeData[i].available_Integration" [settings]="Settings"
               >
              </ng-multiselect-dropdown>
                   
                       <button><i class="fa fa-plus" (click)="openDialogIntegration()" aria-hidden="true">Add</i></button> 
                  </div>
                  
                </div>

              </div>
              <div *ngIf="completeData[i].colletionMode=='Per Year' && completeData[i].soldPerOutlet=='Per Outlet'"
                class="col-md-8">
                <div class="table-responsive">
                  <table datatable class="table table-striped table-bordered nowrap table-hover">
                    <thead>

                      <tr>
                        <th>Index</th>
                        <th>Outlets From</th>
                        <th>Outlets To</th>
                        <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices Per Year Per Outlet</th>
                        <th>Activity</th>
                      </tr>
                    </thead>
                    <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                    <tbody>
                      <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                        <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->


                        <td>{{rowIndex+1}}</td>
                        <td>
                          <input type="number" required style="width: 100%;" min="2"
                            name="completeData{{i}}from{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].from'
                            [disabled]=completeData[i].tableData[rowIndex].isReadonly disabled="disabled"
                            >
                        </td>
                        <td>
                          <input type="number" required style="width: 100%;" min="2"
                          name="completeData{{i}}to{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                          [(ngModel)]='completeData[i].tableData[rowIndex].to'  (keyup)="checkValue($event)"
                          (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'>
                        </td>
                        <td>
                          <input type="text" required style="width: 100%;" required
                            name="completeData{{i}}price{{rowIndex}}"
                            onKeyPress="if(this.value.length==10) return false;"
                            [(ngModel)]="completeData[i].tableData[rowIndex].price" (keypress)="numberOnly($event)"
                            (focusout)="processPrice(i, rowIndex)">
                        </td>
                        <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                            (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                      </tr>

                      <tr *ngIf="this.completeData[i].outletObj.from<2000" style="border: 0px;">
                        <td></td>
                        <td>
                          <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.from{{i}}"
                            (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;" disabled="disabled"
                            [(ngModel)]='completeData[i].outletObj.from' (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'>
                        </td>
                        <td>
                          <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.to{{i}}" (keyup)="checkValue($event)"
                            (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].outletObj.to'
                            (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                        </td>
                        <td>

                          <input type="text" style="width: 100%;" placeholder="" name="completeData[i].outletObj.price{{i}}"
                            (focusout)='pushProductOutlet(completeData[i],i); processOutletPrice(i)'
                            onKeyPress="if(this.value.length==10) return false;"
                            [(ngModel)]='completeData[i].outletObj.price' (keypress)="numberOnly($event)">

                        </td>
                        <td><button (click)='pushProductOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                              aria-hidden="true"></i></button></td>
                      </tr>
                    </tbody>


                  </table>
                </div>
                <div class="row mt-2">
                  <div class="col-lg-6">
                    <ng-multiselect-dropdown [placeholder]="'Available Addons'" [data]="availAddons" (onSelect)="onSelect($event)"
                    name="completeData[i].available_addons{{i}}" [(ngModel)]="completeData[i].available_addons" [settings]="Settings"
               >
              </ng-multiselect-dropdown>
                      <button><i class="fa fa-plus" (click)="openDialogAddon()" aria-hidden="true">Add</i></button> 
                  </div>
                  
                  <div class="col-lg-6">
                    <ng-multiselect-dropdown [placeholder]="'Available Integration'" [data]="availIntegration"
                    name="completeData[i].available_Integration{{i}}" [(ngModel)]="completeData[i].available_Integration" [settings]="Settings"
               >
              </ng-multiselect-dropdown>
                       <button><i class="fa fa-plus" (click)="openDialogIntegration()" aria-hidden="true">Add</i></button> 
                  </div>
                  
                </div>
              </div>
              <div
              *ngIf="completeData[i].tempfreePriced=='Yes' && completeData[i].tempsoldPerOutlet=='Per Outlet' && completeData[i].tempcolletionMode=='Per Order' "
              class="col-lg-6">
    
              <div class="row">
                <div class="col-lg-6">
                  <mat-form-field style="width: 100%;">
                    <mat-label>Per order commission type </mat-label>
                    <mat-select [(ngModel)]="completeData[i].perOrderCommissionType"
                      name='completeData{{i}}.perOrderCommissionType' [(value)]='completeData[i].perOrderCommissionType'
                      (selectionChange)='commissionType($event, data, i)' required>
                      <mat-option *ngFor="let p of per_order_commission_type_list" [value]="p">
                        {{p}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              
              </div>
    
              <div class="row" *ngFor='let perorderdata of completeData[i].perOrderTable;let pertablendex = index'>
                <div class="row"
                  *ngIf="completeData[i].perOrderCommissionType=='Fixed Amount'|| completeData[i].perOrderCommissionType=='Percentage'">
                  <div class="col-md-3">
                    <label>Outlet from</label>
                  </div>
                  <div class="col-md-2">
                    <input type="number" style="width: 100%;" onKeyPress="if(this.value.length==4) return false;"
                      disabled="disabled"
                      name='completeData[i].perOrderTable[pertablendex].outletFrom_{{i}}_{{pertablendex}}'
                      [(ngModel)]='completeData[i].perOrderTable[pertablendex].outletFrom' required (keypress)="e($event)">
                  </div>
                  <div class=" col-md-2">
                    <label>Outlet to</label>
                  </div>
                  <div class="col-md-2">
                    <input type="number" onKeyPress="if(this.value.length==4) return false;" style="width: 100%;"
                      name='completeData[i].perOrderTable[pertablendex].outletTo_{{i}}_{{pertablendex}}'
                      [(ngModel)]='completeData[i].perOrderTable[pertablendex].outletTo' (keyup)="checkValue($event)"
                      (keypress)="e($event)" required
                      (focusout)='checkRangeInOutlet(pertablendex,i,completeData[i].perOrderTable[pertablendex].outletTo,completeData[i].perOrderTable,$event, completeData[i].perOrderTable.length)'>
                  </div>
                  <div class="offset-1 col-md-2">
                    <i class="fa fa-plus mr-3" *ngIf='pertablendex == completeData[i].perOrderTable.length-1'
                      (click)='replicateTable(i,pertablendex)' aria-hidden="true"></i>
                    <i class="ml-3" *ngIf="pertablendex !=0" class="fa fa-trash" aria-hidden="true"
                      (click)="deleteTable( pertablendex, i, this.completeData[i].perOrderTable[pertablendex].outletFrom, completeData[i].perOrderTable.length)"></i>
                  </div>
                </div>
    
                <!-- {{perorderdata | json}} -->
    
                <div class="row">
                  <div class="col-lg-10">
                    <div class="table-responsive m-3">
                      <table datatable *ngIf="completeData[i].perOrderCommissionType=='Fixed Amount'"
                        class="table table-striped table-bordered nowrap table-hover">
                        <thead>
                          <tr>
                            <th>Index</th>
                            <th>Order Range From</th>
                            <th>Order Range to</th>
                            <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices/Outlet Per Order</th>
                            <th>Activity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor='let innerData of completeData[i].perOrderTable[pertablendex].perOrders;let rowIndex = index'>
                            <!-- <td colspan="4">{{completeData[i].perOrderTable[pertablendex].perOrders[rowIndex] | json}}</td> -->
                            <td>{{rowIndex+1}}</td>
                            <td>
                              <input type="number" style="width: 100%;"
                                name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.rangeFrom"
                                (keypress)="e($event)" disabled="disabled"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].rangeFrom'
                                onKeyPress="if(this.value.length==3) return false;" required>
                            </td>
                            <td>
                              <input type="number" style="width: 100%;"
                                name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.rangeTo"
                                (keypress)="e($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].rangeTo'
                                onKeyPress="if(this.value.length==3) return false;" required>
                            </td>
                            <td>
                              <input type="text" style="width: 100%;"
                                (focusout)="processPerorderPrice(i, rowIndex,pertablendex)"
                                name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.pricePerOutlet"
                                (keypress)="numberOnly($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].pricePerOutlet'
                                onKeyPress="if(this.value.length==10) return false;" required>
                            </td>
                            <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                                (click)="deleteRowRange(rowIndex, pertablendex, i, completeData[i].perOrderTable[pertablendex].perOrders.length)"></i></td>
                          </tr>
                          <tr style="border: 0px;" *ngIf="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom<1000">
                            <td>
                              <!-- table number : {{ pertablendex }} -->
    
                            </td>
                            <td>
                              <input type="number" style="width: 100%;"
                                name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom"
                                (keypress)="e($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom'
                                onKeyPress="if(this.value.length==3) return false;" disabled="disabled">
                            </td>
                            <td>
                              <input type="number" style="width: 100%;"
                                name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeTo"
                                (keypress)="e($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeTo'
                                onKeyPress="if(this.value.length==3) return false;">
                            </td>
                            <td>
                              <input type="text" style="width: 100%;"
                                (focusout)="processPerOrderPrice(i, pertablendex); addPerOrderRow(completeData[i].perOrderTable[pertablendex].perOrderCurrentData,i,pertablendex)"
                                name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.pricePerOutlet"
                                (keypress)="numberOnly($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.pricePerOutlet'
                                onKeyPress="if(this.value.length==10) return false;">
                            </td>
                            <td><button
                                (click)='addPerOrderRow(completeData[i].perOrderTable[pertablendex].perOrderCurrentData,i,pertablendex)'>
                                <i class="fa fa-plus mr-2" aria-hidden="true"> </i>
                              </button></td>
                          </tr>
                        </tbody>
                      </table>
                      <!-- ++++++++++++++++++++++++===========Percentage===========+++++++++++++++++++++++++++++++++ -->
                      <table *ngIf="completeData[i].perOrderCommissionType=='Percentage'" datatable
                        class="table table-striped table-bordered nowrap table-hover">
                        <thead>
                          <tr>
                            <th>Index</th>
                            <th>Order Range From</th>
                            <th>Order Range to</th>
                            <th>Percentage/Outlet Per Order </th>
                            <th>Activity</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr
                            *ngFor='let innerData of completeData[i].perOrderTable[pertablendex].perOrders;let rowIndex = index'>
                            <!-- <td colspan="4">{{completeData[i].perOrderTable[pertablendex].perOrders[rowIndex] | json}}</td> -->
                            <td>{{rowIndex+1}}</td>
                            <td>
                              <input type="number" style="width: 100%;"
                                name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.rangeFrom"
                                (keypress)="e($event)" disabled="disabled"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].rangeFrom'
                                onKeyPress="if(this.value.length==3) return false;" required>
                            </td>
                            <td>
                              <input type="number" style="width: 100%;"
                                name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.rangeTo"
                                (keypress)="e($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].rangeTo'
                                onKeyPress="if(this.value.length==3) return false;" required>
                            </td>
                            <td>
                              <input type="text" style="width: 100%;"
                                name="completeData[i].perOrderTable{{pertablendex}}.perOrderCurrentData{{rowIndex}}.percenatgePerOutlet"
                                (keypress)="numberOnly($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrders[rowIndex].percentagePerOutlet'
                                (keyup)="checkPercentageinTable(i,$event, rowIndex,pertablendex)"
                                onKeyPress="if(this.value.length==2) return false;" required> <b>&#37;</b>
                            </td>
                            <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                                (click)="deleteRowRange(rowIndex, pertablendex, i, completeData[i].perOrderTable[pertablendex].perOrders.length)"></i></td>
                          </tr>
                          <tr style="border: 0px;" *ngIf="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom<1000">
                            <td>
    
    
                            </td>
                            <td>
                              <input type="number" style="width: 100%;"
                                name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom"
                                (keypress)="e($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeFrom'
                                onKeyPress="if(this.value.length==3) return false;" disabled="disabled">
                            </td>
                            <td>
                              <input type="number" style="width: 100%;"
                                name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeTo"
                                (keypress)="e($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.rangeTo'
                                onKeyPress="if(this.value.length==3) return false;">
                            </td>
                            <td>
                              <input type="text" style="width: 100%;"
                                (focusout)="checkPercentageTable(i,$event,pertablendex);addPerOrderRow(completeData[i].perOrderTable[pertablendex].perOrderCurrentData,i,pertablendex)"
                                name="completeData[i].perOrderTable[pertablendex].perOrderCurrentData.percentagePerOutlet"
                                (keypress)="numberOnly($event)"
                                [(ngModel)]='completeData[i].perOrderTable[pertablendex].perOrderCurrentData.percentagePerOutlet'
                                onKeyPress="if(this.value.length==2) return false;"><b>&#37;</b>
                            </td>
                            <td><button
                                (click)='addPerOrderRow(completeData[i].perOrderTable[pertablendex].perOrderCurrentData,i,pertablendex)'>
                                <i class="fa fa-plus mr-2" aria-hidden="true"> </i>
                              </button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!--here -->
              </div>
            </div>
              <div *ngIf="completeData[i].colletionMode=='One Time' && completeData[i].soldPerOutlet=='Per Outlet'"
                class="col-md-8">
                <div class="table-responsive">
                  <table datatable class="table table-striped table-bordered nowrap table-hover">
                    <thead>
                      <tr>
                        <th>Index</th>
                        <th>Outlets From</th>
                        <th>Outlets To</th>
                        <th>Prices/Outlet<br>in <span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> ({{g.symbol}}) </span></span></span></th>
                        <th>Activity</th>
                      </tr>
                    </thead>
                    <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                    <tbody>
                      <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                        <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
                        <td>{{rowIndex+1}}</td>
                        <td> <input type="number" required style="width: 100%;" min="2"
                            name="completeData{{i}}from{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].tableData[rowIndex].from'
                            [disabled]=completeData[i].tableData[rowIndex].isReadonly disabled="disabled"
                            >
                        </td>
                        <td><input type="number" required style="width: 100%;" min="2"
                          name="completeData{{i}}to{{rowIndex}}" (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                          [(ngModel)]='completeData[i].tableData[rowIndex].to'  (keyup)="checkValue($event)"
                          (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)'>
                        </td>
                        <td>
                          <input type="text" required style="width: 100%;" name="completeData{{i}}price{{rowIndex}}"
                            onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)"
                            (focusout)="processPrice(i, rowIndex)"
                            [(ngModel)]='completeData[i].tableData[rowIndex].price'>
                        </td>
                        <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                            (click)="deleteRow(rowIndex, i, completeData[i].tableData.length)"></i></td>
                      </tr>

                      <tr style="border: 0px;" *ngIf="this.completeData[i].outletObj.from<2000">
                        <td></td>
                                     <td>
                          <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.from{{i}}"
                            (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;" disabled="disabled"
                            [(ngModel)]='completeData[i].outletObj.from' (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)'>
                        </td>
                        <td>
                          <input type="number" style="width: 100%;" min="2" name="completeData[i].outletObj.to{{i}}" (keyup)="checkValue($event)"
                            (keypress)="e($event)"  onKeyPress="if(this.value.length==4) return false;"
                            [(ngModel)]='completeData[i].outletObj.to'
                            (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)'>
                        </td>
                        <td>

                          <input matItype="text" (keypress)="numberOnly($event)"
                            (focusout)="processOutletPrice(i); pushProductOutlet(completeData[i],i)"
                            style="width: 100%;" placeholder="" name="completeData[i].outletObj.price{{i}}"
                            onKeyPress="if(this.value.length==10) return false;"
                            [(ngModel)]='completeData[i].outletObj.price'>

                        </td>
                        <td><button (click)='pushProductOutlet(completeData[i],i)'><i class="fa fa-plus mr-2"
                              aria-hidden="true"></i></button></td>
                      </tr>
                    </tbody>

                  </table>
                </div>
                <div class="row mt-2">
                  <div class="col-lg-6">
                    <ng-multiselect-dropdown [placeholder]="'Available Addons'" [data]="availAddons" (onSelect)="onSelect($event)"
                    name="completeData[i].available_addons{{i}}" [(ngModel)]="completeData[i].available_addons" [settings]="Settings"
               >
              </ng-multiselect-dropdown>
                  
                      <button><i class="fa fa-plus" (click)="openDialogAddon()" aria-hidden="true">Add</i></button> 
                  </div>
                  
                  <div class="col-lg-6">
                    <ng-multiselect-dropdown [placeholder]="'Available Integration'" [data]="availIntegration"
                    name="completeData[i].available_Integration{{i}}" [(ngModel)]="completeData[i].available_Integration" [settings]="Settings"
               >
              </ng-multiselect-dropdown>
                       <button><i class="fa fa-plus" (click)="openDialogIntegration()" aria-hidden="true">Add</i></button> 
                  </div>
                  
                </div>
              </div>

              <!-- if sold per outlet is no -->
              <!-- if sold per outlet is Yes -->

              <!-- if sold per outlet is Yes -->

            </div>
          </div>
          </div>
        </form>


        <div class="row ml-2 mt-4">
          <div class="col-lg-3">
          </div>
          <div class="col-lg-6" style="text-align: center;">
            <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
            <button class="btn btn-primary" (click)="add_Product()" [disabled]="!myForm.valid">
              Update Product</button>
          </div>
          <div class="col-lg-3">

          </div>
        </div>
      </div>
    </div>

  </mat-card>
  </div>