<h4 class="text-center">Add new Tag <i class="fa fa-times" aria-hidden="true" style="float: right;" mat-dialog-close></i></h4>
<mat-card #customLoadingTemplate>
    <div class="container">

        <div>
            <form [formGroup]="addTagsForm">
                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <mat-form-field>
                            <input matInput placeholder="Add New Tag Name" [class.is-invalid]="addTagsForm.get('tagName').invalid &&
                            addTagsForm.get('tagName').touched" formControlName="tagName">
                            <mat-error [class.d-none]="addTagsForm.get('tagName').valid ||
                            addTagsForm.get('tagName').untouched" class="text-danger">Tag name is invalid</mat-error>
                        </mat-form-field>
                    </div>

                </div>


            </form>


            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6 mr-2" style="text-align: center;">
                    <button class="btn btn-danger" mat-dialog-close>Cancel</button>
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary ml-2" [disabled]="!addTagsForm.valid" (click)="onAddTag()"
                        mat-dialog-close>Add
                        Tag</button>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</mat-card>