<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/beverages_and_retailfood">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Retail Food / Update Product</h5>
<mat-card>
    <div class="container">
        <form [formGroup]="addProductForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Product Name" formControlName="productName">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Unit</mat-label>
                        <mat-select formControlName="unit" >
                            <mat-option *ngFor="let u of units" [value]="u">
                                {{u}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>            
                </div>
            </div>
         
         
            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <ul>
                        <li><label>Categories</label>
                          <ul id="myUL">
                            <li *ngFor="let rootCategory of allRetailBeveragesCategories"><span class="caret" (click)="caretClick()">
                                <span *ngIf="rootCategory['subCategories'].length==0"><mat-radio-button value="rootCategory" [checked]="(this.productObj['category']['category']==rootCategory.rootCategoryName) ? true : false" (change)="getRadiovalue(rootCategory['_id'],rootCategory.rootCategoryName); getroot(rootCategory)"></mat-radio-button></span><span [ngClass]="{'mat-chip': rootCategory.rootCategoryName===this.rootcategory}">{{rootCategory.rootCategoryName}}</span>
                               </span>
               
                               <ul class="nested">
               
                                 <li *ngFor="let subCategory of rootCategory.subCategories"><span class="caret" (click)="caretClick()">
                                   <span *ngIf="subCategory['subSubCategories'].length==0"><mat-radio-button value="rootCategory" [checked]="(this.productObj['category']['category']==subCategory.subCategoryName) ? true : false" (change)="getRadiovalue(subCategory['_id'],subCategory.subCategoryName); getroot(rootCategory,subCategory)"></mat-radio-button></span><span [ngClass]="{'mat-chip': subCategory.subCategoryName===this.subcategory}">{{subCategory.subCategoryName}}</span>
                                   </span>
                                   <ul class="nested">
                                     <li *ngFor="let subSubCategory of subCategory.subSubCategories"><span class="caret"
                                         (click)="caretClick()">
                                         <span *ngIf="subSubCategory['subSubCategoryType'].length==0"><mat-radio-button value="rootCategory" [checked]="(this.productObj['category']['category']==subSubCategory.subSubCategoryName) ? true : false" (change)="getRadiovalue(subSubCategory['_id'],subSubCategory.subSubCategoryName);getroot(rootCategory,subCategory,subSubCategory)"></mat-radio-button></span><span [ngClass]="{'mat-chip': subSubCategory.subSubCategoryName===this.subsubcategory}">{{subSubCategory.subSubCategoryName}}</span>
                                       </span>
                                       <ul class="nested">
               
                                         <li *ngFor="let type of subSubCategory.subSubCategoryType">
                                           <span>
                                             <mat-radio-button [value]="type" [checked]="(this.productObj['category']['category']==type.subSubCategoryTypeName) ? true : false" (change)="getRadiovalue(type['_id'],type.subSubCategoryTypeName);getroot(rootCategory,subCategory,subSubCategory, type)"
                                            ></mat-radio-button>
                                            <span [ngClass]="{'mat-chip': type.subSubCategoryTypeName===this.typecategory}">{{type['subSubCategoryTypeName']}}</span>
                                           </span>
                                         </li>
                                         <i class="fa fa-plus mb-2"
                                         (click)="openBeveragesSubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                                         aria-hidden="true"> Add Sub Sub Category Type</i>
                                     </ul>
                                   </li>
                                   <i class="fa fa-plus mb-2"
                                     (click)="openBeveragesSubSubCategoryDialog(rootCategory._id, subCategory._id)"
                                     aria-hidden="true">
                                     Add Sub Sub Category</i>
                                 </ul>
                               </li>
                               <i class="fa fa-plus mb-2" (click)="openBeveragesSubCategoryDialog(rootCategory._id)"
                                 aria-hidden="true"> Add
                                 Sub Category</i>
                             </ul>
                           </li>
                           <i class="fa fa-plus mb-2" (click)="openBeveragesRootCategoryDailog('retailBeverage')"
                             aria-hidden="true"> Add Root
                             Category</i>
               
                          </ul>
                      </li>
                    </ul>
                </div>
               
               
                
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Associated Brand</mat-label>
                        <mat-select formControlName="associatedBrand" >
                            <mat-option *ngFor="let b of allBrands" [value]="b._id">
                                {{b.brandName}}
                            </mat-option>
                        </mat-select>
                      
                    </mat-form-field>
                    <i class="fas fa-plus-circle mt-1" (click)="openpopupRetailFoodAddBrand()">Add new</i>
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <img src="{{productIMG}}"  alt="" height="50px" widht="50px">
                </div>
                <div class="col-lg-6">
                    <input type="file" ng2FileSelect [uploader]="uploader"
                (change)="uploader.uploadAll()">
                </div>
            </div>
        </form>
        <div *ngIf="filteredArr.length>0">
            <div class="row" *ngFor="let data of filteredArr; let i=index; ">{{onClickResponse(i)}}
                <mat-card style="width: 100%;">
                    <div>


                        <div class="row">
                            <div class="col-lg-12">
                                <label>{{data.display_name}}</label>
                            </div>
                        </div>
                        <hr>

                        <div class="row" *ngIf="data.responseType.elementName=='Input Box'">

                            <div class="col-lg-6">
                                <mat-form-field class="example-full-width" style="width: 80%;">
                                    <input matInput [placeholder]="inputBoxPlaceholder" [(ngModel)]="data.value" name="Attribute_response{{i}}" >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" *ngIf="data.responseType.elementName=='Yes / No'">
                            <div class="col-lg-4">
                                <mat-radio-group aria-label="Select an option" name="yesno{{i}}"
                                [(ngModel)]="data.value" >
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;
                                    <mat-radio-button value="No">No</mat-radio-button>
                                </mat-radio-group>
                                <!-- {{data.value}} -->
                            </div>
                        </div>

                        <div class="row ml-2 mt-2" *ngIf="data.responseType.elementName=='Radio Button'">
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="data.value" style="display: inline-flex;">
                                <div class="col-lg-4" *ngFor="let option of radioOptions">

                                    <mat-radio-button [value]="option.optionLable">{{option.optionLable}}</mat-radio-button>
                                    &nbsp;
{{data.value}}
                                    <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                                </div>
                            </mat-radio-group>&nbsp;
                        
                        </div>

                        <div class="row ml-2 mt-2" *ngIf="data.responseType.elementName=='Check Box'">
                            <div class="col-lg-4" *ngFor="let option of checkBoxOptions; let i=index" >
                                <mat-checkbox name="Attribute_response{{i}}" [(ngModel)]="data.responseType.options[i].value" [value]="option.optionLable" >{{ option.optionLable }}</mat-checkbox> &nbsp;{{data.responseType.options[i].value}}
                                <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                            </div>
                        </div>

                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row ml-2 mt-2">
            <div class="col-lg-12" style="text-align: center;">
                <button class="btn btn-primary" [disabled]="!addProductForm.valid" (click)="onAddProduct()" >Update
                    Product</button>
            </div>
        </div>

      </div>
</mat-card>