<button type="button" class="btn btn-danger float-right"
    style="margin-top: -46px; padding-left: 36px; padding-right: 36px" (click)="BackTo_Page()">Back</button>
<!-- <mat-horizontal-stepper [linear]="isLinear" #stepper> -->
<mat-horizontal-stepper linear #stepper>

    <!-- Personal Information -->

    <mat-step [stepControl]="PersonalDetailsForm">
        <ng-template matStepLabel>Personal Details</ng-template>
        <form [formGroup]="PersonalDetailsForm">
            <div class="row">

                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Employee Name" formControlName="employee_name">
                    </mat-form-field>

                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Contact Number" formControlName="contact_number">
                    </mat-form-field>

                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Email ID" formControlName="email_id">
                    </mat-form-field>


                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <input matInput [matDatepicker]="picker1" placeholder="Date Of Birth"
                            formControlName="birth_date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>

                    </mat-form-field>
                </div>
             
                <div class="col-lg-6">
                    <!-- <label>{{photoFile}}</label> -->
                    <img [src]="profilepic" height="100px" width="100px" alt="">
                </div>
           
             
                <div class="col-lg-6">

                    <label>Upload Photo</label>
                    <input type="file" ng2FileSelect [uploader]="profilePicUploader"
                        (change)="profilePicUploader.uploadAll();isUploading()">

                    <!-- <br> <img [src]="profilepic" height="100px" width="100px" alt=""> -->


                    <small *ngIf="propicStatus" style="color: green">File Uploaded Successfully.</small>
                    <small *ngIf="propicStatus == false" style="color: red">Failed Try uploading again...</small>


                </div>
           
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Address 1" formControlName="first_address">
                    </mat-form-field>

                </div>

                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Address 2" formControlName="second_address">
                    </mat-form-field>

                </div>
                <div class="col-lg-12">
                    <div class="row">
                    <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                    
                    <mat-select formControlName="country" (selectionChange)="changeCountry($event.value)">
                    <mat-option *ngFor="let count of country_json" [value]="count.name">{{count.name}}
                    </mat-option>
                    </mat-select>
                    <mat-error>Country field is required!</mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                    <mat-form-field style="width: 100%;">
                    <mat-label>State</mat-label>
                    <mat-select formControlName="state" (selectionChange)="changeState($event.value)">
                    <mat-option *ngFor="let states of state" [value]="states">
                    {{states}}
                    </mat-option>
                    </mat-select>
                    <mat-error>State field is required!</mat-error>
                    </mat-form-field>
                    
                    </div>
                    <div class="col-lg-4">
                    <mat-form-field style="width: 100%;">
                    <mat-label>City</mat-label>
                    <mat-select formControlName="city" (selectionChange)="showValue()">
                    <mat-option *ngFor="let c of city" [value]="c">
                    {{c}}
                    </mat-option>
                    </mat-select>
                    <mat-error>City field is required!</mat-error>
                    </mat-form-field>
                    </div>
                    </div>
                    
                    </div>

               
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Pin Code" formControlName="pin_code">
                    </mat-form-field>

                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Blood Group</mat-label>
                        <mat-select formControlName="blood_group">
                            <mat-option *ngFor="let type of blood_group_list" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div class="col-lg-6">
                    <label><b>Gender</b></label>
                    <mat-radio-group aria-label="gender" formControlName="gender">
                        <mat-radio-button value="Male" checked>Male
                        </mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                    </mat-radio-group>
                </div>




                <div class="col-lg-6">
                    <label><b>Maritial Status</b></label>
                    <mat-radio-group aria-label="Maritial Status" formControlName="marrital_status">
                        <mat-radio-button value="married" checked>Married
                        </mat-radio-button>
                        <mat-radio-button value="single">Single</mat-radio-button>
                    </mat-radio-group>


                </div>
                <div class="col-lg-6">
                    <label><b>Select Role:</b></label>&nbsp;
                    <!-- <i class="fa fa-plus-circle" aria-hidden="true" (click)="openDialog_SelectRole(userRole.role_name)"
                        [hidden]="isShowRole"></i>&nbsp; -->

                    <label><b>{{userRole.role_name}}</b></label>&nbsp;
                    <i class="fas fa-edit" (click)="openDialog_SelectRole(userRole.role_name)" ></i>&nbsp;
                </div>

                <div claa="col-lg-6">
                    <label><b>Family Details</b></label>
                </div>
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Father's/Husband's Name" formControlName="father_husbandName">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Mother's Name" formControlName="mother_Name">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Contact Number" formControlName="fam_Contact_no">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">

                </div>

                <div class="col-lg-6">
                    <label><b>Emergency Contact Details</b></label>
                </div>
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Emergency Contact Person Name"
                            formControlName="emergency_contact_personName">
                    </mat-form-field>

                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Contact Number" formControlName="emg_contact_number">
                    </mat-form-field>

                </div>




            </div>

            <!-- <button mat-button matStepperNext>Next</button> -->
            <button type="button" mt-2 class="btn btn-primary" (click)="Save_PersonalDetails()" mat-button
                matStepperNext>Next</button>&nbsp;
        </form>
    </mat-step>

    <!-- Work Information -->

    <mat-step [stepControl]="WorkDetailsForm">
        <ng-template matStepLabel>Work Details</ng-template>
        <form [formGroup]="WorkDetailsForm">
            <div class="row mt-4">
                <div class="col-lg-4">
                    <b>Hours</b>
                </div>
                <div class="col-lg-4">
                    <div class="checkbox">
                        <label><input type="checkbox" value="" (change)="onSameAsMonday($event)"> &nbsp; <b>Same as
                                Monday</b></label>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-2">
                    <b>Monday</b>
                </div>
                <div class="col-lg-1">
                    <mat-slide-toggle (change)="onMonday($event)" formControlName="isMon" [checked]="isMon"></mat-slide-toggle>
                </div>

                <div class="col-lg-3" [hidden]="!isMon">

                    <input type="time" value="06:00:00" formControlName="openMon"> to <input type="time"
                        value="13:00:00" formControlName="closeMon">

                </div>

                <div class="col-lg-1" [hidden]="isMon">
                    <b> Closed </b>
                </div>

                <div class="col-lg-4" [hidden]="!isMon">
                    <b style="color: #2269ff;" [hidden]="monAddHr" (click)="createNewElement('mon');">Add Hours </b>
                    <span [hidden]="!monAddHr"><b>+</b>&nbsp;<input type="time" value="04:00:00"
                            formControlName="extraopenMon"> to <input type="time" value="10:00:00"
                            formControlName="extracloseMon"> &nbsp;
                        <i class="far fa-times-circle btn-danger" (click)="removeExtraTime('mon')"></i>

                    </span>
                </div>


            </div>

            <div class="row mt-2">
                <div class="col-lg-2">
                    <b>Tuesday</b> &nbsp;

                </div>
                <div class="col-lg-1">
                    <mat-slide-toggle (change)="onTuesday($event)" formControlName="isTues" [checked]="isTues"></mat-slide-toggle>
                </div>
                <div class="col-lg-3" [hidden]="!isTues">
                    <input type="time" [value]="mondayOpenTime" formControlName="openTue"> to <input type="time"
                    value="06:00:00" formControlName="closeTue">
                </div>

                <div class="col-lg-1" [hidden]="isTues">
                    <b> Closed </b>
                </div>

                <div class="col-lg-4" [hidden]="!isTues">
                    <b style="color: #2269ff;" [hidden]="tueAddHr" (click)="createNewElement('tue');">Add Hours </b>
                    <span [hidden]="!tueAddHr"><b>+</b>&nbsp;<input type="time" value="04:00:00"
                            formControlName="extraopenTue"> to <input type="time" value="10:00:00"
                            formControlName="extracloseTue">&nbsp;
                        <i class="far fa-times-circle btn-danger" (click)="removeExtraTime('tue')"></i></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-2">
                    <b>Wednesday</b> &nbsp;

                </div>
                <div class="col-lg-1">
                    <mat-slide-toggle (change)="onWednesday($event)" formControlName="isWed" [checked]="isWed"></mat-slide-toggle>
                </div>
                <div class="col-lg-3" [hidden]="!isWed">
                    <input type="time" value="06:00:00" formControlName="openWed"> to <input type="time"
                        value="13:00:00" formControlName="closeWed">
                </div>

                <div class="col-lg-1" [hidden]="isWed">
                    <b> Closed </b>
                </div>
                <div class="col-lg-4" [hidden]="!isWed">
                    <b style="color: #2269ff;" [hidden]="wedAddHr" (click)="createNewElement('wed')">Add Hours </b>
                    <span [hidden]="!wedAddHr"><b>+</b>&nbsp;<input type="time" value="04:00:00"
                            formControlName="extraopenWed"> to <input type="time" value="10:00:00"
                            formControlName="extracloseWed">&nbsp;
                        <i class="far fa-times-circle btn-danger" (click)="removeExtraTime('wed')"></i></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-2">
                    <b>Thursday</b> &nbsp;

                </div>
                <div class="col-lg-1">
                    <mat-slide-toggle (change)="onThursday($event)" formControlName="isThur" [checked]="isThur"></mat-slide-toggle>
                </div>
                <div class="col-lg-3" [hidden]="!isThur">
                    <input type="time" value="06:00:00" formControlName="openThur"> to <input type="time"
                        value="13:00:00" formControlName="closeThur">
                </div>

                <div class="col-lg-1" [hidden]="isThur">
                    <b> Closed </b>
                </div>
                <div class="col-lg-4" [hidden]="!isThur">
                    <b style="color: #2269ff;" [hidden]="thurAddHr" (click)="createNewElement('thur');">Add Hours
                    </b>
                    <span [hidden]="!thurAddHr"><b>+</b>&nbsp;<input type="time" value="04:00:00"
                            formControlName="extraopenThur"> to <input type="time" value="10:00:00"
                            formControlName="extracloseThur">&nbsp;
                        <i class="far fa-times-circle btn-danger" (click)="removeExtraTime('thur')"></i></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-2">
                    <b>Friday</b> &nbsp;

                </div>
                <div class="col-lg-1">
                    <mat-slide-toggle (change)="onFriday($event)" formControlName="isFri" [checked]="isFri"></mat-slide-toggle>
                </div>
                <div class="col-lg-3" [hidden]="!isFri">
                    <input type="time" value="06:00:00" formControlName="openFri"> to <input type="time"
                        value="13:00:00" formControlName="closeFri">
                </div>

                <div class="col-lg-1" [hidden]="isFri">
                    <b> Closed </b>
                </div>
                <div class="col-lg-4" [hidden]="!isFri">
                    <b style="color: #2269ff;" [hidden]="friAddHr" (click)="createNewElement('fri')">Add Hours </b>
                    <span [hidden]="!friAddHr"><b>+</b>&nbsp;<input type="time" value="04:00:00"
                            formControlName="extraopenFri"> to <input type="time" value="10:00:00"
                            formControlName="extracloseFri">&nbsp;
                        <i class="far fa-times-circle btn-danger" (click)="removeExtraTime('fri')"></i></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-2">
                    <b>Saturday</b> &nbsp;

                </div>
                <div class="col-lg-1">
                    <mat-slide-toggle (change)="onSaturday($event)" formControlName="isSat" [checked]="isSat"></mat-slide-toggle>
                </div>
                <div class="col-lg-3" [hidden]="!isSat">
                    <input type="time" value="06:00:00" formControlName="openSat"> to <input type="time"
                        value="13:00:00" formControlName="closeSat">
                </div>

                <div class="col-lg-1" [hidden]="isSat">
                    <b> Closed </b>
                </div>
                <div class="col-lg-4" [hidden]="!isSat">
                    <b style="color: #2269ff;" [hidden]="satAddHr" (click)="createNewElement('sat');">Add Hours </b>
                    <span [hidden]="!satAddHr"><b>+</b>&nbsp;<input type="time" value="04:00:00"
                            formControlName="extraopenSat"> to <input type="time" value="10:00:00"
                            formControlName="extracloseSat">&nbsp;
                        <i class="far fa-times-circle btn-danger" (click)="removeExtraTime('sat')"></i></span>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-2">
                    <b style="color: red;">Sunday</b> &nbsp;

                </div>
                <div class="col-lg-1">
                    <mat-slide-toggle (change)="onSunday($event)" formControlName="isSun" [checked]="isSun"></mat-slide-toggle>
                </div>
                <div class="col-lg-3" [hidden]="!isSun">
                    <input type="time" value="06:00:00" formControlName="openSun"> to <input type="time"
                        value="13:00:00" formControlName="closeSun">
                </div>

                <div class="col-lg-1" [hidden]="isSun">
                    <b> Closed </b>
                </div>

                <div class="col-lg-4" [hidden]="!isSun">
                    <b style="color: #2269ff;" [hidden]="sunAddHr" (click)="createNewElement('sun');">Add Hours </b>
                    <span [hidden]="!sunAddHr"><b>+</b>&nbsp;<input type="time" value="04:00:00"
                            formControlName="extraopenSun"> to <input type="time" value="10:00:00"
                            formControlName="extracloseSun">
                        &nbsp; <i class="far fa-times-circle btn-danger" (click)="removeExtraTime('sun')"></i>
                    </span>

                </div>
            </div>
            <div class="row">
      
                    <div class="col-lg-6">
                        <!-- <label>{{photoFile}}</label> -->
                        <img [src]="NDAdocumentfile" height="100px" width="100px" alt="">
                    </div>
             
                  
                    <div class="col-lg-6">
    
                        <label>Upload Photo</label>
                        <input type="file" ng2FileSelect [uploader]="NDAPicUploader"
                            (change)="NDAPicUploader.uploadAll();isUploading()">
    
                        <!-- <br> <img [src]="profilepic" height="100px" width="100px" alt=""> -->
    
    
                        <small *ngIf="ndaPicStatus" style="color: green">File Uploaded Successfully.</small>
                        <small *ngIf="ndaPicStatus == false" style="color: red">Failed Try uploading again...</small>
    
    
                    </div>
                  
                
                <div class="col-lg-6">
                    <label><b>Sanctioned Leaves</b></label>
                    <input type="number" id="quantity" formControlName="Sanctioned_Leaves" min="1" max="5">/365


                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <label><b>Joining Letter</b></label>
                </div>
            
                    <div class="col-lg-6">
                        <!-- <label>{{photoFile}}</label> -->
                        <!-- <img [src]="joiningLetter" height="100px" width="100px" alt=""> -->
                    </div>
                  
               
                    <div class="col-lg-6">
    
                        <label>Upload Photo</label>
                        <input type="file" ng2FileSelect [uploader]="joiningLetterUploader"
                            (change)="joiningLetterUploader.uploadAll();isUploading()">
    
                        <!-- <br> <img [src]="profilepic" height="100px" width="100px" alt=""> -->
    
    
                        <small *ngIf="joiningLetterStatus" style="color: green">File Uploaded Successfully.</small>
                        <small *ngIf="joiningLetterStatus == false" style="color: red">Failed Try uploading again...</small>
    
    
                    </div>
                 
            
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                          <input matInput [matDatepicker]="picker2" placeholder="Joining Date" formControlName="joining_date">
                          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                          <mat-datepicker #picker2></mat-datepicker>
                         
                        </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Assigned To City</mat-label>
                        <mat-select formControlName="assign_city">
                            <mat-option *ngFor="let assign_city of assign_city_list" [value]="assign_city">
                                {{assign_city}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                   
                
            
            </div>
            <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                    <mat-label>Assigned To Location</mat-label>
                    <mat-select formControlName="assign_location">
                        <mat-option *ngFor="let assign_location of assign_city_location" [value]="assign_location">
                            {{assign_location}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            
            
        
        </div>
            </div>
            <div class="row">
                <label><b>Responsibilities</b></label>
                <textarea class="form-control rounded-0" style="border: 1px solid grey;border-radius: 2px;"
                    id="exampleFormControlTextarea2" formControlName="responsibilities" rows="1" col="12">

                        </textarea>
            </div>
            <button type="button" mt-2 class="btn btn-primary" mat-button matStepperPrevious>Back</button>&nbsp;
            <button type="button" mt-2 class="btn btn-primary" (click)="Save_WorkDetails()" mat-button
                matStepperNext>Next</button>&nbsp;

        </form>
    </mat-step>
    <!-- Bank And Payment Details -->

    <mat-step [stepControl]="BankPaymentDetailsForm">
        <ng-template matStepLabel>Bank and Payment Details</ng-template>
        <form [formGroup]="BankPaymentDetailsForm">
            <div class="row">
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Account Number" formControlName="account_number">
                    </mat-form-field>


                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="IFSC Code" formControlName="IFSC_code">
                    </mat-form-field>


                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Bank Name" formControlName="bank_name">
                    </mat-form-field>


                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Bank Address" formControlName="bank_address">
                    </mat-form-field>


                </div>
                <div class="col-lg-6">

                    <mat-form-field style="width: 100%;">
                        <mat-label>State</mat-label>
                        <mat-select formControlName="bank_state">
                            <mat-option *ngFor="let bank_state of State_list" [value]="bank_state">
                                {{bank_state}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>
                <div class="col-lg-6">

                    <mat-form-field style="width: 100%;">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="bank_city">
                            <mat-option *ngFor="let bank_city of City_list" [value]="bank_city">
                                {{bank_city}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>


                </div>

            </div>
            <!-- <mat-form-field class="example-full-width" style="width: 100%;">
        <input matInput placeholder="Salary" formControlName="salary">
    </mat-form-field> -->
            <div class="row">

                <i class="fa fa-plus" aria-hidden="true" (click)="showSalaryDiv()">Add Salary</i>

            </div>
            <div *ngIf="isShowSalary">




                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Enter Salary Amount" formControlName="salary_amount">
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        Add Allownces
                    </div>
                    <div class="col-lg-3">
                        <mat-slide-toggle (change)="onAddAllownces($event)" formControlName="isAllownces" [checked]="isAllownces"></mat-slide-toggle>
                    </div>
                    <div [hidden]="!isAllownces">
                        <div class="col-lg-">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Add Allownces</mat-label>
                                <mat-select formControlName="add_allownces">
                                    <mat-option *ngFor="let add_allownces of allownces_list" [value]="add_allownces">
                                        {{add_allownces}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>



                        </div>

                        <div class="col-lg-3">
                            <i class="fa fa-plus" aria-hidden="true" (click)="showAlloncesDiv()"></i>


                        </div>
                        <div *ngIf="showAllowncesField">
                            <div class="row">
                                <div class="col-lg-6">
                                    <mat-form-field class="example-full-width" style="width: 100%;">
                                        <input matInput placeholder="Enter Allownce Name"
                                            formControlName="allownces_name">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6">
                                    <mat-form-field class="example-full-width" style="width: 100%;">
                                        <input matInput placeholder="Enter Amount" formControlName="allownces_amount">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        Add Deductions
                    </div>
                    <div class="col-lg-3">
                        <mat-slide-toggle (change)="onAddDeduction($event)" formControlName="isDeduction" [checked]="isDeduction"></mat-slide-toggle>
                    </div>
                    <div [hidden]="!isDeduction">
                        <div class="col-lg-">
                            <mat-form-field style="width: 100%;">
                                <mat-label> Add Deductions</mat-label>
                                <mat-select formControlName="add_allownces">
                                    <mat-option *ngFor="let add_deduction of deduction_list" [value]="add_deduction">
                                        {{add_deduction}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>



                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-plus" aria-hidden="true" (click)="showDeductionDiv()"></i>


                        </div>
                        <div *ngIf="showDeductionField">
                            <div class="row">
                                <div class="col-lg-6">
                                    <mat-form-field class="example-full-width" style="width: 100%;">
                                        <input matInput placeholder="Enter Deduction Name"
                                            formControlName="deduction_name">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6">
                                    <mat-form-field class="example-full-width" style="width: 100%;">
                                        <input matInput placeholder="Enter Amount" formControlName="deduction_amount">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        Select OverTime
                    </div>
                    <div class="col-lg-3">
                        <mat-slide-toggle (change)="onAddOvertime($event)" formControlName="isOvertime" [checked]="isOvertime"></mat-slide-toggle>
                    </div>
                    <div [hidden]="!isOvertime">
                        <div class="col-lg-">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Select OverTime</mat-label>
                                <mat-select formControlName="select_overtime">
                                    <mat-option *ngFor="let select_overtime of overtime_list" [value]="select_overtime">
                                        {{select_overtime}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>



                        </div>
                        <div class="col-lg-3">
                            <i class="fa fa-plus" aria-hidden="true" (click)="showOverTimeDiv()"></i>


                        </div>
                        <div *ngIf="showOverTimeField">
                            <div class="row">
                                <div class="col-lg-6">
                                    <mat-form-field class="example-full-width" style="width: 100%;">
                                        <input matInput placeholder="Enter Over Time" formControlName="overTime_name">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-6">
                                    <mat-form-field class="example-full-width" style="width: 100%;">
                                        <input matInput placeholder="Enter Amount" formControlName="overTime_amount">
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-12">


                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Enter Incentive Amount" formControlName="incentive_amount">
                    </mat-form-field>


                </div>
                <div class="row-12">


                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Net Salary" formControlName="net_salary">
                    </mat-form-field>


                </div>
            </div>


            <button type="button" mt-2 class="btn btn-primary" mat-button matStepperPrevious>Back</button>&nbsp;
            <button type="button" mt-2 class="btn btn-primary" (click)="Save_BankDetails()" mat-button
                matStepperNext>Next</button>&nbsp;
        </form>
    </mat-step>
    <!-- Documents Information -->

    <mat-step [stepControl]="DocumentsForm">
        <ng-template matStepLabel>Legal Documents</ng-template>
        <form [formGroup]="DocumentsForm">
            <div class="row">
                <div class="col-lg-12">
                    <label><b>Aadhar Card Details</b></label>
                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Aadhar Number" formControlName="aadhar_number">
                    </mat-form-field>


                </div>
                <div class="col-lg-6">
                    <!-- AADHAR FILE UPLOAD CODE -->
                    <label>Upload Aadhar</label>
                    <input type="file" ng2FileSelect [uploader]="addharUploader"
                        (change)="addharUploader.uploadAll();isUploading()">&nbsp;
                        <a href={{aadharRes}}>{{aadharRes}}</a>
                    <!-- <img [src]="aadharRes" height="100px" width="100px" alt=""> -->


                    <br>
                    <small *ngIf="aadharStatus" style="color: green">File Uploaded Successfully.</small>
                    <small *ngIf="aadharStatus == false" style="color: red">Failed Try uploading again...</small>

                </div>
                <div class="col-lg-12">
                    <label><b>Driving Licence</b></label>
                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Licence Number" formControlName="licence_number">
                    </mat-form-field>


                </div>
                <div class="col-lg-6">
                    <label>Upload Licence</label>
                    <input type="file" ng2FileSelect [uploader]="drivingUploader"
                        (change)="drivingUploader.uploadAll();isUploading()">
                        <a href={{LicenRes}}>{{LicenRes}}</a>

                    <br>
                    <small *ngIf="LicStatus" style="color: green">File Uploaded Successfully.</small>
                    <small *ngIf="LicStatus == false" style="color: red">Failed Try uploading again...</small>




                </div>
                <div class="col-lg-12">
                    <label><b>Passport</b></label>
                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Passport Number" formControlName="passport_number">
                    </mat-form-field>


                </div>
                <div class="col-lg-6">


                    <label>Upload Passport</label>
                    <input type="file" ng2FileSelect [uploader]="passportUploader"
                        (change)="passportUploader.uploadAll();isUploading()">
                        <a href={{passRes}}>{{passRes}}</a>

                    <br>
                    <small *ngIf="passStatus" style="color: green">File Uploaded Successfully.</small>
                    <small *ngIf="passStatus == false" style="color: red">Failed Try uploading again...</small>
                </div>


                <div class="col-lg-12">
                    <label><b>Document</b></label>
                </div>
                <div class="col-lg-6">

                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Add Document" formControlName="add_document">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <label>Upload Documents</label>
                    <input type="file" ng2FileSelect [uploader]="docsUploader"
                        (change)="docsUploader.uploadAll();isUploading()">
                        <a href={{documentRes}}>{{documentRes}}</a>

                    <br>
                    <small *ngIf="docStatus" style="color: green">File Uploaded Successfully.</small>
                    <small *ngIf="docStatus == false" style="color: red">Failed Try uploading again...</small>
                </div>


            </div>

        </form>
        <button type="button" mt-2 class="btn btn-primary" mat-button matStepperPrevious>Back</button>&nbsp;
        <button type="button" mt-2 class="btn btn-primary" (click)="Save_LegalDoc()" mat-button
            matStepperNext>Next</button>&nbsp;
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Access Control</ng-template>
        <form [formGroup]="accessControlForm">
            <mat-tab-group>
                <mat-tab label="Add Restaurant">
                    <div class="row">
                        <div class="col">
                            <label><b>Agent Can</b></label>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <mat-checkbox>Send reply to a ticket</mat-checkbox>

                    </div>
                    <div class="col-lg-4">
                        <mat-checkbox>Forward a conversation</mat-checkbox>

                    </div>
                </mat-tab>
                <mat-tab label="Manu Management">

                </mat-tab>
                <mat-tab label="Charges">

                </mat-tab>
                <mat-tab label="Notice"></mat-tab>
            </mat-tab-group>
            <button type="button" mt-2 class="btn btn-primary" mat-button matStepperPrevious>Back</button>&nbsp;
            <button type="button" mt-2 class="btn btn-primary" mat-button matStepperNext>Next</button>&nbsp;
        </form>
    </mat-step>
    <mat-step [stepControl]="AssetDetailsForm">
        <ng-template matStepLabel>Asset Details</ng-template>
     
        <form [formGroup]="AssetDetailsForm">
            <div class="table-border-style">
                <div class="table-responsive">
                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                        <thead>
                        <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Date</th>
                        <th>Activity</th>
                        </tr>
                        </thead>
                        <tbody formArrayName="assetsArr" *ngFor="let a of assetData.controls; let i = index">
                        
                        <tr [formGroupName]="i">
                        <td>
                        {{i+1}}
                        </td>
                        <td>
                        
                        <input type="text" placeholder="Name"  formControlName="assets_name" required style="width: 100%;" min="2">
                        </td>
                        <td>
                        <input type="number" placeholder="Quantity"  formControlName="assets_quantity" required style="width: 100%;" min="2">
                        </td>
                        <td>
                        <input type="date" required style="width: 100%;"  formControlName="assets_date" min="2">
                        </td>
                        <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true"
                        (click)="deleteAssetRow(i)"></i>&nbsp;
                        <i class="fa fa-plus mr-2" aria-hidden="true" (click)="addAssetRow()"></i></td>
                        </tr>
                        
                        </tbody>
                        
                        </table>

                        {{assetData | json}}
                </div>
            </div>


            </form>
            <button type="button" mt-2 class="btn btn-primary"  mat-button matStepperPrevious>Back</button>&nbsp;
            <button type="button" mt-2 class="btn btn-primary" (click)="Save_Assets()" mat-button matStepperNext>Next</button>&nbsp;
            </mat-step>
    <mat-step [stepControl]="CredentialsForm">
        <ng-template matStepLabel>Credentials</ng-template>
        <form [formGroup]="CredentialsForm">
            <div class="row">
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Email ID" formControlName="bizUser_email">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Password" formControlName="password">
                    </mat-form-field>
                </div>
               
                <div class="col-lg-6">

                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Admin Username" formControlName="admin_username">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Password" formControlName="admin_password">
                    </mat-form-field>
                </div>
            </div>

        </form><button type="button" mt-2 class="btn btn-primary" mat-button matStepperPrevious>Back</button>&nbsp;
        <button type="button" mt-2 class="btn btn-primary" (click)="BackTo_Page();Save_Credentials()" mat-button
            matStepperNext (click)="stepper.reset()">Save</button>&nbsp;

    </mat-step>

</mat-horizontal-stepper>

<ngx-spinner bdColor="rgba(51,51,51,0.8)">
    <!-- <img src="/assets/images/bizpenguin.png" class="text-center"alt=""> -->
    <h2 class="text-center" style="color:white">Bizly</h2>
    <p style="font-size: 20px; color: white">Uploading, Please wait...</p>
</ngx-spinner>