table{
    width: 100%;
}
input[type='file'] {
    color: transparent;
  }
  .no-change{
    text-transform: none;
  }
  .mat-dialog-container{
    max-width: 80%;
    position: fixed;
    left: 17%;
    top: 5%;
    right: 5%;
    bottom: auto;     
   
    height: 90%;
    position: fixed;
    z-index: 100000;
  }
  