<div class="mat-dialog-container">
<div class="row">
    <div class="col-lg-12">

    </div>
  </div>
  <h5 style="margin-top: -16px;">Charges/Add-Integration</h5>
  <mat-card>
    
    <form #myForm="ngForm">
      <div class="row ml-2 mt-2">
        <div class="col-lg-3">
          <mat-form-field>
            <input matInput placeholder="Name" (focusout)="checkCountry($event)" class="no-change" pattern="[a-zA-Z0-9- ]+" name="integration.integrationName" [(ngModel)]="integration.integrationName" required>
          </mat-form-field>
  
        </div>
        <!-- <div class="col-lg-3">
          <mat-form-field style="width: 100%;">
            <mat-label>Product Associated</mat-label>
            <mat-select name='integration.productAssociated' class="no-change" [(ngModel)]="integration.productAssociated">
              <mat-option *ngFor="let product_associated of product_associated_list" class="no-change" matTooltip="{{product_associated['countryList']}}" [value]="product_associated['product']">
                {{product_associated['product']}}
              </mat-option>
            </mat-select>
  
          </mat-form-field>
        </div> -->
        <div class="col-lg-3">
          <ng-multiselect-dropdown [placeholder]="'Available Countries'" [data]="dropdownList" name="avail_countries"
          [(ngModel)]="avail_countries" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)" required>
        </ng-multiselect-dropdown>
          
        </div>
        <div class="col-lg-3 ml-2">
          <mat-form-field style="width: 100%;">
            <mat-label>Type of Integration</mat-label>
            <mat-select name='integration.TypeOfIntegration' class="no-change" [(ngModel)]="integration.TypeOfIntegration" required>
              <mat-option *ngFor="let type_of_integration of type_of_integration_list" class="no-change" [value]="type_of_integration" >
                {{type_of_integration}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
  
      </div>
      <div class="row ml-2 mt-2">
        <div class="col-lg-6">
          <mat-form-field style="width: 100%;">
            <textarea matInput placeholder="Description" class="no-change" name="integration.description" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="2"
            cdkAutosizeMaxRows="10" required [(ngModel)]="integration.description"></textarea>
            <!-- <mat-error [class.d-none]="addIntegration.get('nameame').valid ||
              addIntegration.get('cuisineName').untouched" class="text-danger">Cuisine name is invalid</mat-error> -->
          </mat-form-field>
  
        </div>
  
        <div class="col-lg-3">
          <label>Select Images:</label>  <div>
            <div class="row ml-2 mt-2">
              <div *ngFor="let m of multiResponse">
                  <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                  <img src="{{m}}" alt="" height="50px" widht="50px">
              </div>
          </div>
            <input  type="file" ng2FileSelect [uploader]="uploader"
                (change)="uploader.uploadAll()" multiple class="hidden" name="image1" id="image1">
                <button><label style="margin-bottom:0 !important" for="image1">Choose files</label></button>
     
    </div>
        </div>
        <div class="col-lg-3">
          <label>Select Videos:</label>  <div>  <div class="row ml-2 mt-1">
            <div *ngFor="let m of multiResponse_video">
              <i class="fa fa-times" aria-hidden="true" (click)="removeVideo(m)"></i>
            <video width="50px" height="50px" controls controlsList=”nodownload”>
              <source src="{{m}}">
          </video>
          </div>
          </div><input  type="file" ng2FileSelect [uploader]="uploader_video"
          (change)="uploader_video.uploadAll()" multiple name="video1" id="video1" class="hidden">  
          <button><label style="margin-bottom:0 !important" for="video1">Choose files</label></button>
  
        </div></div>
  
      </div>
      <div class="row">
        <div class="col-lg-3 ml-4">
          <mat-form-field style="width: 100%;">
            <mat-label>Add ons Associated</mat-label>
            <mat-select name='integration.addOnsAssociated' class="no-change" [(ngModel)]="integration.addOnsAssociated">
              <mat-option *ngFor="let addons_associated of addons_associated_list" class="no-change" matTooltip="{{addons_associated['countryList']}}" [value]="addons_associated" >
                {{addons_associated['addon']}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
  
      <div *ngFor="let data of completeData;let i = index">
       
        <hr>
        <div class="row">
          <div class="col-md-12">
          <div class="text-center">
            <u>{{data.country['item_text']}}</u>
          </div>
          </div>
         
        </div>
        <!-- <hr> -->
        <div class="row">
          
          <div class="col-lg-4">
            <mat-form-field style="width: 100%;">
              <mat-label>Is it Priced?</mat-label>
              <mat-select name='completeData[i].tempfreePriced_{{i}}' [(value)]=completeData[i].freePriced (selectionChange)='freeOrPriced($event,data,i)' 
              [(ngModel)]=completeData[i].freePriced required>
                <mat-option *ngFor="let free_priced of free_priced_list" [value]="free_priced" >
                  {{free_priced}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
          <div class="col-lg-4">
            <mat-form-field style="width: 100%;">
              <mat-label>Used Per Outlet or Chains?</mat-label>
              <mat-select name='completeData[i].soldPerOutlet{{i}}' [(value)]="completeData[i].soldPerOutlet" (selectionChange)='_soldperoutlet($event,data,i)' required [(ngModel)]="completeData[i].soldPerOutlet">
                <mat-option *ngFor="let used_for_Outlet of used_for_Outlet_list" [value]="used_for_Outlet">
                  {{used_for_Outlet}}
                </mat-option>
              </mat-select>
  
            </mat-form-field>
  
          </div>
          
          <div class="col-lg-4"  *ngIf="completeData[i].freePriced=='Yes'">
            <mat-form-field style="width: 100%;">
              <mat-label>Revenue Collection Mode</mat-label>
              <mat-select name='completeData[i].colletionMode{{i}}' [(ngModel)]="completeData[i].colletionMode" [(value)]="completeData[i].colletionMode" (selectionChange)='revenueMode($event, data, i)'  required>
                <mat-option *ngFor="let revenue_Collection_mode of revenue_Collection_mode_list" 
                  [value]="revenue_Collection_mode">
                  {{revenue_Collection_mode}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
         
        
          </div>
         
          <div *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Organization' && (completeData[i].colletionMode=='Per Year'|| completeData[i].colletionMode=='Per Month' || completeData[i].colletionMode=='Per Order' || completeData[i].colletionMode=='One Time') " class="col-md-12">
            
            <div class="row">
              <div class="col-sm-12">
                <mat-card >
                  <div class="table-responsive">
                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                      <thead>
                      <tr>
                        <th>Index</th>
                        <th>Packages</th>
                        <th> <span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> ({{g.symbol}}) </span></span></span>Price/Chain/Packages</th>
                        <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                          <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
                          <td>{{rowIndex+1}}</td>
                            <td>
                              <input type="text" required style="width: 100%;" name="completeData{{i}}packages{{rowIndex}}" [(ngModel)]='completeData[i].tableData[rowIndex].packages'>
                          </td>
                          <td>
                            <input type="text" required style="width: 100%;" (keypress)="numberOnly($event)" name="completeData{{i}}price{{rowIndex}}" (focusout)="processPrice(i, rowIndex)" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]='completeData[i].tableData[rowIndex].price'>
                          </td> 
                          <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true" (click)="deleteRow(rowIndex, i)"></i></td>
                        </tr>
                        <tr style="border: 0px;">
                          <td></td>
                          <td>
                            <input type="text"  name="completeData[i].outletObj.packages{{i}}" [(ngModel)]='completeData[i].outletObj.packages'>
                          </td>
                          <td>
                            <input type="text" name="completeData[i].outletObj.price{{i}}" onKeyPress="if(this.value.length==10) return false;" [(ngModel)]='completeData[i].outletObj.price' (keypress)="numberOnly($event)" (focusout)="processMyValue(i); pushIntegrationOutlet(completeData[i].soldPerOutlet,completeData[i],i)">
                          </td>
                          <td><button (click)='pushIntegrationOutlet(completeData[i].soldPerOutlet,completeData[i],i)'><i class="fa fa-plus mr-2" aria-hidden="true"></i></button></td>
              
                        </tr>
        
                      </tbody>
                        </table>
                  </div>
                      </mat-card>
                      </div>
                      </div>
           
            </div>
              <!-- Package -->
       <div
       *ngIf="completeData[i].tempfreePriced=='Yes' && completeData[i].tempsoldPerOutlet=='Per Outlet' && completeData[i].tempcolletionMode=='Package' "
       class="col-lg-12">
       <div *ngIf='completeData[i].perPackageTable.length'>
         <div
           *ngFor='let outerTable of completeData[i].perPackageTable;let outerTableIndex = index;'>
           <div class="row m-3">
             <div class="col-md-2">
               <label>Package</label>
             </div>
               <div class="col-md-4">                
                 <input type="text" style="width: 100%;" required [(ngModel)]="completeData[i].perPackageTable[outerTableIndex].packageValue" name='completeData{{i}}.perPackageTable{{outerTableIndex}}.packageValue'>
               </div>
               <div class="offset-5 col-md-1">

                 <i class="fa fa-plus mr-3" aria-hidden="true" (click)='duplicatePackageTable(i, outerTableIndex)'  *ngIf='outerTableIndex == completeData[i].perPackageTable.length-1'></i>
                 <i class="ml-3" *ngIf="outerTableIndex !=0" class="fa fa-trash" aria-hidden="true"
                 (click)="deletePackageTable( outerTableIndex, i)"></i>
               </div>
               </div>
               <div class="table-responsive m-3 row">
             <table datatable class="table table-striped table-bordered nowrap table-hover"
               *ngFor='let inner of outerTable.table;let innertableindex = index'>
               <thead>
                 <tr>
                   <th>Index</th>
                   <th>Outlet From</th>
                   <th>Outlet to</th>
                   <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> ({{g.symbol}}) </span></span></span>Prices/Outlet Per Order</th>
                   <th>Activity</th>
                 </tr>
               </thead>
               <tbody>
                 <tr *ngFor='let row of inner.innerTable;let rowIndex = index'>
                   <td>
                     {{rowIndex + 1}}
                   </td>
                   <td>
                     <input type="number" style="width: 100%;"
                       [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].from'
                       name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.innerTable{{rowIndex}}.from'
                       onKeyPress="if(this.value.length==4) return false;" required disabled="disabled" (keypress)="e($event)"
                   >
                   </td>
                   <td>
                     <input type="number" style="width: 100%;"
                       [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].to'
                       name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.innerTable{{rowIndex}}.to'
                       onKeyPress="if(this.value.length==4) return false;" required (keypress)="e($event)" (keyup)="checkValue($event)"  (focusout)='checkRangeInPackageTable(rowIndex,innertableindex, outerTableIndex,completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].to,completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable,$event, i, completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable.length)'>
                      
                   </td>
                   <td>
                     <input type="text" style="width: 100%;" required
                       [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable[rowIndex].price'
                       name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.innerTable{{rowIndex}}.price'
                       onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)"
                    (focusout)="processPackagePrice(i,outerTableIndex,innertableindex, rowIndex, $event)"
                   required>
                   </td>
                   <td style="border: 0px;"><i class="fa fa-trash" (click)="deleteRowInnerTable(i,outerTableIndex,innertableindex,rowIndex, completeData[i].perPackageTable[outerTableIndex].table[innertableindex].innerTable.length)" aria-hidden="true"></i></td>
                 </tr>
                 <tr style="border: 0px;" *ngIf="this.completeData[i].perPackageTable[outerTableIndex].table[innertableindex].from<2000">
                   <td>
                     #
                   </td>
                   <td>
                     <input type="number" style="width: 100%;"
                       [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].from'
                       name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.from'
                       (keypress)="e($event)" disabled="disabled" onKeyPress="if(this.value.length==4) return false;"
                   >
                   </td>
                   <td>
                     <input type="number" style="width: 100%;"
                       [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].to'
                       name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.to{{rowIndex}}'
                       (focusout)='checkRangeInpackage(outerTableIndex,completeData[i].perPackageTable[outerTableIndex].table[innertableindex].to,i,completeData[i].perPackageTable[outerTableIndex].table[0],$event)'
                   onKeyPress="if(this.value.length==4) return false;" (keyup)="checkValue($event)">
                   </td>
                   <td>
                     <input type="text" style="width: 100%;"
                       [(ngModel)]='completeData[i].perPackageTable[outerTableIndex].table[innertableindex].price'
                       name='completeData{{i}}.perPackageTable{{outerTableIndex}}.table{{innertableindex}}.price{{rowIndex}}'
                       onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)" 
                   (focusout)="processPackageOutletPrice(i, outerTableIndex, $event); addRowToInnerTable(i,outerTableIndex, innertableindex, rowIndex, completeData[i].perPackageTable[outerTableIndex].table[innertableindex])">
                   </td>
                   <td>
                     <button
                       (click)='addRowToInnerTable(i,outerTableIndex, innertableindex, rowIndex, completeData[i].perPackageTable[outerTableIndex].table[innertableindex])'>
                       <i class="fa fa-plus mr-2" aria-hidden="true"> </i>
                     </button>
                   </td>
                 </tr>
               </tbody>
             </table></div>
           <!-- </div> -->
         </div>
       </div>
       <!--here -->
     </div>
     <!-- /package -->

            <div *ngIf="completeData[i].freePriced=='Yes' && completeData[i].soldPerOutlet=='Per Outlet' && (completeData[i].colletionMode=='Per Year'|| completeData[i].colletionMode=='Per Month' || completeData[i].colletionMode=='Per Order' || completeData[i].colletionMode=='One Time') " class="col-md-12">
            
              <div class="row">
                <div class="col-sm-12">
                  <mat-card >
                    <div class="table-responsive">
                      <table datatable class="table table-striped table-bordered nowrap table-hover">
                        <thead>
                        <tr>
                          <th>Index</th>
                          <th>Packages</th>
                          <th>Outlets From</th>
                          <th>Outlets To</th>
                          <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> ({{g.symbol}}) </span></span></span>Prices {{completeData[i].colletionMode}} Per Outlet</th>
                          <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor='let row of completeData[i].tableData;let rowIndex = index'>
                            <!-- <td colspan="3">{{completeData[i]|JSON}}</td> -->
                            <td>{{rowIndex+1}}</td>
                             
                            <td>
                              <input type="text" required style="width: 100%;" name="completeData{{i}}packages{{rowIndex}}" [(ngModel)]='completeData[i].tableData[rowIndex].packages'>
                          </td>
                          <td>
                            <input type="number"   required style="width: 100%;" name="completeData{{i}}from{{rowIndex}}" (keypress)="e($event)" onKeyPress="if(this.value.length==4) return false;" [(ngModel)]='completeData[i].tableData[rowIndex].from' disabled="disabled">
                        </td>
                        <td>
                          <input type="number" (keyup)="checkValue($event)" (focusout)='checkRangeInTable(rowIndex,completeData[i].tableData[rowIndex].to,completeData[i].tableData,$event, i, completeData[i].tableData.length)' required style="width: 100%;" name="completeData{{i}}to{{rowIndex}}" (keypress)="e($event)" onKeyPress="if(this.value.length==4) return false;" [(ngModel)]='completeData[i].tableData[rowIndex].to'>
                      </td>
                            <td>
                              <input type="text" required style="width: 100%;" name="completeData{{i}}price{{rowIndex}}"  onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)" (focusout)="processPrice(i, rowIndex)" [(ngModel)]='completeData[i].tableData[rowIndex].price'>
                            </td> 
                            <td style="border: 0px;"><i class="fa fa-trash" aria-hidden="true" (click)="deleteRowOutlet(rowIndex, i, completeData[i].tableData.length)"></i></td>
                          </tr>
                          <tr style="border: 0px;" *ngIf="this.completeData[i].outletObj.from<2000">
                            <td></td>
                            <td>
                              <input type="text"  name="completeData[i].outletObj.packages{{i}}" [(ngModel)]='completeData[i].outletObj.packages'>
                            </td>
                            <td>
                              <input type="number" (focusout)='checkRange(completeData[i].outletObj.from,i,completeData[i].tableData,$event)' name="completeData[i].outletObj.from{{i}}" onKeyPress="if(this.value.length==4) return false;" [(ngModel)]='completeData[i].outletObj.from' (keypress)="e($event)" disabled="disabled">
                            </td>
                            <td>
                              <input type="number" name="completeData[i].outletObj.to{{i}}" (keyup)="checkValue($event)" (focusout)='checkRange(completeData[i].outletObj.to,i,completeData[i].tableData,$event)' onKeyPress="if(this.value.length==4) return false;" [(ngModel)]='completeData[i].outletObj.to' (keypress)="e($event)">
                            </td>
                            <td>
                              <input type="number" name="completeData[i].outletObj.price{{i}}" onKeyPress="if(this.value.length==10) return false;" (keypress)="numberOnly($event)" (focusout)="processMyValue(i); pushIntegrationOutlet(completeData[i].soldPerOutlet,completeData[i],i)" [(ngModel)]='completeData[i].outletObj.price'>
                            </td>
                            <td><button (click)='pushIntegrationOutlet(completeData[i].soldPerOutlet, completeData[i],i)'><i class="fa fa-plus mr-2" aria-hidden="true"></i></button></td>
                
                          </tr>
          
                        </tbody>
                          </table>
                    </div>
                        </mat-card>
                        </div>
                        </div>
               
  
            
             
              </div>
          </div>
  
    
  
  
    <div class="row ml-2 mt-4">
      
      <div class="offset-2 col-lg-6" style="text-align: center;">
        <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
        <button class="btn btn-primary" (click)="add_Integration(); clicked=true" [disabled]="clicked" [disabled]="!myForm.valid" >Add Integration</button>
        <button class="btn btn-danger ml-3" (click)="onNoClick()"> Back</button>
      </div>
      
    </div>
  
  </form>
  </mat-card>
  
  
  
  </div>