<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Add Category</h5>
<mat-card>
    <div class="container">


        <div>
            <form [formGroup]="addCategoryForm">
                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <mat-form-field>
                            <input matInput placeholder="Add New Category" (focusout)="checkCategoryExist($event)" [class.is-invalid]="addCategoryForm.get('categoryName').invalid &&
                            addCategoryForm.get('categoryName').touched" formControlName="categoryName">
                            <mat-error [class.d-none]="addCategoryForm.get('categoryName').valid ||
                            addCategoryForm.get('categoryName').untouched" class="text-danger">Category name is invalid
                            </mat-error>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selectedAlbums">
                        <mat-chip color="accent" [selected]="true" class="transform">
                            {{s.cuisineName}} <i class="fas fa-times-circle ml-2" (click)="removePubs(s)"></i>
                        </mat-chip>
                    </div>

                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Search Cuisines or select from below" (keyup)="applyFilterCuisine($event)">
                        </mat-form-field>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>

                </div>


                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 " *ngFor="let c of cuisines">
                        <mat-chip (click)="onCheckCuisine(c)" class="transform">
                            {{c.cuisineName}}
                        </mat-chip>
                    </div> &nbsp;<i class="fas fa-plus-circle mt-1" (click)="openAddCuisinesDialog()">New Cuisine</i>
                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selectedTags">
                        <mat-chip color="accent" [selected]="true" class="transform">
                            {{s.tagName}} <i class="fas fa-times-circle ml-2" (click)="removeTags(s)"></i>
                        </mat-chip>
                    </div>

                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Search Tags or select from below" (keyup)="applyFilterTags($event)">
                        </mat-form-field>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>

                </div>


                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 " *ngFor="let t of tags">
                        <mat-chip (click)="onCheckTags(t)" class="transform">
                            {{t.tagName}}
                        </mat-chip>
                    </div> &nbsp;<i class="fas fa-plus-circle mt-1" (click)="openAddTagDialog()">New Tag</i>
                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <h5>Add Images</h5>
                    </div>

                </div>

                <div class="row ml-2 mt-2">
                    <div *ngFor="let m of multiResponse">
                        <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                        <img src="{{m}}" alt="" height="50px" widht="50px">
                    </div>
                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <div>
                           
                                <input  type="file" ng2FileSelect [uploader]="uploader"
                                    (change)="uploader.uploadAll(); setLoading()" multiple>
                         
                        </div>
                    </div>
                </div>


            </form>


            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                 
                    <button class="btn btn-primary" [disabled]="!addCategoryForm.valid" (click)="onAddCategory();setLoading()">Add
                        Category</button>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</mat-card>