<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/users">Back</button>

<h5 style="margin-top: -16px;">Users / Create User</h5>
<mat-card>
    <div class="container">
       
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="personalDetailsForm">
          <form [formGroup]="personalDetailsForm">
            <ng-template matStepLabel>Personal Details</ng-template>
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Employee Name" [class.is-invalid]="personalDetailsForm.get('employeeName').invalid &&
                          personalDetailsForm.get('employeeName').touched" formControlName="employeeName">
                  <mat-error [class.d-none]="personalDetailsForm.get('employeeName').valid ||
                          personalDetailsForm.get('employeeName').untouched">Employee name is
                    Invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Contact Number" [class.is-invalid]="personalDetailsForm.get('contactNumber').invalid &&
                          personalDetailsForm.get('contactNumber').touched" formControlName="contactNumber"
                    maxlength="10" minlength="10">
                  <mat-error [class.d-none]="personalDetailsForm.get('contactNumber').valid ||
                          personalDetailsForm.get('contactNumber').untouched">Contact No is
                    Invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Email ID" [class.is-invalid]="personalDetailsForm.get('emailID').invalid &&
                          personalDetailsForm.get('emailID').touched" formControlName="emailID">
                  <mat-error [class.d-none]="personalDetailsForm.get('emailID').valid ||
                          personalDetailsForm.get('emailID').untouched">email ID is
                    Invalid</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <label>Photo:</label>
                <input type="file" formControlName="photo">
              </div>
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Address" [class.is-invalid]="personalDetailsForm.get('address').invalid &&
                        personalDetailsForm.get('address').touched" formControlName="address">
                  <mat-error [class.d-none]="personalDetailsForm.get('address').valid ||
                        personalDetailsForm.get('address').untouched">Address is Invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-radio-group aria-mat-label="mat-select an mat-option" formControlName="gender">
                  <mat-radio-button value="Male" checked>Male</mat-radio-button>&nbsp;
                  <mat-radio-button value="Female">Female</mat-radio-button>&nbsp;
                  <!-- <mat-radio-button value="Online Take-Away">Online Take-Away</mat-radio-button> -->
  
                </mat-radio-group>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
  
                  <input matInput [matDatepicker]="picker" placeholder="Birthdate" [class.is-invalid]="personalDetailsForm.get('birthDate').invalid &&
                        personalDetailsForm.get('birthDate').touched" formControlName="birthDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error [class.d-none]="personalDetailsForm.get('birthDate').valid ||
                        personalDetailsForm.get('birthDate').untouched">Choose a Date of birth</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
  
                  <mat-label>Blood group</mat-label>
                  <mat-select formControlName='bloodGroup' [class.is-invalid]="personalDetailsForm.get('bloodGroup').invalid &&
                        personalDetailsForm.get('bloodGroup').touched">
                    <mat-option *ngFor="let bloodGroup of blood_group_list" [value]="bloodGroup">
                      {{bloodGroup}}
                    </mat-option>
                  </mat-select>
                  <mat-error [class.d-none]="personalDetailsForm.get('bloodGroup').valid ||
                        personalDetailsForm.get('bloodGroup').untouched">mat-select Blood Group</mat-error>
                </mat-form-field>
  
  
              </div>
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
  
                  <mat-label>Marital Status</mat-label>
                  <mat-select formControlName='marritalStatus' [class.is-invalid]="personalDetailsForm.get('marritalStatus').invalid &&
                        personalDetailsForm.get('marritalStatus').touched">
                    <mat-option *ngFor="let marritalStatus of marital_status_list" [value]="marritalStatus">
                      {{marritalStatus}}
                    </mat-option>
                  </mat-select>
                  <mat-error [class.d-none]="personalDetailsForm.get('marritalStatus').valid ||
                        personalDetailsForm.get('marritalStatus').untouched">mat-select Marital Status</mat-error>
  
  
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Emergency Contact person Name"
                    formControlName="emergencyContactPersonName">
                </mat-form-field>
              </div>
            </div>
            <div>
  
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="workDetailsForm">
          <form [formGroup]="workDetailsForm">
            <ng-template matStepLabel>Work Details</ng-template>
            <div class="row">
              <div class="col-lg-12">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Work Schedule" [class.is-invalid]="workDetailsForm.get('workSchedule').invalid &&
                            workDetailsForm.get('workSchedule').touched" formControlName="workSchedule">
                  <mat-error [class.d-none]="workDetailsForm.get('workSchedule').valid ||
                        workDetailsForm.get('workSchedule').untouched">Choose Work Schedule</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Employee" formControlName="employee" [class.is-invalid]="workDetailsForm.get('employee').invalid &&
                            workDetailsForm.get('employee').touched">
                  <mat-error [class.d-none]="workDetailsForm.get('employee').valid ||
                        workDetailsForm.get('employee').untouched">Employee is Invalid</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
  <label>Non-Disclosure Aggrement:</label>
                <input type="file" class="ml-2" formControlName="photo" placeholder="Non-Disclosure Aggrement"
                  formControlName="nonDisclosureAggrement">
  
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="bankpaymentDetailsForm">
          <form [formGroup]="bankpaymentDetailsForm">
            <ng-template matStepLabel>Bank Payment Details</ng-template>
            <div class="row">
              
  
                <div class="col-lg-4">
            
                    <mat-form-field style="width: 100%;">
                      <mat-label>Account Number</mat-label>
                      <input matInput [class.is-invalid]="bankpaymentDetailsForm.get('account_no').invalid &&
                                bankpaymentDetailsForm.get('account_no').touched" formControlName="account_no"
                        minlength="7" maxlength="20">
                      <mat-error [class.d-none]="bankpaymentDetailsForm.get('account_no').valid ||
                                    bankpaymentDetailsForm.get('account_no').untouched">
                        Account no is Invalid</mat-error>
                    </mat-form-field>
  
  
                  
                </div>
                <div class="col-lg-4">
                  <mat-form-field style="width: 100%;">
                                      <mat-label>Account Type</mat-label>
                    <mat-select [class.is-invalid]="bankpaymentDetailsForm.get('account_type').invalid &&
                                bankpaymentDetailsForm.get('account_type').touched" formControlName="account_type">
                      <mat-option value="acc_type" *ngFor="let acc_type of account_types">{{acc_type}}</mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="bankpaymentDetailsForm.get('account_type').valid ||
                                    bankpaymentDetailsForm.get('account_type').untouched"> Select account type</mat-error>
                                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                
                    <mat-form-field style="width: 100%;">
                      <mat-label>Bank Name</mat-label>
                      <input matInput [class.is-invalid]="bankpaymentDetailsForm.get('bank_name').invalid &&
                                bankpaymentDetailsForm.get('bank_name').touched" formControlName="bank_name">
                      <mat-error [class.d-none]="bankpaymentDetailsForm.get('bank_name').valid ||
                                    bankpaymentDetailsForm.get('bank_name').untouched">
                        Bank name is Invalid</mat-error>
                    </mat-form-field>
                  
                </div>
                
  
  
      
              <div class="row ml-2" style="width: 100%;">
                <div class="col-lg-4">
                
                  <mat-form-field style="width: 100%;">
                    <mat-label>Branch Name</mat-label>
                    <input matInput [class.is-invalid]="bankpaymentDetailsForm.get('branch_name').invalid &&
                              bankpaymentDetailsForm.get('branch_name').touched" formControlName="branch_name">
                    <mat-error [class.d-none]="bankpaymentDetailsForm.get('branch_name').valid ||
                                  bankpaymentDetailsForm.get('branch_name').untouched">
                      Branch name is Invalid</mat-error>
                  </mat-form-field>
                
              </div>
                <div class="col-lg-4">
                  
                    <mat-form-field style="width: 100%;">
                      <mat-label>City</mat-label>
                      <input matInput [class.is-invalid]="bankpaymentDetailsForm.get('bank_city').invalid &&
                                bankpaymentDetailsForm.get('bank_city').touched" formControlName="bank_city">
                      <mat-error [class.d-none]="bankpaymentDetailsForm.get('bank_city').valid ||
                                    bankpaymentDetailsForm.get('bank_city').untouched">
                        City is Invalid</mat-error>
                    </mat-form-field>
            
                </div>
                <div class="col-lg-4">
                  
                    <mat-form-field style="width: 100%;">
                      <mat-label>Address</mat-label>
                      <input matInput [class.is-invalid]="bankpaymentDetailsForm.get('bank_address').invalid &&
                                bankpaymentDetailsForm.get('bank_address').touched" formControlName="bank_address">
                      <mat-error [class.d-none]="bankpaymentDetailsForm.get('bank_address').valid ||
                                    bankpaymentDetailsForm.get('bank_address').untouched">
                        Bank address is Invalid</mat-error>
                    </mat-form-field>
                
                </div>
                
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4">
            
                  <mat-form-field style="width: 100%;">
                    <mat-label>IFSC Code</mat-label>
                    <input matInput [class.is-invalid]="bankpaymentDetailsForm.get('bank_ifsccode').invalid &&
                              bankpaymentDetailsForm.get('bank_ifsccode').touched" formControlName="bank_ifsccode"
                      maxlength="11" minlength="11">
                    <mat-error [class.d-none]="bankpaymentDetailsForm.get('bank_ifsccode').valid ||
                                  bankpaymentDetailsForm.get('bank_ifsccode').untouched">
                      IFSC code is Invalid</mat-error>
                  </mat-form-field>
            
              </div>
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Salary Per Scale" [class.is-invalid]="bankpaymentDetailsForm.get('salaryPerScale').invalid &&
                            bankpaymentDetailsForm.get('salaryPerScale').touched" formControlName="salaryPerScale">
                  <mat-error [class.d-none]="bankpaymentDetailsForm.get('salaryPerScale').valid ||
                                    bankpaymentDetailsForm.get('salaryPerScale').untouched">
                    Salary Per Scale is Invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Allowance" [class.is-invalid]="bankpaymentDetailsForm.get('allowance').invalid &&
                              bankpaymentDetailsForm.get('allowance').touched" formControlName="allowance">
                  <mat-error [class.d-none]="bankpaymentDetailsForm.get('allowance').valid ||
                                    bankpaymentDetailsForm.get('allowance').untouched">
                    Allowance is Invalid</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="documentForm">
          <form [formGroup]="documentForm">
            <ng-template matStepLabel>Documents</ng-template>
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Aadhar Card Number & Proof" maxlength="14" minlength="14" [class.is-invalid]="documentForm.get('aadharCardNumberAndProof').invalid &&
                  documentForm.get('aadharCardNumberAndProof').touched" 
                  formControlName="aadharCardNumberAndProof">
                  <mat-error [class.d-none]="documentForm.get('aadharCardNumberAndProof').valid ||
                  documentForm.get('aadharCardNumberAndProof').untouched">
                  Aadhar Card Number is Invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Driving Licence" [class.is-invalid]="documentForm.get('drivingLicence').invalid &&
                  documentForm.get('drivingLicence').touched" formControlName="drivingLicence">
                  <mat-error [class.d-none]="documentForm.get('drivingLicence').valid ||
                  documentForm.get('drivingLicence').untouched">
                  Driving Licence is Invalid</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Passport" [class.is-invalid]="documentForm.get('passport').invalid &&
                  documentForm.get('passport').touched" formControlName="passport">
                  <mat-error [class.d-none]="documentForm.get('passport').valid ||
                  documentForm.get('passport').untouched">
                  Passport number is Invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                  <input matInput [matDatepicker]="picker1" placeholder="Joining Date" [class.is-invalid]="documentForm.get('joiningDate').invalid &&
                  documentForm.get('joiningDate').touched" formControlName="joiningDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error [class.d-none]="documentForm.get('joiningDate').valid ||
                  documentForm.get('joiningDate').untouched">Choose a Joining Date</mat-error>
                  
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Assigned To City" [class.is-invalid]="documentForm.get('assignedToCity').invalid &&
                  documentForm.get('assignedToCity').touched" formControlName="assignedToCity">
                  <mat-error [class.d-none]="documentForm.get('assignedToCity').valid ||
                  documentForm.get('assignedToCity').untouched">City is Invalid</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                  
                  <input matInput placeholder="Assigned To Locality" [class.is-invalid]="documentForm.get('assignedToLocality').invalid &&
                  documentForm.get('assignedToLocality').touched" formControlName="assignedToLocality">
                  <mat-error [class.d-none]="documentForm.get('assignedToLocality').valid ||
                  documentForm.get('assignedToLocality').untouched">City is Invalid</mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <mat-form-field style="width: 100%;">
                  <input matInput placeholder="Assets Provided" formControlName="assetprovided">
                </mat-form-field>
              </div>
              <div class="col-lg-6">
                <label>Joining Letter:</label>
                <input type="file" formControlName="joiningLetter">            
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <label>Add Document</label>
                  <input type="file" formControlName="addDocument">
                                
              </div>
  
            </div>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext (click)="stepper.reset()">Next</button>
            </div>
          </form>
        </mat-step>
  
      </mat-horizontal-stepper>
          

</div>
</mat-card>
