<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Create Album</h2>
        </div>
    
        <div class="col-md-3">
            <i class="fa fa-window-close float-right" style="margin-left: 52px; margin-top: -7px;" aria-hidden="true"
                mat-dialog-close></i>
        </div>
    </div>
    
    
    <div mat-dialog-content>
    
        <div class="row">
            <div class="col-lg-12">
                <h5>Selected Albums</h5>
            </div>
        </div>
        <div class="row ml-2 mt-2">
            <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selectedAlbums">
                <mat-chip color="accent" [selected]="true">
                    {{s}} <i class="fas fa-times-circle ml-2" (click)="removePubs(s)"></i>
                </mat-chip>
            </div>
    
        </div>
    
        <div class="row ml-2 mt-2">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Search">
                </mat-form-field>
                &nbsp;<button class="btn btn-primary float-right" style="width: 10%;">Add</button>
            </div>          
    
        </div>

        <div class="row ml-2 mt-2">
            <div class="col-lg-12" *ngFor="let a of FilteredList">
                <h3 class="ml-2 mt-2">{{a.title}}</h3>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let b of a.value">
                        <mat-chip (click)="onCreateAlbum(a,b)">
                            {{b}}
                        </mat-chip>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ml-2 mt-4">
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-6">
                <button class="btn btn-primary" mat-dialog-close>Cancel</button>&nbsp;
                <button class="btn btn-primary" cdkFocusInitial   (click)="onAddAlbum()" mat-dialog-close>Add Album</button>
            </div>
            <div class="col-lg-3">
               
            </div>
        </div>
             
    </div>
</div>