<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/beverages_and_retailfood">Back</button>

<h5 style="margin-top: -16px;">Beverages and Retail Food / Add Beverage</h5>
<mat-card #customLoadingTemplate>
    <div class="container">


        <div>
            <form [formGroup]="addBeverageForm">
                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Add Beverage Name" [class.is-invalid]="addBeverageForm.get('beverageName').invalid &&
                            addBeverageForm.get('beverageName').touched" formControlName="beverageName">
                            <mat-error [class.d-none]="addBeverageForm.get('beverageName').valid ||
                            addBeverageForm.get('beverageName').untouched" class="text-danger">
                                Dish name is Invalid</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field>
                            <mat-label>Set Unit Type</mat-label>
                            <mat-select formControlName="unit">
                                <mat-option *ngFor="let unit of dishUnits" [value]="unit">
                                    {{unit}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-radio-group aria-label="Select an option" formControlName="veg_nonveg">
                            <mat-radio-button value="Veg" checked>Veg</mat-radio-button>&nbsp;
                            <mat-radio-button value="Non-Veg">Non-Veg</mat-radio-button>&nbsp;
                            <mat-radio-button value="Sea Food">Sea Food</mat-radio-button>&nbsp;
                            <mat-radio-button value="Egg">Egg</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>

              
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <ul>
                            <li> <span>In House Beverages</span>
                                <ul id="myUL">
                                    <li *ngFor="let rootCategory of allInHouseBeveragesCategories; let i=index"><span class="caret"
                                        (click)="caretClick()"><span *ngIf="rootCategory['subCategories'].length==0"><mat-radio-button value="rootCategory.rootCategoryName" (change)="getroot(rootCategory); getRadiovalue(rootCategory['_id'], rootCategory['rootCategoryName'])">
                                        </mat-radio-button></span>{{rootCategory.rootCategoryName}}
                                      </span>
                        
                                      <ul class="nested">
                        
                                        <li *ngFor="let subCategory of rootCategory.subCategories"><span *ngIf="subCategory['subSubCategories'].length==0"><mat-radio-button value="rootCategory.rootCategoryName" (change)="getroot(rootCategory,subCategory); getRadiovalue(subCategory['_id'], subCategory['subCategoryName'])">
                                        </mat-radio-button></span><span class="caret"
                                            (click)="caretClick()">
                                            {{subCategory.subCategoryName}} 
                                          </span>
                                          <ul class="nested">
                                            <li *ngFor="let subSubCategory of subCategory.subSubCategories"><span class="caret"
                                                 (click)="caretClick()"><span *ngIf="subSubCategory['subSubCategoryType'].length==0"><mat-radio-button value="rootCategory.rootCategoryName" (change)="getroot(rootCategory,subCategory, subSubCategory); getRadiovalue(subSubCategory['_id'], subSubCategory['subSubCategoryName'])">
                                                </mat-radio-button></span>
                                                {{subSubCategory.subSubCategoryName}}
                                              </span>
                                              <ul class="nested">
                        
                                                <li *ngFor="let type of subSubCategory.subSubCategoryType">
                                                  <span>
                                                    <span><mat-radio-button value="type['subSubCategoryTypeName']" (change)="getroot(rootCategory,subCategory, subSubCategory,type); getRadiovalue(type['_id'], type['subSubCategoryTypeName'])" > </mat-radio-button></span> {{type['subSubCategoryTypeName']}}
                                                  </span>
                                                </li>
                                                <i class="fa fa-plus mb-2"
                                                  (click)="openBeveragesSubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                                                  aria-hidden="true"> Add Sub Sub Category Type</i>
                                              </ul>
                                            </li>
                                            <i class="fa fa-plus mb-2"
                                              (click)="openBeveragesSubSubCategoryDialog(rootCategory._id, subCategory._id)"
                                              aria-hidden="true">
                                              Add Sub Sub Category</i>
                                          </ul>
                                        </li>
                                        <i class="fa fa-plus mb-2" (click)="openBeveragesSubCategoryDialog(rootCategory._id)"
                                          aria-hidden="true"> Add
                                          Sub Category</i>
                                      </ul>
                                    </li>
                                    <i class="fa fa-plus mb-2" (click)="openBeveragesRootCategoryDailog('inHouseBeverage')"
                                      aria-hidden="true"> Add Root
                                      Category</i>
                        
                                  </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <h5>Add Images</h5>
                    </div>

                </div>
          
                <div class="row ml-2 mt-2">
                    <div *ngFor='let url of multiResponse'>
                        <i class="fa fa-times" aria-hidden="true" (click)="removeImage(url)"></i>
                        <img [src]="url" class="ml-2" style="height: 70px; width: 70px;">
                    </div>
                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <div>
                           
                                <input  type="file" name="beverages" ng2FileSelect [uploader]="uploader"
                                    (change)="uploader.uploadAll(); setLoading()"  multiple>
                          
                        </div>
                    </div>
                </div>


            </form>


            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary" [disabled]="!addBeverageForm.valid" (click)="onAddAlbum()">Add
                        Beverage</button>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</mat-card>