
<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>View Circular Template</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
    </div>
      <div class="table-border-style">
          <div class="table-responsive">
              <table class="table table-bordered">
                 
                  <tbody>
                      <!-- <tr>
                          <td>Template ID</td>
                          <td>{{data.template_Id}}</td>
                      </tr> -->
                      <tr>
                          <td>Circular ID</td>
                          <td>{{element.circular_Id}}  </td>
                      </tr>
                      <tr>
                          <td>Circular Date/Time </td>
                          <td>{{element.circular_Date_Time}}</td>
                      </tr>
                     
                      <tr>
                          <td>Circular Subject/Heading</td>
                          <td>{{element.circular_subject}}</td>
                      </tr>
                      <tr>
                          <td>Circular For(Roles or Employees)</td>
                          <td> {{element.circular_roles}} </td>
                      </tr>
                      <tr>
                        <td>Circular Mode</td>
                        <td>{{element.circular_mode}}</td>
                    </tr>
                    <tr>
                        <td>Created by & On</td>
                        <td>{{element.created_by_On}}</td>
                    </tr>
                    


                    
                  </tbody>
              </table>
          </div>
      </div>


</div>

