
<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-8">
            <h5>View Attribute</h5>
        </div>

        <div class="col-md-4">
            <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>

        </div>  
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label>Attribute Code</label>
        </div>
        <div class="col-lg-6">
            <p>{{data.attributeCode}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label>Attribute Name</label>
        </div>
        <div class="col-lg-6">
            <p>{{data.attributeName}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
        <label>Display Name</label>
    </div>
    <div class="col-lg-6">
        {{data.display_name}}
    </div>
    
</div>
    <div class="row">
        <div class="col-lg-6">
            <label>Added By</label>
            <p>{{data.addedBy.userName}}</p>
        </div>
        <div class="col-lg-6">
            <label>Date and Time</label>
            <p>{{data.updatedAt | date:'medium'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label>Response Type</label>
            <p>{{response.elementName}}</p>
        </div>
    </div>
    <div class="row" *ngIf="inputbox">

        <div class="col-lg-6">
            <mat-form-field class="example-full-width" style="width: 80%;">
                <input matInput [placeholder]="inputBoxPlaceholder" disabled>
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="yesorNo">
        <div class="col-lg-4">
            <mat-radio-group aria-label="Select an option" disabled>
                <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;
                <mat-radio-button value="No">No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="row ml-2 mt-2" *ngIf="radiobutton">
        <div class="col-lg-4" *ngFor="let option of radioOptions">
            <mat-radio-group aria-label="Select an option" disabled>
                <mat-radio-button [value]="option">{{option.optionLable}}</mat-radio-button> &nbsp;
            </mat-radio-group>&nbsp;
            <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
        </div>
    </div>
 
    <div class="row ml-2 mt-2" *ngIf="checkbox">
        <div class="col-lg-4" *ngFor="let option of checkBoxOptions">
            <mat-checkbox disabled>{{ option.optionLable }}</mat-checkbox> &nbsp;
            <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
        </div>
    </div> 


    <!-- <div class="table-border-style">
        <div class="table-responsive">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>Attribute Code</td>
                        <td>{{data._id}}</td>
                    </tr>
                    <tr>
                        <td>Attribute Name</td>
                        <td>{{data.attributeName}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{data.elementName.elementName}}</td>
                    </tr>
                    <tr>
                        <td>Root Drink Type</td>
                        <td>{{data.rootDrinkType}} </td>
                    </tr>
                    <tr>
                        <td>Liquor Varient</td>
                        <td>{{data.liquorVarient}}</td>
                    </tr>
                    <tr>
                        <td> Liquor Sub Varient</td>
                        <td>{{data.liquorSubVarient}}</td>
                    </tr>
                    <tr>
                        <td> Liquor Sub Sub Varient</td>
                        <td>{{data.liquorSuVarientType}}</td>
                    </tr>
                    <tr>
                        <td>Added By</td>
                        <td>{{addedBy}}</td>
                    </tr>
                    <tr>
                        <td>Date and Time</td>
                        <td>{{data.updatedAt | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
    <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>

</div>