<div class="container">
  <h5>POS Orders</h5>
</div>

<style>
  .tab-content > .active {
    display: block;
    padding: 1em 0em;
}
</style>

<div class="container main">
  <div class="row">
    <div class="col-md-12 layout_section">
      <!-- Nav tabs -->
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs md-tabs nav-justified primary-color" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" (click)="getallProductOrder()" href="#product" role="tab">
                Product</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#addon"  (click)="getallAddonOrder()" role="tab">
                Addons</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab"  (click)="getallIntegrationOrder()" href="#integration" role="tab">
                Integrations</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade in show active" id="product" role="tabpanel">
          <div class="row">
            <div class="col-md-12">
              
                <ng-template matStepLabel>Product And Add Ons</ng-template>
                <div class="row">
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Outlets using POS</h6>
                      <h3>{{totalPOSProductOutlets}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Product Orders</h6>
                      <h3>{{totalPOSProductOrders}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Order Rev Amt</h6>
                      <h3>{{totalPOSProductOrderRevenueAmt}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Discount Amount</h6>
                      <h3>{{totalPOSProductOrderDiscount}}</h3>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-lg-5">
                    <!-- <input type="text" (keyup)="productAndAddOnsapplyFilter($event.target.value)"
                    placeholder="Search " style="margin-bottom: 0.75rem;padding: 6px 8px;"> -->
                    <!-- <mat-form-field>
                      <input matInput (keyup)="productAndAddOnsapplyFilter($event.target.value)"
                        placeholder="Search " />
                    </mat-form-field> -->
                  </div>
                  <div class="col-lg-7" style="text-align: right;">
                    <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                      data-target="#modal-report" >Import excel</button> &nbsp;
                    <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                      data-target="#modal-report">Export excel</button> &nbsp;
                    <button class="btn btn-primary btn-sm btn-round"
                      routerLink="/pos-orders/payment-link-history">Payment Link History</button> &nbsp;
                    <button class="btn btn-primary btn-sm btn-round" (click)="openSendPaymentLink()">Send Payment
                      Link</button>

                    <!-- <button class="btn btn-primary ml-2">Import excel</button>
                      <button class="btn btn-primary ml-2">Export excel</button> -->
                    <!-- <button class="btn btn-primary ml-2" routerLink="/pos-orders/payment-link-history">
                        Payment Link History </button> -->
                    <!-- <button class="btn btn-primary ml-2" (click)="openSendPaymentLink()">
                        Send Payment Link </button> -->
                  </div>
                </div>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        
                <div class="row mt-2 ">
                  <div class="col-lg-12">
                      <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
                          sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
                          [reorderableColumns]="true" frozenWidth="250px" #dt>
                          <ng-template pTemplate="caption">
              
                              <div class="row">
                                  <div class="col-lg-4" style="text-align: left;">
                                      <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                                      optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                                      selectedItemsLabel="{0} columns selected">
                                  </p-multiSelect>
                                  </div>
                                 
                                  <div class="col-lg-4">
                                                     
                      <h3>
                          List of Product Orders
                        </h3> 
                                  </div>
                                  <div class="col-lg-4" style="text-align: right;">
                                      <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                                      <input type="text" pInputText size="35" placeholder="Global Filter"
                                          (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                                  </div>
                              </div>
                          </ng-template>
              
                          <ng-template pTemplate="header" let-columns>
                              <tr>
                                  <th style="width: 3em;">
                                      <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                                  </th>
                                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                      style="width: 250px;">
                                      {{ col.header }}
                                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                          ariaLabelDesc="Activate to sort in descending order"
                                          ariaLabelAsc="Activate to sort in ascending order">
                                      </p-sortIcon>
                                  </th>
                              </tr>
                              <tr>
                                  <th></th>
                                  <th *ngFor="let col of columns">
                                      <input pInputText type="text"
                                          (input)="dt.filter($event.target.value, col.field, 'contains')" />
                                  </th>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="body" let-rowData let-columns="columns">
                              <tr>
                                  <td>
                                      <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                                  </td>
              
                                  <td *ngFor="let col of columns; " class="ui-resizable-column">
                                      <div *ngIf="col.field == 'organization_name'">
                                          <a class="custom-edit" style="text-decoration: underline;
                                          color: blue;" (click)="posorderView(rowData.id)">
                                              {{ rowData[col.field]}}
                                          </a>
                                      </div>
                                      <div *ngIf="col.field !== 'organization_name' && col.field !== 'createdAt' ">
                                          {{ rowData[col.field]}}
                                      </div>
                                      <div *ngIf="col.field == 'createdAt'">
                                            {{ rowData[col.field]| date:'medium'}}
                                    </div>
                                   
                                  </td>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="footer" let-columns>
                              <tr>
                                  <td style="width: 3em;">
                                      <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                                  </td>
                                  <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                                      {{ col.header }}
                                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                          ariaLabelDesc="Activate to sort in descending order"
                                          ariaLabelAsc="Activate to sort in ascending order">
                                      </p-sortIcon>
                                  </td>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="summary">
                              There are {{ outletTable?.length }} Product Order
              
                              <div class="row">
                                  <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                                      <!-- {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }} -->
                                  </div>
                              </div>
                          </ng-template>
                      </p-table>
                  </div>
              </div>
            </div>
          </div>



        </div>
        <div class="tab-pane fade" id="addon" role="tabpanel">
          <div class="row">
            <div class="col-md-12 layout_bg">
             
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              
                <ng-template matStepLabel>Product And Add Ons</ng-template>
                <div class="row">
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Outlets using Add Ons</h6>
                      <h3>{{totalAddonOutlets}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Product Add Ons</h6>
                      <h3>{{totalPOSAddonOrders}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Add Ons Rev Amt</h6>
                      <h3>{{totalPOSAddonOrderRevenueAmt}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Discount Amount</h6>
                      <h3>{{totalPOSAddonOrderDiscount}}</h3>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-lg-5">
                    <!-- <input type="text" (keyup)="productAndAddOnsapplyFilter($event.target.value)"
                    placeholder="Search " style="margin-bottom: 0.75rem;padding: 6px 8px;"> -->
                    <!-- <mat-form-field>
                      <input matInput (keyup)="productAndAddOnsapplyFilter($event.target.value)"
                        placeholder="Search " />
                    </mat-form-field> -->
                  </div>
                  <div class="col-lg-7" style="text-align: right;">
                    <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                      data-target="#modal-report" >Import excel</button> &nbsp;
                    <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                      data-target="#modal-report" >Export excel</button> &nbsp;
                   

                    <!-- <button class="btn btn-primary ml-2">Import excel</button>
                      <button class="btn btn-primary ml-2">Export excel</button> -->
                    <!-- <button class="btn btn-primary ml-2" routerLink="/pos-orders/payment-link-history">
                        Payment Link History </button> -->
                    <!-- <button class="btn btn-primary ml-2" (click)="openSendPaymentLink()">
                        Send Payment Link </button> -->
                  </div>
                </div>
                <mat-card class="m-4">
                <div class="row mt-2 ">
                  <div class="col-lg-12">
                      <p-table [columns]="_selectedColumns_addon" [value]="outletTable_addon" [paginator]="true" [rows]="10"
                          sortMode="multiple" [(selection)]="selected1_addon" [resizableColumns]="true" columnResizeMode="expand"
                          [reorderableColumns]="true" frozenWidth="250px" #dt1>
                          <ng-template pTemplate="caption">
              
                              <div class="row">
                                  <div class="col-lg-4" style="text-align: left;">
                                      <p-multiSelect pMultiselect [options]="cols_addon" size="20" [(ngModel)]="selectedColumns_addon"
                                      optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                                      selectedItemsLabel="{0} columns selected">
                                  </p-multiSelect>
                                  </div>
                                 
                                  <div class="col-lg-4">
                                                     
                      <h3>
                          List of Addon Orders
                        </h3> 
                                  </div>
                                  <div class="col-lg-4" style="text-align: right;">
                                      <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                                      <input type="text" pInputText size="35" placeholder="Global Filter"
                                          (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                                  </div>
                              </div>
                          </ng-template>
              
                          <ng-template pTemplate="header" let-columns>
                              <tr>
                                  <th style="width: 3em;">
                                      <p-tableHeaderCheckbox (click)="onChk_addon()"></p-tableHeaderCheckbox>
                                  </th>
                                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                      style="width: 250px;">
                                      {{ col.header }}
                                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                          ariaLabelDesc="Activate to sort in descending order"
                                          ariaLabelAsc="Activate to sort in ascending order">
                                      </p-sortIcon>
                                  </th>
                              </tr>
                              <tr>
                                  <th></th>
                                  <th *ngFor="let col of columns">
                                      <input pInputText type="text"
                                          (input)="dt1.filter($event.target.value, col.field, 'contains')" />
                                  </th>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="body" let-rowData let-columns="columns">
                              <tr>
                                  <td>
                                      <p-tableCheckbox [value]="rowData" (click)="onChk_addon()"></p-tableCheckbox>
                                  </td>
              
                                  <td *ngFor="let col of columns; " class="ui-resizable-column">
                                      <div *ngIf="col.field == 'organization_name'">
                                          <a style="text-decoration: underline;
                                          color: blue;" class="custom-edit" (click)="posorderView(rowData.id)">
                                              {{ rowData[col.field]}}
                                          </a>
                                      </div>
                                      <div *ngIf="col.field !== 'organization_name' && col.field !== 'createdAt' ">
                                          {{ rowData[col.field]}}
                                      </div>
                                      <div *ngIf="col.field == 'createdAt'">
                                            {{ rowData[col.field]| date:'medium'}}
                                    </div>
                                   
                                  </td>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="footer" let-columns>
                              <tr>
                                  <td style="width: 3em;">
                                      <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                                  </td>
                                  <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                                      {{ col.header }}
                                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                          ariaLabelDesc="Activate to sort in descending order"
                                          ariaLabelAsc="Activate to sort in ascending order">
                                      </p-sortIcon>
                                  </td>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="summary">
                              There are {{ outletTable_addon?.length }} Addon order
              
                              <div class="row">
                                  <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                                      <!-- {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }} -->
                                  </div>
                              </div>
                          </ng-template>
                      </p-table>
                  </div>
              </div>
            </mat-card>
            </div>
          </div>



        </div>
        <div class="tab-pane fade" id="integration" role="tabpanel">
          <div class="row">
            <div class="col-md-12">
             
              
                <ng-template matStepLabel>Integrations</ng-template>
                <div class="row">
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Outlets using Integration</h6>
                      <h3>{{totalIntegrationOutets}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Integrations Orders</h6>
                      <h3>{{totalPOSIntegrationOrders}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Integrations Rev Amt</h6>
                      <h3>{{totalIntegrationOrderRevenueAmt}}</h3>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="col-md-12 box">
                      <h6>Total Discount Amount</h6>
                      <h3>{{totalPOSIntegrationOrderDiscount}}</h3>
                    </div>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-lg-9">
                    <!-- <input type="text" (keyup)="productAndAddOnsapplyFilter($event.target.value)"
                    placeholder="Search " style="margin-bottom: 0.75rem;padding: 6px 8px;"> -->
                    <!-- <mat-form-field>
                      <input matInput (keyup)="productAndAddOnsapplyFilter($event.target.value)"
                        placeholder="Search " />
                    </mat-form-field> -->
                  </div>
                  <div class="col-lg-3" style="text-align: right;">
                    <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                      data-target="#modal-report" >Import excel</button> &nbsp;
                    <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                      data-target="#modal-report">Export excel</button>
                    

                    <!-- <button class="btn btn-primary ml-2">Import excel</button>
                      <button class="btn btn-primary ml-2">Export excel</button> -->
                    <!-- <button class="btn btn-primary ml-2" routerLink="/pos-orders/payment-link-history">
                        Payment Link History </button> -->
                    <!-- <button class="btn btn-primary ml-2" (click)="openSendPaymentLink()">
                        Send Payment Link </button> -->
                  </div>
                </div>

                <!-- <div class="row mt-4">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-8">
                    <div class="float-right">
                      <button class="btn btn-primary ml-2">Import excel</button>
                      <button class="btn btn-primary ml-2">Export excel</button>
                    </div>
                  </div>
                </div> -->
                <div class="row mt-2 ">
                  <div class="col-lg-12">
                      <p-table [columns]="_selectedColumns_integration" [value]="outletTable_integration" [paginator]="true" [rows]="10"
                          sortMode="multiple" [(selection)]="selected1_integration" [resizableColumns]="true" columnResizeMode="expand"
                          [reorderableColumns]="true" frozenWidth="250px" #dt1>
                          <ng-template pTemplate="caption">
              
                              <div class="row">
                                  <div class="col-lg-4" style="text-align: left;">
                                      <p-multiSelect pMultiselect [options]="cols_integration" size="20" [(ngModel)]="selectedColumns_integration"
                                      optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                                      selectedItemsLabel="{0} columns selected">
                                  </p-multiSelect>
                                  </div>
                                 
                                  <div class="col-lg-4">
                                                     
                      <h3>
                          List of Integration Orders
                        </h3> 
                                  </div>
                                  <div class="col-lg-4" style="text-align: right;">
                                      <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                                      <input type="text" pInputText size="35" placeholder="Global Filter"
                                          (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                                  </div>
                              </div>
                          </ng-template>
              
                          <ng-template pTemplate="header" let-columns>
                              <tr>
                                  <th style="width: 3em;">
                                      <p-tableHeaderCheckbox (click)="onChk_addon()"></p-tableHeaderCheckbox>
                                  </th>
                                  <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                      style="width: 250px;">
                                      {{ col.header }}
                                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                          ariaLabelDesc="Activate to sort in descending order"
                                          ariaLabelAsc="Activate to sort in ascending order">
                                      </p-sortIcon>
                                  </th>
                              </tr>
                              <tr>
                                  <th></th>
                                  <th *ngFor="let col of columns">
                                      <input pInputText type="text"
                                          (input)="dt1.filter($event.target.value, col.field, 'contains')" />
                                  </th>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="body" let-rowData let-columns="columns">
                              <tr>
                                  <td>
                                      <p-tableCheckbox [value]="rowData" (click)="onChk_addon()"></p-tableCheckbox>
                                  </td>
              
                                  <td *ngFor="let col of columns; " class="ui-resizable-column">
                                      <div *ngIf="col.field == 'organization_name'">
                                          <a style="text-decoration: underline;
                                          color: blue;"  class="custom-edit" (click)="integrationposorderView(rowData.id)">
                                              {{ rowData[col.field]}}
                                          </a>
                                      </div>
                                      <div *ngIf="col.field !== 'organization_name' && col.field !== 'createdAt' ">
                                          {{ rowData[col.field]}}
                                      </div>
                                      <div *ngIf="col.field == 'createdAt'">
                                            {{ rowData[col.field]| date:'medium'}}
                                    </div>
                                   
                                  </td>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="footer" let-columns>
                              <tr>
                                  <td style="width: 3em;">
                                      <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                                  </td>
                                  <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                                      {{ col.header }}
                                      <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                          ariaLabelDesc="Activate to sort in descending order"
                                          ariaLabelAsc="Activate to sort in ascending order">
                                      </p-sortIcon>
                                  </td>
                              </tr>
                          </ng-template>
              
                          <ng-template pTemplate="summary">
                              There are {{ outletTable_integration.length }} Integration Order
              
                              <div class="row">
                                  <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                                      <!-- {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }} -->
                                  </div>
                              </div>
                          </ng-template>
                      </p-table>
                  </div>
              </div>
              
          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 
 
</div>
