<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h5 class="headings">Integration POS Order-view :</h5>
        </div>
        <div class="col-md-6" style="text-align: right;">
<!--            
            <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                data-target="#modal-report" (click)="integrationposorderCancel()">Cancel Order</button> &nbsp; -->
            <button class="btn btn-primary btn-sm btn-round" [routerLink]="['/pos-orders']">Back</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order Id</h6>
                <input type="text" class="form-control" value="{{'OR000'+posIntegration.posOrderID}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order Date </h6>
                <input type="text" class="form-control"  value="{{posIntegration.posIntegrationOrder.createdAt | date:'mediumDate'}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order time</h6>
                <input type="text" class="form-control" value="{{posIntegration.posIntegrationOrder.createdAt | date:'shortTime'}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Subscription Type</h6>
                <input type="text" class="form-control" value="{{posIntegration.posIntegrationOrder.subscription_Type}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Payment Status</h6>
                <input type="text" class="form-control" value="{{posIntegration.posIntegrationOrder.paymentStatus}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Transaction Date </h6>
                <input type="text" class="form-control" value="{{posIntegration.posIntegrationOrder.createdAt| date:'mediumDate'}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Transaction Time</h6>
                <input type="text" class="form-control" value="{{posIntegration.posIntegrationOrder.createdAt|date:'shortTime'}}" disabled>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="form-group">
                <h6>License No.</h6>
                <input type="text" class="form-control" placeholder="License No." disabled>
            </div>
        </div> -->
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization ID</h6>
                <input type="text" class="form-control" value="{{'OR000'+posIntegration.Organization_ID}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Name</h6>
                <input type="text" class="form-control" value="{{posIntegration.organization_name}}"  disabled>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <h6>Address</h6>
                <input type="text" class="form-control" value="{{posIntegration.address}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>City</h6>
                <input type="text" class="form-control"value="{{posIntegration.city}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>State</h6>
                <input type="text" class="form-control" value="{{posIntegration.state}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Contact No.</h6>
                <input type="text" class="form-control" value="{{posIntegration.org_contact}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Email ID</h6>
                <input type="text" class="form-control" value="{{posIntegration.org_email}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Name</h6>
                <input type="text" class="form-control" value="{{posIntegration.representative_name}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative No.</h6>
                <input type="text" class="form-control" value="{{posIntegration.representative_contact}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Email</h6>
                <input type="text" class="form-control" value="{{posIntegration.representative_email}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group"> 
               <h6>GST No. </h6>
              <input type="text" class="form-control" value="{{posIntegration.gst['GSTNo']}}" disabled>
            </div>
          </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Inegration Bought</h6>
                <div *ngFor="let integration of posIntegration.posIntegrationOrder.integrationName">
                    {{integration.integrationName}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Inegration bought for</h6>
                <input type="text" class="form-control" value="{{posIntegration.posIntegrationOrder.noOfoutlets+' '+'Outlets'}} "  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Paid By</h6>
                <input type="text" class="form-control" value="{{posIntegration.posIntegrationOrder.paidBy}}"  disabled>
            </div>
        </div>        

            

    </div>
    <mat-card>
        
        <mat-card-title>Order Charges Details:</mat-card-title>
        <div class="table-responsive">
            <table  class="table table-striped table-bordered nowrap table-hover">
                <thead>
                    <tr>
                        <th>Integration</th>
                        <th>Outlet</th>
                        <th>Subscription Type</th>
                        <th>Integration Charges</th>
                        <th>License no.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let outlet of posIntegration.posIntegrationOrder.integrationBought; let i=index">
                        <td>{{posIntegration.posIntegrationOrder.integrationName.integrationName}}</td>
                        <td> {{'OUT000'+outlet.license_No[0].outlet_No}} </td>
                        <td>{{posIntegration.posIntegrationOrder.subscription_Type}}</td>
    
                        <td>{{posIntegration.posIntegrationOrder.pricePerOutlet}}</td>
                        <td>{{'LIC000'+outlet.license_No[0].license_No}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Order Amount</b></td>
                        <td></td>
                        <td><b>{{posIntegration.posIntegrationOrder.totalOrderAmount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Discount (% or Rs)</b></td>
                        <td>{{posIntegration.posIntegrationOrder.discount['percentage']}}</td>
                        <td><b>{{posIntegration.posIntegrationOrder.DiscountedPrice}}</b></td>
                    </tr>
                  
                    <tr>
                        <td></td>
                        <td><b>Discounted Price</b></td>
                        <td></td>
                        <td><b>{{posIntegration.posIntegrationOrder.PriceafterDiscount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Tax</b></td>
                        <td>{{posIntegration.posIntegrationOrder.tax}}%</td>
                        <td><b>{{posIntegration.posIntegrationOrder.PriceafterDiscount* (posIntegration.posIntegrationOrder.tax/100)}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Paid</b></td>
                        <td></td>
                        <td><b>{{posIntegration.posIntegrationOrder.totalPaidAmountwithTax}}</b></td>
                    </tr>
    
                </tbody>
            </table>
        </div>
    </mat-card>
</div>