<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <h1 mat-dialog-title>Add Sub Root Category</h1>
    </div>
    
    <div class="col-md-3">
        <i class="fa fa-window-close float-right" style="margin-left: 52px; margin-top: -7px;" aria-hidden="true"
            mat-dialog-close></i>
    </div>
</div>

<div mat-dialog-content>

    <form [formGroup]="subCategory">
        <div class="form-group">
            <!-- <label for="exampleInputEmail1">Sub-category Name</label><br>
            <select formControlName="sub_cat_name">
                <option [value]="c" *ngFor="let c of CatArr">{{c}}</option>
            </select> -->
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Sub Category Name" aria-label="Number"  matInput [formControl]="myControl" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" >
                  <mat-option *ngFor="let option of filteredOptions | async"  [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </div>

        
            <label for="exampleInputEmail1">Filterable</label>
            <div class="form-group">
            <mat-radio-group formControlName="filterable" fxLayout="column" fxLayoutGap=".25rem">
                <mat-radio-button value="Yes" >Yes</mat-radio-button>&nbsp;
                <mat-radio-button value="NO">No</mat-radio-button>                
            </mat-radio-group>
        </div>
        
            <label for="exampleInputEmail1">Searchable</label>
            <div class="form-group">
                <mat-radio-group formControlName="searchable" fxLayout="column" fxLayoutGap=".25rem">
                    <mat-radio-button value="Yes" >Yes</mat-radio-button>&nbsp;
                    <mat-radio-button value="NO" >No</mat-radio-button>                
                </mat-radio-group>
               </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Priority in the tree/filter</label><br>
            <select formControlName="priority">
                <option [value]="p" *ngFor="let p of PrioArr">{{p}}</option>
            </select>
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
     

    </form>
</div>

<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button cdkFocusInitial (click)="onSave()" mat-dialog-close>Save Sub-category</button>
        </div>
    </div>
    <div class="col-lg-3">
        
    </div>
</div>