input[type='file'] {
    color: transparent;
  }
  * {
    text-transform: capitalize;
  }
  .no-records {
    width: 100%;
  height: 48px;
  font-weight: 500;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.no-change{
  text-transform: none;
}