<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Update Add On</h5>
<mat-card #customLoadingTemplate>
    <div class="container">


        <div>
            <form [formGroup]="addAddOnForm">
                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Create Add On Name" class="transform" [class.is-invalid]="addAddOnForm.get('adonName').invalid &&
                            addAddOnForm.get('adonName').touched" formControlName="adonName">
                            <mat-error [class.d-none]="addAddOnForm.get('adonName').valid ||
                            addAddOnForm.get('adonName').untouched" class="text-danger">
                                Add-on name is Invalid</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-form-field>
                            <mat-label>Set Unit Type</mat-label>
                            <mat-select formControlName="unit">
                                <mat-option *ngFor="let unit of dishUnits" [value]="unit">
                                    {{unit}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-lg-4">
                        <mat-radio-group aria-label="Select an option" formControlName="veg_nonveg">
                            <mat-radio-button value="Veg">Veg</mat-radio-button>&nbsp;
                            <mat-radio-button value="Non-Veg">Non-Veg</mat-radio-button>&nbsp;
                            <mat-radio-button value="Sea Food">Sea Food</mat-radio-button>&nbsp;
                            <mat-radio-button value="Egg">Egg</mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>



                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selecteddishes">
                        <mat-chip color="accent" [selected]="true" class="transform">
                            {{s.dishName}} <i class="fas fa-times-circle ml-2" (click)="removedishes(s)"></i>
                        </mat-chip>
                    </div>

                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Search Dishes or select from below"
                                (keyup)="applyFilterDishes($event)">
                        </mat-form-field>
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </div>

                </div>


                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 " *ngFor="let dish of dishes">
                        <mat-chip (click)="onCheckdishes(dish)" class="transform">
                            {{dish.dishName}}
                        </mat-chip>
                    </div>&nbsp;<i class="fas fa-plus-circle mt-1" (click)="openAddDishesDialog()">Add new</i>
                </div>
                 <div class="row">

                <div class="m-5" formArrayName="adonType">
                    <p>Addon Type</p>
                        <div *ngFor="let type of getControls(); let i = index" 
                            [formGroupName]="i" style="display: flex">
<table class="table table-striped table-bordered nowrap table-hover"><td>{{i+1}}</td>
    
    <td><input  placeholder="Addon Type" formControlName="adonName_type"></td>
<td> <mat-radio-group aria-label="Select an option" formControlName="type">
    <mat-radio-button value="Veg">Veg</mat-radio-button>&nbsp;
    <mat-radio-button value="Non-Veg">Non-Veg</mat-radio-button>&nbsp;
    <mat-radio-button value="Sea Food">Sea Food</mat-radio-button>&nbsp;
    <mat-radio-button value="Egg">Egg</mat-radio-button>

</mat-radio-group></td>
<td *ngIf="addAddOnForm.get('adonType').controls.length!=i+1"> <button (click)="RemoveAddonType(i)"><i class="fa fa-trash"></i></button></td>
<td *ngIf="addAddOnForm.get('adonType').controls.length==i+1"> <button (click)="addAddonType()" [disabled]="addAddOnForm.get('adonType').value[i]['adonName_type']=='' && addAddOnForm.get('adonType').value[i]['type']==''"><i class="fas fa-plus-circle mt-1"></i></button><button class="mr-2" (click)="RemoveAddonType(i)" *ngIf="i!=0"><i class="fa fa-trash"></i></button></td></table>

                  <div >
                                     
                            </div>
                        </div>
                      </div>
                
                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-4">
                        <h5>Add Images</h5>
                    </div>

                </div>
                <div class="row ml-2 mt-2">



                    <div *ngFor='let url of multiResponse'>
                        <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                        <img [src]="url" class="ml-2" style="height: 70px; width: 70px;">
                    </div>
                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <div>

                            <input type="file" name="adons" ng2FileSelect [uploader]="uploader"
                                (change)="uploader.uploadAll(); setLoading()" multiple>

                        </div>
                    </div>
                </div>


            </form>


            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary" [disabled]="!addAddOnForm.valid" (click)="onAddon()">Update
                        AddOn</button>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </div>
    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</mat-card>