

<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h5 class="headings">Addon POS Order-view :</h5>
        </div>
        <div class="col-md-6" style="text-align: right;">
           
            <!-- <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                data-target="#modal-report" (click)="addonposorderCancel()">Cancel Order</button> &nbsp; -->
            <button class="btn btn-primary btn-sm btn-round" [routerLink]="['/pos-orders']">Back</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order Id</h6>
                <input type="text" class="form-control" value="{{'OR000'+posAddon.posOrderID}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order Date </h6>
                <input type="text" class="form-control"  value="{{posAddon.posAddonOrder.createdAt | date:'mediumDate'}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order time</h6>
                <input type="text" class="form-control" value="{{posAddon.posAddonOrder.createdAt | date:'shortTime'}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Subscription Type</h6>
                <input type="text" class="form-control" value="{{posAddon.posAddonOrder.subscription_Type}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Payment Status</h6>
                <input type="text" class="form-control" value="{{posAddon.posAddonOrder.paymentStatus}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Transaction Date </h6>
                <input type="text" class="form-control" value="{{posAddon.posAddonOrder.createdAt| date:'mediumDate'}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Transaction Time</h6>
                <input type="text" class="form-control" value="{{posAddon.posAddonOrder.createdAt|date:'shortTime'}}" disabled>
            </div>
        </div>
        <!-- <div class="col-md-3">
            <div class="form-group">
                <h6>License No.</h6>
                <input type="text" class="form-control" placeholder="License No." disabled>
            </div>
        </div> -->
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization ID</h6>
                <input type="text" class="form-control" value="{{'OR000'+posAddon.Organization_ID}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Name</h6>
                <input type="text" class="form-control" value="{{posAddon.organization_name}}"  disabled>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <h6>Address</h6>
                <input type="text" class="form-control" value="{{posAddon.address}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>City</h6>
                <input type="text" class="form-control"value="{{posAddon.city}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>State</h6>
                <input type="text" class="form-control" value="{{posAddon.state}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Contact No.</h6>
                <input type="text" class="form-control" value="{{posAddon.org_contact}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Email ID</h6>
                <input type="text" class="form-control" value="{{posAddon.org_email}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Name</h6>
                <input type="text" class="form-control" value="{{posAddon.representative_name}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative No.</h6>
                <input type="text" class="form-control" value="{{posAddon.representative_contact}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Email</h6>
                <input type="text" class="form-control" value="{{posAddon.representative_email}}"  disabled>
            </div>
        </div>
         <div class="col-md-3">
      <div class="form-group"> 
         <h6>GST No. </h6>
        <input type="text" class="form-control" value="{{posAddon.gst['GSTNo']}}" disabled>
      </div>
    </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Add Ons Bought</h6>
                <div *ngFor="let addon of posAddon.posAddonOrder.addonName">
                    {{addon.AddonsName}}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Add Ons bought for</h6>
                <input type="text" class="form-control" value="{{posAddon.posAddonOrder.noOfoutlets+' '+'Outlets'}}"  disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Paid By</h6>
                <input type="text" class="form-control" value="{{posAddon.posAddonOrder.paidBy}}"  disabled>
            </div>
        </div>        

            

    </div>
    <mat-card>
        <mat-card-title>Order Charges Details:</mat-card-title>
        <div class="table-responsive">
            <table  class="table table-striped table-bordered nowrap table-hover">
                <thead>
                    <tr>
                        <th>Addon</th>
                        <th>Outlet</th>
                        <th>Subscription Type</th>
                        <th>Addon Charges</th>
                        <th>License no.</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let outlet of posAddon.posAddonOrder.addonBought; let i=index">
                        <td>{{posAddon.posAddonOrder.addonName.AddonsName}}</td>
                        <td> {{'OUT000'+outlet.license_No[0].outlet_No}} </td>
                        <td>{{posAddon.posAddonOrder.subscription_Type}}</td>
    
                        <td>{{posAddon.posAddonOrder.pricePerOutlet}}</td>
                        <td>{{'LIC000'+outlet.license_No[0].license_No}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Order Amount</b></td>
                        <td></td>
                        <td><b>{{posAddon.posAddonOrder.totalOrderAmount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Discount (% or Rs)</b></td>
                        <td>{{posAddon.posAddonOrder.discount['percentage']}}%</td>
                        <td><b>{{posAddon.posAddonOrder.DiscountedPrice}}</b></td>
                    </tr>
                  
                    <tr>
                        <td></td>
                        <td><b>Discounted Price</b></td>
                        <td></td>
                        <td><b>{{posAddon.posAddonOrder.PriceafterDiscount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Tax</b></td>
                        <td>{{posAddon.posAddonOrder.tax}}%</td>
                        <td><b>{{posAddon.posAddonOrder.PriceafterDiscount* (posAddon.posAddonOrder.tax/100)}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Paid</b></td>
                        <td></td>
                        <td><b>{{posAddon.posAddonOrder.totalPaidAmountwithTax}}</b></td>
                    </tr>
    
                </tbody>
            </table>
        </div>
    </mat-card>
   
</div>