<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>User details</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
      <div class="table-border-style">
        <div class="table-responsive">
            <table class="table table-bordered">
             
                <tbody>
                 
                    <tr>
                        <td>Leaves</td>
                        <td>{{data1.work_details.Sanctioned_Leaves}}</td>
                    </tr>
                    
                    <tr>
                        <td>Salary Per Month</td>
                        <td>{{data1.bank_details.salary_amount}}</td>
                    </tr>
                    <!-- <tr>
                        <td>Resigning Date</td>
                        <td>{{data1.total_users}}</td>
                    </tr> -->
                    <tr>
                        <td>Documents</td>
                        <td>{{data1.total_users}}</td>
                    </tr>
                  
                  <tr>
                      <td>Assets Return Date</td>
                      <td>{{data1.assets.assets_date}}</td>
                  </tr>
                  <tr>
                    <td>Edited History</td>
                    <td>   
              
                  <div class="row">
                      <div class="col-lg-4">
                          <label>
                              Edited History:
                          </label>
                          <P>
                              <!-- <mat-slide-toggle [checked]="obj.accessPoint"></mat-slide-toggle> -->
                          </P>
                      </div>
                  </div>
                  <!-- <div *ngFor="let rep of versions">
                    <div class="row">
                        <div class="col-lg-4">
                            <span>
                                {{rep.versionName}}
                            </span>
                        </div>
                    </div>
                       <div class="row">
                        <div class="col-lg-6">
                            <label>
                                Created Date & Time:
                            </label>
                            <span>
                                {{rep.created_by_on}}
                            </span>
                        </div>
                       </div>
                       <div class=row>
                        <div class="col-lg-6">
                            <label>
                                Edited Date & Time:
                            </label>
                            <span>
                                {{rep.user_edited}}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>
                                Edited By:
                            </label>
                            <span>
                                {{rep.addedBy}}
                            </span>
                        </div>
                     </div> &nbsp;
                     
                    </div> -->
                </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
