
<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h5 class="headings">View Payment Link-history :</h5>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <button class="btn btn-primary btn-sm btn-round" [routerLink]="['/pos-orders']">Back</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h6>Payment Link Id</h6>
                <input type="text" class="form-control"  value="{{paymentLinkHistory.paymentLinkID}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Payment Link Sent On</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.createdAt|date:'medium'}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Name</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.organization_name}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Contact No.</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.org_contact}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Email ID</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.org_email}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Name</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.representative_name}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative No.</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.representative_contact}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Email</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.representative_email}}" disabled>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <h6>Address</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.address}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>City</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.city}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>State</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.state}}" disabled>
            </div>
        </div>
        
     
        <div class="col-md-3">
            <div class="form-group">
                <h6>Buy Product for</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.noOfoutlets+' Outlets'}}" disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Subscription Type</h6>
                <input type="text" class="form-control" value="{{paymentLinkHistory.subscription_Type}}" disabled>
            </div>
        </div>
                    

    </div>
    <mat-card>
        <mat-card-title>Order Details:</mat-card-title>
        <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Outlet</th>
                        <th>Product Charges / Outlet / {{paymentLinkHistory.subscription_Type}}</th>
                        <th>Product Charges</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{paymentLinkHistory.productName.productName}}</td>
                        <td> {{paymentLinkHistory.noOfoutlets}} </td>
                        <td>{{paymentLinkHistory.pricePerOutlet}}</td>

                        <td>{{paymentLinkHistory.totalOrderAmount}}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Order Amount</b></td>
                        <td></td>
                        <td><b>{{paymentLinkHistory.totalOrderAmount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Discount (% or Rs)</b></td>
                        <td>{{paymentLinkHistory.discount['percentage']}}%</td>
                        <td><b>{{paymentLinkHistory.DiscountedPrice}}</b></td>
                    </tr>
                  
                    <tr>
                        <td></td>
                        <td><b>Discounted Price</b></td>
                        <td></td>
                        <td><b>{{paymentLinkHistory.PriceafterDiscount}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Tax</b></td>
                        <td>{{paymentLinkHistory.tax}}%</td>
                        <td><b>{{paymentLinkHistory.PriceafterDiscount* (paymentLinkHistory.tax/100)}}</b></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Total Paid</b></td>
                        <td></td>
                        <td><b>{{paymentLinkHistory.totalPaidAmountwithTax}}</b></td>
                    </tr>

                </tbody>
            </table>
        </div>
    </mat-card>

</div>