
    
        
            <h4 class="text-center" mat-dialog-title>Add Root Drink<i class="fa fa-times" 
                aria-hidden="true" style="float: right;" mat-dialog-close></i></h4>
           <mat-dialog-content>
            <form [formGroup]="RootDrinkForm">
        <div class="row">

            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Enter Product Name" [class.is-invalid]="RootDrinkForm.get('rootdrinkName').invalid &&
                    RootDrinkForm.get('rootdrinkName').touched" formControlName="rootdrinkName">
                    <mat-error [class.d-none]="RootDrinkForm.get('rootdrinkName').valid ||
                    RootDrinkForm.get('rootdrinkName').untouched" class="text-danger">
                        Root Drink is Invalid</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" [disabled]="!RootDrinkForm.valid" (click)="onAddRoot()"
                    mat-dialog-close>Add</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    
</form>
</mat-dialog-content>