<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/customer-orders">Back</button>
<h5 style="margin-top: -16px;">Orders / View Order</h5>

<div class="container">
    <mat-card>
        <h5>
            View Order
        </h5>
        <form [formGroup]="orderForm">
            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Select Reason</mat-label>
                        <mat-select formControlName="reason">
                            <mat-option *ngFor="let reason of reasons" [value]="reason">
                                {{reason}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Select Percentage</mat-label>
                        <mat-select formControlName="percentage">
                            <mat-option *ngFor="let reason of reasons" [value]="reason">
                                {{reason}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Other Reason</mat-label>
                        <mat-select formControlName="otherReason">
                            <mat-option *ngFor="let reason of reasons" [value]="reason">
                                {{reason}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Order Number" formControlName="orderNumber" readonly="true">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Customer Name" formControlName="customerName" readonly="true">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Customer Contact Number" formControlName="customerContactNumber"
                            readonly="true">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Restaurant Representative Contact Number"
                            formControlName="restaurantRepresentativeNumber" readonly="true">
                    </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Order Date" formControlName="orderDate" readonly="true">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Order Time" formControlName="orderTime" readonly="true">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Restaurant Name" formControlName="restaurantName" readonly="true">
                    </mat-form-field>
                </div>
                <div class="col-lg-3">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Order Amount" formControlName="orderAmount" readonly="true">
                    </mat-form-field>
                </div>

            </div>
            <hr>
            <h5>
                Customers Order
            </h5>
            <div class="row">
                <div class="col-lg-8">
                    
                        
                        <div class="row mt-3" >
                            
                            <div class="col-lg-6" *ngFor="let rep of orders">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <mat-form-field class="example-full-width" style="width: 70%;">
                                            <input matInput placeholder="Food Name" [value]="rep.foodName" readonly="true">
                                        </mat-form-field>
                                        <mat-form-field class="example-full-width" style="width: 30%;">
                                            <input matInput placeholder="Quantity" [value]="rep.Quantity" readonly="true">
                                        </mat-form-field>
                                        
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-lg-12">
                                        &#8377;<label>Price: {{rep.price}}/-</label>     
                                    </div>
                                   
                                </div>

                            </div>
                        
                        </div>

                   
                
                </div>
                <div class="col-lg-4">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <h5 class="card-title text-center">Bill Detail</h5>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item BillDetailHr">
                                    <span>Item Total</span>
                                    <span class="float-right">&#8377;<span class="ml-1">520.00</span></span>
                                </li>
                                <li class="list-group-item BillDetailHr">
                                    <span>GST</span>
                                    <span class="float-right">&#8377;<span class="ml-1">20.00</span></span>
                                </li>
                                <li class="list-group-item">
                                    <span>SGST</span>
                                    <span class="float-right">&#8377;<span class="ml-1">20.00</span></span>
                                </li>
                                <li class="list-group-item">
                                    <span>Delivery Fees</span>
                                    <span class="float-right">&#8377;<span class="ml-1">60.00</span></span>
                                </li>
                                <li class="list-group-item">
                                    <span>Total Pay</span>
                                    <span class="float-right">&#8377;<span class="ml-1">640.00</span></span>
                                </li>
                            </ul>
                            <!-- <div class="row">
                                <div class="col-lg-6">
                                    <button class="btn btn-primary ml-2"><i class="fa fa-plus mr-2"
                                        aria-hidden="true"></i>Cancel Order</button>
                                
                                </div>
                                <div class="col-lg-6">
                                    <button class="btn btn-primary ml-2"><i class="fa fa-plus mr-2"
                                        aria-hidden="true"></i>Modity Order</button>
            
                                </div>
                            </div> -->
                        
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>

</div>