<div class="container">

  <mat-card [hidden]="isAddOrg">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-success" (click)="addOrg()">Add Organization</button>
      </div>
    </div>
  </mat-card>

 <form [formGroup]="organizationForm" [hidden]="!isAddOrg">


    <mat-card>

      <!-- row Label -->
      <div class="row">
        <div class="col text-center">
          <h5>Add Organization</h5>
        </div>
      </div>
      <!-- 1st row Organziation name -->
      <div class="row">
        <div class="col-lg-4">
          <label for="" class="mt-4"> Organization Name</label>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input type="text" placeholder="Organization Name" aria-label="Number" matInput [readOnly]="isReadOnly"
              formControlName="organization_name" [matAutocomplete]="auto" minlength="3" maxlength="80">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" (click)="onSelectedOrg(option)"
                [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <!-- <div class="col-lg-2">
          <p class="mt-3" style="color: blue;" (click)="onChange()">Edit</p>
        </div> -->
      </div>

      <!-- 2nd row Representative Name -->

      <div class="row">
        <div class="col-lg-4">
          <label for="" class="mt-4"> Owner's Name/ Representative Name</label>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input matInput type="text" placeholder=" Owner's Name/ Representative Name" [readOnly]="isReadOnly"
              formControlName="representative_name" minlength="3" maxlength="50">
          </mat-form-field>
          <small [class.d-none]="organizationForm.get('representative_name').valid ||
          organizationForm.get('representative_name').untouched" class="text-danger">
            Organization Name is Invalid</small>
        </div>
      </div>


      <!-- 3rd row Email -->
      <div class="row">
        <div class="col-lg-4">
          <label for="" class="mt-4"> Email Id</label>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input matInput type="text" placeholder=" Email Id" (keyup)="onEmailKeyup()" [readOnly]="isReadOnly" formControlName="org_email"
              [class.is-invalid]="organizationForm.get('org_email').invalid &&
                 organizationForm.get('org_email').touched" minlength="9" maxlength="50">
          </mat-form-field>
          <small [class.d-none]="organizationForm.get('org_email').valid ||
          organizationForm.get('org_email').untouched" class="text-danger">
            Organization email is Invalid
          </small>
        </div>
      </div>


      <!-- 4th Contact -->
      <div class="row">
        <div class="col-lg-4">
          <label for="" class="mt-4"> Contant Number</label>
        </div>
        <div class="col-lg-6">
          <mat-form-field class="example-full-width" style="width: 100%;">
            <input matInput type="text" placeholder=" Contant Number" [readOnly]="isReadOnly"
              formControlName="org_contact" minlength="10" maxlength="10">
          </mat-form-field>
          <small [class.d-none]="organizationForm.get('org_contact').valid ||
          organizationForm.get('org_contact').untouched" class="text-danger">
            Contact is Invalid
          </small>
        </div>
      </div>

      <!-- 5th row save , proceed cancel buttons -->

      <div class="row mt-3">
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
          <button class="btn-sm btn-primary" [hidden]="isReadOnly" [disabled]="!organizationForm.valid"
            (click)="onSaveOrg()">Save</button>
          <button class="btn-sm btn-primary" [hidden]="!isReadOnly" [disabled]="!organizationForm.valid"
            (click)="onProceed()">Proceed</button> &nbsp;
          <button class="btn-sm btn-danger" [hidden]="!isReadOnly" [disabled]="!organizationForm.valid"
            (click)="onDeleteOrg()">Cancel</button>
        </div>
        <div class="col-lg-4">

        </div>
      </div>

    </mat-card>
  </form>


 

  <!-- <button class="btn-danger " (click)="deleteAll()">
    delete all
  </button>
   -->

    
 


 <!-- // My code -->

<!-- Table STARTS HERE -->

<mat-card class="mt-4">
  <p-table
  [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
                    sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
                    [reorderableColumns]="true" frozenWidth="250px" #dt
>

<!-- FILTER SEARCH -->
  <ng-template pTemplate="caption">
    <div class="row" style="text-align: left;">
      <div class="col-lg-4">
        <p-multiSelect
        pMultiselect
        [options]="cols"
        size="20"
        [(ngModel)]="selectedColumns"
        optionLabel="header"
        [style]="{ minWidth: '200px' }"
        defaultLabel="Choose Columns"
        selectedItemsLabel="{0} columns selected"        
      >
      </p-multiSelect>
      </div>
      <div class="col-lg-4">
        <h3>List of Outlets</h3>
      </div>
      <div class="col-lg-4" style="text-align: right;">
        <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
        <input
          type="text"
          pInputText
          size="35"
          placeholder="Global Filter"
          (input)="dt.filterGlobal($event.target.value, 'contains')"
          style="width: auto;"
        />
      </div>
    
    </div>
  </ng-template>

  <!-- COLUMN HEADER -->
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 3em;">
        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
      </th>
      <th
        *ngFor="let col of columns"
        [pSortableColumn]="col.field"
        pResizableColumn
        style="width: 250px;"
      >
        {{ col.header }}
        <p-sortIcon
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
        >
        </p-sortIcon>
      </th>
    </tr>
    <tr>
      <th></th>
      <th *ngFor="let col of columns">
        <input
          pInputText
          type="text"
          (input)="dt.filter($event.target.value, col.field, 'contains')"
        />
      </th>
    </tr>
  </ng-template>

  <!-- Table Body -->
  <ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr>
      <td>
        <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
      </td>
      <td *ngFor="let col of columns" class="ui-resizable-column">

        <!-- *******************OUTLET NAME************* -->
        <div *ngIf="col.field == 'name'">
          <button class="custom-edit" (click)="navOutName(rowData[col.field])">
            {{ rowData[col.field] }}
          </button>
        </div>

        
          <!-- *******************OUTLET CODE************* -->
          <div *ngIf="col.field == 'out_code'">
            <button class="custom-edit" (click)="navOutCode(rowData)">
              {{ rowData[col.field] }}
            </button>
          </div>

         <!-- *****************ORG CODE********************* -->
         <div *ngIf="col.field == 'orgCode'">
          <button class="custom-edit" (click)="navOrgCode(rowData[col.field])">
            {{ rowData[col.field] }}
          </button>
        </div>

        <!-- *****************ORGANIZATION********************* -->
        <div *ngIf="col.field == 'organization'">    
          <button class="custom-edit" (click)="navOrgName(rowData[col.field])">
            {{ rowData[col.field] }}
          </button>
        </div>

        <!-- ******************COLUMNS************************ -->
        <div  *ngIf="col.field !== 'name' && 
                  col.field !== 'organization' &&
                  col.field !== 'orgCode' &&
                  col.field !== 'out_code'">
          {{ rowData[col.field] }}
        </div>
      </td>
    </tr>
  </ng-template>

  <!-- COLUMN fOOTER -->
  <ng-template pTemplate="footer" let-columns>
    <tr>
      <td style="width: 3em;">
        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
      </td>
      <td *ngFor="let col of columns" [pSortableColumn]="col.field">
        {{ col.header }}
        <p-sortIcon
          [field]="col.field"
          ariaLabel="Activate to sort"
          ariaLabelDesc="Activate to sort in descending order"
          ariaLabelAsc="Activate to sort in ascending order"
        >
        </p-sortIcon>
      </td>
    </tr>
  </ng-template>

  <!-- SUMMARY -->
  <ng-template pTemplate="summary">
    There are {{ outletTable?.length }} Outlets

    <div class="row">
      <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
        {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }}
      </div>
    </div>
  </ng-template>

</p-table>
</mat-card>

<!-- {{outletTable[15] | json}} -->



</div>