

<form [formGroup]="setRolesForm">
    <div class="row">
       <mat-radio-group formControlName="role">
           <mat-radio-button *ngFor="let a of rolesData" (change)="selectRole($event,a)">
               {{a.role_name}}
    
           </mat-radio-button><br>
       </mat-radio-group>
    
    </div>
    </form>
    <button type="button" mt-2 class="btn btn-primary" [mat-dialog-close]="roles">Set Role</button>&nbsp;