
<div class="container" >
 
    <mat-card class="mt-4">
      
      <div class="row">
          <div class="col">
            <ngb-tabset type="pills" >
                   <!-- **************************** -->
          <!-- *********Roles *************-->
          <!-- **************************** -->
          <ngb-tab title="Roles">
            <ng-template ngbTabContent>

              <!-- TILES CARD -->
              <div class="row mt-4">
                <div class="col-md-2">

                </div>

                <div class="col-md-4">
                  <mat-card style="width:200px;height:110px;float: right">
                    <div class="row">
                      <div class="col">
                        <h4 class="text-c-yellow">Total Roles</h4>
                        <h6 class="text-muted m-b-0">{{total_roles}}</h6>
                      </div>
                    </div>
                  </mat-card>
                </div>

                <div class="col-md-4">
                  <mat-card style="width:200px;height:110px;float: left">
                    <div class="row">
                      <div class="col">
                        <h4 class="text-c-orange">Total Roles Active</h4>
                        <h6 class="text-muted m-b-0">{{total_active_roles}}</h6>
                      </div>
                    </div>
                  </mat-card>
                </div>
                <div class="col-md-2">

                </div>
              </div>

              <!-- Create Role Button -->
              <div class="row mt-4">
                <div class="col">
                  <button type="button" class="btn btn-success" (click)="createRole()" 
                    ngbTooltip="Role Tree">Create
                    Role</button>
                </div>
              </div>
              <!-- rOLES -->
              <!-- Data Table   -->
              <div class="row mt-4">
                <mat-card>
                  <p-table [columns]="_selectedColumns" [value]="rows" [paginator]="true" [rows]="10"
                    sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
                    [reorderableColumns]="true" frozenWidth="250px" #dt>

                    <!-- FILTER SEARCH -->
                    <ng-template pTemplate="caption">
                      <div class="row" style="text-align: left;">
                        <div class="col-lg-4">
                          <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                            optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                            selectedItemsLabel="{0} columns selected">
                          </p-multiSelect>
                        </div>
                        <div class="col-lg-4">
                          <h3>List of Roles</h3>
                        </div>
                        <div class="col-lg-4" style="text-align: right;">
                          <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                          <input type="text" pInputText size="35" placeholder="Global Filter"
                            (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                        </div>

                      </div>
                    </ng-template>

                    <!-- COLUMN HEADER -->
                    <ng-template pTemplate="header" let-columns>
                      <tr>
                        <th style="width: 3em;">
                          <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                          {{ col.header }}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                          </p-sortIcon>
                        </th>
                      </tr>
                      <tr>
                        <th></th>
                        <th *ngFor="let col of columns">
                          <input pInputText type="text"
                            (input)="dt.filter($event.target.value, col.field, 'contains')" />
                        </th>
                      </tr>
                    </ng-template>

                    <!-- Table Body -->
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                      <tr>
                        <td>
                          <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                        </td>
                        <td *ngFor="let col of columns" class="ui-resizable-column">
                          <div *ngIf="col.field == 'role'">
                            <button class="custom-edit" (click)="onViewRole(rowData)">
                              {{ rowData[col.field]}}
                            </button>
                          </div>
                          <div *ngIf="col.field !== 'role'">
                            {{ rowData[col.field]}}
                          </div>


                        </td>
                      </tr>
                    </ng-template>

                    <!-- COLUMN fOOTER -->
                    <ng-template pTemplate="footer" let-columns>
                      <tr>
                        <td style="width: 3em;">
                          <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                        </td>
                        <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                          {{ col.header }}
                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order">
                          </p-sortIcon>
                        </td>
                      </tr>
                    </ng-template>

                    <!-- SUMMARY -->
                    <ng-template pTemplate="summary">
                      There are {{ rows?.length }} Roles

                      <div class="row">
                        <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                          {{ i + 1 }}. {{ a.roleId }} -- {{ a.role }} -- {{ a.status }}
                        </div>
                      </div>
                    </ng-template>

                  </p-table>
                </mat-card>

              </div>
            </ng-template>
          </ngb-tab>
    
                <!-- Users -->
                <ngb-tab title="Users">
                    <ng-template ngbTabContent>
        Users data
                    </ng-template>
                </ngb-tab>
    
            </ngb-tabset>
          </div>
      </div>
     
    </mat-card>
 

   
</div>