        
        <h1 mat-dialog-title>Add Brand <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i> </h1>
<div mat-dialog-content>
    <form [formGroup]="addBrandForm">
        <div class="row">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input matInput placeholder="Brand Name" (focusout)="checkRetailbrand($event)" formControlName="brandName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <select class="mb-3 form-control" formControlName="country">
                    <option value="">Country</option>
                    <option *ngFor="let c of countries" [value]="c.name">
                        {{c.name}}
                    </option>
                </select>
            </div>
        </div>
       
            <div class="row ml-2 mt-2">
                <label>Retail Food Category</label>
            </div>
            <div class="row ml-2">
                <div class="col-lg-12">
                  <ul id="myUL">
                    <li *ngFor="let rootCategory of allRetailFoodCategories; let i=index"><span class="caret"
                        (click)="caretClick()">
                        <mat-checkbox class="example-margin"  (change)="RetailfoodchangeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="rootCategory['showChildren']"  [(indeterminate)]="rootCategory['inter']" value="rootCategory['_id']"></mat-checkbox>
                        {{rootCategory.rootCategoryName}}
                      </span>
        
                      <ul class="nested">
        
                        <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                            (click)="caretClick()"><mat-checkbox class="example-margin" (change)="RetailfoodchangeFlag(subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subCategory['showChildren']" [(indeterminate)]="subCategory['inter']" value="subCategory['_id']"></mat-checkbox>
                            {{subCategory.subCategoryName}} 
                          </span>
                          <ul class="nested"> 
                            <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                                 (click)="caretClick()"><mat-checkbox class="example-margin" (change)="RetailfoodchangeFlag(subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subSubCategory['showChildren']" [(indeterminate)]="subSubCategory['inter']" value="subSubCategory['_id']"></mat-checkbox>
                                {{subSubCategory.subSubCategoryName}}
                              </span>
                              <ul class="nested">
        
                                <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                                  <span>
                                    <mat-checkbox class="example-margin" [(indeterminate)]="type['inter']" (change)="RetailfoodchangeFlag(type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']"  value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                                  </span>
                                </li>
                                <i class="fa fa-plus mb-2"
                                (click)="openRetailFoodSubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                                aria-hidden="true"> Add Sub Sub Category Type</i>
                            </ul>
                          </li>
                          <i class="fa fa-plus mb-2"
                            (click)="openRetailFoodSubSubCategoryDialog(rootCategory._id, subCategory._id)"
                            aria-hidden="true">
                            Add Sub Sub Category</i>
                        </ul>
                      </li>
                      <i class="fa fa-plus mb-2" (click)="openRetailFoodSubCategoryDialog(rootCategory._id)"
                        aria-hidden="true"> Add
                        Sub Category</i>
                    </ul>
                  </li>
                  <i class="fa fa-plus mb-2" (click)="openRetailFoodRootCategoryDailog()" aria-hidden="true"> Add Root
                    Category</i>
        
        
                  </ul>
                </div>
            </div>
       

       
        <div class="row">
            <div class="col-lg-12">
                <input type="file" ng2FileSelect [uploader]="uploader"
                (change)="uploader.uploadAll()">
            </div>
 
        </div>
    </form>
</div>
    <div mat-dialog-actions align="end">
        <button mat-button class="btn btn-primary" [mat-dialog-close] [disabled]="!addBrandForm.valid" (click)="addBrand()" cdkFocusInitial>Add Brand</button>
    <button mat-button class="btn btn-primary" (click)="onNoClick()">Cancel</button>

    </div>