<div class="container">
    <h5>Orders</h5>
  </div>

<div class="container">
    <mat-card>
        <form [formGroup]="ordersForm">
            <div class="row">
                <div class="col-lg-3">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Select Order Type</mat-label>
                        <mat-select formControlName="orderType" >
                            <mat-option *ngFor="let type of OrderTypes" [value]="type">
                                {{type}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-lg-9 mt-2">
                    <mat-radio-group aria-label="Select an option" formControlName="order">
                        <mat-radio-button value="All">All</mat-radio-button>&nbsp;
                        <!-- <mat-radio-button value="Online">Online</mat-radio-button>&nbsp; -->
                        <mat-radio-button value="QR Code Dine-In">QR Code Dine-In</mat-radio-button>&nbsp;
                        <mat-radio-button value="QR Code Take-Away">QR Code Take-Away</mat-radio-button>&nbsp;
                        <!-- <mat-radio-button value="Online Take-Away">Online Take-Away</mat-radio-button> -->
                    
                    </mat-radio-group>

                </div>
            </div>
        </form>
       
        <div class="row">

            <div class="col-sm-12">
              <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)"
                  placeholder="Search for Customer Name, Restaurant Name">
              </mat-form-field>
  
              <table mat-table [dataSource]="ordersDataSource" class="mat-elevation-z8" matSort>
  
                <!-- Position Column -->
                <ng-container matColumnDef="orderDateAndTime">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Orders Data & Time </th>
                  <td mat-cell *matCellDef="let element"> {{element.orderDateAndTime}} </td>
                </ng-container>
  
                <!-- Name Column -->
                <ng-container matColumnDef="customerName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.customerName}} </td>
                </ng-container>
  
                <!-- Weight Column -->
                <ng-container matColumnDef="restaurantName">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Restaurant Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.restaurantName}} </td>
                </ng-container>
  
                <!-- Symbol Column -->
                <ng-container matColumnDef="restaurantRepresentativeNumber">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Restaurant Representative Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.restaurantRepresentativeNumber}} </td>
                </ng-container>
  
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>
  
                <ng-container matColumnDef="orderAmount">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.orderAmount}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="orderNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Number </th>
                    <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="orderType">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Order Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.orderType}} </td>
                  </ng-container>
    
                
                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <button class="btn btn-outline-primary btn-sm" routerLink="/customer-orders/view-order">View</button>
                    <!-- <button class="btn btn-outline-primary btn-sm" routerLink="/customer-orders/modify-order">Modify</button>
                    <button class="btn btn-outline-primary btn-sm" routerLink="/customer-orders/cancel-order">Cancel</button>
                    <button class="btn btn-outline-primary btn-sm" (click)="EditData(row)">Info</button>
                   -->

                </td>
                </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayOrdersColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayOrdersColumns;"></tr>
              </table>
              <mat-paginator #ordersPaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  
  
            </div>
  
          </div>
  
    </mat-card>
</div>