<p>qrcodeno works!</p>
{{data | json}}


<form action="" [formGroup]="qrForm">
<input type="number" formControlName="quantity" class="form-control" placeholder="Enter Quantity">
<br>
<button (click)="onQuantity()" mat-dialog-close>Add</button>
</form>