<div class="container">
    <div class="row">
        <div class="col-lg-12 MainGrid">
            <mat-tab-group>
                <mat-tab label="Discussion">
                    <button type="button" class="btn btn-primary" mat-dialog-close
                        (click)="openDialog_newdiscussion()">Create new discussion</button>



                    <div class="chat-panel">
                        <div class="row no-gutters" id="firstChat">
                            <div class="col-md-3">
                                <div class="chat-bubble chat-bubble--left">
                                    Hello!!
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters" id="secondchat">
                            <div class="col-md-3 offset-md-9">
                                <div class="chat-bubble chat-bubble--right">
                                    Hi
                                </div>
                            </div>
                        </div>









                    </div>


                </mat-tab>
                <mat-tab label="Text Messages">
                    <mat-form-field appearance="outline">
                        <input matInput placeholder="Search">
                    </mat-form-field>
                    <div class="chat-panel">
                        <div class="row no-gutters" id="firstChat">
                            <div class="col-md-3">
                                <div class="chat-bubble chat-bubble--left">
                                    Hello!!
                                </div>
                            </div>
                        </div>
                        <div class="row no-gutters" id="secondchat">
                            <div class="col-md-3 offset-md-9">
                                <div class="chat-bubble chat-bubble--right">
                                    Hi
                                </div>
                            </div>
                        </div>









                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>