<mat-card style="margin-top: -46px; padding-left: 36px; padding-right: 36px">

    <form [formGroup]="organizationForm">
    <table>
      <tr>
        <td>
          Organization Name
        </td>
        <td>
         <!-- <input type="text" placeholder=" Organization name" formControlName="organization_name" > -->

         <mat-form-field class="example-full-width">
            <input type="text"
                   placeholder="Organization Name"
                   aria-label="Number"
                   matInput
                  [readOnly]="isReadOnly"
                   formControlName="organization_name"
                   [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" >
              <mat-option *ngFor="let option of filteredOptions | async"  (click)="onSelectedOrg(option)"   [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

         
         <!-- <ng-select (change)="onSelectedOrg($event)" [items]="AllOrg" bindLabel="organization_name"         
     formControlName="organization_name">

     </ng-select> -->
        </td>
        <p class="mt-3"style="color: blue;" (click)="onChange()" >change</p>
      </tr><tr>
        <td>
          Owner's Name/ Representative Name
        </td>
        <td>
         <input type="text" placeholder=" Owner's Name/ Representative Name"  [readOnly]="isReadOnly" formControlName="representative_name" >
        </td>
      </tr><tr>
        <td>
          Email Id
        </td>
        <td>
         <input type="text" placeholder=" Email Id"  [readOnly]="isReadOnly" formControlName="org_email" >
        </td>
      </tr><tr>
        <td>
        Contant Number
        </td>
        <td>
         <input type="text" placeholder=" Contant Number"  [readOnly]="isReadOnly" formControlName="org_contact" >
        </td>
      </tr>
  
      <tr>
       <td></td>
        <td>
            <button class="btn-sm btn-primary" [hidden]="isReadOnly" [disabled]="!organizationForm.valid" (click)="onSaveOrg()">Save</button>
          <!-- <button class="btn-sm btn-primary" [hidden]="!isReadOnly" [disabled]="!organizationForm.valid" (click)="onProceed()">Proceed</button> &nbsp; -->
          <button class="btn-sm btn-danger"  [hidden]="!isReadOnly" [disabled]="!organizationForm.valid" (click)="onDeleteOrg()">Delete</button>
        </td>
        
      </tr>
    </table>
</form>


  </mat-card>