<div class="container">


    <mat-card class="mt-4">



        <!-- Dropdown user list -->
        <div class="row mt-4">
            <div class="col-md-3">
                <ng-multiselect-dropdown [placeholder]="'Select Employees'" [data]="dropdownList"
                    [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" [(ngModel)]="selectedItems"
                    (onSelectAll)="onSelectAll($event)">
                </ng-multiselect-dropdown>
            </div>

            <div class="col-md-6">
                <h5 class="text-center">Employee List</h5>
                <mat-chip-list>

                    <mat-chip class="ml-2 mt-2" *ngFor="let emp of selectedItems">
                        {{emp.employee}}
                    </mat-chip>

                </mat-chip-list>
            </div>
        </div>
        <form action="" [formGroup]="salStruForm">
            <!-- Loan -->
            <!-- Loan amount row -->
            <div class="form-group row mt-4 ml-2">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>Loan Amount</b>
                </label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" formControlName="loan_amt" placeholder="Salary Amount">
                </div>
            </div>

            <!-- EMI Receiving amount row -->
            <div class="form-group row mt-4 ml-2">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>EMI Receiving Mode</b>
                </label>
                <div class="col-sm-6 form-group">
                    <select class="form-control" formControlName="emi_receive_mode" >
                        <option [ngValue]="null" disabled>--------Choose Mode------</option>
                        <option [ngValue]="mode" *ngFor="let mode of modes" >{{mode}}</option>
                       
                    </select>
                </div>
            </div>
           
            <!-- one time Mode options -->
            <div class="form-group row mt-4 ml-2" *ngIf="salStruForm.value.emi_receive_mode == 'One Time'">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>One Time</b>
                </label>
                <div class="col-sm-6 form-group">
                    <table>
                        <tbody>
                            <tr>
                                <td>Select Date for Repayment</td>
                                <td><input type="date" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- recurring mode options -->
            <div class="form-group row mt-4 ml-2" *ngIf="salStruForm.value.emi_receive_mode =='Recurring'">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>Recurring</b>
                </label>
               
                <div class="col-sm-12">
                    <b style="background-color: yellow;">Duration</b>
                </div>
               
                <div class="col-sm-4">
                    <label for="inputEmail3" class="col-form-label">
                        <b>Loan Amount</b>
                        <input type="text"  class="form-control" placeholder="loan amount">
                    </label>
                </div>
                <div class="col-sm-4">
                    <label for="inputEmail3" class="col-form-label">
                        <b>Enter EMI</b>
                        <input type="text" class="form-control" placeholder="loan emi">
                    </label>
                </div>
                <div class="col-sm-4">
                    <label for="inputEmail3" class="col-form-label">
                        <b>EMI Amount</b>
                        <input type="text" class="form-control" placeholder="emi amount">
                    </label>
                </div>


                <!-- rADIO BUTTON CODE -->
                <div class="col-sm-4">
                    <label for="inputEmail3" class="col-form-label">
                        <b>Monthly</b>
                        <p-calendar value="today"  class="form-control"></p-calendar>
                      </label>
                </div>
                <div class="col-sm-4">
                    <label for="inputEmail3" class="col-form-label">
                        <b>BiMonthly</b>
                        <!-- <input type="date" class="form-control" placeholder="bimonthly"> -->
                        <p-calendar value="today" selectionMode="multiple" class="form-control"></p-calendar>
                    </label>
                </div>
                <div class="col-sm-4">
                    <label for="inputEmail3" class="col-form-label">
                        <b>Manual Range</b>
                        <input type="text" style="width:'63px'; border-color: black;"class="form-control" placeholder="Days"> 
                    </label>
                </div>
            </div>

              <!-- PAY FROM options -->
              <div class="form-group row mt-4 ml-2">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <b>Pay From</b>
                </label>
                <div class="col-sm-6 form-group">
                    <select class="form-control" name="emimode" id="">
                        <option value="Cash from Drawer">Cash from Drawer</option>
                        <option value="Cash from Owner">Cash from Owner</option>
                        <option value="Cheque">Cheque</option>
                        <option value="Online">Online</option>
                    </select>
                </div>
               
            </div>

            <div class="form-group row mt-4 ml-2">
                <div class="col"></div>
                <div class="col">
                  
                    <button class="btn btn-success ml-2" [disabled]="!salStruForm.valid" mat-dialog-close > Disburse Loan </button>
                </div>
                <div class="col">
                  
                </div>
            </div>

        </form>
    </mat-card>
</div>