<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
            <h5>View Liquor Brand</h5>
        </div>

        <div class="col-md-6">
            <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="row ml-2 mt-2">
                <label>Liquor Category</label>
            </div>
            <div class="row ml-2">
                <div class="col-lg-12">
                    <ul id="myUL">
                        <li *ngFor="let rootdDrink of DrinkTypes; let i=index">
                            
                            <span class="caret" (click)="caretClick()">
                            <mat-checkbox  [disabled]="true" class="example-margin" [(indeterminate)]="rootdDrink['inter']" [checked]="rootdDrink['showChildren']" (change)="changeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="rootdDrink.rootDrinkType"></mat-checkbox>

                            <!-- <input type="radio" formControlName="rootDrinkType" [value]="rootdDrink.rootDrinkType"> -->
                            {{rootdDrink.rootDrinkType}}
                          </span>
          
                          <ul class="nested">
          
                            <li *ngFor="let liquorVarient of rootdDrink.liquorVarients;let subcategoryIndex=index"><span class="caret"
                                (click)="caretClick()">
                            <mat-checkbox  [disabled]="true" class="example-margin" (change)="changeFlag(rootCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [(indeterminate)]="liquorVarient['inter']" [checked]="liquorVarient['showChildren']" value="liquorVarient.liquorVarientName"></mat-checkbox>
                                
                                <!-- <input type="radio" formControlName="liquorVarient" [value]="liquorVarient.liquorVarientName"> -->
                                {{liquorVarient.liquorVarientName}}
                              </span>
                              <ul class="nested">
                                <li *ngFor="let liquorSubVarient of liquorVarient.liquorSubVarients; let subsubcategoryINdex=index"><span class="caret"
                                    (click)="caretClick()">
                                    <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.liquorSubVarientName"> -->
                            <mat-checkbox  [disabled]="true" class="example-margin" [checked]="liquorSubVarient['showChildren']" [(indeterminate)]="liquorSubVarient['inter']"  (change)="changeFlag(rootCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="liquorSubVarient.liquorSubVarientName"></mat-checkbox>

                                    {{liquorSubVarient.liquorSubVarientName}}
                                  </span>
                                  <ul class="nested">
          
                                    <li *ngFor="let liquorSubSubVarient of liquorSubVarient.liquorSubSubVarientType; let type=index">
                                      <span>
                                        <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                        <!-- (click)="selectSubSubVarient(rootdDrink.rootDrinkType, liquorVarient.liquorVarientName , liquorSubVarient.liquorSubVarientName)"> -->
                            <mat-checkbox  [disabled]="true" class="example-margin" [checked]="liquorSubSubVarient['showChildren']" [(indeterminate)]="liquorSubSubVarient['inter']" (change)="changeFlag(rootCategory, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="liquorSubSubVarient."></mat-checkbox>

                                        {{liquorSubSubVarient['liquorSubSubVarientTypeName']}}
                                      </span>
                                    </li>
                                  
                                  </ul>
                                </li>
                                
                              </ul>
                            </li>
                           
                          </ul>
                        </li>
          
                      </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="table-border-style">
        <div class="table-responsive">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>Brand Code</td>
                        <td>{{data.brandCode}}</td>
                    </tr>
                    <tr>
                        <td>Brand Name</td>
                        <td class="transform">{{data.brandName}}</td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td class="transform">{{data.country}}</td>
                    </tr>
                    <!-- <tr>
                        <td>Root Drink Type</td>
                        <td class="transform">{{data.rootDrinkType}} </td>
                    </tr>
                    <tr>
                        <td>Liquor Varient</td>
                        <td class="transform">{{data.liquorVarient}}</td>
                    </tr>
                    <tr>
                        <td> Liquor Sub Varient</td>
                        <td class="transform">{{data.liquorSubVarient}}</td>
                    </tr> -->
                    <!-- <tr>
                        <td> Liquor Sub Sub Varient</td>
                        <td class="transform">{{data.liquorSuVarientType}}</td>
                    </tr> -->
                    <tr>
                        <td>Added By</td>
                        <td>{{addedBy}}</td>
                    </tr>
                    <tr>
                        <td>Date and Time</td>
                        <td>{{data.updatedAt | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="offset-9 col-2">
            <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
        </div>
    </div>

</div>