<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/users">Back</button>

<h5 style="margin-top: -16px;">Roles / Edit Role</h5>
<mat-card>
    <div class="container">



        <form [formGroup]="createRoleForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Role ID" formControlName="roleID">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Role Tag" formControlName="roleTag">
                    </mat-form-field>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-12">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Search Access Control" >
                    </mat-form-field>
                </div>
            </div>
            <div  *ngFor="let rep of accessControl">
                <div class="row ml-2 mt-2">
                    <div class="col-lg-12">
                        <label>{{rep.accessControlName}}</label>
                    </div>
                   
                </div>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" *ngFor="let control of rep.controls">
                        <label class="checkbox-inline ml-2"><input type="checkbox" name="categoryCheckbox" [value]="control"
                            (click)="selectAccessControl($event, rep.accessControlName)">&nbsp;{{control}}</label>
                    </div>
                </div>
                 
            </div>
            <div class="row ml-2 mt-2">

            </div>
        </form>
        <div class="row ml-2 mt-4">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6" style="text-align: center;">
                <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                <button class="btn btn-primary"  (click)="onCreateRole()" >Update Role</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</mat-card>