<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/pos-orders">Back</button>

<h5 style="margin-top: -16px;">POS Orders / Payment Link History</h5>
<mat-card>
    <div class="row mt-2">
        <div class="col-lg-9">
          <!-- <input type="text" (keyup)="paymentLinkHistoryapplyFilter($event.target.value)"
          placeholder="Search " style="margin-bottom: 1rem;padding: 6px 8px;"> -->
        </div>
        <div class="col-lg-3" style="text-align: right; ">
            <!-- <button class="btn btn-primary ml-2 ">Import excel</button>
            <button class="btn btn-primary ml-2">Export excel</button> -->

            <button class="btn btn-primary btn-sm btn-round" >Import excel</button> &nbsp;
            <button class="btn btn-primary btn-sm btn-round" >Export excel</button> &nbsp;
        </div>
      </div>
      <div class="row mt-2 ">
        <div class="col-lg-12">
            <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
                sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
                [reorderableColumns]="true" frozenWidth="250px" #dt>
                <ng-template pTemplate="caption">
    
                    <div class="row">
                        <div class="col-lg-4" style="text-align: left;">
                            <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                            optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                            selectedItemsLabel="{0} columns selected">
                        </p-multiSelect>
                        </div>
                       
                        <div class="col-lg-4">
                                           
            <h3>
                List of Payment Link History              </h3> 
                        </div>
                        <div class="col-lg-4" style="text-align: right;">
                            <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                            <input type="text" pInputText size="35" placeholder="Global Filter"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                        </div>
                    </div>
                </ng-template>
    
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th style="width: 3em;">
                            <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                        </th>
                        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                            style="width: 250px;">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                        </th>
                    </tr>
                    <tr>
                        <th></th>
                        <th *ngFor="let col of columns">
                            <input pInputText type="text"
                                (input)="dt.filter($event.target.value, col.field, 'contains')" />
                        </th>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                        </td>
    
                        <td *ngFor="let col of columns; " class="ui-resizable-column">
                            <div *ngIf="col.field == 'organization_name'">
                                <a style="text-decoration: underline;
                                color: blue;" class="custom-edit" (click)="ViewPaymentLinkHistory(rowData.id)">
                                    {{ rowData[col.field]}}
                                </a>
                            </div>
                            <div *ngIf="col.field !== 'organization_name' && col.field !== 'createdAt' ">
                                {{ rowData[col.field]}}
                            </div>
                            <div *ngIf="col.field == 'createdAt'">
                                  {{ rowData[col.field]| date:'medium'}}
                          </div>
                         
                        </td>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="footer" let-columns>
                    <tr>
                        <td style="width: 3em;">
                            <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                        </td>
                        <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                            {{ col.header }}
                            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                ariaLabelDesc="Activate to sort in descending order"
                                ariaLabelAsc="Activate to sort in ascending order">
                            </p-sortIcon>
                        </td>
                    </tr>
                </ng-template>
    
                <ng-template pTemplate="summary">
                    There are {{ outletTable?.length }} Payment Link History
    
                    <div class="row">
                        <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                            <!-- {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }} -->
                        </div>
                    </div>
                </ng-template>
            </p-table>
        </div>
    </div>

</mat-card>