<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Beverages / Update Product</h5>
<mat-card>
    <div class="container">
        <form [formGroup]="addProductForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder="Product Name" formControlName="productName">
                    </mat-form-field>
                </div>
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Unit</mat-label>
                        <mat-select formControlName="unit" >
                            <mat-option *ngFor="let u of units" [value]="u">
                                {{u}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>            
                </div>
            </div>
            <div class="row ml-2 mt-2">
              
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Attribute Set</mat-label>
                        <mat-select formControlName="attributeSet" >
                            <mat-option *ngFor="let a of attributes" [value]="a.attributeSetName">
                                {{a.attributeSetName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
     
                <div class="col-lg-6">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Associated Brand</mat-label>
                        <mat-select formControlName="associatedBrand" >
                            <mat-option *ngFor="let b of brands" [value]="b.brandName">
                                {{b.brandName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <i class="fas fa-plus-circle mt-1" (click)="addBrand()">Add new</i>
                </div>
            </div>
         
            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <ul>
                        <li><label>Retail Beverages</label>
                          <ul id="myUL">
                            <li *ngFor="let rootCategory of allRetailBeveragesCategories"><span class="caret" (click)="caretClick()">
                                {{rootCategory.rootCategoryName}}
                              </span>
              
                              <ul class="nested">
              
                                <li *ngFor="let subCategory of rootCategory.subCategories"><span class="caret" (click)="caretClick()">
                                    {{subCategory.subCategoryName}}
                                  </span>
                                  <ul class="nested">
                                    <li *ngFor="let subSubCategory of subCategory.subSubCategories"><span class="caret"
                                        (click)="caretClick()">
                                        {{subSubCategory.subSubCategoryName}}
                                      </span>
                                      <ul class="nested">
              
                                        <li *ngFor="let type of subSubCategory.subSubCategoryType">
                                          <span>
                                            <input type="radio" [value]="type" formControlName="type"
                                            (click)="subVarientfunction(rootCategory.rootCategoryName, subCategory.subCategoryName, subSubCategory.subSubCategoryName)">
                                            {{type}}
                                          </span>
                                        </li>
                                        <i class="fa fa-plus mb-2"
                                          (click)="openBeveragesSubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                                          aria-hidden="true"> Add Sub Sub Category Type</i>
                                      </ul>
                                    </li>
                                    <i class="fa fa-plus mb-2"
                                      (click)="openBeveragesSubSubCategoryDialog(rootCategory._id, subCategory._id)"
                                      aria-hidden="true">
                                      Add Sub Sub Category</i>
                                  </ul>
                                </li>
                                <i class="fa fa-plus mb-2" (click)="openBeveragesSubCategoryDialog(rootCategory._id)"
                                  aria-hidden="true"> Add
                                  Sub Category</i>
                              </ul>
                            </li>
                            <i class="fa fa-plus mb-2" (click)="openBeveragesRootCategoryDailog('retailBeverage')" aria-hidden="true"> Add Root
                              Category</i>
              
                          </ul>
                      </li>
                    </ul>
                </div>
               
               
                
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <img src="{{productIMG}}"  alt="" height="50px" widht="50px">
                </div>
                <div class="col-lg-6">
                    <input type="file" ng2FileSelect [uploader]="uploader"
                (change)="uploader.uploadAll()">
                </div>
            </div>
        </form>
        <div class="row ml-2 mt-2">
            <div class="col-lg-12" style="text-align: center;">
                <button class="btn btn-primary" [disabled]="!addProductForm.valid" (click)="onAddProduct()" >Add
                    Product</button>
            </div>
        </div>

      </div>
</mat-card>