<div class="row">
    <div class="col-lg-12 MainGrid">
<b>Send Circular</b>
<form [formGroup]="circularPopUpForm">
<mat-form-field appearance="outline" class="pl-4">
    <mat-label>Select Mode</mat-label>
    <mat-select [class.is-invalid]="circularPopUpForm.get('select_mode').invalid &&
    circularPopUpForm.get('select_mode').touched" formControlName="select_mode">
        <mat-option *ngFor="let select_mode of select_mode_list" [value]="select_mode">
            {{select_mode}}
        </mat-option>
    </mat-select>
    <mat-error [class.d-none]="circularPopUpForm.get('select_mode').valid ||
    circularPopUpForm.get('select_mode').untouched" class="text-danger">Selected Mode is
   Invalid</mat-error>
  

</mat-form-field>
<mat-form-field appearance="outline" class="pl-4">
    <mat-label>Select Priority</mat-label>
    <mat-select [class.is-invalid]="circularPopUpForm.get('select_priority').invalid &&
    circularPopUpForm.get('select_priority').touched" formControlName="select_priority">
        <mat-option *ngFor="let select_priority of select_priority_list" [value]="select_priority">
            {{select_priority}}
        </mat-option>
    </mat-select>
    <mat-error [class.d-none]="circularPopUpForm.get('select_priority').valid ||
    circularPopUpForm.get('select_priority').untouched" class="text-danger">Selected Priority is
   Invalid</mat-error>
  

</mat-form-field>
<mat-form-field appearance="outline" class="pl-4">
    <mat-label>Allow Reply</mat-label>
    <mat-select [class.is-invalid]="circularPopUpForm.get('allow_reply').invalid &&
    circularPopUpForm.get('allow_reply').touched" formControlName="allow_reply">
        <mat-option *ngFor="let allow_reply of allow_reply_list" [value]="allow_reply">
            {{allow_reply}}
        </mat-option>
    </mat-select>
    <mat-error [class.d-none]="circularPopUpForm.get('allow_reply').valid ||
    circularPopUpForm.get('allow_reply').untouched" class="text-danger"> Reply is
   Invalid</mat-error>
    

</mat-form-field>
</form>
<button type="button" class="btn btn-primary" mat-dialog-close>Cancel</button>&nbsp;
<button type="button" class="btn btn-primary" (click)="Send()">Send</button>&nbsp;


</div>
</div>