<h1 mat-dialog-title>Cancel Order</h1>
<div mat-dialog-content>
    <form [formGroup]="cancelOrderForm">
        <div class="row">
            <div class="col-lg-4">
                <mat-form-field style="width: 80%;">
                    <mat-label>Select Reason</mat-label>
                    <mat-select formControlName="selectReason">
                        <mat-option *ngFor="let reason of reasons" [value]="reason">
                            {{reason}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Order Number" formControlName="orderNumber">
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Customer Name" formControlName="customerName">
                </mat-form-field>
            </div>
        </div>
            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Number" formControlName="number">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Restaurant Chain Name" formControlName="restaurantChainName">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Order Date" formControlName="orderDate">
                    </mat-form-field>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Order Time" formControlName="orderTime">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Order Amount" formControlName="orderAmount">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Order Contains" formControlName="orderContains">
                    </mat-form-field>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="New Number of Outlet" formControlName="newNumberOfOutlet">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Refundable Amount" formControlName="refundableAmount">
                    </mat-form-field>
                </div>
            </div>
        
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button> &nbsp;
    <button mat-button [mat-dialog-close] (click)="confirmRefund()" cdkFocusInitial>Confirm Refund</button>
</div>