<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <button class="btn btn-danger float-right" class="btn btn-danger float-right"
                style="margin-top: -46px; padding-left: 36px; padding-right: 36px" routerLink="/charges"> Back</button>
        </div>
    </div>
    <h5 style="margin-top: -16px;">Charges/view-product</h5>
    <mat-card>
        <div class="container">
<div class="row">
    <div class="col-lg-12">
    <i class="fa fa-pencil-square float-right" aria-hidden="true" title="Edit" (click)="viewProduct(product)"></i>
</div></div>
            <div>
               
                    <div class="row ml-2 mt-2">
                        <div class="col-lg-6">
                            <label>Product Name :<span class="ml-1 no-change">{{product.productName}}</span></label>
                            
                        </div>
                        <div class="col-lg-6">
                            <label>Description:<span class="no-change">{{product.description}}</span></label>
                            

                        </div>

                    </div>
                    <div class="row mt-2">


                        <div class="col-lg-3">
                            <!-- <label>Images:</label> -->
                            <div *ngFor="let i of product.images">
                                <img src="{{i}}" width="120" height="80">
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <!-- <label>Images:</label> -->
                            <div *ngFor="let i of product.videos">
                                <video width="120" height="80" controls controlsList=”nodownload”>
                                    <source src="{{i}}">
                                </video>
                            </div>
                        </div>
                    
                    </div>
                    <div *ngFor="let p of product['completeData']">

                    </div>
                    <div *ngFor="let data of product['completeData']">

                        <hr>
                        <div style="text-align:center" class="row">

                            <div class="offset-5 mb-2"><b>Revenue Collection Type In </b><u>{{data.country['item_text']}}</u></div>


                        </div>
                        <!-- <hr> -->
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <mat-label>Collection mode :<p>{{data.colletionMode}}</p>
                                        </mat-label>

                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="row">



                                    <div class="col-lg-6">
                                        <mat-label>Sold per Outlet : <p>{{data.soldPerOutlet}}</p>
                                        </mat-label>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-4
                            " *ngIf="data.colletionMode=='Per Month' && data.soldPerOutlet=='Per Organization'">
                                <p> India Price for Per Month a chain: {{data.reasonForNo}}</p>
                            </div>
                            <div *ngIf="data.colletionMode=='Per Order' && data.soldPerOutlet=='Per Organization'" class="col-md-4">
                                <p> India Price for Per Order a chain: {{data.reasonForNo}}</p>
                            </div>
                            <div *ngIf="data.colletionMode=='Per Year' && data.soldPerOutlet=='Per Organization'" class="col-md-4">
                                <p> India Price for Per Year a chain: {{data.reasonForNo}}</p>
                            </div>
                            <div class="col-md-4" *ngIf="data.colletionMode=='One Time' && data.soldPerOutlet=='Per Organization'">
                                <p> India Price for One Time a chain: {{data.reasonForNo}}</p>
                            </div>
                            <div *ngIf="data.colletionMode=='Per Month' && data.soldPerOutlet=='Per Outlet'" class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table datatable class="table table-striped table-bordered nowrap table-hover">
                                              <thead>
                                        
                                            <tr>
                                                <th>Index</th>
                                                <th>Outlets From</th>
                                                <th>Outlets To</th>
                                                <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices Per Month Per Outlet</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                                            <tr *ngFor='let row of data.tableData;let rowIndex = index'>
                                                <!-- <td colspan="3">{{data|JSON}}</td> -->
                                                <td>{{rowIndex+1}}</td>
                                                <td>
                                                    {{data.tableData[rowIndex].from}}
                                                </td>
                                                <td>
                                                    {{data.tableData[rowIndex].to}}
                                                </td>
                                                <td>
                                                    {{data.tableData[rowIndex].price}}
                                                </td>
                                            </tr>


                                            </tbody>

                                        </table>
                                        <p *ngIf= 'data.tableData.length==0' class="no-records">Data Not Available</p>

</div>
                                    </div>

                                </div>
                                <div class="row" *ngIf="data.available_addons.length>0">

                                    <div class="col-lg-6">
                                        <p>Available Addons:
                                    </div>
                                    <div class="col-lg-6" *ngFor="let a of data.available_addons">
                                        <span [ngStyle]="{'background-color': a.country.status ? 'pink' : 'none'}">{{a.item_text}},</span>
                                    </div>


                                </div>
                                <div class="row" *ngIf="data.available_Integration.length>0">
                                    <div class="col-lg-6">
                                        <p>Available Integration:
                                    </div>
                                    <div class="col-lg-6 " *ngFor="let a of data.available_Integration">
                                        <span [ngStyle]="{'background-color': a.country.status ? 'pink' : 'none'}" >{{a.item_text}},</span>
                                    </div>

                                </div>
                            </div>
                            <div *ngIf="data.colletionMode=='Per Year' && data.soldPerOutlet=='Per Outlet'" class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table datatable class="table table-striped table-bordered nowrap table-hover">
                                              <thead>
                                                       <tr>
                                                <th>Index</th>
                                                <th>Outlets From</th>
                                                <th>Outlets To</th>
                                                <th><span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> {{g.symbol}} </span></span></span>Prices Per Year Per Outlet</th>
                                            </tr>
                                              </thead>
                                              <tbody>
                                            <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                                            <tr *ngFor='let row of data.tableData;let rowIndex = index'>
                                                <!-- <td colspan="3">{{data|JSON}}</td> -->
                                                <td>{{rowIndex+1}}</td>
                                                <td>
                                                    {{data.tableData[rowIndex].from}}
                                                </td>
                                                <td>
                                                    {{data.tableData[rowIndex].to}}
                                                </td>
                                                <td>
                                                    {{data.tableData[rowIndex].price}}
                                        
                                                </td>
                                            </tr>
</tbody>


                                        </table>
                                        <p *ngIf= 'data.tableData.length==0' class="no-records">Data Not Available</p>

                                        
</div>
                                    </div>

                                </div>
                                <div class="row" *ngIf="data.available_addons.length>0">

                                    <div class="col-lg-6">
                                        <p>Available Addons:
                                    </div>
                                    <div class="col-lg-6" *ngFor="let a of data.available_addons">
                                        <span [ngStyle]="{'background-color': a.country.status ? 'pink' : 'none'}">{{a.item_text}},</span>
                                    </div>


                                </div>
                                <div class="row" *ngIf="data.available_Integration.length>0">
                                    <div class="col-lg-6">
                                        <p>Available Integration:
                                    </div>
                                    <div class="col-lg-6 " *ngFor="let a of data.available_Integration">
                                        <span [ngStyle]="{'background-color': a.country.status ? 'pink' : 'none'}">{{a.item_text}},</span>
                                    </div>

                                </div>
                            </div>
                            <div *ngIf="data.colletionMode=='Per Order' && data.soldPerOutlet=='Per Outlet'" class="col-md-6">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="table-responsive">
                                            <table datatable class="table table-striped table-bordered nowrap table-hover">
                                              <thead>
                                            <tr>
                                                <th>Index</th>
                                                <th>Outlets From</th>
                                                <th>Outlets To</th>
                                                <th>Prices/Outlet/Order<br>in (<span *ngFor="let g of dropdownList"><p *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol">{{g.symbol}}</span></p></span>) or (%)</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                                            <tr *ngFor='let row of data.tableData;let rowIndex = index'>
                                                <!-- <td colspan="3">{{data|JSON}}</td> -->
                                                <td>{{rowIndex+1}}</td>
                                                <td>
                                                    {{data.tableData[rowIndex].from}}
                                                </td>
                                                <td>
                                                    {{data.tableData[rowIndex].to}}
                                                </td>
                                                <td>
                                                    {{data.tableData[rowIndex].price}}
                                                </td>
                                            </tr>
                                            </tbody>

                                        </table>
                                        <p *ngIf= 'data.tableData.length==0' class="no-records">Data Not Available</p>

</div>
                                    </div>

                                </div>
                                <div class="row" *ngIf="data.available_addons.length>0">

                                    <div class="col-lg-6">
                                        <p>Available Addons:
                                    </div>
                                    <div class="col-lg-6" *ngFor="let a of data.available_addons">
                                        <span [ngStyle]="{'background-color': a.country.status ? 'pink' : 'none'}">{{a.item_text}},</span>
                                    </div>


                                </div>
                                <div class="row" *ngIf="data.available_Integration.length>0">
                                    <div class="col-lg-6">
                                        <p>Available Integration:
                                    </div>
                                    <div class="col-lg-6 " *ngFor="let a of data.available_Integration">
                                        <span [ngStyle]="{'background-color': a.country.status ? 'pink' : 'none'}">{{a.item_text}},</span>
                                    </div>

                                </div>
                            </div>
                            <div *ngIf="data.colletionMode=='One Time' && data.soldPerOutlet=='Per Outlet'" class="col-md-6">
                                <div class="row">
                                    <div class="col-lg-12">

                                        <div class="table-responsive">
                                            <table datatable class="table table-striped table-bordered nowrap table-hover">
                                              <thead>
                                            <tr>
                                                <th>Index</th>
                                                <th>Outlets From</th>
                                                <th>Outlets To</th>
                                                <th>Prices/Outlet<br>in <span *ngFor="let g of dropdownList"><span *ngIf="data.country['item_text']==g.item_text"><span [innerHtml]="g.symbol" style="margin: 2px;"> ({{g.symbol}}) </span></span></span></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- <tr *ngFor='let data of completeData let i=index;'> -->
                                            <tr *ngFor='let row of data.tableData;let rowIndex = index'>
                                                <!-- <td colspan="3">{{data|JSON}}</td> -->
                                                <td>{{rowIndex+1}}</td>
                                                <td>
                                                    {{data.tableData[rowIndex].from}}
                                                </td>
                                                <td>
                                                    {{data.tableData[rowIndex].to}}
                                                </td>
                                                <td>
                                                    {{data.tableData[rowIndex].price}}
                                                </td>
                                            </tr>
</tbody>


                                        </table>
                                        <p *ngIf= 'data.tableData.length==0' class="no-records">Data Not Available</p>


                                    </div></div>

                                </div>
                                <div class="row" *ngIf="data.available_addons.length>0">

                                    <div class="col-lg-6">
                                        <p>Available Addons:
                                    </div>
                                    <div class="col-lg-6" *ngFor="let a of data.available_addons">
                                        <span [ngStyle]="{'background-color': a.country.status ? 'pink' : 'none'}">{{a.item_text}},</span>
                                    </div>


                                </div>
                                <div class="row" *ngIf="data.available_Integration.length>0">
                                    <div class="col-lg-6">
                                        <p>Available Integration:
                                    </div>
                                    <div class="col-lg-6 " *ngFor="let a of data.available_Integration">
                                        <span [ngStyle]="{'background-color': a.country.status ? 'pink' : 'none'}">{{a.item_text}},</span>
                                    </div>

                                </div>
                            </div>
                            content security



                            <hr>

                        </div>

                    </div>

          




            </div>
        </div>

    </mat-card>
</div>