<div class="containter">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="text-center">Create New Tab</h3>
        </div>
    </div>

    <form action="" [formGroup]="createTab">
        <div class="row mt-4">
            <div class="col-md-3">
                <label for="" class="text-center mt-2">
                   <h5>Title:</h5> 
                </label>   
            </div>
            <div class="col-md-9">
                <input type=" text" class="form-control" formControlName="title" minlength="3" maxlength="15">
            </div>
        </div>
   
    <div class="row mt-4 ">
        <div class="col-md-3">
         <label for="" class='text-center mt-2'> 
             <h5>
                Layout:
             </h5>
             </label>   
        </div>
        <div class="col-md-9">
            <input type=" text" class="form-control" formControlName="ambiences" minlength="3" maxlength="15">
        </div>
    </div>
</form>  

    <div class="row mt-4 ">
        <div class="col-md-3">
        
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger" mat-dialog-close>Cancel</button>&nbsp;
         <button class="btn btn-success" [disabled]="!createTab.valid" [mat-dialog-close]="createTab.value">Save</button>
        </div>
        <div class="col-md-3">
           
           </div>
    </div>
</div>