<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
            <h5>Role Details</h5>
        </div>

        <div class="col-md-6">
            <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>

        </div>
    </div>
    <div class="table-border-style">
        <div class="table-responsive">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>All Salary Details</td>
                        <td>{{data.role_salary}}</td>
                    </tr>
                    <tr>
                        <td>Access Controls</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td>Number Of Users List</td>
                        <td>{{data.total_users}}</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{data.description}}</td>
                    </tr>
                    <tr>
                        <td>Notice/Circular</td>
                        <td>{{data.total_users}}</td>
                    </tr>
                    <tr>
                        <td>Date Created</td>
                        <td>{{data.createdAt | date : "d MMM , y h:mm a"}}</td>
                    </tr>

                    <tr>
                        <td>Edited History</td>
                        <td>

                            <div class="row">
                                <div class="col-lg-4">
                                    <label>
                                    <h5> Edited History:</h5>   
                                    </label>
                                    <!-- <P>
                                <mat-slide-toggle [checked]="obj.accessPoint"></mat-slide-toggle>
                            </P> -->
                                </div>
                            </div>
                            <div *ngFor="let rep of versions;let i=index">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <span>
                                            <h5>
                                                Version:{{i+1}}
                                            </h5>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>
                                           <b>Created By:</b> 
                                        </label>
                                        <span>
                                            {{rep.addedBy.username}}
                                        </span>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>
                                           <b>Role Code:</b> 
                                        </label>
                                        <span>
                                            {{rep.role_ID}}
                                        </span>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>
                                           <b>Role Name:</b> 
                                        </label>
                                        <span>
                                            {{rep.role_name}}
                                        </span>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>
                                           <b>Salary:</b> 
                                        </label>
                                        <span>
                                            {{rep.role_salary}}
                                        </span>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>
                                           <b>Description:</b> 
                                        </label>
                                        <span>
                                            {{rep.description}}
                                        </span>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>
                                           <b>Created By:</b> 
                                        </label>
                                        <span>
                                            {{rep.addedBy.username}}
                                        </span>
                                    </div>
                                </div> 
                                <div class="row">
                                    <div class="col-lg-6">
                                        <label>
                                         <b>Created Date & Time:</b>   
                                        </label>
                                        <span>
                                            {{rep.createdAt | date : "d MMM , y h:mm a"}}
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <label>
                                          <b>Edited By:</b>  
                                        </label>
                                        <span>
                                            {{rep.updatedBy.username}}
                                        </span>
                                    </div>
                                </div> 
                                <div class=row>
                                    <div class="col-lg-6">
                                        <label>
                                          <b> Edited Date & Time:</b> 
                                        </label>
                                        <span>
                                            {{rep.updatedAt | date : "d MMM , y h:mm a"}}
                                        </span>
                                    </div>
                                </div>&nbsp; 
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>