
<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-6">
              <h5>Role Details</h5>
        </div>

        <div class="col-md-6">
          <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>
      
      </div>
    </div>
    <div class="table-border-style">
        <div class="table-responsive">
            <table class="table table-bordered">
               
                <tbody>
                    <tr>
                        <td>Role Access Points</td>
                        <td>70</td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>{{data.description}}</td>
                    </tr>
                    <tr>
                        <td>Created By and On</td>
                        <td>{{data.createdAt}}</td>
                    </tr>
                    <tr>
                        <td>No of Rstaurants Using Role</td>
                        <td>34</td>
                    </tr>
                    <tr>
                        <td>Status</td>
                        <td><mat-slide-toggle></mat-slide-toggle></td>
                    </tr>
                    <tr>
                        <td>Edited History</td>
                        <td>   
                
                            <div class="row">
                                <div class="col-lg-4">
                                    <label>
                                        Edited History:
                                    </label>
                                    <P>
                                        <mat-slide-toggle [checked]="obj.accessPoint"></mat-slide-toggle>
                                    </P>
                                </div>
                            </div>
                            <div *ngFor="let rep of obj.versions">
                            <div class="row">
                                <div class="col-lg-4">
                                    <span>
                                        {{rep.versionName}}
                                    </span>
                                </div>
                            </div>
                               <div class="row">
                                <div class="col-lg-6">
                                    <label>
                                        Created Date & Time
                                    </label>
                                    <span>
                                        {{rep.created.dateCreatedandTime}}
                                    </span>
                                </div>
                               </div>
                               <div class=row>
                                <div class="col-lg-6">
                                    <label>
                                        Edited Date & Time
                                    </label>
                                    <span>
                                        {{rep.created.dateEditedandTime}}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <label>
                                        Edited By
                                    </label>
                                    <span>
                                        {{rep.created.editedBy}}
                                    </span>
                                </div>
                             </div> &nbsp;
                             
                            </div></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
        

    </div>
