<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h5 class="headings">Edit Order :</h5>
        </div>
      <div class="col-md-6" style="text-align: right;">
        <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
          data-target="#modal-report" (click)="posorderView()">Back</button>   &nbsp; 
        <!-- <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
          data-target="#modal-report" (click)="posorderCancel()">Cancel Order</button> -->
        <!-- <button class="btn btn-outline-primary btn-sm" (click)="posorderEdit()">
          Edit
        </button> -->
        <!-- <button class="btn btn-outline-primary btn-sm" (click)="posorderCancel()">
          Cancel
        </button> -->
      </div>
    </div>
  <br>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
              <h6>Select Reason </h6>
              <select class="form-control" id="exampleFormControlSelect1">
                <option>Lorem ipsum dolor</option>
                <option>Consetetur sadipscing</option>
                <option>Sed diam nonumy</option>
                <option>Stet clita kasd</option>
                <option>Takimata sanctus est</option>
            </select>
            </div>
          </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Order Id</h6>
          <input type="text" class="form-control" placeholder="OR001">
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Order Date </h6>
          <input type="text" class="form-control" placeholder="12/12/2019" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Order Time </h6>
          <input type="text" class="form-control" placeholder="1800 hrs" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Subscription Type </h6>
          <input type="text" class="form-control" placeholder="1 Month" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Payment Status</h6>
          <input type="text" class="form-control" placeholder="Paid" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Transaction ID</h6>
          <input type="text" class="form-control" placeholder="TR23423" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Transaction Date</h6>
          <input type="text" class="form-control" placeholder="12/12/2019" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Transaction Time</h6>
          <input type="text" class="form-control" placeholder=" 1800 hrs" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>License No.</h6>
          <input type="text" class="form-control" placeholder="B1254CFG458" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Organization ID</h6>
          <input type="text" class="form-control" placeholder="B1254CFG458" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Organization Name</h6>
          <input type="text" class="form-control" placeholder="Siddharth Foods Pvt. Ltd." >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Organization Name</h6>
          <input type="text" class="form-control" placeholder="Siddharth Foods Pvt. Ltd." >
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group">
          <h6>Address</h6>
          <input type="text" class="form-control" placeholder="KP, Pune." >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>City</h6>
          <input type="text" class="form-control" placeholder="Pune" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Organization Contact No.</h6>
          <input type="text" class="form-control" placeholder="9988998899" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Organization Email ID</h6>
          <input type="text" class="form-control" placeholder="abc@abc.com" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Representative Name</h6>
          <input type="text" class="form-control" placeholder="Mr. Daniel" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Representative No.</h6>
          <input type="text" class="form-control" placeholder="9988998899" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Product bought for</h6>
          <input type="text" class="form-control" placeholder="5 Outlets" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Cancel order for Outlets</h6>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>3 Outlets</option>
            <option>2 Outlet</option>
            <option>1 Outlet</option>
            <option>3 Outlet</option>
            <option>All Outlet</option>
        </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>Select Outlets</h6>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Durga café</option>
            <option>The Irish House</option>
            <option>1 Outlet</option>
            <option>Belgian Waffle</option>
            <option>Food Hub</option>
        </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>City</h6>
          <input type="text" class="form-control" placeholder="Pune" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <h6>City</h6>
          <input type="text" class="form-control" placeholder="Pune" >
        </div>
      </div>
    </div>
    <div class="row" style="text-align: center;">
      <div class="col-md-12">
          <button class="btn btn-primary btn-sm btn-round">Submit</button>
      </div>
  </div>
  </div>
  
  
  
  
  
  