<button type="button" class="btn btn-danger float-right"
    style="margin-top: -46px; padding-left: 36px; padding-right: 36px">Back</button>
    
<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 MainGrid">
                <form [formGroup]="NoticeForm">
                    <mat-tab-group>
                        <mat-tab label="Notice">
                            <mat-form-field class="form-field" appearance="outline" class="pl-4">
                                <mat-label>Bizly to Bizly Employee</mat-label>
                                <mat-select formControlName="employee">
                                    <mat-option *ngFor="let employee of employee_list" [value]="employee">{{employee}}
                                    </mat-option>
                                </mat-select>

                            </mat-form-field>
                            <button type="button" class="btn btn-primary">Create Circular Template</button>&nbsp;

                            <div>
                                <b>Templates</b>
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template ID</label>
                                                    <span>T001</span>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template Name</label>
                                                    <span>Report Meeting - BDM one time</span>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Circular For</label>
                                                    <span>One Time</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Circular Type</label>
                                                    <span>Users</span>
                                                </div>
                                                <i class="fas fa-edit"></i>
                                        
                               
                                           
                                                <i class="fas fa-eye"(click)="openDialog_viewTemplateCard()"></i>
                                            </div>

                                            
                                            
                                            
                                        </div>
                                    </div>   
                                </div>
                                <div class="col-lg-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template ID</label>
                                                    <span>T001</span>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template Name</label>
                                                    <span>Report Meeting - BDM one time</span>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Circular For</label>
                                                    <span>One Time</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Circular Type</label>
                                                    <span>Users</span>
                                                </div>
                                                <i class="fas fa-edit"></i>
                                        
                               
                                           
                                                <i class="fas fa-eye"(click)="openDialog_viewTemplateCard()"></i>

                                                
                                            </div>
                                            
                                            
                                        </div>
                                    </div>   
                                </div>
                                <div class="col-lg-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template ID</label>
                                                    <span>T001</span>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template Name</label>
                                                    <span>Report Meeting - BDM one time</span>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Circular For</label>
                                                    <span>One Time</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Circular Type</label>
                                                    <span>Users</span>
                                                </div>
                                                <i class="fas fa-edit"></i>
                                        
                               
                                           
                                                <i class="fas fa-eye"(click)="openDialog_viewTemplateCard()"></i>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>   
                                </div>
                                <div class="col-lg-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template ID</label>
                                                    <span>T001</span>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template Name</label>
                                                    <span>Report Meeting - BDM one time</span>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Circular For</label>
                                                    <span>One Time</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Circular Type</label>
                                                    <span>Users</span>
                                                </div>
                                                <i class="fas fa-edit"></i>
                                        
                               
                                           
                                                <i class="fas fa-eye"(click)="openDialog_viewTemplateCard()"></i>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>   
                                </div>
                                 
                            </div>
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template ID</label>
                                                    <span>T001</span>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template Name</label>
                                                    <span>Report Meeting - BDM one time</span>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Circular For</label>
                                                    <span>One Time</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Circular Type</label>
                                                    <span>Users</span>
                                                </div>
                                                <i class="fas fa-edit"></i>
                                        
                               
                                           
                                                <i class="fas fa-eye"(click)="openDialog_viewTemplateCard()"></i>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>   
                                </div>
                                <div class="col-lg-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template ID</label>
                                                    <span>T001</span>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template Name</label>
                                                    <span>Report Meeting - BDM one time</span>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Circular For</label>
                                                    <span>One Time</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Circular Type</label>
                                                    <span>Users</span>
                                                </div>
                                                <i class="fas fa-edit"></i>
                                        
                               
                                           
                                                <i class="fas fa-eye"(click)="openDialog_viewTemplateCard()"></i>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>   
                                </div>
                                <div class="col-lg-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template ID</label>
                                                    <span>T001</span>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template Name</label>
                                                    <span>Report Meeting - BDM one time</span>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Circular For</label>
                                                    <span>One Time</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Circular Type</label>
                                                    <span>Users</span>
                                                </div>
                                            </div>
                                            <i class="fas fa-edit"></i>
                                        
                               
                                           
                                            <i class="fas fa-eye"(click)="openDialog_viewTemplateCard()"></i>
                                            
                                        </div>
                                    </div>   
                                </div>
                                <div class="col-lg-3">
                                    <div class="card" style="width: 100%;">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template ID</label>
                                                    <span>T001</span>
                                                </div>
                                               
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <label>Template Name</label>
                                                    <span>Report Meeting - BDM one time</span>
                                                </div>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <label>Circular For</label>
                                                    <span>One Time</span>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Circular Type</label>
                                                    <span>Users</span>
                                                </div>
                                                <i class="fas fa-edit"></i>
                                        
                               
                                           
                                                <i class="fas fa-eye"(click)="openDialog_viewTemplateCard()"></i>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>   
                                </div>
                                 
                            </div>
                            
                            <mat-card>
                                <mat-form-field appearance="outline">
                                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                                </mat-form-field>
                                <button type="button" class="btn btn-primary">Import Excel</button>&nbsp;
                                <button type="button" class="btn btn-primary">Export Excel</button>&nbsp;
                                <button type="button" class="btn btn-primary" (click)="notice_Submit()">Create
                                    Circular Template</button>&nbsp;


                                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                                    <ng-container matColumnDef="template_Id">
                                        <th mat-header-cell *matHeaderCellDef> Template ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.template_Id}} </td>
                                    </ng-container>

                                    <!-- Code Column -->
                                    <ng-container matColumnDef="template_Date_Time">
                                        <th mat-header-cell *matHeaderCellDef>Template Date & Time </th>
                                        <td mat-cell *matCellDef="let element"> {{element.template_Date_Time}} </td>
                                    </ng-container>

                                    <!-- Varient Column -->
                                    <ng-container matColumnDef="template_Name">
                                        <th mat-header-cell *matHeaderCellDef>Template Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.template_Name}} </td>
                                    </ng-container>

                                    <!-- CreatedBy Column -->
                                    <ng-container matColumnDef="template_Description">
                                        <th mat-header-cell *matHeaderCellDef> Template Description </th>
                                        <td mat-cell *matCellDef="let element"> {{element.template_Description}} </td>
                                    </ng-container>

                                    <!-- Status Column -->
                                    <ng-container matColumnDef="notice_type">
                                        <th mat-header-cell *matHeaderCellDef>Notice Type</th>
                                        <td mat-cell *matCellDef="let element"> {{element.notice_type}} </td>
                                    </ng-container>
                                    <!-- Action Column -->
                                    <ng-container matColumnDef="created_by_On">
                                        <th mat-header-cell *matHeaderCellDef>Created By & On</th>
                                        <td mat-cell *matCellDef="let element"> {{element.created_by_On}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="changes_by">
                                        <th mat-header-cell *matHeaderCellDef>Changes done by</th>
                                        <td mat-cell *matCellDef="let element"> {{element.changes_by}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="draft_used">
                                        <th mat-header-cell *matHeaderCellDef>Draft/Used</th>
                                        <td mat-cell *matCellDef="let element"> {{element.draft_used}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef>Status</th>
                                        <td mat-cell *matCellDef="let element">  <mat-slide-toggle [checked]="element.status"></mat-slide-toggle></td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef>Action</th>
                                        <td mat-cell *matCellDef="let element">
                                            <i class="fas fa-edit"(click)="update_circularTemplate(element)"></i>
                                        
                                        
                                            <i class="fas fa-eye"(click)="openDialog_viewCircularTemplate(element)"></i>
                                            </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                     
                                </table>
                                <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                            </mat-card>
                            <mat-card>
                                <mat-form-field appearance="outline">
                                    <input matInput (keyup)="applyFilterNotice($event.target.value)" placeholder="Search" placeholder="Search">
                                </mat-form-field>
                                <button type="button" class="btn btn-primary">Import Excel</button>&nbsp;
                                <button type="button" class="btn btn-primary">Export Excel</button>&nbsp;
                                <button type="button" class="btn btn-primary">History</button>&nbsp;
                                <button type="button" class="btn btn-primary" (click)="notice_Circular_Submit()">Create Circular/Notice</button>&nbsp;

                                    <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">


                                        <ng-container matColumnDef="circular_Id">
                                            <th mat-header-cell *matHeaderCellDef> Circular ID </th>
                                            <td mat-cell *matCellDef="let element"> {{element.circular_Id}} </td>
                                        </ng-container>
    
                                        <!-- Code Column -->
                                        <ng-container matColumnDef="circular_Date_Time">
                                            <th mat-header-cell *matHeaderCellDef>Circular Date/Time </th>
                                            <td mat-cell *matCellDef="let element"> {{element.circular_Date_Time}} </td>
                                        </ng-container>
    
                                        <!-- Varient Column -->
                                        <ng-container matColumnDef="circular_subject">
                                            <th mat-header-cell *matHeaderCellDef>Circular Subject/Heading </th>
                                            <td mat-cell *matCellDef="let element"> {{element.circular_subject}} </td>
                                        </ng-container>
    
                                        <!-- CreatedBy Column -->
                                        <ng-container matColumnDef="circular_roles">
                                            <th mat-header-cell *matHeaderCellDef>Circular For(Roles or Employees) </th>
                                            <td mat-cell *matCellDef="let element"> {{element.circular_roles}} </td>
                                        </ng-container>
    
                                        <!-- Status Column -->
                                        <ng-container matColumnDef="circular_mode">
                                            <th mat-header-cell *matHeaderCellDef>Circular Mode</th>
                                            <td mat-cell *matCellDef="let element"> {{element.circular_mode}} </td>
                                        </ng-container>
                                        <!-- Action Column -->
                                        <ng-container matColumnDef="created_by_On">
                                            <th mat-header-cell *matHeaderCellDef>Created by & On</th>
                                            <td mat-cell *matCellDef="let element"> {{element.created_by_On}} </td>
                                        </ng-container>
    
                                        <ng-container matColumnDef="status">
                                            <th mat-header-cell *matHeaderCellDef>Status</th>
                                            <td mat-cell *matCellDef="let element">
                                                <mat-slide-toggle [checked]="element.status"></mat-slide-toggle></td>
                                        </ng-container>
    
    
                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef>Action</th>
                                            <td mat-cell *matCellDef="let element">
                                                
                                                    <i class="fas fa-edit"(click)="update_circularNotice(element)"></i>
                                        
                               
                                           
                                                <i class="fas fa-eye"(click)="openDialog_viewCircularNotice(element)"></i>
                                            
                                           
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsCircular"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsCircular;"></tr>
                                    </table>
                                    <mat-paginator #noticepaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                                    
                                    
                            </mat-card>
                        </mat-tab>
                        <mat-tab label="Review"></mat-tab>
                    </mat-tab-group>
                </form>
            </div>
        </div>
    </div>
</mat-card>