<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h4 class="headings">Merchant product purchase :</h4>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <button class="btn btn-primary btn-sm btn-round" routerLink="/marchant-Buy-product">Back</button>
        </div>
    </div>
    <br>
    <mat-card>
        <form [formGroup]="buyProduct">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Enter Organization name</h6>
                        <input type="text" class="form-control" formControlName="organization_name"
                            placeholder="Organization Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Organization Contact No.</h6>
                        <input type="text" class="form-control" formControlName="org_contact"
                            placeholder="Organization Contact No.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Organization Email ID</h6>
                        <input type="text" class="form-control" formControlName="org_email"
                            placeholder="Organization Email ID">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Representative Name</h6>
                        <input type="text" class="form-control" formControlName="representative_name"
                            placeholder="Representative Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Representative No.</h6>
                        <input type="text" class="form-control" formControlName="representative_contact"
                            placeholder="Representative No.">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Representative Email</h6>
                        <input type="text" class="form-control" formControlName="representative_email"
                            placeholder="Representative Email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>Address</h6>
                        <input type="text" class="form-control" formControlName="address" placeholder="Address">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>State</h6>
                        <select class="form-control" formControlName="state"
                            (change)="changeState($event.target.value)">
                            <option *ngFor="let st of state" value="{{st}}">{{st}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <h6>City</h6>
                        <select class="form-control" formControlName="city">
                            <option *ngFor="let c of city" value="{{c}}">{{c}}</option>

                        </select>
                    </div>
                </div>
            </div>
<div class="row">
    <div class="col-md-6">
        <mat-label>You have GST no.</mat-label>
        <mat-radio-group required>
            <mat-radio-button (change)="gst($event)" value="true">Yes</mat-radio-button>
            <mat-radio-button (change)="gst($event)" value="false">No</mat-radio-button>
          </mat-radio-group>
    </div>
</div>
<div class="row" *ngIf="gstNo">
  <div class="col-md-6">
        <div class="form-group">
            <h6>GST NO.</h6>
            <input type="text" class="form-control" (focusout)="gstnum($event.target.value)" required placeholder="GST No">
        </div>
    </div>
</div>
            <div class="col-md-3">
                <div class="form-group">
                    <h6>Select Outlet</h6>
                    <i class="fa fa-minus-circle" (click)="minus(noOfoutlets)"
                        *ngIf="productData.completeData[0].tableData[0]['from']!==noOfoutlets" aria-hidden="true"></i>
                    {{noOfoutlets}} <i class="fa fa-plus-circle" (click)="plus(noOfoutlets)"
                        *ngIf="productData.completeData[0].tableData[(productData.completeData[0].tableData.length)-1]['to']!==noOfoutlets"
                        aria-hidden="true"></i>
                </div>
            </div>



            <mat-card>
                <mat-card-title>Order Charges Details:</mat-card-title>
                <div class="table-responsive">
                    <table datatable class="table table-striped table-bordered nowrap table-hover">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Outlet</th>
                                <th>Product Charges / Outlet / {{productData.completeData[0].colletionMode}}</th>
                                <th>Product Charges</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{productData.productName}}</td>
                                <td> {{noOfoutlets}} </td>
                                <td>{{perProductPrice}}</td>

                                <td>{{posProductOrder.totalOrderAmount}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Total Order Amount</b></td>
                                <td></td>
                                <td><b>{{posProductOrder.totalOrderAmount}}</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Discount (% or Rs)</b></td>
                                <td>{{posProductOrder.discount['percentage']}}%</td>
                                <td><b>{{posProductOrder.DiscountedPrice}}</b></td>
                            </tr>
                          
                            <tr>
                                <td></td>
                                <td><b>Discounted Price</b></td>
                                <td></td>
                                <td><b>{{posProductOrder.PriceafterDiscount}}</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Tax</b></td>
                                <td>{{posProductOrder.tax}}%</td>
                                <td><b>{{tax}}</b></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><b>Total Paid</b></td>
                                <td></td>
                                <td><b>{{posProductOrder.totalPaidAmountwithTax}}</b></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </mat-card>



            <div class="row" style="text-align: center;">
                <div class="col-md-12">
                    <button class="btn btn-primary btn-sm btn-round" [disabled]="clicked" (click)="merchantBuyProduct()">Send</button>
                </div>
            </div>
        </form>
    </mat-card>
</div>