<h1 mat-dialog-title>View Integration Order</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-sm-12">
            <div class="shadow p-3 mb-5 bg-white rounded">
                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h5>Order Number:</h5>
                        <span>{{ object.orderNumber }}</span>
                    </div>

                    <div class="col-lg-4">
                        <h5>Chain:</h5>
                        <span>{{ object.chain }}</span>
                    </div>

                    <div class="col-lg-4">
                        <h5>Outlet Name:</h5>
                        <span>{{ object.outletName }}</span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h5>License Number:</h5>
                        <span>{{ object.licenseNumber }}</span>
                    </div>

                    <div class="col-lg-4">
                        <h5>Number of Outlets:</h5>
                        <span>{{ object.NumberOFOutlet }}</span>
                    </div>

                    <div class="col-lg-4">
                        <h5>Contact Number:</h5>
                        <span>{{ object.contactNumber }}</span>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h5>Payment Status:</h5>
                        <span>{{ object.PaymentStatus }}</span>
                    </div>

                    <div class="col-lg-4">
                        <h5>Order Amount:</h5>
                        <span>{{ object.OrderAmmount }}</span>
                    </div>

                    <div class="col-lg-4">
                        <h5>Discout:</h5>
                        <span>{{ object.discount }}</span>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h5>Order:</h5>
                        <span>{{ object.order }}</span>
                    </div>

                    <div class="col-lg-8">
                        <h5>Address:</h5>
                        <span>{{ object.address }}</span>
                    </div>

                    </div>



                <div class="row mt-3">
                    <div class="col-lg-4">
                        <h5>City:</h5>
                        <span>{{ object.city }}</span>
                    </div>

                    <div class="col-lg-8">
                        <h5>Email:</h5>
                        <span>{{ object.email }}</span>
                    </div>

                    </div>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button> &nbsp;
</div>