<div class="container">
    <div class="row">
        <div class="col-md-9">
            <h2>Add Layout Tab</h2>
        </div>
    
        <div class="col-md-3">
            <i class="fa fa-window-close float-right" style="margin-left: 52px; margin-top: -7px;" aria-hidden="true"
                mat-dialog-close></i>
        </div>
    </div>
    
    
    <div mat-dialog-content>
    
        <div class="row">
            <div class="col-lg-12">
                <h5>Selected Layouts</h5>
            </div>
        </div>
        <div class="row ml-2 mt-2">
            <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of localdata">
                <mat-chip color="accent" [selected]="true">
                    {{s.title}} <i class="fas fa-times-circle ml-2" (click)="removeLayouts(s)"></i>
                </mat-chip>
            </div>
    
        </div>
    
        <div class="row ml-2 mt-2">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width:100%;">
                    <input matInput placeholder="Search">
                </mat-form-field>
               
            </div>          
    
        </div>


        <div class="row ml-2 mt-2">
            <div class="col-lg-12">
                <h3 class="ml-2 mt-2">Layouts</h3>
                <div class="row ml-2 mt-2">
                    <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let lay of Layouts">
                        <mat-chip (click)="onChkLayouts(lay)">
                            {{lay.title}}
                        </mat-chip>
                    </div>
                </div>
            </div>
        </div>

     
      
       
        <div class="row ml-2 mt-4">
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-6">
                <button class="btn btn-primary" mat-dialog-close>Cancel</button>&nbsp;
                <button class="btn btn-primary" cdkFocusInitial  [mat-dialog-close]="localdata">Add Layout</button>
            </div>
            <div class="col-lg-3">
               
            </div>
        </div>
    </div>
</div>