<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
(click)="BackTo_Page()">Back</button>

<h5 style="margin-top: -16px;">Roles / Edit Role</h5>
<mat-card>
    <div class="container">



        <form [formGroup]="EditRolesForm">
          
                <div class="row">
                    <div class="col-lg-6">
                      
                            <!-- <label>Role ID: {{rolecode}}</label> -->
                         
                        
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input matInput placeholder="Role Name" formControlName="role_name">
                          
                        </mat-form-field>
                    </div>
                    <div class="col-lg-6">
                        <mat-form-field class="example-full-width" style="width: 80%;">
                            <input type="number" matInput placeholder="Role Salary" formControlName="role_salary">
                          
                        </mat-form-field>
                    </div>
                    <!-- <div class="col-lg-6">
                           
                                
                        <mat-form-field style="width: 100%;">
                            <mat-label>Select Senior Role Tag</mat-label>
                            <mat-select formControlName="role_tag">
                                <mat-option *ngFor="let role_tag of role_name_list" [value]="role_tag">
                                    {{role_tag}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    
                </div> -->
                 
            </div>
                <div class="row">
                    <label><b>Description</b></label>
                </div>
                <div class="row">
                    <textarea formControlName="description" type="text"></textarea>
                </div>
           
        </form>
        <div class="row ml-2 mt-4">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6" style="text-align: center;">
                <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                <button class="btn btn-primary"  (click)="updateRole()" >Update Role</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>
</mat-card>