<div class="main">
    <p class="sign text-center">Bizly.in</p>
    <form class="form1" [formGroup]="bizlylogin">
        <input class="un " type="text" placeholder="Username" formControlName="userName">
        <input class="pass" type="password" placeholder="Password"  formControlName="password">
        <a class="submit" (click)="onLogin()">Login in</a>
        <!-- <p class="forgot text-center"><a href="#">Forgot Password?</a></p> -->
    </form>
</div>