.TitleCard{
    margin-top: -29px;
    background-color: #fff;
}
.font-size{
    font-size: 25px;
}
.label{
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
ul, #myUL {
  list-style-type: none;
}
.ml-15px{
margin-top: 15px;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
 
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block;
}

// tree Checkbox css

.mat-icon-button{
  font-family:"Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  background: transparent;;
}
.mat-icon-button{

box-sizing: border-box;
position: relative;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: pointer;
outline: none;
border: none;
-webkit-tap-highlight-color: transparent;
display: inline-block;
white-space: nowrap;
text-decoration: none;
vertical-align: baseline;
text-align: center;
margin: 0;
min-width: 64px;
line-height: 36px;
padding: 0 16px;
border-radius: 4px;
overflow: visible;
}
.mat-icon-button{
padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}

  .w-250{
    width: 250px;
  }
  .card{
    display:contents;
   }
   //*******************drag n drop
   .example-list {
     
     max-width: 100%;
     border: solid 1px #ccc;
     min-height: 60px;
     display: inline;
     background: white;
     border-radius: 4px;
     overflow: hidden;
   }
   
   .example-box {
     padding: 20px 10px;
     border-bottom: solid 1px #ccc;
     color: rgba(0, 0, 0, 0.87);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     box-sizing: border-box;
     cursor: move;
     background: white;
     font-size: 14px;
   }
   
   .cdk-drag-preview {
     box-sizing: border-box;
     border-radius: 4px;
     box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                 0 8px 10px 1px rgba(0, 0, 0, 0.14),
                 0 3px 14px 2px rgba(0, 0, 0, 0.12);
   }
   
   .cdk-drag-placeholder {
     opacity: 0;
   }
   
   .cdk-drag-animating {
     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
   }
   
   .example-box:last-child {
     border: none;
   }
   
   .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
     transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
   }
   
     
   .bordercard{
     border: 1px solid;
     margin: 5px 0px;
   } 
