<div class="mat-dialog-container">
<h1 mat-dialog-title>Add Attribute Set</h1>
<div class="container">
  <form [formGroup]="addLiquorAttributeGroupForm">
    <div class="row">
      <div class="col-sm-12">
        <mat-form-field class="example-full-width" style="width: 100%;">
          <input matInput placeholder="Set Name" formControlName="attributeSetName">
        </mat-form-field>
      </div>

    </div>

    <!-- <div class="row">
       <div class="col-sm-12">
        <ng-select [items]="allLiquorAttributeGroup" bindLabel="groupName" bindValue="_id" [multiple]="true"
          placeholder="Assign Group" formControlName="assignGroups">
        </ng-select>
      </div>

    </div> -->

  </form>


  <div class="row mt-4">
    <div class="col-lg-6">
      <mat-card>
        <div class="row">
          <div class="col-lg-8">
            <h5>Groups</h5>
            <mat-accordion >
             
              <mat-expansion-panel (opened)="panelOpenState = true"
                                   (closed)="panelOpenState = false" cdkDropList
                                  *ngFor="let g of group" >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                      {{g['groupName']}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="example-container ">  
                  <div
                    cdkDropList
                    [cdkDropListData]="g['assignAttributes']"
                    class="example-list" 
                    (cdkDropListDropped)="drop($event)" >
                    <div class="example-box" *ngFor="let item of g['assignAttributes'];let i = index" cdkDrag>{{item}}<h4 (click)="find(item)" >Delete</h4></div>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
          <div class="col-lg-4">
            <div class="float-right">
              <button class="btn btn-primary ml-2" (click)="addAttributeGroup()"><i class="fa fa-plus mr-2"
                  aria-hidden="true"></i>Add New Group</button>
            </div>
          </div>
        </div>

      </mat-card>
    </div>


    <div class="col-lg-6">
      <mat-card>
        <div class="row">
          <div class="col-lg-12">
            <h5>
              Unassigned Attribute
            </h5>
            <div cdkDropListGroup>


              <div class="col-lg-6">


                <div class="example-container">
                  <div cdkDropList [cdkDropListData]="allUnassigned" class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let a of allUnassigned" cdkDrag>
                      {{a.attributeName}}
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <button mat-button (click)="onNoClick()">Cancel</button>
    </div>
    <div class="col-lg-6">
      <button mat-button (click)="addNewSet()" cdkFocusInitial>Add Set</button>
    </div>
  </div>
</div>
</div>