<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
  routerLink="/inventory">Back</button>

<h5 style="margin-top: -16px;">Inventory Management / Update Material</h5>
<mat-card>
  <form [formGroup]="addingredientForm">
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field class="example-full-width" style="width: 80%;">
          <input matInput placeholder="Name" [class.is-invalid]="addingredientForm.get('ingredientName').invalid &&
          addingredientForm.get('ingredientName').touched" formControlName="ingredientName">
          <mat-error [class.d-none]="addingredientForm.get('ingredientName').valid ||
          addingredientForm.get('ingredientName').untouched" class="text-danger">
            Name is Invalid</mat-error>
        </mat-form-field>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6">
        <label>Select Category</label>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <ul id="myUL">
          <li *ngFor="let rootCategory of allFoodInventoryCategory"><span class="caret" (click)="caretClick()">
              <span *ngIf="rootCategory.subCategories.length==0">
                <mat-radio-button [value]="type1" (change)="getRadiovalue(rootCategory);getradio(rootCategory['_id'],rootCategory['rootCategoryName'])"
                  [checked]="ingredientcategory['category']==rootCategory['rootCategoryName'] ? true : false">
                </mat-radio-button>
              </span> <span
                [ngClass]="{'mat-chip': rootCategory.rootCategoryName===this.rootcategory}">{{rootCategory.rootCategoryName}}</span>
            </span>

            <ul class="nested">

              <li *ngFor="let subCategory of rootCategory.subCategories"><span class="caret" (click)="caretClick()">
                  <span *ngIf="subCategory.subSubCategories.length==0">
                    <mat-radio-button [value]="type1"
                      [checked]="ingredientcategory['category']==subCategory['subCategoryName'] ? true : false"
                      (change)="getRadiovalue(rootCategory,subCategory);getradio(subCategory['_id'],subCategory['subCategoryName'])">
                    </mat-radio-button>
                  </span> <span
                    [ngClass]="{'mat-chip': subCategory.subCategoryName===this.subcategory}">{{subCategory.subCategoryName}}</span>
                </span>
                <ul class="nested">
                  <li *ngFor="let subSubCategory of subCategory.subSubCategories"><span class="caret"
                      (click)="caretClick()"><span *ngIf="subSubCategory.subSubCategoryType.length==0">
                        <mat-radio-button [value]="type1"
                          [checked]="ingredientcategory['category']==subSubCategory['subSubCategoryName'] ? true : false"
                          (change)="getRadiovalue(rootCategory,subCategory,subSubCategory);getradio(subSubCategory['_id'],subSubCategory['subSubCategoryName'])">
                        </mat-radio-button>
                      </span>
                      <span [ngClass]="{'mat-chip': subSubCategory.subSubCategoryName===this.subsubcategory}">
                        {{subSubCategory.subSubCategoryName}}</span>
                    </span>
                    <ul class="nested">

                      <li *ngFor="let type1 of subSubCategory.subSubCategoryType">
                        <span>
                          <mat-radio-button [value]="type1"
                            [checked]="ingredientcategory['category']==type1['subSubCategoryTypeName'] ? true : false"
                            (change)="getRadiovalue(rootCategory,subCategory,subSubCategory, type1);getradio(type['_id'],type['subSubCategoryTypeName'])">
                          </mat-radio-button>
                          <span
                            [ngClass]="{'mat-chip': type1['subSubCategoryTypeName']===this.typecategory}">{{type1.subSubCategoryTypeName}}</span>
                        </span>
                      </li>
                      <i class="fa fa-plus mb-2"
                        (click)="openFoodInventorySubSubCategoryTypeDialog(rootCategory._id, subSubCategory._id)"
                        aria-hidden="true"> Add Sub Sub Category Type</i>
                    </ul>
                  </li>
                  <i class="fa fa-plus mb-2"
                    (click)="openFoodInventorySubSubCategoryDialog(rootCategory._id, subCategory._id)"
                    aria-hidden="true">
                    Add Sub Sub Category</i>
                </ul>
              </li>
              <i class="fa fa-plus mb-2" (click)="openFoodInventorySubCategoryDialog(rootCategory._id)"
                aria-hidden="true"> Add
                Sub Category</i>
            </ul>
          </li>
          <i class="fa fa-plus mb-2" (click)="openFoodInventoryRootCategoryDailog()" aria-hidden="true"> Add Root
            Category</i>

        </ul>
      </div>

    </div>

    <!--         
        <div class="row">
            <mat-form-field class="example-full-width" style="width: 80%;">
                <input matInput placeholder="category" [class.is-invalid]="addingredientForm.get('ingredientcategory').invalid &&
                addingredientForm.get('ingredientcategory').touched" formControlName="ingredientcategory">
                <mat-error [class.d-none]="addingredientForm.get('ingredientcategory').valid ||
                addingredientForm.get('ingredientcategory').untouched" class="text-danger">
                    Category is Invalid</mat-error>
            </mat-form-field>
        </div> -->
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field style="width: 80%;">
          <mat-label>Unit</mat-label>
          <mat-select formControlName="unit" [class.is-invalid]="addingredientForm.get('unit').invalid &&
              addingredientForm.get('unit').touched">
            <mat-option *ngFor="let unit of units" [value]="unit">
              {{unit}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>



    </div>

  </form>
  <div class="row ml-2 mt-4">

    <div class="col-lg-6" style="text-align: center;">
      <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
      <button mat-button class="btn btn-primary" (click)="addingrdient()" [disabled]="!addingredientForm.valid">Update
        Material</button>
    </div>

  </div>
</mat-card>