<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/integrations/view-chains">Back</button>

<h5 style="margin-top: -16px;">Integrations / View Chains History</h5>

<div class="row">
  
    <div class="col-lg-12">
        <mat-card>
            <table class="table table-striped" style="width:100%;">
                <thead>
                  <tr>
                    <th scope="col">Integrations</th>
                    <th scope="col">Integrations <br>Activation Date</th>
                    <th scope="col">Integration <br>Activated By</th>
                    <th scope="col">Integrations <br>Deactivation Date</th>
                    <th scope="col">Integration <br>Deactivated By</th>
                    <th scope="col">Last <br>Activated</th>
                    <th scope="col">Last <br>Deactivated</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let integrate of integrations">
                    <th scope="row">{{ integrate.integrations }}</th>
                    <td>{{ integrate.integrationActivationDate }}</td>
                    <td>{{ integrate.integrationActivatedBy }}</td>
                    <td>{{ integrate.integrationDeactivationDate }}</td>
                    <td>{{ integrate.integrationDeactivatedBy }}</td>
                    <td>{{ integrate.lastActivated }}</td>
                    <td>{{ integrate.lastDeactivated }}</td>
                  
                  </tr>
                  
                </tbody>
              </table>
        </mat-card>
    </div>
</div>

