<div class="container main">
    <div class="row">
        <div class="col-md-6">
            <h5 class="headings">Addon POS Order-cancel :</h5>
        </div>
        <div class="col-md-6" style="text-align: right;">
            <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
                data-target="#modal-report" (click)="addonposorderView()">Back</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h6>Select Reason</h6>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Don’t want to continue</option>
                    <option>Other</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order No.</h6>
                <input type="text" class="form-control" placeholder="Order No.">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order Date </h6>
                <input type="text" class="form-control" placeholder="Order Date ">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Order time</h6>
                <input type="text" class="form-control" placeholder="Order time">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Subscription Type</h6>
                <input type="text" class="form-control" placeholder="Subscription Type">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Payment Status</h6>
                <input type="text" class="form-control" placeholder="Payment Status">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Transaction Date </h6>
                <input type="text" class="form-control" placeholder="Transaction Date ">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Transaction Time</h6>
                <input type="text" class="form-control" placeholder="Transaction Time">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>License No.</h6>
                <input type="text" class="form-control" placeholder="License No.">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization ID</h6>
                <input type="text" class="form-control" placeholder="Organization ID">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Name</h6>
                <input type="text" class="form-control" placeholder="Organization Name">
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <h6>Address</h6>
                <input type="text" class="form-control" placeholder="Address">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>City</h6>
                <input type="text" class="form-control" placeholder="City">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>State</h6>
                <input type="text" class="form-control" placeholder="State">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Contact No.</h6>
                <input type="text" class="form-control" placeholder="Organization Contact No.">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Organization Email ID</h6>
                <input type="text" class="form-control" placeholder="Organization Email ID">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Name</h6>
                <input type="text" class="form-control" placeholder="Representative Name">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative No.</h6>
                <input type="text" class="form-control" placeholder="Representative No.">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Representative Email</h6>
                <input type="text" class="form-control" placeholder="Representative Email">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h6>Add Ons bought for</h6>
                <input type="text" class="form-control" placeholder="Add Ons bought for">
            </div>
        </div>

    </div>
    <div class="row" style="text-align: center;">
        <div class="col-md-12">
            <button class="btn btn-primary btn-sm btn-round">Cancel</button>
        </div>
    </div>
</div>