<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Add Product</h5>
<mat-card>
    <div class="container">



        <form [formGroup]="addProductForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Enter Product Name" [class.is-invalid]="addProductForm.get('productName').invalid &&
                        addProductForm.get('productName').touched" (focusout)="checkLiquorProductExist($event)"
                            formControlName="productName">
                        <mat-error [class.d-none]="addProductForm.get('productName').valid ||
                        addProductForm.get('productName').untouched" class="text-danger">
                            Product name is Invalid</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <div class="row ml-2 mt-2">
                <label>Liquor Category</label>
            </div>
            <div class="row ml-2 ">
                <div class="col-lg-12">
                    <ul id="myUL">
                        <li *ngFor="let rootdDrink of allDrinks"><span class="caret" (click)="caretClick()">
                                <span *ngIf="rootdDrink['liquorVarients'].length==0">
                                    <mat-radio-button value="rootCategory"
                                        (change)="getRadiovalue(rootdDrink['_id'],rootdDrink.rootDrinkType); getRadio(rootdDrink)">
                                    </mat-radio-button>
                                </span> {{rootdDrink.rootDrinkType}}
                            </span>

                            <ul class="nested">

                                <li *ngFor="let liquorVarient of rootdDrink.liquorVarients"><span class="caret"
                                        (click)="caretClick()">
                                        <span *ngIf="liquorVarient['liquorSubVarients'].length==0">
                                            <mat-radio-button value="rootCategory.rootCategoryName"
                                                (change)="getRadiovalue(liquorVarient['_id'],liquorVarient.liquorVarientName);getRadio(rootdDrink,liquorVarient)">
                                            </mat-radio-button>
                                        </span> {{liquorVarient.liquorVarientName}}
                                    </span>
                                    <ul class="nested">
                                        <li *ngFor="let liquorSubVarient of liquorVarient.liquorSubVarients"><span
                                                class="caret" (click)="caretClick()">
                                                <span *ngIf="liquorSubVarient['liquorSubSubVarientType'].length==0">
                                                    <mat-radio-button value="rootCategory.rootCategoryName"
                                                        (change)="getRadiovalue(liquorSubVarient['_id'],liquorSubVarient.liquorSubVarientName);getRadio(rootdDrink,liquorVarient, liquorSubVarient)">
                                                    </mat-radio-button>
                                                </span> {{liquorSubVarient.liquorSubVarientName}}
                                            </span>
                                            <ul class="nested">

                                                <li
                                                    *ngFor="let liquorSubSubVarient of liquorSubVarient.liquorSubSubVarientType">
                                                    <span>

                                                        <!-- <input type="radio" name="liquorSubSubVarient"
                                                            value="liquorSubSubVarient"
                                                            (click)="subsubVarientfunction(liquorSubSubVarient,rootdDrink.rootDrinkType, liquorVarient.liquorVarientName, liquorSubVarient.liquorSubVarientName )"> -->
                                                        <span>
                                                            <mat-radio-button value="rootCategory.rootCategoryName"
                                                                (change)="getRadiovalue(liquorSubSubVarient['_id'],liquorSubSubVarient.liquorSubSubVarientTypeName); getRadio(rootdDrink,liquorVarient, liquorSubVarient, liquorSubSubVarient)">
                                                            </mat-radio-button>
                                                        </span> {{liquorSubSubVarient.liquorSubSubVarientTypeName}}

                                                    </span>
                                                </li>
                                                <i class="fa fa-plus mb-2"
                                                    (click)="openSubSubVarient(rootdDrink._id, liquorVarient._id, liquorSubVarient._id)"
                                                    aria-hidden="true"> Add Sub Sub Varient</i>
                                            </ul>
                                        </li>
                                        <i class="fa fa-plus mb-2"
                                            (click)="openSubVarientDialog(rootdDrink._id, liquorVarient._id)"
                                            aria-hidden="true">
                                            Add Sub Varient</i>
                                    </ul>
                                </li>
                                <i class="fa fa-plus mb-2" (click)="openVarientDialog(rootdDrink._id)"
                                    aria-hidden="true"> Add
                                    Varient</i>
                            </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openRootDialog()" aria-hidden="true"> Add Root Drink</i>

                    </ul>

                </div>

            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <select class="mb-3 form-control" [disabled]="disableBrandDropdown" formControlName="brand">
                        <option value="">Select Brand Name</option>
                        <option *ngFor="let b of allBrands" [value]="b._id">
                            {{b.brandName}}
                        </option>
                    </select>

                    <i class="fa fa-plus mb-2" routerLink="/menu/add-brand" aria-hidden="true"> Add Brand</i>
                </div>
                <!-- 
                <div class="col-lg-4">
                    <select class="mb-3 form-control" formControlName="attribute" >
                        <option value="">Select Attribute Set</option>
                        <option *ngFor="let s of allLiquorAttributesSet" [value]="s._id">
                            {{s.attributeSetName}}
                        </option>
                    </select>
                </div> -->
            </div>


            <div class="row ml-2 mt-2">

                <div *ngFor='let url of multiResponse'>
                    <i class="fa fa-times" aria-hidden="true" (click)="removeImage(url)"></i>
                    <img [src]="url" class="ml-2" style="height: 70px; width: 70px;">
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-12">
                    <div>

                        <input type="file" name="product" ng2FileSelect [uploader]="uploader"
                            (change)="uploader.uploadAll(); setLoading()" multiple>

                    </div>
                </div>
            </div>

          
        
        </form>

        <div *ngIf="filteredArr.length>0">
            <div class="row" *ngFor="let data of filteredArr; let i=index; ">{{onClickResponse(i)}}
                <mat-card style="width: 100%;">
                    <div>


                        <div class="row">
                            <div class="col-lg-12">
                                <label>{{data.display_name}}</label>
                            </div>
                        </div>
                        <hr>

                        <div class="row" *ngIf="data.responseType.elementName=='Input Box'">

                            <div class="col-lg-6">
                                <mat-form-field class="example-full-width" style="width: 80%;">
                                    <input matInput [placeholder]="inputBoxPlaceholder" [(ngModel)]="data.value" name="Attribute_response{{i}}" >
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row" *ngIf="data.responseType.elementName=='Yes / No'">
                            <div class="col-lg-4">
                                <mat-radio-group aria-label="Select an option" name="yesno{{i}}"
                                [(ngModel)]="data.value" >
                                    <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;
                                    <mat-radio-button value="No">No</mat-radio-button>
                                </mat-radio-group>
                                <!-- {{data.value}} -->
                            </div>
                        </div>

                        <div class="row ml-2 mt-2" *ngIf="data.responseType.elementName=='Radio Button'">
                            <mat-radio-group aria-label="Select an option" [(ngModel)]="data.value" style="display: inline-flex;">
                                <div class="col-lg-4" *ngFor="let option of radioOptions">

                                    <mat-radio-button [value]="option.optionLable">{{option.optionLable}}</mat-radio-button>
                                    &nbsp;
{{data.value}}
                                    <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                                </div>
                            </mat-radio-group>&nbsp;
                        
                        </div>

                        <div class="row ml-2 mt-2" *ngIf="data.responseType.elementName=='Check Box'">
                            <div class="col-lg-4" *ngFor="let option of checkBoxOptions; let i=index">
                                <mat-checkbox name="Attribute_response{{i}}"
                                    [(ngModel)]="data.responseType.options[i].value"
                                    [value]="option.optionLable"
                                    (change)="assignSpecificationByCheckbox(data)">
                                    {{ option.optionLable }}</mat-checkbox> &nbsp;{{data.responseType.options[i].value}}
                                <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                            </div>
                        </div>

                    </div>
                </mat-card>
            </div>
        </div>
        <div class="row ml-2 mt-4">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-6" style="text-align: center;">
                <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                <button class="btn btn-primary" [disabled]="!addProductForm.valid" (click)="onAddAlbum();">Add
                    Product</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    </div>

</mat-card>