<div class="container">
    <h5>Charges</h5>
</div>
<div class="container">
    <mat-card>
        <mat-tab-group [selectedIndex]="index">
            <mat-tab label="Product" (click)="getProduct()">
                <div class="row mt-4" >
                    <div class="col-lg-6">
                      
                    </div>
                    <div class="col-lg-6">
                        <div class="float-right">
                           
                            <button class="btn btn-primary ml-2 ">Import excel</button>
                            <button class="btn btn-primary ml-2" (click)="exportproduct()">Export excel</button>
                            <button class="btn btn-primary ml-2" routerLink="/charges/add-product">
                                <i class="fa fa-plus mr-2" aria-hidden="true"></i>Add a Product</button>
                        </div>
                    </div>
                </div>
                
                    <mat-card class="mt-4">
                        <div class="row mt-2 ">
                          <div class="col-lg-12">
                              <p-table [columns]="_selectedColumns" [value]="outletTable" [paginator]="true" [rows]="10"
                                  sortMode="multiple" [(selection)]="selected1" [resizableColumns]="true" columnResizeMode="expand"
                                  [reorderableColumns]="true" frozenWidth="250px" #dt>
                                  <ng-template pTemplate="caption">
                      
                                      <div class="row">
                                          <div class="col-lg-4" style="text-align: left;">
                                              <p-multiSelect pMultiselect [options]="cols" size="20" [(ngModel)]="selectedColumns"
                                              optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                                              selectedItemsLabel="{0} columns selected">
                                          </p-multiSelect>
                                          </div>
                                         
                                          <div class="col-lg-4">
                                                             
                              <h3>
                                  List of Product 
                                </h3> 
                                          </div>
                                          <div class="col-lg-4" style="text-align: right;">
                                              <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                                              <input type="text" pInputText size="35" placeholder="Global Filter"
                                                  (input)="dt.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                                          </div>
                                      </div>
                                  </ng-template>
                      
                                  <ng-template pTemplate="header" let-columns>
                                      <tr>
                                          <th style="width: 3em;">
                                              <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                                          </th>
                                          <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                              style="width: 250px;">
                                              {{ col.header }}
                                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                  ariaLabelDesc="Activate to sort in descending order"
                                                  ariaLabelAsc="Activate to sort in ascending order">
                                              </p-sortIcon>
                                          </th>
                                      </tr>
                                      <tr>
                                          <th></th>
                                          <!-- <th *ngFor="let col of columns">
                                              <input pInputText type="text"
                                                  (input)="dt.filter($event.target.value, col.field, 'contains')" />
                                          </th> -->
                                      </tr>
                                  </ng-template>
                      
                                  <ng-template pTemplate="body" let-rowData let-columns="columns">
                                      <tr>
                                          <td>
                                              <p-tableCheckbox [value]="rowData" (click)="onChk()"></p-tableCheckbox>
                                          </td>
                      
                                          <td *ngFor="let col of columns; " class="ui-resizable-column">
                                              <div *ngIf="col.field == 'productName'">
                                                  <a style="text-decoration: underline;
                                                  color: blue;" (click)="getSingleProduct(rowData['_id'])">
                                                      {{ rowData[col.field]}}
                                                  </a>
                                              </div>
                                              <div *ngIf="col.field !== 'productName' && col.field !== 'createdAt' && col.field !== 'status' ">
                                                  {{ rowData[col.field]}}
                                              </div>
                                              <div *ngIf="col.field == 'status'">
                                              <mat-slide-toggle (change)="changeStatusProduct(rowData._id,rowData.country, $event)"
                            [checked]="rowData.status" value="rowData.status"></mat-slide-toggle>
                                              </div>
                                              <div *ngIf="col.field == 'createdAt'">
                                                    {{ rowData[col.field]| date:'medium'}}
                                            </div>
                                           
                                          </td>
                                      </tr>
                                  </ng-template>
                      
                                  <ng-template pTemplate="footer" let-columns>
                                      <tr>
                                          <td style="width: 3em;">
                                              <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                                          </td>
                                          <!-- <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                                              {{ col.header }}
                                              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                                  ariaLabelDesc="Activate to sort in descending order"
                                                  ariaLabelAsc="Activate to sort in ascending order">
                                              </p-sortIcon>
                                          </td> -->
                                      </tr>
                                  </ng-template>
                      
                                  <ng-template pTemplate="summary">
                                      There are {{ outletTable?.length }} Product 
                      
                                      <div class="row">
                                          <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                                              {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }}
                                          </div>
                                      </div>
                                  </ng-template>
                              </p-table>
                          </div>
                      </div>
                    </mat-card>
                    <div *ngIf="noData | async" class="no-records">
                        Data not found
                      </div>
                      <div *ngIf="noData==0" class="no-records">
                        Data not found
                      </div>
                    <mat-paginator style="width:100%" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


               
            </mat-tab>
            <mat-tab label="Add On" (click)="getAddons()">
             
                <div class="row mt-4">
                    <div class="col-lg-6">
                       
                    </div>
                    <div class="col-lg-6">
                        <div class="float-right">
                            <button class="btn btn-primary ml-2 ">Import excel</button>
                            <button class="btn btn-primary ml-2" (click)="exportaddons()">Export excel</button>
                            <button class="btn btn-primary ml-2" routerLink="/charges/add-addons"><i
                                    class="fa fa-plus mr-2" aria-hidden="true"></i>Add an Add On</button>
                        </div>
                    </div>
                </div>
                <mat-card class="m-4">
                    <div class="row mt-2 ">
                      <div class="col-lg-12">
                          <p-table [columns]="_selectedColumns_addon" [value]="outletTable_addon" [paginator]="true" [rows]="10"
                              sortMode="multiple" [(selection)]="selected1_addon" [resizableColumns]="true" columnResizeMode="expand"
                              [reorderableColumns]="true" frozenWidth="250px" #dt2>
                              <ng-template pTemplate="caption">
                  
                                  <div class="row">
                                      <div class="col-lg-4" style="text-align: left;">
                                          <p-multiSelect pMultiselect [options]="cols_addon" size="20" [(ngModel)]="selectedColumns_addon"
                                          optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                                          selectedItemsLabel="{0} columns selected">
                                      </p-multiSelect>
                                      </div>
                                     
                                      <div class="col-lg-4">
                                                         
                          <h3>
                              List of Addon
                            </h3> 
                                      </div>
                                      <div class="col-lg-4" style="text-align: right;">
                                          <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                                          <input type="text" pInputText size="35" placeholder="Global Filter"
                                              (input)="dt2.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                                      </div>
                                  </div>
                              </ng-template>
                  
                              <ng-template pTemplate="header" let-columns>
                                  <tr>
                                      <th style="width: 3em;">
                                          <p-tableHeaderCheckbox (click)="onChk_addon()"></p-tableHeaderCheckbox>
                                      </th>
                                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                          style="width: 250px;">
                                          {{ col.header }}
                                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                              ariaLabelDesc="Activate to sort in descending order"
                                              ariaLabelAsc="Activate to sort in ascending order">
                                          </p-sortIcon>
                                      </th>
                                  </tr>
                                  <tr>
                                      <th></th>
                                      <!-- <th *ngFor="let col of columns">
                                          <input pInputText type="text"
                                              (input)="dt1.filter($event.target.value, col.field, 'contains')" />
                                      </th> -->
                                  </tr>
                              </ng-template>
                  
                              <ng-template pTemplate="body" let-rowData let-columns="columns">
                                  <tr>
                                      <td>
                                          <p-tableCheckbox [value]="rowData" (click)="onChk_addon()"></p-tableCheckbox>
                                      </td>
                  
                                      <td *ngFor="let col of columns; " class="ui-resizable-column">
                                          <div *ngIf="col.field == 'AddonName'">
                                              <a style="text-decoration: underline;
                                              color: blue;" (click)="getSingleAddons(rowData['_id'])">
                                                  {{ rowData[col.field]}}
                                              </a>
                                          </div>
                                          <div *ngIf="col.field !== 'AddonName' && col.field !== 'createdAt' && col.field!=='status'">
                                              {{ rowData[col.field]}}
                                          </div>
                                          <div *ngIf="col.field == 'status'">
                                            <mat-slide-toggle (change)="changeStatusAddons(rowData._id,rowData.country, $event)"
                          [checked]="rowData.status" value="rowData.status"></mat-slide-toggle>
                                            </div>
                                          <div *ngIf="col.field == 'createdAt'">
                                                {{ rowData[col.field]| date:'medium'}}
                                        </div>
                                       
                                      </td>
                                  </tr>
                              </ng-template>
                  
                              <ng-template pTemplate="footer" let-columns>
                                  <tr>
                                      <td style="width: 3em;">
                                          <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                                      </td>
                                      <!-- <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                                          {{ col.header }}
                                          <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                              ariaLabelDesc="Activate to sort in descending order"
                                              ariaLabelAsc="Activate to sort in ascending order">
                                          </p-sortIcon>
                                      </td> -->
                                  </tr>
                              </ng-template>
                  
                              <ng-template pTemplate="summary">
                                  There are {{ outletTable_addon?.length }} Addon
                  
                                  <div class="row">
                                      <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                                          {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }}
                                      </div>
                                  </div>
                              </ng-template>
                          </p-table>
                      </div>
                  </div>
                </mat-card>
            </mat-tab>
            <mat-tab label="Integration" (click)="getIntegration();">
             
                <div class="row mt-4">
                    <div class="col-lg-6">
                        
                    </div>
                    <div class="col-lg-6">
                        <div class="float-right">
                            <button class="btn btn-primary ml-2 ">Import excel</button>
                            <button class="btn btn-primary ml-2" (click)="exportintegration()">Export excel</button>
                            <button class="btn btn-primary ml-2" routerLink="/charges/add-integration"><i
                                    class="fa fa-plus mr-2" aria-hidden="true"></i>Add Integration</button>
                        </div>
                    </div>
                </div>
                <mat-card class="mt-4">
                <div class="row mt-2 ">
                    <div class="col-lg-12">
                        <p-table [columns]="_selectedColumns_integration" [value]="outletTable_integration" [paginator]="true" [rows]="10"
                            sortMode="multiple" [(selection)]="selected1_integration" [resizableColumns]="true" columnResizeMode="expand"
                            [reorderableColumns]="true" frozenWidth="250px" #dt1>
                            <ng-template pTemplate="caption">
                
                                <div class="row">
                                    <div class="col-lg-4" style="text-align: left;">
                                        <p-multiSelect pMultiselect [options]="cols_integration" size="20" [(ngModel)]="selectedColumns_integration"
                                        optionLabel="header" [style]="{ minWidth: '200px' }" defaultLabel="Choose Columns"
                                        selectedItemsLabel="{0} columns selected">
                                    </p-multiSelect>
                                    </div>
                                   
                                    <div class="col-lg-4">
                                                       
                        <h3>
                            List of Integration
                          </h3> 
                                    </div>
                                    <div class="col-lg-4" style="text-align: right;">
                                        <i class="pi pi-search" style="margin: 4px 4px 0 0;"></i>
                                        <input type="text" pInputText size="35" placeholder="Global Filter"
                                            (input)="dt1.filterGlobal($event.target.value, 'contains')" style="width: auto;" />
                                    </div>
                                </div>
                            </ng-template>
                
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 3em;">
                                        <p-tableHeaderCheckbox (click)="onChk_addon()"></p-tableHeaderCheckbox>
                                    </th>
                                    <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn
                                        style="width: 250px;">
                                        {{ col.header }}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                            ariaLabelDesc="Activate to sort in descending order"
                                            ariaLabelAsc="Activate to sort in ascending order">
                                        </p-sortIcon>
                                    </th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th *ngFor="let col of columns">
                                        <!-- <input pInputText type="text"
                                            (input)="dt1.filter($event.target.value, col.field, 'contains')" /> -->
                                    </th>
                                </tr>
                            </ng-template>
                
                            <ng-template pTemplate="body" let-rowData let-columns="columns">
                                <tr>
                                    <td>
                                        <p-tableCheckbox [value]="rowData" (click)="onChk_addon()"></p-tableCheckbox>
                                    </td>
                
                                    <td *ngFor="let col of columns; " class="ui-resizable-column">
                                        <div *ngIf="col.field == 'integrationName'">
                                            <a style="text-decoration: underline;
                                              color: blue;" (click)="getSingleIntegration(rowData['_id'])">
                                                  {{ rowData[col.field]}}
                                              </a>
                                        </div>
                                        <div *ngIf="col.field !== 'integrationName' && col.field !== 'createdAt' && col.field !== 'status'">
                                            {{ rowData[col.field]}}
                                        </div>
                                        <div *ngIf="col.field == 'createdAt'">
                                              {{ rowData[col.field]| date:'medium'}}
                                      </div>
                                      <div *ngIf="col.field == 'status'">
                                        <mat-slide-toggle (change)="changeStatus(rowData._id,rowData.country, $event)"
                      [checked]="rowData.status" value="rowData.status"></mat-slide-toggle>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                
                            <ng-template pTemplate="footer" let-columns>
                                <tr>
                                    <td style="width: 3em;">
                                        <p-tableHeaderCheckbox (click)="onChk()"></p-tableHeaderCheckbox>
                                    </td>
                                    <!-- <td *ngFor="let col of columns" [pSortableColumn]="col.field">
                                        {{ col.header }}
                                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                            ariaLabelDesc="Activate to sort in descending order"
                                            ariaLabelAsc="Activate to sort in ascending order">
                                        </p-sortIcon>
                                    </td> -->
                                </tr>
                            </ng-template>
                
                            <ng-template pTemplate="summary">
                                There are {{ outletTable_integration.length }} Integration
                
                                <div class="row">
                                    <div class="col-lg-6" *ngFor="let a of selected1; let i = index">
                                        {{ i + 1 }}. {{ a.name }} -- {{ a.contact }} -- {{ a.city }}
                                    </div>
                                </div>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </mat-card>
            </mat-tab>
        </mat-tab-group>

    </mat-card>
</div>