
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    //overflow: visible;
   // width: 20px;
   text-align: center;
    word-break: break-all;
    //text-overflow: ellipsis;
    //white-space: nowrap;
    padding-right: 1px;
    padding-left: 1px;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
  }  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  table{
    text-transform: capitalize;
  }
    .no-records {
      width: 100%;
    height: 48px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }
  .no-change{
    text-transform: none;
  }
  .view {
    color: blue;
    text-decoration:underline ;
  }