<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu/equipment-attributes">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Equipment Attribute / Add Attribute</h5>
<mat-card>
    <div class="container">



        <form [formGroup]="addAttributeForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Enter Attribute Name" formControlName="attributeName">
                    </mat-form-field>
                </div>
            </div>
           
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Select Response form Dropdown</mat-label>
                        <mat-select formControlName="selectResponse" >
                            <mat-option *ngFor="let response of SelectResponses" [value]="response" (click)="onClickResponse(response)">
                                {{response}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="row ml-2 mt-2" *ngIf="inputbox">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Input Box" formControlName="inputBox">
                    </mat-form-field>
                </div>
            </div>

            
            <div class="row ml-2 mt-2" *ngIf="yesorNo">
                <div class="col-lg-4">
                    <mat-radio-group aria-label="Select an option" formControlName="yesNo">
                        <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;
                        <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>

                </div>
            </div>
            <div class="row ml-2 mt-2" *ngIf="radiobutton">
                <div class="col-lg-4">
                    <mat-radio-group aria-label="Select an option" formControlName="radioButton">
                        <mat-radio-button value="1">option 1</mat-radio-button>&nbsp;
                        <mat-radio-button value="2">option 2</mat-radio-button>&nbsp;
                        <mat-radio-button value="3">option 3</mat-radio-button>&nbsp;
                        <mat-radio-button value="4">option 4</mat-radio-button>
                    
                    </mat-radio-group>

                </div>
            </div>


            <div class="row ml-2 mt-4">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary"  (click)="onAddAlbum()">Create</button>
                </div>
                <div class="col-lg-3">

                </div>
            </div>
        </form>
    </div>

</mat-card>