<div class="container">
    <button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
        routerLink="/employee/bizly/loan-history">Back</button>

    <mat-card class="mt-4">


        <div class="row">
            <div class="col-md-3">
                <h5>Loan History</h5>
            </div>
            <div class="col-md-6">
                <h5>{{empName}}</h5>
            </div>
        </div>

        <div *ngFor="let n of NoLoans; let i = index">

            <div class="row mt-4">
                <h5>Loan {{i+1}}</h5>
            </div>
            <div class="row mt-4">
                <!-- AMOUNT TABLE -->
                <p-table [value]="rows1">
                  <ng-template pTemplate="header">
                      <tr>
                         <th>
                              Amount Taken
                        </th>
                         <th>
                             EMI
                        </th>
                         <th>
                              Date of Disbursement
                        </th>
                         <th>
                            Irregular EMIs
                        </th>                   
              
                      </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                      <tr>
                          <td>
                              {{row.amt | currency: 'INR'}}
                          </td>
                          <td>
                              {{row.emi| currency: 'INR'}}
                          </td>
                          <td>
                              {{row.date}}
                          </td>   
                          <td>
                              {{row.irregular}}
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
                      </div>
                    
              
                      <div class="row mt-4">
                <!-- EMI TABLE -->
                <p-table [value]="rows2">
                  <ng-template pTemplate="header">
                      <tr>
                          <th>EMI</th>
                          <th>Amount Paid</th>
                          <th>EMI Due Amount</th>
                          <th>EMI Date</th>
                          <th>Paid Date</th>
                      </tr>             
                  </ng-template>
                  <ng-template pTemplate="body" let-row>
                      <tr>
                          <td>
                              {{row.emi}}
                          </td>
                          <td>
                              {{row.amt_paid | currency: 'INR'}}
                          </td>
                          <td>
                              {{row.due| currency: 'INR'}}
                          </td>
                          <td>
                              {{row.emi_date}}
                          </td>
                          <td>
                              {{row.paid_date}}
                          </td>
                      </tr>
                  </ng-template>
              </p-table>
                      </div>
        </div>
      
      
    </mat-card>
</div>