                <h4 class="text-center" mat-dialog-title>Add Drink Sub Varient<i class="fa fa-times" 
                    aria-hidden="true" style="float: right;" mat-dialog-close></i></h4>
        <mat-dialog-content>
                    <form [formGroup]="addSubVarientForm">

        <!-- ***********dropdown for RootDrinks ******************* -->
        <div class="row">
            <!-- <div class="col-lg-12">
              
                <mat-form-field>
                    <mat-select formControlName="rootdrink" (change)="onRootDrinkSelection($event)" [class.is-invalid]="addSubVarientForm.get('rootdrink').invalid &&
    addSubVarientForm.get('rootdrink').touched">
                        <mat-option value="">Select Root Drink Types</mat-option>
                        <mat-option *ngFor="let d of DrinkTypes">
                            {{d.rootDrinkType}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="addSubVarientForm.get('rootdrink').valid ||
    addSubVarientForm.get('rootdrink').untouched">
                        Select Root Drink</mat-error>
                </mat-form-field>
            </div>

          

            <div class="col-lg-12">
                <mat-form-field>
                    <mat-select (change)="onVarientSelection($event)" [class.is-invalid]="addSubVarientForm.get('varientName').invalid &&
    addSubVarientForm.get('varientName').touched" formControlName="varientName" addSubVarientForm>
                        <mat-option value="">Select Liquor Varient</mat-option>
                        <mat-option *ngFor="let v of VarientsArray" [value]="v.liquorVarientName">
                            {{v.liquorVarientName}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="addSubVarientForm.get('varientName').valid ||
    addSubVarientForm.get('varientName').untouched">
                        Select Liquor varient</mat-error>
                </mat-form-field>
            </div> -->


            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Add Drink Sub Varient" [class.is-invalid]="addSubVarientForm.get('subVarientName').invalid &&
    addSubVarientForm.get('subVarientName').touched" formControlName="subVarientName">
                    <mat-error [class.d-none]="addSubVarientForm.get('subVarientName').valid ||
    addSubVarientForm.get('subVarientName').untouched">
                        Drink Sub Varient is Invalid</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" (click)="onAddSubVarient()" [disabled]="!addSubVarientForm.valid"
                    mat-dialog-close>Add</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    
</form>
</mat-dialog-content>