<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Retail Food / Add Attribute</h5>
<mat-card>
    <div class="container">
        <form [formGroup]="addAttributeForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Enter Attribute Name" formControlName="attributeName">
                    </mat-form-field>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Select Response form Dropdown</mat-label>
                        <mat-select formControlName="selectResponse" >
                            <mat-option *ngFor="let response of SelectResponses" [value]="response" (click)="onClickResponse(response)">
                                {{response}}
                            </mat-option>

                        </mat-select>
                    </mat-form-field>
                </div>

            </div>

            <div class="row ml-2 mt-2" *ngIf="inputbox">
                <div class="col-lg-4" >
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Input Box"  disabled>
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Placeholder" formControlName="inputBox">
                    </mat-form-field>
                </div>
            </div>

            
            <div class="row ml-2 mt-2" *ngIf="yesorNo">
                <div class="col-lg-4">
                    <mat-radio-group aria-label="Select an option" formControlName="yesNo" >
                        <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;
                        <mat-radio-button value="No">No</mat-radio-button>
                    </mat-radio-group>

                </div>
            </div>
            <div class="row ml-2 mt-2" *ngIf="radiobutton">
                <div class="col-lg-4" *ngFor="let option of radioOptions">                   
                        <mat-radio-group aria-label="Select an option" formControlName="radioButton">
                            <mat-radio-button [value]="option">{{option.optionLable}}</mat-radio-button> &nbsp;
                                  </mat-radio-group>&nbsp;
                                  <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                </div>
                <div class="col-lg-4">
                    <button (click)=addOption()>Add</button>
                </div>
            </div>            
            <div class="row ml-2 mt-2" *ngIf="checkbox">
                <div class="col-lg-4" *ngFor="let option of checkBoxOptions">
                    <mat-checkbox formControlName="checkBoxButton">{{ option.optionLable }}</mat-checkbox> &nbsp;
                    <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                </div>                
                <div class="col-lg-4">
                    <button (click)=addCheckBox()>Add</button>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                 
                        <mat-slide-toggle formControlName="searchable" > Searchable</mat-slide-toggle>
                
                </div>
                <div class="col-lg-4">
                   
                        <mat-slide-toggle formControlName="filterable"> Filterable</mat-slide-toggle>
              
                </div>
            </div>
            <div class="row ml-2 mt-4">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6" style="text-align: center;">
           
                    <button class="btn btn-primary" [disabled]="!addAttributeForm.valid" (click)="onAddAlbum()">Create</button>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
          
        </form>
    </div>
</mat-card>