<h4 mat-dialog-title>Varient Content<i class="fa fa-times" aria-hidden="true" style="float: right;" mat-dialog-close></i></h4>
<div mat-dialog-content>
    <form [formGroup]="varientContentForm">
        <div class="row ml-2 mt-2">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Content Name" [class.is-invalid]="varientContentForm.get('contentName').invalid &&
                varientContentForm.get('contentName').touched" formControlName="contentName">
                    <mat-error [class.d-none]="varientContentForm.get('contentName').valid ||
                varientContentForm.get('contentName').untouched" class="text-danger">
                        Content name is Invalid</mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button cdkFocusInitial [disabled]=!varientContentForm.valid (click)="addvarientContent()"> Add New
    </button>
    <button mat-button (click)="onNoClick()">Cancel</button>
</div>