<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/menu">Back</button>

<h5 style="margin-top: -16px;">Menu Management / Add Varients</h5>
<mat-card #customLoadingTemplate>
    <!-- <mat-card> -->
    <div class="container">
        <form [formGroup]="addVarientsForm">
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Add Varient Name" (focusout)=" checkVarientExist($event)" [class.is-invalid]="addVarientsForm.get('varientName').invalid &&
                            addVarientsForm.get('varientName').touched" formControlName="varientName">
                        <mat-error [class.d-none]="addVarientsForm.get('varientName').valid ||
                            addVarientsForm.get('varientName').untouched" class="text-danger">
                            Varients name is Invalid</mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-3" class="ml-2 mt-2" *ngFor="let s of selectedvarients">
                    <mat-chip color="accent" [selected]="true" class="transform">
                        {{s.contentName}} <i class="fas fa-times-circle ml-2" (click)="removevarients(s)"></i>
                    </mat-chip>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-12">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Search Varients or select from below" (keyup)="applyFilterVarientContent($event)">
                    </mat-form-field>
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>


            <div class="row ml-2 mt-2">
                <div class="col-lg-3" class="ml-2 " *ngFor="let varient of varientContents">
                    <mat-chip (click)="onCheckvarients(varient)" class="transform">
                        {{varient.contentName}}
                    </mat-chip>
                </div> &nbsp;<i class="fas fa-plus-circle mt-1" (click)="openAddVarientDialog()">Add new</i>
            </div>

            <div class="row">

                <div class="m-5" formArrayName="varientType">
                    <p>Varient Type:</p>
                        <div *ngFor="let type of getControls(); let i = index" 
                            [formGroupName]="i" style="display: flex">
<table class="table table-striped table-bordered nowrap table-hover"><td>{{i+1}}</td>
    
    <td><input  placeholder="Varient Type" formControlName="varientName_type"></td>
<td> <mat-radio-group aria-label="Select an option" formControlName="type">
    <mat-radio-button value="Veg">Veg</mat-radio-button>&nbsp;
    <mat-radio-button value="Non-Veg">Non-Veg</mat-radio-button>&nbsp;
    <mat-radio-button value="Sea Food">Sea Food</mat-radio-button>&nbsp;
    <mat-radio-button value="Egg">Egg</mat-radio-button>

</mat-radio-group></td>
<td *ngIf="addVarientsForm.get('varientType').controls.length!=i+1"> <button (click)="RemoveVarientType(i)"><i class="fa fa-trash"></i></button></td>
<td *ngIf="addVarientsForm.get('varientType').controls.length==i+1"> <button (click)="addVarientType()" [disabled]="addVarientsForm.get('varientType').value[i]['varientName_type']=='' && addVarientsForm.get('varientType').value[i]['type']==''"><i class="fas fa-plus-circle mt-1"></i></button><button class="mr-2" (click)="RemoveVarientType(i)" *ngIf="i!=0"><i class="fa fa-trash"></i></button></td></table>

                  <div >
                                     
                            </div>
                        </div>
                      </div>
                
                </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-4">
                    <h5>Add Images</h5>
                </div>
            </div>

            <div class="row ml-2 mt-2">
                <div *ngFor="let m of multiResponse">
                    <i class="fa fa-times" aria-hidden="true" (click)="removeImage(m)"></i>
                    <img src="{{m}}" alt="" height="50px" widht="50px">
                </div>
            </div>


            <div class="row ml-2 mt-2">
                <div class="col-lg-12">
                    <div>
                       
                            <input  type="file" name="varients" ng2FileSelect [uploader]="uploader"
                                (change)="uploader.uploadAll(); setLoading()" multiple>
                       
                    </div>
                </div>
            </div>
        </form>

        <div class="row ml-2 mt-4">
            <div class="col-lg-6" style="text-align: center;">
                <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                <button class="btn btn-primary" (click)="onAddAlbum()" [disabled]="!addVarientsForm.valid">Add
                    Varient</button>
            </div>
        </div>

    </div>
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>
</mat-card>