<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/feedback">Back</button>

<h5 style="margin-top: -16px;">Feedback / View Template</h5>

<mat-card>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <button class="btn btn-primary float-right" style=" padding-left: 36px; padding-right: 36px"
                    routerLink="/feedback/edit-template">Edit</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>
                    Template Name
                </label>
                <h5>
                    {{viewFeedBack.templateName}}
                </h5>
            </div>
            <div class="col-lg-8">
                <label>
                    Description
                </label>
                <h5>
                    {{viewFeedBack.templateDescription}}

                </h5>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>
                    Filter
                </label>
                <h5>
                    {{viewFeedBack.selectFilter}}
                </h5>
            </div>
            <div class="col-lg-4">
                <label>
                    PlatForm
                </label>
                <h5>
                    {{viewFeedBack.platForm}}

                </h5>

            </div>
        </div>
        <div class="row">
            <h5>Survey</h5>
        </div>
        <div class="row">
            <div *ngFor="let question of viewFeedBack.selectedQuestionsSet">
                <div class="card ml-2" style="width: 18rem;">
                    <div class="card-body">

                        <h5 class="card-title TitleCard">{{question.feedbackQuestionID}}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted mt-1">{{question.label_Name}} </h6>
                        <div *ngIf="question.inputType=='Input Box'">
                            <mat-form-field class="example-full-width" style="width: 80%;">
                                <input matInput placeholder="Input Box" disabled>
                            </mat-form-field>
                            <label>Placeholder Name</label>
                            <p>{{question.inputPlaceholderName}}</p>
                        </div>
                        <div *ngIf="question.inputType=='Radio Button'">
                            <div *ngFor="let option of question.RadioButtons">

                                <mat-radio-button disabled>{{option}}</mat-radio-button>

                            </div>
                        </div>
                        <div *ngIf="question.inputType=='Yes / No'">

                            <mat-radio-button disabled>Yes</mat-radio-button>&nbsp;
                            <mat-radio-button disabled>No</mat-radio-button>

                        </div>



                    </div>

                </div>
            </div>
        </div>

    </div>
</mat-card>