<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/inventory">Back</button>

<h5 style="margin-top: -16px;">Inventory Management / Update Item</h5>
<mat-card>
    <form [formGroup]="additemForm">

        <div class="row">
            <div class="col-lg-6">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Item Name" [class.is-invalid]="additemForm.get('itemName').invalid &&
            additemForm.get('itemName').touched" formControlName="itemName">
                    <mat-error [class.d-none]="additemForm.get('itemName').valid ||
            additemForm.get('itemName').untouched" class="text-danger">
                        Item name is Invalid</mat-error>
                </mat-form-field>
            </div>


        </div>
        <div class="row">
        
            <div class="col-lg-6">
                <mat-form-field style="width: 80%;">
                    <mat-label>Brand</mat-label>
                    <mat-select formControlName="brand" [class.is-invalid]="additemForm.get('brand').invalid &&
additemForm.get('brand').touched">
                        <mat-option *ngFor="let b of allBrand" [value]="b.BrandName">
                            {{b.BrandName}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="additemForm.get('brand').valid ||
additemForm.get('quantity').untouched" class="text-danger">
                        Select Brand</mat-error>
                </mat-form-field>

                <i class="fa fa-plus mb-2" (click)="addBrandFoodInventory()" aria-hidden="true"> Add Brand</i>
            </div>




        </div>
        <div class="row">
        

            <div class="col-lg-6">
                <mat-form-field style="width: 80%;">
                    <mat-label>Material</mat-label>
                    <mat-select formControlName="ingredient" [class.is-invalid]="additemForm.get('ingredient').invalid &&
additemForm.get('ingredient').touched">
                        <mat-option *ngFor="let i of allIngredient" [value]="i.ingredientName">
                            {{i.ingredientName}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="additemForm.get('ingredient').valid ||
additemForm.get('quantity').untouched" class="text-danger">
                        Select Material</mat-error>
                </mat-form-field>
                <i class="fa fa-plus mr-2" (click)="addingredients()" aria-hidden="true"></i>Add
                    Material
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field style="width: 80%;">
                    <mat-label>Quantity</mat-label>
                    <mat-select formControlName="measurement" [class.is-invalid]="additemForm.get('measurement').invalid &&
            additemForm.get('measurement').touched">
                        <mat-option *ngFor="let quantity of quantitys" [value]="quantity">
                            {{quantity}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="additemForm.get('measurement').valid ||
            additemForm.get('measurement').untouched" class="text-danger">
                        Select quantity</mat-error>
                </mat-form-field>

            </div>


        </div>
        <div class="row" *ngIf="additemForm.get('measurement').value=='Liter-Mililiter' || additemForm.get('measurement').value=='Kg-Gram'">

            <div class="m-5" formArrayName="quantity">

                <div>
                    <table class="table table-striped table-bordered nowrap table-hover">
                        <thead>
                            <tr *ngIf="additemForm.get('measurement').value=='Kg-Gram'">
                                <th>Index</th>
                                <th>Kg</th>
                                <th>Gram</th><th>Actions</th>

                            </tr>
                            <tr *ngIf="additemForm.get('measurement').value=='Liter-Mililiter'">
                                <th>Index</th>
                                <th>Liter</th>
                                <th>Mililiter</th><th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let type of additemForm.get('quantity').controls; let i = index"
                                [formGroupName]="i">
                                <td>{{i+1}}</td>

                                <td>
                                    <input type="number" (keyup)="convertintograms($event.target.value,i)"
                                        formControlName="kg">
                                </td>
                                <td>
                                    <input type="number" (keyup)="convertintoKg($event.target.value,i)"
                                        formControlName="gram">
                                </td>
                                <td *ngIf="additemForm.get('quantity').controls.length!=i+1">
                                    <button (click)="RemoveQuantityList(i)"><i class="fa fa-trash"></i></button>
                                </td>
                                <td *ngIf="additemForm.get('quantity').controls.length==i+1">
                                    <button (click)="addQuantityList()"
                                        [disabled]="additemForm.get('quantity').value[i]['gram']=='' && additemForm.get('quantity').value[i]['kg']==''  "><i
                                            class="fas fa-plus-circle mt-1"></i></button><button class="mr-2"
                                        (click)="RemoveQuantityList(i)" *ngIf="i!=0"><i
                                            class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>

                    </div>
                </div>
            </div>

        </div>

    </form>
    <div class="row ml-2 mt-4">
     
        <div class="col-lg-6" style="text-align: center;">
            <button mat-button class="btn btn-primary" (click)="additems()" [disabled]="!additemForm.valid"
            >Update Item</button>
           
        </div>
    
    </div>
</mat-card>