<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/integrations">Back</button>

<h5 style="margin-top: -16px;">Integrations / View Chains</h5>
<div class="row">
    <div class="col-lg-12">

        <table class="table table-striped">
            <tbody>
               
                <tr>
                    <th scope="row">Chain Name</th>
                    <td>{{ chainObject.chainName }}</td>
                </tr>
                <tr>
                    <th scope="row">License Number</th>
                    <td>{{ chainObject.LicenseNumber }}</td>
                </tr>
                <tr>
                    <th scope="row">Chain Integrations Active</th>
                    <td>{{ chainObject.chainIntegrationsActive }}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <mat-card>
            <table class="table table-striped" style="width:100%;">
                <thead>
                  <tr>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Restaurant <br>Name</th>
                    <th scope="col">Restaurant <br>ID</th>
                    <th scope="col">City-Locality</th>
                    <th scope="col">Active <br>Integartions</th>
                    <th scope="col">Pending <br>Requests</th>
                  
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let chain of chainsData">
                    <th scope="row">{{ chain.SerialNumber }}</th>
                    <td>{{ chain.restaurantName }}</td>
                    <td>{{ chain.restaurantID }}</td>
                    <td>{{ chain.city_Locality }}</td>
                    <td>{{ chain.activeIntegrations }}</td>
                    <td><button class="btn btn-outline-primary btn-sm" routerLink="/integrations/view-chains-history">View History</button>
                    </td>
                  
                  </tr>
                  
                </tbody>
              </table>
        </mat-card>
    </div>
</div>