.dot {
    height: 15px;
    width: 15px;
    background-color: #29ff2994;
    border-radius: 50%;
    display: inline-block;
  }

  .custom-edit{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}