<div class="col-xl-12 col-md-12">
    <div class="row">
        <div class="col-md-8">
            <h5>View Attribute Set</h5>
        </div>

        <div class="col-md-4">
            <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>

        </div>
    </div>
    <div class="row">
        <div class="row" *ngIf="this.attributeKey=='liquor'" >
            <div class="row ml-2 mt-2">
              <label>Liquor Category</label>
          </div>
          <div class="row ml-2">
              <div class="col-lg-12">
                  <ul id="myUL">
                      <li *ngFor="let rootdDrink of DrinkTypes; let i=index">
                          
                          <span class="caret" (click)="caretClick()">
                          <mat-checkbox [disabled]="true" [(indeterminate)]="rootdDrink['inter']" class="example-margin" [checked]="rootdDrink['showChildren']" (change)="changeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" value="rootdDrink.rootDrinkType"></mat-checkbox>
      
                          <!-- <input type="radio" formControlName="rootDrinkType" [value]="rootdDrink.rootDrinkType"> -->
                          {{rootdDrink.rootDrinkType}}
                        </span>
        
                        <ul class="nested">
        
                          <li *ngFor="let liquorVarient of rootdDrink.liquorVarients;let subcategoryIndex=index"><span class="caret"
                              (click)="caretClick()">
                          <mat-checkbox [disabled]="true" class="example-margin" (change)="changeFlag(rootCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="liquorVarient['showChildren']" [(indeterminate)]="liquorVarient['inter']" value="liquorVarient.liquorVarientName"></mat-checkbox>
                              
                              <!-- <input type="radio" formControlName="liquorVarient" [value]="liquorVarient.liquorVarientName"> -->
                              {{liquorVarient.liquorVarientName}}
                            </span>
                            <ul class="nested">
                              <li *ngFor="let liquorSubVarient of liquorVarient.liquorSubVarients; let subsubcategoryINdex=index"><span class="caret"
                                  (click)="caretClick()">
                                  <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.liquorSubVarientName"> -->
                          <mat-checkbox [disabled]="true" class="example-margin" [checked]="liquorSubVarient['showChildren']"  (change)="changeFlag(rootCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [(indeterminate)]="liquorSubVarient['inter']" value="liquorSubVarient.liquorSubVarientName"></mat-checkbox>
      
                                  {{liquorSubVarient.liquorSubVarientName}}
                                </span>
                                <ul class="nested">
        
                                  <li *ngFor="let liquorSubSubVarient of liquorSubVarient.liquorSubSubVarientType; let typeIndex=index">
                                    <span>
                                      <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                      <!-- (click)="selectSubSubVarient(rootdDrink.rootDrinkType, liquorVarient.liquorVarientName , liquorSubVarient.liquorSubVarientName)"> -->
                          <mat-checkbox [disabled]="true" class="example-margin" [checked]="liquorSubSubVarient['showChildren']" (change)="changeFlag(rootCategory, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [(indeterminate)]="liquorSubSubVarient['inter']" value="liquorSubSubVarient."></mat-checkbox>
      
                                      {{liquorSubSubVarient['liquorSubSubVarientTypeName']}}
                                    </span>
                                  </li>
                                  
                                </ul>
                              </li>
                             </ul>
                          </li>
                         
                        </ul>
                      </li>
                     
                    </ul>
              </div>
          </div>
          </div>
          <div class="row" *ngIf="this.attributeKey=='equipment'" >
            <div class="row ml-2 mt-2">
              <label>Equipment Category</label>
          </div>
          <div class="row ml-2">
              <div class="col-lg-12">
                <ul id="myUL">
                  <li *ngFor="let rootCategory of allAssetInventoryCategory; let i=index"><span class="caret"
                      (click)="caretClick()">
                      <mat-checkbox [disabled]="true" class="example-margin"  (change)="changeFlagEquipment(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="rootCategory['showChildren']" [(indeterminate)]="rootCategory['inter']"  value="rootCategory['_id']"></mat-checkbox>
                      {{rootCategory.rootCategoryName}}
                    </span>
      
                    <ul class="nested">
      
                      <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                          (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="changeFlagEquipment(subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subCategory['showChildren']" [(indeterminate)]="subCategory['inter']" value="subCategory['_id']"></mat-checkbox>
                          {{subCategory.subCategoryName}} 
                        </span>
                        <ul class="nested"> 
                          <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                               (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="changeFlagEquipment(subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subSubCategory['showChildren']" [(indeterminate)]="subSubCategory['inter']" value="subSubCategory['_id']"></mat-checkbox>
                              {{subSubCategory.subSubCategoryName}}
                            </span>
                            <ul class="nested">
      
                              <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                                <span>
                                  <mat-checkbox [disabled]="true" class="example-margin" (change)="changeFlagEquipment(type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']" [(indeterminate)]="type['inter']" value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                                </span>
                              </li>
                             
                            </ul>
                          </li>
                          
                        </ul>
                      </li>
                     
                    </ul>
                  </li>
                 
      
                </ul>
              </div>
          </div>
          </div>
          <div class="row" *ngIf="this.attributeKey=='beverage'" >
            <div class="row ml-2 mt-2">
              <label>In House Beverages Category</label>
          </div>
          <div class="row ml-2">
              <div class="col-lg-12">
                <ul id="myUL">
                  <li *ngFor="let rootCategory of allInHouseBeveragesCategories; let i=index"><span class="caret"
                      (click)="caretClick()">
                      <mat-checkbox [disabled]="true" class="example-margin"  (change)="changeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="rootCategory['showChildren']" [(indeterminate)]="rootCategory['inter']"  value="rootCategory['_id']"></mat-checkbox>
                      {{rootCategory.rootCategoryName}}
                    </span>
      
                    <ul class="nested">
      
                      <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                          (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="changeFlag(subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subCategory['showChildren']" [(indeterminate)]="subCategory['inter']" value="subCategory['_id']"></mat-checkbox>
                          {{subCategory.subCategoryName}} 
                        </span>
                        <ul class="nested"> 
                          <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                               (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="changeFlag(subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subSubCategory['showChildren']" [(indeterminate)]="subSubCategory['inter']" value="subSubCategory['_id']"></mat-checkbox>
                              {{subSubCategory.subSubCategoryName}}
                            </span>
                            <ul class="nested">
      
                              <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                                <span>
                                  <mat-checkbox [disabled]="true" class="example-margin" (change)="changeFlag(type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']" [(indeterminate)]="type['inter']" value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                                </span>
                              </li>
                               
                            </ul>
                          </li>
                          
                        </ul>
                      </li>
                     
                    </ul>
                  </li>
                  
      
                </ul>
              </div>
          </div>
          </div>
          <div class="row" *ngIf="this.attributeKey=='retailfood'" >
            <div class="row ml-2 mt-2">
              <label>Retail Food Category</label>
          </div>
          <div class="row ml-2">
              <div class="col-lg-12">
                <ul id="myUL">
                  <li *ngFor="let rootCategory of allRetailFoodCategories; let i=index"><span class="caret"
                      (click)="caretClick()">
                      <mat-checkbox [disabled]="true" class="example-margin"  (change)="RetailfoodchangeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="rootCategory['showChildren']" [(indeterminate)]="rootCategory['inter']" value="rootCategory['_id']"></mat-checkbox>
                      {{rootCategory.rootCategoryName}}
                    </span>
      
                    <ul class="nested">
      
                      <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                          (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="RetailfoodchangeFlag(subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subCategory['showChildren']" [(indeterminate)]="subCategory['inter']" value="subCategory['_id']"></mat-checkbox>
                          {{subCategory.subCategoryName}} 
                        </span>
                        <ul class="nested"> 
                          <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                               (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="RetailfoodchangeFlag(subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subSubCategory['showChildren']" [(indeterminate)]="subSubCategory['inter']" value="subSubCategory['_id']"></mat-checkbox>
                              {{subSubCategory.subSubCategoryName}}
                            </span>
                            <ul class="nested">
      
                              <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                                <span>
                                  <mat-checkbox [disabled]="true" class="example-margin" (change)="RetailfoodchangeFlag(type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']" [(indeterminate)]="type['inter']"  value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                                </span>
                              </li>
                            
                          </ul>
                        </li>
                       
                      </ul>
                    </li>
                   
                  </ul>
                </li>
                
                </ul>
              </div>
          </div>
          </div>
          <div class="row" *ngIf="this.attributeKey=='retailbeverages'" >
            <div class="row ml-2 mt-2">
              <label>Retail Beverages Category</label>
          </div>
          <div class="row ml-2">
              <div class="col-lg-12">
                <ul id="myUL">
                  <li *ngFor="let rootCategory of allRetailBeveragesCategories; let i=index"><span class="caret"
                      (click)="caretClick()">
                      <mat-checkbox [disabled]="true" class="example-margin"  (change)="beveargeschangeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="rootCategory['showChildren']" [(indeterminate)]="rootCategory['inter']"  value="rootCategory['_id']"></mat-checkbox>
                      {{rootCategory.rootCategoryName}}
                    </span>
      
                    <ul class="nested">
      
                      <li *ngFor="let subCategory of rootCategory.subCategories; let subcategoryIndex=index"><span class="caret"
                          (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="beveargeschangeFlag(subCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subCategory['showChildren']" [(indeterminate)]="subCategory['inter']" value="subCategory['_id']"></mat-checkbox>
                          {{subCategory.subCategoryName}} 
                        </span>
                        <ul class="nested"> 
                          <li *ngFor="let subSubCategory of subCategory.subSubCategories; let subsubcategoryINdex=index "><span class="caret"
                               (click)="caretClick()"><mat-checkbox [disabled]="true" class="example-margin" (change)="beveargeschangeFlag(subSubCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="subSubCategory['showChildren']" [(indeterminate)]="subSubCategory['inter']" value="subSubCategory['_id']"></mat-checkbox>
                              {{subSubCategory.subSubCategoryName}}
                            </span>
                            <ul class="nested">
      
                              <li *ngFor="let type of subSubCategory.subSubCategoryType;  let typeIndex=index">
                                <span>
                                  <mat-checkbox [disabled]="true" class="example-margin" (change)="beveargeschangeFlag(type, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);" [checked]="type['showChildren']" [(indeterminate)]="type['inter']"  value="type['subSubCategoryTypeName']"></mat-checkbox> {{type['subSubCategoryTypeName']}}
                                </span>
                              </li>
                              
                            </ul>
                          </li>
                          
                        </ul>
                      </li>
                    
                    </ul>
                  </li>
      
                </ul>
              </div>
          </div>
          </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label>Attribute Set Code</label>
            <p>{{data.attributeSetCode}}</p>
        </div>
        <div class="col-lg-6">
            <label>Attribute Set Name</label>
            <p>{{data.attributeSetName}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <label>Added By</label>
            <p>{{data.addedBy.userName}}</p>
        </div>
        <div class="col-lg-6">
            <label>Date and Time</label>
            <p>{{data.updatedAt | date:'medium'}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h5>Attribute Group</h5>
        </div>
    </div>
    <div *ngFor="let g of assignedGroupsToSet">
        <div class="row">
            <div class="col-lg-12">
                > {{g.groupName}}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6" *ngFor="let a of g.assignAttributes">
                {{a.attributeName}}
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-lg-6">
            <label>Response Type</label>
            <p>{{response.elementName}}</p>
        </div>
    </div> -->

    <!-- 
    <div class="row" *ngIf="inputbox">

        <div class="col-lg-6">
            <mat-form-field class="example-full-width" style="width: 80%;">
                <input matInput [placeholder]="inputBoxPlaceholder" disabled>
            </mat-form-field>
        </div>
    </div>

    <div class="row" *ngIf="yesorNo">
        <div class="col-lg-4">
            <mat-radio-group aria-label="Select an option" disabled>
                <mat-radio-button value="Yes">Yes</mat-radio-button>&nbsp;
                <mat-radio-button value="No">No</mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <div class="row ml-2 mt-2" *ngIf="radiobutton">
        <div class="col-lg-4" *ngFor="let option of radioOptions">
            <mat-radio-group aria-label="Select an option" disabled>
                <mat-radio-button [value]="option">{{option.optionLable}}</mat-radio-button> &nbsp;
            </mat-radio-group>&nbsp;
            <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
        </div>
    </div>
 
    <div class="row ml-2 mt-2" *ngIf="checkbox">
        <div class="col-lg-4" *ngFor="let option of checkBoxOptions">
            <mat-checkbox [disabled]="true" disabled>{{ option.optionLable }}</mat-checkbox> &nbsp;
            <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
        </div>
    </div> 
 -->

    <!-- <div class="table-border-style">
        <div class="table-responsive">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>Attribute Code</td>
                        <td>{{data._id}}</td>
                    </tr>
                    <tr>
                        <td>Attribute Name</td>
                        <td>{{data.attributeName}}</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>{{data.elementName.elementName}}</td>
                    </tr>
                    <tr>
                        <td>Root Drink Type</td>
                        <td>{{data.rootDrinkType}} </td>
                    </tr>
                    <tr>
                        <td>Liquor Varient</td>
                        <td>{{data.liquorVarient}}</td>
                    </tr>
                    <tr>
                        <td> Liquor Sub Varient</td>
                        <td>{{data.liquorSubVarient}}</td>
                    </tr>
                    <tr>
                        <td> Liquor Sub Sub Varient</td>
                        <td>{{data.liquorSuVarientType}}</td>
                    </tr>
                    <tr>
                        <td>Added By</td>
                        <td>{{addedBy}}</td>
                    </tr>
                    <tr>
                        <td>Date and Time</td>
                        <td>{{data.updatedAt | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->
    <div class="row">
      <div class="offset-9 col-2">
          <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
      </div>
  </div>

</div>