/* You can add global styles to this file, and also import other style files */

/* SCSS */
@import "scss/style";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~angular-tree-component/dist/angular-tree-component.css';

.ag-theme-alpine .ag-header {
    background-color: #6D9BFF !important;
    border-bottom: solid 1px #BABFC7;
    /* color: #fff; */
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background{
    background-color: #6D9BFF !important;
}