<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-6">
        <h1 mat-dialog-title>Add Sub Varient</h1>
    </div>
    
    <div class="col-md-3">
        <i class="fa fa-window-close float-right" style="margin-left: 52px; margin-top: -7px;" aria-hidden="true"
            mat-dialog-close></i>
    </div>
</div>


<div mat-dialog-content>

    <form [formGroup]="addLiquorSubVarient">
        <div class="form-group">
            <!-- <label for="exampleInputEmail1">Category Name</label><br> -->
            <!-- <select formControlName="category_name">
                <option [value]="c" *ngFor="let c of CatArr">{{c}}</option>
            </select> -->
            <mat-form-field class="example-full-width">
                <input type="text" placeholder="Sub Varient Name" aria-label="Number"  formControlName="childCategoryName" matInput >
              
              </mat-form-field>
        </div>

        
            <label for="exampleInputEmail1">Filterable</label>
            <div class="form-group">
                <mat-slide-toggle formControlName="isFilterable"> Filterable</mat-slide-toggle>>
        </div>
        
            <label for="exampleInputEmail1">Searchable</label>
            <div class="form-group">
                <mat-slide-toggle formControlName="isSearchable"> Searchable</mat-slide-toggle>
               </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Priority in the tree/filter</label><br>
            <select formControlName="priority">
                <!-- <option [value]="p" *ngFor="let p of PrioArr">{{p}}</option> -->
            </select>
          
            <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            <!-- <mat-form-field class="example-full-width">
                <input type="text" placeholder="Priority" aria-label="Number"  matInput [formControl]="myControl1" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" >
                  <mat-option *ngFor="let option of filteredOptions1 | async"  [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field> -->
        </div>
     

    </form>
</div>

<div class="row">
    <div class="col-lg-3">

    </div>
    <div class="col-lg-6">
        <div mat-dialog-actions>
            <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            <button class="btn btn-primary" (click)="onSave()" mat-dialog-close>Save Category</button>
        </div>
    </div>
    <div class="col-lg-3">
        
    </div>
</div>
