<h1 mat-dialog-title>Add Brand</h1>
<div mat-dialog-content>
    <form [formGroup]="addBrandForm">
        <div class="row">
            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input matInput placeholder="Brand Name" formControlName="brandName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <select class="mb-3 form-control" formControlName="country">
                    <option value="">Country</option>
                    <option *ngFor="let c of countries" [value]="c.name">
                        {{c.name}}
                    </option>
                </select>
            </div>
        </div>

       
        <div class="row">
            <div class="col-lg-12">
                <img src="{{brandImage}}"  alt="" height="50px" widht="50px">
            </div>

        </div>
        <div class="row">
            <div class="col-lg-6">
                <input type="file" ng2FileSelect [uploader]="uploader"
                (change)="uploader.uploadAll()">
            </div>
        </div>
    </form>
</div>
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close>Cancel</button> &nbsp;
        <button mat-button [mat-dialog-close] [disabled]="!addBrandForm.valid" (click)="addBrand()" cdkFocusInitial>Update Brand</button>
    </div>