<button type="button" class="btn btn-danger float-right"
    style="margin-top: -46px; padding-left: 36px; padding-right: 36px" (click)="back_to_page()">Back</button>
<mat-card>
    <div class="row">
        <div class="col-lg-12 MainGrid">
            <form [formGroup]="updateCircularNoticeForm">
 <mat-form-field appearance="outline" class="pl-4">
    <mat-label>Add Circular Subject/Heading</mat-label>
    <input matInput placeholder="" formControlName="circular_subject" >
    <!-- <mat-error [class.d-none]="CircularfoodOrderForm.get('add_circular').valid ||
    CircularfoodOrderForm.get('add_circular').untouched" class="text-danger">Subject/Heading is Invalid</mat-error> -->
    <!-- <input matInput formControlName="add_circular" required> -->
</mat-form-field>
<mat-form-field appearance="outline" class="pl-4">
    <mat-label>Select notice from XYZ </mat-label>
    <input matInput placeholder="Assistant Manager" formControlName="ass_manager" >
    <!-- <mat-error [class.d-none]="CircularfoodOrderForm.get('ass_manager').valid ||
    CircularfoodOrderForm.get('ass_manager').untouched" class="text-danger">Notice is Invalid</mat-error> -->
    
</mat-form-field>


<mat-form-field appearance="outline" class="pl-4">
    <mat-label>Add Circular Description MS Word Format</mat-label>
    <input matInput placeholder="" formControlName="add_circular_disc" >
    <!-- <mat-error [class.d-none]="CircularfoodOrderForm.get('add_circular_disc').valid ||
    CircularfoodOrderForm.get('add_circular_disc').untouched" class="text-danger">Description is Invalid</mat-error>
    -->
</mat-form-field>
<input type="file"  accept=".jpg, .jpeg, .png" formControlName="image">
</form>
<!-- <button type="button" class="btn btn-primary"(click)="Save()">Save</button> -->
<button type="button" class="btn btn-primary">Save</button>
</div>
</div>
</mat-card>
