<form [formGroup]="restoType">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label for="exampleInputPassword1"><b>Add Restaurant's Type </b></label>
                <input type="text" class="form-control inputBorder" formControlName="restaurantTypeName">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="float-right">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>&nbsp;
                <button class="btn btn-primary" (click)="onAddRestoType()" [disabled]="!restoType.valid" mat-dialog-close>Add</button>
            </div>        
        </div>
    </div>
</form>
