
<mat-card>
  <button class="btn btn-success float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
  routerLink="/restaurants/add-restaurant">Add New Restaurant</button>





<div class="row">
    
<div class="col-sm-12">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)"
      placeholder="Search for Restaurant">
  </mat-form-field>

  

  <table mat-table  [dataSource]="dataSource" class="mat-elevation-z8; cell-border" matSort>


    <ng-container matColumnDef="restoName" sticky >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 50px;"> Restaurant Name </th>
      <td mat-cell *matCellDef="let element; let i = index;" style="width: 50px;"> {{element.restoInfo.restoName}} </td>
    </ng-container>


    <ng-container matColumnDef="restoAddress" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;"> Address </th>
      <td mat-cell *matCellDef="let element" style="width: 40px;"> {{element.restoInfo.restoAddress}} </td>
    </ng-container>

        <!-- PINCODE -->
   
        <ng-container matColumnDef="restoPincode" >
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Pincode </th>
          <td mat-cell *matCellDef="let element"> {{element.restoInfo.restoPincode}} </td>
        </ng-container>
  
           <!-- Cuisines -->
   
           <ng-container matColumnDef="restoCuisines"  >
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;">Cuisines </th>
            <td mat-cell *matCellDef="let element" style="width: 40px;"> {{element.menuManagement.cuisines}} </td>
          </ng-container>


          
    <!-- Hours -->
   
    <!-- <ng-container matColumnDef="restoHours" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;">Hours</th>
      <td mat-cell *matCellDef="let element" style="width: 60px;"> {{element.restoInfo.restoHours[0].open.hour}}:{{element.restoInfo.restoHours[0].open.minute}}Hrs -- {{element.restoInfo.restoHours[0].close.hour}}:{{element.restoInfo.restoHours[0].close.minute}}Hrs  </td>
    </ng-container> -->

    <!-- restoLegalName -->
   
    <!-- <ng-container matColumnDef="restoLegalName" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Legal Name </th>
      <td mat-cell *matCellDef="let element"> {{element.restoInfo.restoLegalName}} </td>
    </ng-container> -->

    <!-- restoContactNo -->

    <!-- <ng-container matColumnDef="restoContactNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Contact </th>
      <td mat-cell *matCellDef="let element"> {{element.restoInfo.restoContactNo}} </td>
    </ng-container> -->

    

    <!-- Representative -->

    <ng-container matColumnDef="restoRepresentativeName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;">Representative's Name </th>
      <td mat-cell *matCellDef="let element" style="width: 40px;"> {{element.restoInfo.restoRepresentativeName}} </td>
    </ng-container>

    <!-- contact -->

    <ng-container matColumnDef="restoRepresentativeContactNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;">Representative's Contact </th>
      <td mat-cell *matCellDef="let element" style="width: 40px;"> {{element.restoInfo.restoRepresentativeContactNo}} </td>
    </ng-container>

    <!-- Email -->

    <!-- <ng-container matColumnDef="restoRepresentativeEmail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Representative's Email </th>
      <td mat-cell *matCellDef="let element"> {{element.restoRepresentativeEmail}} </td>
    </ng-container> -->

     <!-- restoStatus -->

     <ng-container matColumnDef="restoStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
      <td mat-cell *matCellDef="let element"> 
         <mat-slide-toggle class="example-margin"        
        [checked]="element.restoInfo.restoStatus"
       
        (change)="onChangeStatus($event.checked, element._id)"
        >
     
    </mat-slide-toggle>   </td>
    </ng-container>

    <!-- restoRevenue -->

    <ng-container matColumnDef="restoRevenue" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;">Revenue</th>
      <td mat-cell *matCellDef="let element" style="width: 40px;"> {{element.restoInfo.restoRevenue}} </td>
    </ng-container>


    <!-- restoLocality -->

    <ng-container matColumnDef="restoLocality">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Locality</th>
      <td mat-cell *matCellDef="let element"> {{element.restoInfo.restoLocality}} </td>
    </ng-container>

   <!-- action -->

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 40px;" >Action</th>
      <td mat-cell *matCellDef="let element" style="width: 40px;"> 
        <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="onEditRestaurant(element.restoInfo)"></i>&nbsp;
        <i class="fa fa-eye" aria-hidden="true" (click)="onViewRestaurant(element.restoInfo)"></i>&nbsp;
        <!-- <i class="fa fa-trash" aria-hidden="true"></i> -->
       </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator style="table-layout: fixed;" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>


</div>

</div>

<mat-card [hidden]="noData">
<h3 class="text-center">No data available</h3>
</mat-card>
</mat-card>

<ngx-spinner >
  <h2 class="text-center" style="color:white">Bizly</h2>
  <p style="font-size: 20px; color: white">Processing, Please wait...</p>
</ngx-spinner>