
// table {
//     width: 100%;
//   }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .example-container {
    height: 400px;
    width: 550px;
    overflow: auto;
  }
  
  // table {
  //   width: 800px;
  // }
  
  // td.mat-column-star {
  //   width: 20px;
  //   padding-right: 8px;
  // }
  
  // th.mat-column-position, td.mat-column-position {
  //   padding-left: 8px;
  // }
  
  .mat-table-sticky:first-child {
    border-right: 1px solid #e0e0e0;
  }
  
  // .mat-table-sticky:last-child {
  //   border-left: 1px solid #e0e0e0;
  // }

  table {
    width: 100%;
    table-layout: fixed;
  }
  
  th, td {
    overflow: hidden;
    width: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
    padding-left: 4px;
    border-right: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
  }

  