<div class="container" >

    <form action="" [formGroup]="websiteForm" [hidden]="isdivHide">
        <div class="row">
            <div class="col-lg-6">
                <mat-form-field class="example-full-width" style="width: 100%;">
                    <input matInput placeholder="Restaurant Name" formControlName="websitename" minlength="3" (keydown.space)="$event.preventDefault();" required>
                </mat-form-field>
               
            </div>
            <div class="col-lg-4 float-right">
                <button class="btn btn-danger" mat-dialog-close  >Cancel</button>
                <button class="btn btn-primary" [hidden]="!isUpdate" [disabled]="!websiteForm.valid"(click)="onsubmitWeb()">Submit</button>
                <button class="btn btn-primary" [hidden]="isUpdate" [disabled]="!websiteForm.valid"(click)="onChangeWebName()">Update</button>
            </div>
        </div>
        <small class="text-primary">example: www.bizly.in/restaurant_name</small>
    </form>


   <div [hidden]="!isdivHide">

      <!-- div is seen after genearaitng website -->

  <div class="row" *ngIf="choice == 'success'" >
     
    <div class="col-lg-12 text-center">
       <label for=""> New Generated&nbsp;
       <span class="text-success">{{generatedWeb.websitename}} </span>
    </label> 
    </div>
    <div class="col-lg-4">

    </div>
    <div class="col-lg-4">
        <button class=" btn-sm btn-danger" (click)="onUpdate()">Change</button>&nbsp;
        <button class="btn btn-primary" [mat-dialog-close]="saveWebName">Ok</button>
    </div>
    <div class="col-lg-4">
        
    </div>
</div>

<!-- div already exitst -->
<div class="row" *ngIf="choice == 'failure'">
<div class="col-lg-12">
<label>
    Website Name
    <span class="text-danger">{{generatedWeb.websitename}}</span> already exist!
</label>
</div>
<div class="col-lg-3">

</div>
<div class="col-lg-6">
    <button class="btn-sm btn-primary" (click)="onTryDiff()">Try Different</button>&nbsp;
    <button class="btn-sm btn-primary" [mat-dialog-close]="saveWebName">Ok, Use it</button>
</div>
<div class="col-lg-3">
    
</div>

</div>

   </div>

    

  

    

</div> 

