<form [formGroup]="RootQuestionTypeForm">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Add Root Question Type</h2>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Enter Question Type" [class.is-invalid]="RootQuestionTypeForm.get('rootquestiontypeName').invalid &&
                    RootQuestionTypeForm.get('rootquestiontypeName').touched" formControlName="rootquestiontypeName">
                    <mat-error [class.d-none]="RootQuestionTypeForm.get('rootquestiontypeName').valid ||
                    RootQuestionTypeForm.get('rootquestiontypeName').untouched" class="text-danger">
                        Root Question Type is Invalid</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" [disabled]="!RootQuestionTypeForm.valid" (click)="onAddRoot()"
                    mat-dialog-close>Add</button>
            </div>
            
        </div>
    </div>
</form>