
<div class="container main">
  <div class="row">
    <div class="col-md-6">
      <h5 class="headings">View Order :</h5>
    </div>
    <div class="col-md-6" style="text-align: right;">
      <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
        data-target="#modal-report" [routerLink]="['/pos-orders']">Back</button> &nbsp;
      <!-- <button class="btn btn-primary btn-sm btn-round" data-toggle="modal" data-title="Operation"
        data-target="#modal-report" (click)="posorderCancel(posProduct)">Cancel Order</button> -->
      <!-- <button class="btn btn-outline-primary btn-sm" (click)="posorderEdit()">
        Edit
      </button> -->
      <!-- <button class="btn btn-outline-primary btn-sm" (click)="posorderCancel()">
        Cancel
      </button> -->
    </div>
  </div>
<br>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Order Id</h6>
        <input type="text" class="form-control" value="{{'OR000'+posProduct.posOrderID}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Order Date </h6>
        <input type="text" class="form-control"  value="{{posProduct.posProductOrder.createdAt | date:'mediumDate'}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Order Time </h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.createdAt | date:'shortTime'}}"  disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> paymentStatus-->
        <h6>Payment Status </h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.paymentStatus}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :transcationID</h5> -->
        <h6>Transaction ID </h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.transcationID}}"  disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Transaction Date
        </h6>
        <input type="text" class="form-control"  value="{{posProduct.posProductOrder.transactionDate_Time | date:'mediumDate'}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Transaction Time </h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.transactionDate_Time | date:'shortTime'}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group"> 
         <h6>GST No. </h6>
        <input type="text" class="form-control" value="{{posProduct.gst['GSTNo']}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Organization ID </h6>
        <input type="text" class="form-control" value="{{'OR000'+posProduct.Organization_ID}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Organization Name </h6>
        <input type="text" class="form-control" value="{{posProduct.organization_name}}" disabled>
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Address </h6>
        <input type="text" class="form-control" value="{{posProduct.address}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>City </h6>
        <input type="text" class="form-control"value="{{posProduct.city}}"  disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>State </h6>
        <input type="text" class="form-control" value="{{posProduct.state}}"  disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Organization Contact No. </h6>
        <input type="text" class="form-control" value={{posProduct.org_contact}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Organization Email ID </h6>
        <input type="text" class="form-control" value={{posProduct.org_email}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Representative Name </h6>
        <input type="text" class="form-control" value={{posProduct.representative_name}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Representative No. </h6>
        <input type="text" class="form-control" value={{posProduct.representative_contact}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Representative Email</h6>
        <input type="text" class="form-control" value={{posProduct.representative_email}} disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Product bought for</h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.noOfoutlets}}" disabled>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <!-- <h5 class="headings">Simple Input Box :</h5> -->
        <h6>Paid By</h6>
        <input type="text" class="form-control" value="{{posProduct.posProductOrder.paidBy}}" disabled>
      </div>
    </div>
    
  </div>
  <mat-card>
    <mat-card-title>Order Charges Details:</mat-card-title>
    <div class="table-responsive">
        <table  class="table table-striped table-bordered nowrap table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Outlet</th>
                    <th>Subscription Type</th>
                    <th>Product Charges</th>
                    <th>License no.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let outlet of posProduct.posProductOrder.license_No; let i=index">
                    <td><span *ngIf="i==0" >{{posProduct.posProductOrder.productName.productName}}</span></td>
                    <td> {{outlet.outlet_No}} </td>
                    <td><span *ngIf="i==0" >{{posProduct.posProductOrder.subscription_Type}}</span></td>

                    <td><span *ngIf="i==0" >{{posProduct.posProductOrder.pricePerOutlet}}</span></td>
                    <td>{{'LIC000'+outlet.license_No}}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Total Order Amount</b></td>
                    <td></td>
                    <td><b>{{posProduct.posProductOrder.totalOrderAmount}}</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Discount (% or Rs)</b></td>
                    <td>{{posProduct.posProductOrder.discount['percentage']}}%</td>
                    <td><b>{{posProduct.posProductOrder.DiscountedPrice}}</b></td>
                </tr>
              
                <tr>
                    <td></td>
                    <td><b>Discounted Price</b></td>
                    <td></td>
                    <td><b>{{posProduct.posProductOrder.PriceafterDiscount}}</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Tax</b></td>
                    <td>{{posProduct.posProductOrder.tax}}%</td>
                    <td><b>{{posProduct.posProductOrder.PriceafterDiscount* (posProduct.posProductOrder.tax/100)}}</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Total Paid</b></td>
                    <td></td>
                    <td><b>{{posProduct.posProductOrder.totalPaidAmountwithTax}}</b></td>
                </tr>

            </tbody>
        </table>
    </div>
</mat-card>
</div>





