<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/feedback">Back</button>

<h5 style="margin-top: -16px;">Feedback / view Question Set</h5>
<mat-card>
    <div class="container">
        <form>
            <div class="col-lg-12" style="text-align: right;">
                <button class="btn btn-primary" routerLink="/feedback/create-question-set">Edit</button>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-6">
                    <mat-form-field class="example-full-width" style="width: 100%;">
                        <input matInput placeholder=" Question Set Name">
                    </mat-form-field>
                </div>

                <div class="col-lg-6">
                    <div ngbDropdown class="d-inline-block">
                        <button type="button"class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Question
                            Set Type</button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button ngbDropdownItem>Action - 1</button>
                            <button ngbDropdownItem>Another Action</button>
                            <button ngbDropdownItem>Something else is here</button>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row ml-2 mt-2">
                <div class="col-lg-6" >
                    <mat-label>Questions Selected : </mat-label>
                </div>
                <div class="col-lg-6" >
                    <mat-label>  </mat-label>
                </div>

            </div>


        </form>
    </div>








</mat-card>