<h5 mat-dialog-title><div class="row">
    <div class="col-md-10">
        <h5>View Liquor Product</h5>
    </div>

    <div class="col-md-2">
        <i class="fa fa-times" aria-hidden="true" style="float: right;" (click)="onNoClick()"></i>

    </div>
</div></h5>
<mat-dialog-content>
   
    <div class="table-border-style">
        <div class="table-responsive"  >
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <td>Liquor Code</td>
                        <td>{{data.productCode}}</td>
                    </tr>
                    <tr>
                        <td>Product Name</td>
                        <td>{{data.productName}}</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td> {{data.root['root'] }} <span *ngIf='data.subVarient!=undefined'>> {{data.subVarient['subVarient'] }} <span *ngIf='data.subsubVarient!=undefined'>>{{data.subsubVarient['subsubVarient'] }} <span *ngIf='data.varientType!=undefined'>>{{data.varientType['varientType']}} </span></span></span></td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>{{data.brand.brandName}} </td>
                    </tr>
                    <tr>
                        <td>Attribute Set</td>
                        <td>{{data.attribute_set}}</td>
                    </tr>
                    <!-- <tr>
                        <td> Liquor Sub Varient</td>
                        <td>{{data.liquorSubVarient}}</td>
                    </tr>
                    <tr>
                        <td> Liquor Sub Sub Varient</td>
                        <td>{{data.liquorSuVarientType}}</td>
                    </tr> -->
                
                    <tr>
                        <td>Images</td>
                        <td>
                            <div class="row">
                                <div *ngFor='let url of data.productImages'>
                                    <div class="col-sm-12">
                                        <img [src]="url" style="height: 50px; width: 50px;">
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Added By</td>
                        <td>{{data.addedBy['userName']}}</td>
                    </tr>
                    <tr>
                        <td>Date and Time</td>
                        <td>{{data.updatedAt  | date:'medium'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
   <div class="row">
    <div *ngIf="filtered.length>0">
        <div class="row" *ngFor="let data of filtered; let i=index; ">{{onClickResponse(i)}}
            <mat-card style="width: 100%;">
                <div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label>{{data.display_name}}</label>
                         </div>
                    </div>
                    <hr>
                    <div class="row" *ngIf="data.responseType.elementName=='Input Box'">
                        <div class="col-lg-6">
                            <mat-form-field class="example-full-width" style="width: 80%;">
                                <input matInput [placeholder]="inputBoxPlaceholder" disabled="disabled" [(ngModel)]="data['value']"
                                    name="Attribute_response{{i}}">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="data.responseType.elementName=='Yes / No'">
                        <div class="col-lg-4">
                            <mat-radio-group aria-label="Select an option" name="yesno{{i}}"
                                [(ngModel)]="data.value">
                                <mat-radio-button value="Yes" disabled="disabled">Yes</mat-radio-button>&nbsp;
                                <mat-radio-button value="No" disabled="disabled">No</mat-radio-button>
                            </mat-radio-group>                                
                        </div>
                    </div>
                    <div class="row ml-2 mt-2" *ngIf="data.responseType.elementName=='Radio Button'">
                        <mat-radio-group aria-label="Select an option" [(ngModel)]="data.value"
                            style="display: inline-flex;">
                            <div class="col-lg-6" *ngFor="let option of radioOptions">
                                <mat-radio-button [value]="option.optionLable" disabled="disabled">{{option.optionLable}}
                                </mat-radio-button>
                                &nbsp;
                               
                                <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                            </div>
                        </mat-radio-group>&nbsp;
                    </div>
                    <div class="row ml-2 mt-2" *ngIf="data.responseType.elementName=='Check Box'">
                        <div class="col-lg-6" *ngFor="let option of checkBoxOptions; let i=index">
                            <mat-checkbox name="Attribute_response{{i}}" disabled="disabled"
                                [(ngModel)]="data.responseType.options[i].value"
                                [value]="option.optionLable"
                                (change)="assignSpecificationByCheckbox(data)">
                                {{ option.optionLable }}</mat-checkbox> &nbsp;
                                                            <img src="{{option.associateImage}}" alt="" height="30px" widht="30px">
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>
<div class="row">
    <div class="offset-9 col-2">
        <button class="btn btn-primary" (click)="onNoClick()">Cancel</button>
    </div>
</div>

</mat-dialog-content>