.mat {
    // position: absolute;
    // pointer-events: auto;
    // box-sizing: border-box;
    z-index: 1000;
    display: -webkit-box;
    overflow: scroll;
    display: flex;
    max-width: 100%;
    max-height: 100%;
}
.dd{
    overflow: scroll;
}