<button class="btn btn-danger float-right" style="margin-top: -46px; padding-left: 36px; padding-right: 36px"
    routerLink="/feedback">Back</button>

<h5 style="margin-top: -16px;" *ngIf="!isViewOnly">FeedBack / Edit Feedback Question</h5>
<h5 style="margin-top: -16px;"*ngIf="isViewOnly">FeedBack / View Feedback Question</h5>
<mat-card>
    <div class="container">



        <form [formGroup]="editQuestionForm" (keydown.enter)="$event.preventDefault()">
            <div class="row ml-2 mt-2">

                <div class="col-lg-4 center">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Label Name/ Question Name" [class.is-invalid]="editQuestionForm.get('label_Name').invalid &&
                        editQuestionForm.get('label_Name').touched" formControlName="label_Name" [disabled]="isViewOnly">
                        <mat-error [class.d-none]="editQuestionForm.get('label_Name').valid ||
                        editQuestionForm.get('label_Name').untouched" class="text-danger">Label/Name is
                            Invalid</mat-error>
                    </mat-form-field>
                </div>
                <!-- </div>
            <div class="row ml-2 mt-2"> -->
                <div class="col-lg-4">
                    <mat-form-field style="width: 80%;">
                        <mat-label>Select Response form Dropdown</mat-label>
                        <mat-select [class.is-invalid]="editQuestionForm.get('inputType').invalid &&
                        editQuestionForm.get('inputType').touched" formControlName="inputType" 
                        >
                            <mat-option *ngFor="let response of SelectResponses" [value]="response"
                                (click)="onClickResponse(response)">
                                {{response}}
                            </mat-option>
                        </mat-select>
                        <mat-error [class.d-none]="editQuestionForm.get('inputType').valid ||
                        editQuestionForm.get('inputType').untouched" class="text-danger">Select Response</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row ml-2 mt-2">
                <div class="col-lg-12">
                    <mat-label class="px-2 py-2" *ngIf="isLable " >{{editQuestionForm.get('label_Name').value}}</mat-label>
                </div>
            </div>
            <div class="row ml-2 mt-2" *ngIf="inputbox">
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Enter Placeholder for input box"
                            formControlName="inputPlaceholderName">
                    </mat-form-field>
                </div>
                <div class="col-lg-4">
                    <mat-form-field class="example-full-width" style="width: 80%;">
                        <input matInput placeholder="Input Box"
                            [(ngModel)]="editQuestionForm.get('inputPlaceholderName').value"
                            [ngModelOptions]="{standalone: true}" disabled>
                    </mat-form-field>
                </div>

            </div>


            <div class="row ml-2 mt-2" *ngIf="yesorNo">
                <div class="col-lg-4 mt-2">
                    <mat-radio-group aria-label="Select an option" ngDefaultControl formControlName="YesNoButtons">
                        <mat-radio-button [value]="true"  >Yes</mat-radio-button>
                        &nbsp;
                        <mat-radio-button [value]="false"  >No</mat-radio-button>
                    </mat-radio-group>

                </div>
            </div>

            <!-- <div class="row ml-2 mt-2"> -->

            <div class="row ml-2 mt-2" *ngIf="radiobutton">
                <!-- <ng-container formArrayName="radioButtons"> -->
                            
                <div formArrayName="radioButtons" *ngFor="let option of radioButtonForm.controls, let i= index">
                    <div class="d-inline" [formGroupName]="i">
                        <div class="row ml-2 mt-2">
                            <div class="col-lg-4 float-left">
                                <input type="radio" name="radio" value="" disabled>
                                <mat-form-field class="example-full-width" style="width: 80%" [ngClass]="{'disabledbutton':isViewOnly}">
                                    <input matInput placeholder="" (keyup.enter)="onkeyup($event)"
                                        formControlName="optionLable" name="optionLable" [ngClass]="{'disabled-lable':isViewOnly}">
                                </mat-form-field>
                            </div>

                            <div class="col-lg-3 ml-15px float-right"  [ngClass]="{'disabledbutton':isViewOnly}">
                                <label class="label" for="upload-photo">
                                    <i class="fa fa-file mr-1" id="lable" aria-hidden="true" [ngClass]="{'disabledbutton':isViewOnly}"></i>
                                </label>
                                <input #fileInput type="file" name="photo" id="upload-photo" ng2FileSelect
                                    [uploader]="uploader" (change)="uploader.uploadAll()" [ngClass]="{'disabledbutton':isViewOnly}"/>

                                <i class="fa fa-trash ml-2" (click)="remove(i)"aria-hidden="true" [ngClass]="{'disabledbutton':isViewOnly}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            


            <!-- </ng-container> -->
           

            <!-- code using establishment resto module -->

            <div class="row ml-3 mt-2">
                <label>Select Question Set Type</label>
            </div>
            <div class="row ml-2">
                <div class="col-lg-12">
                    <ul id="myUL">
                        <li *ngFor="let rootQuestion of QuestionTypes; let i=index">

                            <span class="caret" (click)="caretClick()">
                                <mat-checkbox class="example-margin" [checked]="rootQuestion['showChildren']"
                                    (change)="changeFlag(rootCategory, $event, a='root', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                    value="rootQuestion.rootQuestionType" [disabled]="isViewOnly"></mat-checkbox>

                                <!-- <input type="radio" formControlName="rootQuestionType" [value]="rootQuestion.rootQuestionType"> -->
                                {{rootQuestion.rootQuestionType}}
                            </span>

                            <ul class="nested" [ngClass]="{'active':rootQuestion.showChildren }">

                                <li *ngFor="let CategoryType of rootQuestion.questionType;let subcategoryIndex=index">
                                    <span class="caret" (click)="caretClick()">
                                        <mat-checkbox class="example-margin"
                                            (change)="changeFlag(rootCategory, $event, a='sub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                            [checked]="CategoryType['showChildren']"
                                            value="CategoryType.rootCategoryName" [disabled]="isViewOnly">
                                        </mat-checkbox>

                                        <!-- <input type="radio" formControlName="CategoryType" [value]="CategoryType.questionTypeName"> -->
                                        {{CategoryType.rootCategoryName}}
                                    </span>
                                    <ul class="nested" [ngClass]="{'active':rootQuestion.showChildren}">
                                        <li
                                            *ngFor="let liquorSubVarient of CategoryType.categories; let subsubcategoryINdex=index">
                                            <span class="caret" (click)="caretClick()">
                                                <!-- <input type="radio" formControlName="liquorSubVarient" [value]="liquorSubVarient.questionSubTypeName"> -->
                                                <mat-checkbox class="example-margin"
                                                    [checked]="liquorSubVarient['showChildren']"
                                                    (change)="changeFlag(rootCategory, $event, a='subsub', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                                    value="liquorSubVarient.categoryName" [disabled]="isViewOnly"></mat-checkbox>

                                                {{liquorSubVarient.categoryName}}
                                            </span>
                                            <ul class="nested">

                                                <li
                                                    *ngFor="let liquorSubSubVarient of liquorSubVarient.childCategories; let typeIndex=index">
                                                    <span>
                                                        <!-- <input type="radio" formControlName="liquorSuVarientType" [value]="liquorSubSubVarient" -->
                                                        <!-- (click)="selectSubSubVarient(rootQuestion.rootQuestionType, CategoryType.questionTypeName , liquorSubVarient.questionSubTypeName)"> -->
                                                        <mat-checkbox class="example-margin"
                                                            [checked]="liquorSubSubVarient['showChildren']"
                                                            (change)="changeFlag(rootCategory, $event, a='type', i, subcategoryIndex, subsubcategoryINdex, typeIndex);"
                                                            value="liquorSubSubVarient.childCategoryName"[disabled]="isViewOnly"></mat-checkbox>

                                                        {{liquorSubSubVarient['childCategoryName']}}
                                                    </span>
                                                </li>
                                                <i class="fa fa-plus mb-2" *ngIf="!isViewOnly"
                                                    (click)="openSubSubcategory(rootQuestion._id, CategoryType._id, liquorSubVarient._id)"
                                                    aria-hidden="true"> Add Sub Sub Category Type</i>
                                            </ul>
                                        </li>
                                        <i class="fa fa-plus mb-2"
                                            (click)="openSubCategoryType(rootQuestion._id, CategoryType._id)"
                                            aria-hidden="true" *ngIf="!isViewOnly">
                                            Add Sub Category Type</i>
                                    </ul>
                                </li>
                                <i class="fa fa-plus mb-2" *ngIf="!isViewOnly" (click)="openCategoryType(rootQuestion._id)"
                                    aria-hidden="true"> Add Category Type</i>
                            </ul>
                        </li>
                        <i class="fa fa-plus mb-2" (click)="openRootDialog()" aria-hidden="true" *ngIf="!isViewOnly"> Add Root Question
                            Type</i>

                    </ul>
                </div>
            </div>
                       

            <div class="row ml-2 mt-4" *ngIf="!isViewOnly">
                <div class="col-lg-3">

                </div>
                <div class="col-lg-6" style="text-align: center;">
                    <!-- <button class="btn btn-primary" >Cancel</button>&nbsp; -->
                    <button class="btn btn-primary" type="submit" [disabled]="editQuestionForm.invalid" (click)="updateQuestion()">Update</button>
                </div> 
            </div>
        </form>
    </div>

</mat-card>