.font-size{
    font-size: 25px;
}
.label{
   cursor: pointer;
   /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
   opacity: 0;
   position: absolute;
   z-index: -1;
}
ul, #myUL {
  list-style-type: none;
}
.ml-15px{
margin-top: 15px;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
 
  transform: rotate(90deg);  
}

.nested {
  display: none;
}

.active {
  display: block !important;
}

// tree Checkbox css

.mat-icon-button{
  font-family:"Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: inherit;
  background: transparent;;
}
.mat-icon-button{

box-sizing: border-box;
position: relative;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: pointer;
outline: none;
border: none;
-webkit-tap-highlight-color: transparent;
display: inline-block;
white-space: nowrap;
text-decoration: none;
vertical-align: baseline;
text-align: center;
margin: 0;
min-width: 64px;
line-height: 36px;
padding: 0 16px;
border-radius: 4px;
overflow: visible;
}
.mat-icon-button{
padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;
}
.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
}
.disabled-lable input[name=optionLable] {
  pointer-events: none;
 }