<div class="container">
    <h5>Users</h5>
</div>
<div class="container">
    <mat-card>
        <mat-tab-group>
            <mat-tab label="Roles">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="checkbox-inline ml-2"><input type="checkbox" name="categoryCheckbox"
                                (click)="rolesCategory($event)">&nbsp; Categories</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4" *ngIf="showRolesCategories">
                        <ul id="myUL">
                            <li *ngFor="let f of firstLevel"><span class="caret"><b>
                                        <mat-checkbox>{{f.type}}</mat-checkbox>
                                    </b>&nbsp;<button (click)="openAddCateg()">Add Root Category</button></span>
                                <ul class="nested">

                                    <li *ngFor="let f2 of f.typeArr"><span class="caret">
                                            <mat-checkbox>{{f2.root}}</mat-checkbox>&nbsp;<i class="fa fa-plus-circle"
                                                aria-hidden="true" (click)="opensubCateg()"></i>
                                        </span>
                                        <ul class="nested">
                                            <li *ngFor="let f3 of f2.root_arr"><span class="caret">
                                                    <mat-checkbox>{{f3.sub}}</mat-checkbox>&nbsp;<i
                                                        class="fa fa-plus-circle" aria-hidden="true"
                                                        (click)="openattr()"></i>
                                                </span>
                                                <!-- <ul class="nested">
                                  <li>Sencha</li>
                                  <li>Gyokuro</li>
                                  <li>Matcha</li>
                                  <li>Pi Lo Chun</li>
                                </ul> -->
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-{{size}}">

                        <div class="row">

                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-8">

                                        <mat-form-field>
                                            <input matInput (keyup)="rolesapplyFilter($event.target.value)"
                                                placeholder="Search ">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="float-right">

                                            <button class="btn btn-primary ml-2" routerLink="/users/create-role"><i
                                                    class="fa fa-plus mr-2" aria-hidden="true"></i>Create Role</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table mat-table [dataSource]="dataSourceRoles" class="mat-elevation-z8" matSort>

                                    <!-- Position Column -->
                                    <ng-container matColumnDef="roleID">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.roleID}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="role">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                                        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="dateCreated">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Created </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="dateEdited">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Edited </th>
                                        <td mat-cell *matCellDef="let element"> {{element.dateEdited}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="userEdited">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> User Edited </th>
                                        <td mat-cell *matCellDef="let element"> {{element.userEdited}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="totalUsers">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Users </th>
                                        <td mat-cell *matCellDef="let element"> {{element.totalUsers}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-slide-toggle [checked]="element.status"></mat-slide-toggle>
                                        </td>
                                    </ng-container>

                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button class="btn btn-outline-primary btn-sm"
                                            (click)="editRoles()">View</button>
                                            <button class="btn btn-outline-primary btn-sm"
                                            routerLink="/users/edit-role">Edit</button>

                                        </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayColumnsRoles"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayColumnsRoles;"></tr>
                                </table>
                                <mat-paginator #rolespaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                            </div>

                        </div>
                    </div>

                </div>
            </mat-tab>
            <mat-tab label="Users">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="row">
    
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-lg-8">
    
                                        <mat-form-field>
                                            <input matInput (keyup)="usersaapplyFilter($event.target.value)"
                                                placeholder="Search ">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="float-right">
    
                                            <button class="btn btn-primary ml-2" routerLink="/users/create-user"><i
                                                    class="fa fa-plus mr-2" aria-hidden="true"></i>Create User</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table mat-table [dataSource]="dataSourceUsers" class="mat-elevation-z8" matSort>
    
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="userID">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> User ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.userID}} </td>
                                    </ng-container>
    
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="UsersName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Users Name</th>
                                        <td mat-cell *matCellDef="let element"> {{element.UsersName}} </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="username">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Username </th>
                                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                                    </ng-container>
    
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="emailID">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email ID </th>
                                        <td mat-cell *matCellDef="let element"> {{element.emailID}} </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="role">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                                        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="joiningDate">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Joining Date </th>
                                        <td mat-cell *matCellDef="let element"> {{element.joiningDate}} </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="contactNumber">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Conatct contactNumber </th>
                                        <td mat-cell *matCellDef="let element"> {{element.contactNumber}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="status">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                                        <td mat-cell *matCellDef="let element">
                                            <mat-slide-toggle [checked]="element.status"></mat-slide-toggle>
                                        </td>
                                    </ng-container>
    
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                                        <td mat-cell *matCellDef="let element">
                                            <button class="btn btn-outline-primary btn-sm"
                                            routerLink="/users/view-user">View</button>
                                            <button class="btn btn-outline-primary btn-sm"
                                            routerLink="/users/edit-user">Edit</button>
    
                                        </td>
                                    </ng-container>
    
                                    <tr mat-header-row *matHeaderRowDef="displayColumnsUsers"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayColumnsUsers;"></tr>
                                </table>
                                <mat-paginator #userspaginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    
                            </div>
    
                        </div>
                    </div>
                </div>
                
            </mat-tab>
        </mat-tab-group>

    </mat-card>
</div>