    
        
            <h4 class="text-center" mat-dialog-title>Add Drink Varient<i class="fa fa-times" 
                aria-hidden="true" style="float: right;" mat-dialog-close></i></h4>
        <mat-dialog-content>
        <form [formGroup]="VarientDrinkForm">

        <div class="row">
            <!-- <div class="col-lg-12">

                <mat-form-field>
                    <mat-label>Select Root Drink Type</mat-label>
                    <mat-select formControlName="rootDrinkName" [class.is-invalid]="VarientDrinkForm.get('rootDrinkName').invalid &&
    VarientDrinkForm.get('rootDrinkName').touched">
                        <mat-option *ngFor="let d of DrinkTypes" [value]="d._id">
                            {{d.rootDrinkType}}
                        </mat-option>
                    </mat-select>
                    <mat-error [class.d-none]="VarientDrinkForm.get('rootDrinkName').valid ||
    VarientDrinkForm.get('rootDrinkName').untouched">
                        Select Root Drink</mat-error>
                </mat-form-field>


            </div> -->

            <div class="col-lg-12">
                <mat-form-field class="example-full-width" style="width: 80%;">
                    <input matInput placeholder="Add Drink Varient" [class.is-invalid]="VarientDrinkForm.get('varientName').invalid &&
    VarientDrinkForm.get('varientName').touched" formControlName="varientName">
                    <mat-error [class.d-none]="VarientDrinkForm.get('varientName').valid ||
    VarientDrinkForm.get('varientName').untouched" class="text-danger">
                        Drink varient is Invalid</mat-error>
                </mat-form-field>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-3">

            </div>
            <div class="col-lg-3">
                <button class="btn btn-danger" mat-dialog-close>Cancel</button>
            </div>
            <div class="col-lg-3">
                <button class="btn btn-primary" (click)="onAddVarientDrink()" [disabled]="!VarientDrinkForm.valid" mat-dialog-close>Add</button>
            </div>
            <div class="col-lg-3">

            </div>
        </div>
    
</form>
</mat-dialog-content>