
<h1 mat-dialog-title>Update Attribute Group</h1>
<div class="container">
    <form [formGroup]="addLiquorAttributeGroupForm">
        <div class="row">

            <mat-form-field class="example-full-width" style="width: 100%;">
                <input matInput placeholder="Group Name" formControlName="groupName">
            </mat-form-field>
        </div>

        <div class="row">
            <ng-select [items]="allAttributes" bindLabel="attributeName"  bindValue="_id" [multiple]="true"
            placeholder="Assign Attributes" formControlName="assignAttributes">
        </ng-select>
        </div>

    </form>

    <div class="row">
        <div class="col-lg-6">
            <button mat-button (click)="onNoClick()">Cancel</button>    
        </div>
        <div class="col-lg-6">
            <button mat-button  (click)="addNewGroup()" cdkFocusInitial>Add Group</button>
        </div>  
    </div>
</div>
    